[2020-04-21 07:05] #617 closed

[2020-04-21 21:26] feiniao0308 commented on #617
@alexellis I think the user will take the risk to expose the URL. Here's the scenario why user need to access the prometheus URL. Some users may have another global Grafana not in same cluster with  prometheus, or user may need to pull the prometheus metrics and use other monitoring tools(such as Wavefront) to monitor the health of openfaas.

OpenFaaS should provide flexible configuration for end

[2020-04-22 17:20] feiniao0308 commented on #617
@alexellis can we support it?

[2020-04-22 19:44] alexellis commented on #617
Just to reiterate what I said, because it doesn't seem to be clear: exposing Prometheus as a LoadBalancer on the Internet is insecure, I don't want to enable that use-case.

You can very easily add an Ingress definition and secure the endpoint, adding TLS and basic-auth using `nginx-ingress`.

Alternatively, you can use `kubectl port-forward svc/prometheus -n openfaas 9090:9090`.

[2020-04-22 19:45] alexellis commented on #617
If you need technical support with Kubernetes, try the Kubernetes Slack, it's a friendly community. https://slack.k8s.io

[2020-04-23 07:37] thinkORo opened #619 "The deployment never ends: ContainerCreating for 5 of 7 pods"
This might only apply to deployments on Windows 10 2004 (Insider Preview).

My Kubernetes environment runs under Docker on Window 10, but not with WSL2.
Note: Everything seems to work under MacOS.

## Expected Behaviour
OpenFAAS should run on local Kubernetes instance.

## Current Behaviour
5 of 7 pods are not running as expected with status: ContainerCreating
Only nats and prometheus is up and ru

[2020-04-23 09:34] alexellis commented on #619
You're missing steps for deployment which is why this isn't working.

Please read the instructions and follow them.

https://docs.openfaas.com/deployment/kubernetes/

[2020-04-23 09:34] #619 closed

[2020-04-23 09:34] alexellis commented on #619
/set title: Support request

[2020-04-23 09:34] alexellis commented on #619
/add label: support

[2020-04-23 09:44] thinkORo commented on #619
Well, you're correct, sorry. For all others, this was missing:

# generate a random password
PASSWORD=$(head -c 12 /dev/urandom | shasum| cut -d' ' -f1)

kubectl -n openfaas create secret generic basic-auth \
--from-literal=basic-auth-user=admin \
--from-literal=basic-auth-password="$PASSWORD"

Thanks for your support, Alex

[2020-04-23 09:45] alexellis commented on #619
This is in the docs, so what instructions were you following?

Also, you should really use arkade or helm to install openfaas, not the generated YAML files.

[2020-04-23 09:46] alexellis commented on #619
/msg: slack

[2020-04-23 09:51] thinkORo commented on #619
On my MacBook I followed your instructions from the mentioned website/link. But I forgot to create the respective secrets on my Windows 10 machine.

I tried to use Arkade (as I used k3sup before on my Raspberry PI Cluster), but I got an error on my Windows machine. There was mix of "\" and "/" with the info that the executable for helm is missing.

[2020-04-23 09:56] alexellis commented on #619
Can you create an issue please?

[2020-04-23 09:57] thinkORo commented on #619
Sure, you can close this one. Thanks again.

[2020-04-23 20:42] alexellis commented on #608
It appears to still be working for us in the conformance tests. It may be something in your environment or configuration that is causing the error.

I don't know if you have some network policies installed?

Have you tried running in a well-known environment like KinD or k3d? (Please do that next if not)

[2020-04-23 20:43] alexellis commented on #611
Can you elaborate on what you mean by "it's a bug"? There is no defect that I'm aware of, OpenShift needs a specific range of user IDs, see also: #612 where we cover how you can disable the default user ID.

[2020-04-24 08:33] alexellis commented on #349
the latest update -> https://blog.alexellis.io/openshift-in-a-footloose-container/

[2020-04-24 08:33] #349 closed

[2020-04-24 08:33] alexellis commented on #612
Latest tested instructions -> https://blog.alexellis.io/openshift-in-a-footloose-container/

[2020-04-24 08:33] alexellis commented on #611
Latest tested instructions -> https://blog.alexellis.io/openshift-in-a-footloose-container/

[2020-04-24 10:38] alexellis opened #621 "Allow Prometheus scraping annotation to be specified"
## Expected Behaviour

[code]

This should result in an annotation of `prometheus.io.scrape=true` being assigned to the Deployment, but it does not.

## Current Behaviour

The following shows it as `false:

[code]

## Possible Solution

I'm guessing that it's hard-coded to be false.

## Steps to Reproduce (for bugs)

0. `kind create`
1. `arkade install openfaas`
2. `faas-cli store deploy figlet --

[2020-04-24 10:59] Waterdrips commented on #621
/assign: me
https://github.com/openfaas/faas-netes/blob/b12f1b6c368e9015263835dd2a11dee43e42a729/handlers/deploy.go#L271
b/77851960b31b980f0328d55fd0f8c2b168bac8b7/pkg/controller/deployment.go#L173

seems to override any setting for that annotation. Ill have a look into it

[2020-04-24 11:16] alexellis opened #622 "Generate YAML with "openfaas" release name"
## Expected Behaviour

The arkade app installs openfaas with a release name of `openfaas`, and the chart's static YAML should do the same.

## Current Behaviour

It generates as `faas`

## Possible Solution

Update this line in create-static-manifest.sh

[code]

## Context

This is useful for testing helm patches when openfaas is already installed on a cluster - such as changing RBAC rules.

It wi

[2020-04-24 12:19] alexellis commented on #621
For context: https://github.com/openfaas/docs/pull/224

Can you also see if the issue exists in the operator?

[2020-04-24 12:24] Waterdrips commented on #621
the operator adds the annotation first, then does a merge of the annotations, so setting it would use the user setting.

https://github.com/openfaas/faas-netes/blob/master/pkg/controller/deployment.go#L169-L192

[2020-04-24 15:00] #621 closed

[2020-04-26 20:29] #622 closed

[2020-04-27 18:39] mabuaisha commented on #608
@alexellis Thanks for reaching out, sorry I did not catch your reply here but it seems to me this was an network issue from my side, I was able to deploy ngixn ingress controller to for openfaas and its working fine for me.

I will close this issue as I have been able to make it work

[2020-04-27 18:39] #608 closed

[2020-04-27 20:13] alexellis commented on #608
/set title: Technical support request

[2020-04-27 20:14] alexellis commented on #608
No worries @mabuaisha

[2020-04-27 20:14] alexellis commented on #608
/lock

[2020-04-30 18:09] alexellis commented on #575
Have you got a PR for this?

[2020-05-01 02:52] rberrelleza commented on #575
Not yet, but I'll prepare something in the next few days.

[2020-05-04 13:59] juli3nk opened #628 "Typo in chart template"
https://github.com/openfaas/faas-netes/blob/9d972d9d37d1f5bd8d837719baf884e72e31cf08/chart/openfaas/templates/gateway-dep.yaml#L201

## Expected Behaviour

`imagePullPolicy: {{ .Values.openfaasImagePullPolicy }}`

[2020-05-04 14:07] alexellis commented on #628
Thanks for reporting the typo.

@viveksyngh please can you take this?

[2020-05-04 14:32] #628 closed

[2020-05-04 14:33] alexellis commented on #628
The chart has been republished with this fix, thank you @viveksyngh

[2020-05-07 18:19] flamedmg opened #630 "Unable to deploy a function with the Operator in K8s 1.18"
## My actions before raising this issue
- [x ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ x] Read/searched [the docs](https://docs.openfaas.com/)
- [x ] Searched [past issues](/issues)

Function can't be updated on kubernetes 1.17.5 (latest in DO). Update fails with the message:
[code]
Freshly installed openfaas, ingress controller, cert manager

[2020-05-07 19:17] alexellis commented on #630
I believe the code invoked lives here -> https://github.com/openfaas/faas-netes/blob/master/pkg/server/apply.go

faas-cli -> HTTP -> gateway -> faas-netes (in operator mode) -> apply.go

[2020-05-07 19:20] alexellis commented on #630
Perhaps the CRD validation got tighter and fails in 1.18 and 1.17.5?

[code]

[2020-05-07 20:00] flamedmg commented on #630
Confirming, open-faas works just fine without operator mode!

[2020-05-07 20:06] alexellis commented on #630
My sense is that we have an issue with the CRD schema validation which one resolved may fix 1.17.5, 1.18 may need additional changes, but I'm not sure. We are using the 1.17 version of client-go, so I'd expect it work out the box with 1.18.

1.18 notes - https://kubernetes.io/docs/setup/release/notes/
1.17 notes - https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.17.md#cha

[2020-05-07 20:23] alexellis commented on #630
Reading [this post](https://kubernetes.io/blog/2019/06/20/crd-structural-schema/)

I wonder if it is related?

[2020-05-07 20:23] liggitt commented on #630
The messages added to status surface issues with your schema that prevent it from being treated as a structural schema. That prevents openapi from being published for your type, and would prevent you from creating this CRD via the v1 API, but would not by itself prevent update of the v1beta1 CRD or submission of custom resources.

The `anyOf` part sounds like it might be related to https://github.

[2020-05-07 20:42] liggitt commented on #630
The 500 error with "managed fields: failed to convert live object to proper version" is related to server-side-apply, which enabled managed fields by default in 1.18. Can you open an issue in kubernetes/kubernetes specifically around this error? If there's a reproducer that can be seen with just CRD and CR manifests and kubectl, that would be ideal if possible.

[2020-05-07 20:42] alexellis commented on #630
When creating a function via kubectl instead of the REST API, it creates the first time, but updating gives this error:

[code]

kubectl apply -f for:

[code]

[2020-05-07 20:46] liggitt commented on #630
I think that's a red herring... `"alex":true` isn't a valid label... it needs to be quoted, e.g. `"alex":"true"`

[2020-05-07 20:48] alexellis commented on #630
You are right :facepalm:  Let me verify it.

[2020-05-07 20:51] alexellis commented on #630
[code]

[2020-05-07 22:06] alexellis commented on #630
I raised #631 to get around the error on metadata.resourceVersion. @stefanprodan if you have time, can you comment on why this code was doing an update, then checking for a 404, before doing a create? It seems like this isn't supported in the latest version of K8s unless there's an extra flag that's now needed.

`openfaas/faas-netes:0.10.5-3` contains the patch @flamedmg if you wanted to try it ou

[2020-05-08 03:35] liggitt commented on #630
Seeing the incoming request to the API server would be helpful. Enabling request body logging in audit events for this resource would enable that. See https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#audit-policy for details on enabling audit logging at Request level for a specific resource.

What version of client-go was the client doing the API updates built with, and what API s

[2020-05-08 07:47] LucasRoesler commented on #630
I suspect that this is relevant https://github.com/kubernetes/kubernetes/issues/70674#issuecomment-436737939

Other projects had the same error for example https://github.com/elastic/cloud-on-k8s/issues/2200 and https://github.com/banzaicloud/terraform-provider-k8s/issues/25

I suspect that we need to try to Get the Function first _then_  use Update if it is found, otherwise use Create.

I agree w

[2020-05-08 08:49] alexellis commented on #630
I put this together last night and tested it. Not sure why the linking didn't put a nice pop-out box on the issue.

https://github.com/openfaas/faas-netes/pull/631

[2020-05-08 08:59] alexellis opened #634 "CRD validation errors with openAPIV3Schema"
Due to changes with structured schemas and potentially with "server side apply", the openfaas CRD appears to fail validation.

This is related to the use of "anyOf" string/object pairs in the annotations and labels part of the spec.

[code]

Extracting this issue from #630 so that #631 can be merged without losing the context and paper trail.

[2020-05-08 13:52] liggitt commented on #630
The `Invalid value: 0x0: must be specified for an update` message is because resourceVersion is required when PUTing updates to custom resources. That has always been the case for custom resources. Reproduced on 1.15:

[code]

[code]

The `update error: failed to update object (Update for openfaas.com/v1, Kind=Function) managed fields: failed to convert live object to proper version: /, Kind= is u

[2020-05-08 16:34] liggitt commented on #630
I created the [CRD](https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/crd.yaml) manually in a 1.18 API server, then created/updated/patched Function API objects via the v1 and v1alpha2 APIs a lot of different ways, and was not able to reproduce the `failed to update object` 500 error... do you have any more details about the exact update request made that triggers that?

[2020-05-08 17:02] alexellis commented on #630
The original poster appears to be on k8s 1.17.5 which may or may not have a bearing on it

[2020-05-10 17:03] andeplane opened #637 "Modification of terminationGracePeriodSeconds required on function pods to allow them to complete"
To allow functions to complete a potentially long living function call during down scaling, `faas-netes` should modify `terminationGracePeriodSeconds` which has a 30 second default value. This is the time between the SIGTERM signal and the final SIGKILL.

## Expected Behaviour
If a function call has started, and a pod is marked as `Terminating`, I expect the function call to complete before it is

[2020-05-11 21:25] talzion12 opened #638 "Add ability to configure the Prometheus host and port in the openfaas chart"
## Expected Behaviour
I expect to be able to configure the Prometheus host/port through the chart's values.

## Current Behaviour
The Prometheus host/port is hardcoded, as can be seen [here](https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/faas-idler-dep.yaml#L37).

## Possible Solution
I created a branch with a [possible fix](https://github.com/talzion12/faas-netes/comm

[2020-05-12 11:51] Dread1982 commented on #589
We are also suffering from this issue and are thinking about implementing a similar workaround.

However, before doing that: Would the discussed addition of an optional delay (defaulting to zero) in the scaler be acceptable? @alexellis

[2020-05-12 14:24] james-mchugh commented on #398
On a similar note, could faas-netes instead utilize prometheus-operator as a subchart instead of using templates to manage its own Prometheus?

[2020-05-13 13:54] alexellis commented on #398
Feel free to play around on your own time, let us know on Slack when you find out the answer.

[2020-05-13 13:54] alexellis commented on #398
/msg: slack

[2020-05-14 11:02] alexellis commented on #599
From my perspective, there's been no concerns raised after two months. It seems like a sensible default to have this, a PR would be welcome to change the default to "disabled"

[2020-05-20 19:18] rberrelleza commented on #575
we made some changes on our side that will let us consume the chart as is. I'll close this for now.

[2020-05-20 19:18] #575 closed

[2020-05-22 13:09] pasdam opened #640 "OpenFaas chart readme refers to an old value's key"
The OpenFaas chart documentation refer to old an value key, in particular in the [Tuning cold-start](https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#tuning-cold-start) the following key is used:

[code]

but according to the latest [values.yaml](https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/values.yaml) it should be:

[code]

## Expected Behaviour

The README

[2020-05-22 13:14] alexellis commented on #640
Thanks for letting us know. Would you like to send a PR and to check the docs repo too?

[2020-05-22 13:15] pasdam commented on #640
Sure, I can send a PR with the updated README

[2020-05-22 14:15] pasdam commented on #640
Done:
* [PR for this repo](https://github.com/openfaas/faas-netes/pull/641)
* [Doc PR](https://github.com/openfaas/docs/pull/227)

[2020-05-22 14:25] pasdam commented on #640
Closing this as I misunderstood the documentation, sorry about that

[2020-05-22 14:25] #640 closed

[2020-05-24 16:24] deepaksirone commented on #586
Hello, I am trying to deploy openfaas functions using gVisor. @LucasRoesler pointed out to me that there is no standard configuration option to set the runtimeClassName of a pod running a function. It would be awesome if this config was added as well :smiley:

[2020-05-24 19:04] #642 closed

[2020-05-24 19:04] pixeldrew opened #642 "gateway/queworker and faas-idler won't start"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Installed k3os 0.10.1 onto VirtualVox VM from liveCD
Used https://bit.ly/2WYRmqo as starting configuration (k3os by default uses traefik as ingress lb)
Used Arkade

[2020-05-25 01:01] pixeldrew commented on #642
How is this an esoteric combination? It's a very basic and common k3s setup. I've tried in both amd64 (VirtualBox) and aarch64 on an RPI4. Rancher are pushing k3os as their starting point for k3s and if openfaas doesn't work I could see people deploying kubeless or one of the many other faas frameworks.

Using k3d I was able to at least run a test deployment. I've been comparing the logs of both a

[2020-05-25 01:06] pixeldrew commented on #642
I've ran:

[code]

So that rules out networking.

[2020-05-26 14:19] alexellis commented on #642
I would encourage you to ask for help on the Rancher Slack. Since OpenFaaS works faultlessly with k3d and k3s, they should be able to help you to find whatever the delta is. Rancher are very helpful, and if you don't want to use Slack for some reason, you could open an issue on their GitHub repo, we have a good relationship between the communities.

Resorting to threats such as "if you don't help

[2020-05-26 14:26] alexellis commented on #642
Here's OpenFaaS with the latest helm chart coming up on k3d:

[code]

[2020-05-26 16:57] pixeldrew commented on #642
Like I said, I was able to get it running in k3d.

Was not a threat, Kubeless works on k3os, so I'll go with that.

[2020-05-26 18:33] alexellis commented on #642
/set title: Support issue for k3os and VirtualBox

[2020-05-26 18:39] Waterdrips commented on #642
/lock: looks like everythingf installed ok using k3d.

If you need any detailed support the best place is the OpenFaaS Slack lots more people will see the messages and may have had a similar experience.

[2020-05-28 08:13] alexellis commented on #630
@flamedmg please can you try again with the latest release?

[2020-05-28 08:13] #630 closed

[2020-05-28 10:16] stevefan1999-personal commented on #586
@deepaksirone Agreed, I'm looking to combine OpenFaas and [Kata Containers](https://katacontainers.io/) to have imitate AWS Lambda the best I could do -- and I ran into the same problem as you described, now my plan is to use a pod sidecar injector to modify the pod spec before creation like what we do with Linkerd/LXCFS...

[2020-05-28 10:47] alexellis commented on #586
@stevefan1999-personal - what @deepaksirone did was to fork the code and add a link to set this value all the time. Adding a sidecar seems like an unnecessary burden of complexity for something which can be achieved with a simple patch.

This issue (that you're commenting on) is tracking feature requests such as this and this is on the roadmap.

What is your requirement for Kata containers, do the

[2020-05-28 12:25] stevefan1999-personal commented on #586
I don't remember Kata offering a namespace based decoration for runtimeClass, and instead has to be fine grained in the pod level.

As you say yes but a simple patch is enough to modify one function and it doesn't work with replicas apparently

[2020-05-28 16:52] deepaksirone commented on #586
@stevefan1999-personal I added some changes to this branch https://github.com/deepaksirone/faas-netes/tree/gvisor . Seems that all functions created now are using the runtime class specified by the runtime_class env variable of the function container.

[2020-06-06 17:27] dustbort opened #645 "[Bug] Errors when installing with Istio mTLS enabled"
## Expected Behaviour
`kubectl apply -f openfaas.yaml` should run without errors

## Current Behaviour
`kubectl apply -f openfaas.yaml` outputs errors:
`unable to recognize "openfaas.yaml": no matches for kind "Policy" in version "authentication.istio.io/v1alpha1"`

## Possible Solution
It seems that Istio policy enforcement is deprecated, so this help chart may need to be updated to be compatible

[2020-06-09 00:14] brandonkal opened #649 "Function Resource should have status Ready condition"
## Expected Behaviour

Function resource returns status condition with Ready state.

## Current Behaviour

Not implemented.

## Possible Solution

I've fixed this in #648. But you can discuss here as well.

## Context

I can wait for other k8s resources to apply but not the Function resource currently. Since Function is essentially a deployment + service, it makes sense to track the child deployme

[2020-06-09 10:17] aleks-fofanov opened #650 "[Bug] Ingress Operator works with a wrong namespace"
## Expected Behaviour

When `openfaas` chart is installed in non-default namespace (not "openfaas") with ingress operator enabled, the operator should work (CRUD) with Ingresses and FunctionIngresses objects deployed to the same namespace as chart release.

## Current Behaviour

Ingress operator always tries to work with Ingresses and FunctionIngresses in default "openfaas" namespace.

## Possible

[2020-06-09 10:52] andrevtg commented on #616
Quick suggestion: while scanning multiple namespaces can be useful, it should be possible to configure the operator to scan a limited and known set of namespaces, or the operator will break in more constrained environments.

[2020-06-09 12:59] andrevtg opened #652 "Operator RBAC"
Is "namespaces" really necessary in operator RBAC?

[code]

This breaks operator use is restrained clusters (like Okteto). A common use is to be tied to a single namespace (even if not the default one).

[2020-06-13 15:00] #650 closed

[2020-06-15 10:16] alexellis commented on #649
Hi @brandonkal thanks for your interest in the project.

Could you let us know *why* you want this change in your proposal?

In addition please list out the various scenarios and transitions you expect to see for the ready status.

Talk to us about Scaling from zero, scaling to zero, scaling from 1 to N, the initial deployment, when a function is updated and so on.

[2020-06-16 22:22] lihaiswu commented on #589
I usually see 502 during function pods scaling up/down. It might be caused by this issue as well.

[2020-06-17 07:58] Templum commented on #589
@lihaiswu that's the case, if you have a look at my logs (from the first message), you see that the server returns a 502. Meaning if you check your gateway logs, you should be able to find similar logs.

Generally, K8S returns a 502 if it is not possible to reach a pod for an associate K8S Service.

[2020-06-20 19:41] yair12 opened #657 "Performance Questions"
Hi,

I have some questions related to performance I was unable to find in the documentation/issues.
Would appreciate the answers or reference to related pages.

1. Cold starts: Are there any plans to further reduce cold start time?
For example prewarmed generic (per environment) containers. From documentation I understand the minimum cold start time can get to ~1 second container start time + func

[2020-06-20 19:58] #657 closed

[2020-06-20 19:59] alexellis commented on #657
/lock: not an issue or a proposal

[2020-06-20 19:59] alexellis commented on #657
Hi, feel free to join Slack to pose your questions to the community. We do not give technical support over GitHub (as per the contribution guide)

Regards,

Alex

[2020-06-20 20:00] alexellis commented on #657
/msg: slack

[2020-06-24 00:28] brandonkal opened #658 "Invalid YAML in helm chart: duplicate mapping"
The line to delete is referenced below.

https://github.com/openfaas/faas-netes/blob/7f24803e28c7237ac11186697c94ece61756a065/chart/openfaas/templates/operator-rbac.yaml#L80

[2020-06-26 00:07] brandonkal opened #659 "Labels should be applied to deployment metadata.labels"
## Expected Behaviour

The function controller should copy its spec.labels to the deployment's and service's metadata.labels. Right now it is only copied into spec.template.metadata.labels.

This will help associate the deployment with the Function CR for deployment tools like kapp.

## Current Behaviour

spec.labels are only applied to created Pods. This is counter-intuitive.

I can make a PR.

#

[2020-06-26 02:03] brandonkal commented on #649
Why Function needs a status:

1. It's a useful and common feature in kubernetes
2. I need to know when the controller creates an associated deployment
3. I need to know that a function can potentially receive traffic. With scale-to-zero, as long as the initial deployment succeeded (no image pull issues etc) it's reasonable to expect that a deployment with zero replicas can handle a cold request.

[2020-06-26 03:14] ghostsquad opened #660 "Support for AWS IRSA"
Is there a way to project values into the containers created by OpenFaas like I can with Kubernetes? Specifically, I'm interested in the following:

https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/

[code]

So that I do not need to create a service account and manage aws access tokens.

[2020-06-26 07:27] aleks-fofanov opened #661 "chart: Ingress Operator's `ingress_namespace` env variable should be configurable for different use-cases"
## Expected Behaviour

The value of Ingress Operator's `ingress_namespace` environment variable can be configured through chart values.

## Current Behaviour

The value of this env variable is not configurable through chart values.

## Possible Solution

Allow to configure `ingress_namespace` through chart values. I've created a PR that implements this.

## Context

As discussed in #651, this valu

[2020-06-26 08:38] aleks-fofanov commented on #598
@LucasRoesler @alexellis
I also want this feature implemented. Actually this is the only reason I had to install kube2iam in EKS cluster in order to use IAM roles with OpenFaaS functions.
In the long term I think it would be great to have an ability to pass down pod and container security contexts to deployment to harden security of their deployments, especially for those users who have PSPs in th

[2020-06-26 08:40] andeplane opened #663 "Don't run functions as gid=0"
There is a `runAsNonRoot` setting in the faas-netes configuration, but functions do run as gid 0, which was raised as a potential problem by our security team.

## Expected Behaviour
It should be possible to run with gid!=0.

## Current Behaviour
Containers run as gid=0.

## Your Environment
OpenFaaS on GKE.

[2020-06-26 08:44] alexellis commented on #663
Can you provide a bit more detail including the potential solution and which files need a change and which flags you would like to see added / updated? What GID is preferable? Have you got a link to another project that does this?

[2020-06-26 08:47] alexellis commented on #661
I think there is a broader issue here, that many users want both, not an exclusive option.

A better option would be to spin out its own chart, like we had before, then you are free to install it however you like - one, or two times with either option.

(Just a note - please see our guidelines on opening PRs without approval for the change.)

[2020-06-26 10:41] aleks-fofanov commented on #661
Are you suggesting to create a separate chart for ingress operator instead? In what repository, this or the operator's?

I noticed it, but it contradicts with [PR template](https://github.com/openfaas/faas-netes/blob/master/.github/PULL_REQUEST_TEMPLATE.md) that clearly states that you are required to create an issue to propose a change.

[2020-06-26 11:00] alexellis commented on #661
Read the contribution guide for the OpenFaaS project in the openfaas/faas repo. There is no contradiction, an issue is required for each PR, but changes also need to be discussed and approved.

The chart would remain in this repo

[2020-06-26 11:03] aleks-fofanov commented on #661
@alexellis And since I opened this issue, I hope you don't mind to discuss related questions here.
There are 2 questions:
1. Why Ingress Operator can't manage ingresses in both core service and function namespaces (ingresses with bypass gateway set to true). Is there any limitation that prevents it from manage them all? I mean we could have a single deployment of the operator which manages both ty

[2020-06-26 11:22] aleks-fofanov commented on #661
Read it multiple times, but didn't catch what you've mean initially in the note. Now I got it. Thanks.
Since the proposed change is very small and doesn't affect existing users I decided to go ahead and create PR and the issue simultaneously :(

[2020-06-26 11:38] alexellis commented on #661
The reason we ask for a proposal is that we have a broader view and most importantly, context of the whole project and roadmap. Sometimes a bandaid can be a suitable solution, at other times it's the wrong solution for the community.

The operator could at some point support multiple namespaces if the cost was deemed worthy, but it will not for the time being. For free, you can get exactly what yo

[2020-06-26 11:42] alexellis commented on #598
We are much more likely to implement this at the OpenFaaS deployment level, rather than at the Function schema. The various options include a mode and using the new profiles feature.

We need more context though. Do you see this configuration being applied to all functions in your cluster in the same way? Perhaps you can reply with some concrete examples

[2020-06-26 13:48] aleks-fofanov commented on #661
Well, this couldn't be free because every workload in the cluster needs computing resources to run, even though in this case they could as small as 200m cpu and ~100Mi of memory. But anyways, this comes at additional cost and every deployment of this operator in a multi-tenant cluster adds a small but additional amount to your monthly bill.
Got your point, thanks for explanations.

I will get back

[2020-06-26 14:36] alexellis commented on #661
I've explained to you that this feature is expensive for us to implement, and that you can have a solution without either party having to bear that R&D cost. For what it's worth, the operator on openfaas-cloud is taking 12Mi after running for several months and 2m of CPU.

I am sorry but I'm really going out of my way to help you here, and this comment feels a little off and unnecessary.

[2020-06-26 14:38] alexellis opened #664 "Create a new chart for the IngressOperator"
## Expected Behaviour

It should be easy to customise the IngressOperator and to install it more than once into varying namespaces.

## Current Behaviour

It can be installed once with some defaults and a couple of variables.

## Possible Solution

1) Split the chart out into its own folder within the faas-netes repo.
2) Remove the option from the faas-netes chart, and update docs so that users in

[2020-06-26 14:38] alexellis commented on #661
Closing in favour of #664

[2020-06-26 14:40] #661 closed

[2020-06-26 14:50] alexellis commented on #661
I didn't realise you were going to take my words literally, so yes, for what it's worth - you are right on some level. The operator on openfaas-cloud is taking 12Mi after running for several months and 2m of CPU.

If you feel that the R&D costs are better value, then we do provide custom development and I'd be happy to have a separate discussion about that with you. As you know, contributions are

[2020-06-26 15:01] aleks-fofanov commented on #661
@alexellis Alex, I didn't mean to offend, ask for custom development or even ask you guys to develop this feature for me. I only wanted to contribute either by implementing a slight change you've mentioned in the comment to #651 or by developing a separate chart for the operator as you suggested. No sure how, but it looks like I hurt your feelings here. I do apologize for this.

[2020-06-29 13:03] Jackbennett opened #667 "Support question"
In the install section: https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#install

`https://openfaas.github.io/faas-netes/` -> redicrects to: `https://www.openfaas.com/faas-netes/` which is a 404 page.

I suspect it's supposed to link to `https://github.com/openfaas/faas-netes/tree/master/chart/openfaas` but the CLI fails:

`helm repo add openfaas https://github.com/openfaas/faas-n

[2020-06-29 13:15] alexellis commented on #667
Hi @Jackbennett,

I don't know, but nobody else has had issues here. You are not meant to navigate to `https://openfaas.github.io/faas-netes/` - did someone ask you to do that? Can you screenshot the instruction that instructs you that you must navigate there?

If you feel like you are encountering an issue with arkade, please raise an issue there so that we can get all the operating system detail

[2020-06-29 13:17] alexellis commented on #667
Please feel free to have another try at explaining what is wrong, or I'll close this issue out as I can't seem to work out what isn't working for you.

FYI, I cannot reproduce any issue with helm or arkade (arkade just automates helm):

[code]
Alex

[2020-06-29 13:21] alexellis commented on #667
/set title: Support question

[2020-06-29 14:38] Jackbennett commented on #667
Ok it's my fault, I tried to use arkade quickly in powershell because most things just work anyway when people say to use git bash, especially a cross platform compiled go app. Read on to see what the problem was, otherwise skip the the heading at the end.

arkade failed to run expecting $home being on linux, in powershell that's $env:homepath so I just set `$env:home = $env:homepath` and it got f

[2020-06-29 14:38] #667 closed

[2020-06-29 21:42] alexellis commented on #358
Closing in favour of https://github.com/openfaas/faas-netes/issues/586

[2020-06-29 21:42] #358 closed

[2020-06-29 21:42] alexellis commented on #358
/lock

[2020-07-01 16:28] alexellis commented on #616
We have a cluster-role available now for the operator in Helm, to allow management of multiple namespaces.

[2020-07-01 16:31] alexellis commented on #649
I would like to see a complete list of scenarios that could occur based upon the above and their readiness transitions.

[2020-07-01 16:45] andrevtg commented on #616
Can we make "ClusterRole" optional? When deploying into namespace restricted clusters we cannot use it and we also should limit which namespaces to watch.

[2020-07-01 17:26] alexellis commented on #616
There was a question from a contributor twice on this pull request. Both times I got the email and then he deleted it immediately afterwards.

In any case he was asking whether this would change the behaviour of the operator to only work as a ClusterRole. The answer is no, it just adds it as an option for those who want to use multiple namespaces with a single installation of OpenFaaS.

[2020-07-01 17:29] andrevtg commented on #616
It was me :)  I saw the chart option and then deleted the question, sorry

[2020-07-01 18:57] brandonkal commented on #649
It doesn't need to be any more complex than if desired Replicas == available Replicas. That handles scaling in all directions.

[2020-07-17 13:43] PeriGK opened #670 "Cannot deploy a faas function from the UI, using the docker file functionality, with docker hub images"
I am trying to deploy a public docker image as a FaaS function. I log in to the UI of my installation the screen doesn't seem to have the expected result, as the pod is throwing an error. This happens with 2 images I tried, but succeeds with others

## Expected Behaviour

I am expecting my function to be deployed in my cluster every time (given a valid image)

## Current Behaviour

Some images are

[2020-07-20 10:05] alexellis commented on #670
We're going to need more diagnostics than you've given, but as this is a support issue, please take it over to Slack for help from the community.

[2020-07-20 10:05] #670 closed

[2020-07-20 10:06] alexellis commented on #670
The most common issues like this can be fixed by working through the troubleshooting guide -> https://docs.openfaas.com/deployment/troubleshooting/

You can also help us, to help you by providing a full example of how to reproduce the issue that you're encountering.

[2020-07-20 10:06] alexellis commented on #670
/msg: slack

[2020-07-20 10:09] alexellis commented on #670
It looks as-if you are not deploying a function or a compatible workload.

You'll need to read up on what's required to package custom binaries like this in the documentation.

https://docs.openfaas.com/reference/workloads/

[code]

[2020-07-29 15:55] everesio opened #674 "Feature request: update helm Ingress resource to networking/v1beta1"
The ingress template https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/ingress.yaml uses
deprecated `extensions/v1beta1` version. Due to the https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/, the API version should be migrated to `networking.k8s.io/v1beta1`

[2020-08-04 13:16] developer-guy opened #675 "Failed to list *v1.Profile: profiles.openfaas.com is forbidden: User “system:serviceaccount:openfaas:openfaas-controller” cannot list resource “profiles” in API group “openfaas.com” in the namespace “openfaas-fn”"
based on this talk : https://openfaas.slack.com/archives/C4XCQR8TY/p1596544889344400

[2020-08-04 13:23] developer-guy commented on #675
i am getting error while installing openfaas via helm chart :
 `github.com/openfaas/faas-netes/pkg/client/informers/externalversions/factory.go:107: Failed to list *v1.Profile: profiles.openfaas.com is forbidden: User “system:serviceaccount:openfaas:openfaas-controller” cannot list resource “profiles” in API group “openfaas.com” in the namespace “openfaas-fn”`
here is the command that I am running

[2020-08-04 13:23] developer-guy commented on #675
here is my describe output of gateway pod :
[code]

[2020-08-04 13:47] #675 closed

[2020-08-04 14:16] alexellis commented on #675
/set title: Error with Profiles configuration in helm chart

[2020-08-06 06:43] andyy5 opened #677 "Feature request: Expose Node IP within function container"
## Expected Behaviour

I'm trying to send datadog traces from my function to my datadog agent.

For the function, I need to set the environment variable `DD_AGENT_HOST` to the node's IP, like this:

[code]

But based on the docs and code, it seems like this is not supported?

I'm wondering if there is any workaround that can help me here.

## Current Behaviour

Not implemented

## Possible Solutio

[2020-08-06 18:52] talzion12 commented on #638
@alexellis not sure if you're the right person to ask this but I can see you're active in this repo and probably the maintainer.
What do you think of this?
Would you be willing to merge if I create a pull request?

[2020-08-06 19:08] alexellis commented on #638
Hi thank you for your interest in the project.

We will take a look into this request.

You should probably know that projects that install their own versions of Prometheus do so for a reason and will often tune retention period and scrape interval to one that may not be generally useful.

Linkerd, Istio, OpenFaaS and several other projects take this approach.

I don't understand the comment about

[2020-08-07 08:18] alexellis commented on #638
@talzion12 we've started looking into this, but we need to hear from you again re: above.

Are you using multiple-namespaces? https://docs.openfaas.com/reference/namespaces/

[2020-08-07 08:19] alexellis commented on #677
/set title: Feature request: Expose Node IP within function container

[2020-08-07 08:19] alexellis commented on #677
Thanks for your suggestion. This does seem like an edge-case, but would you like to spend some time looking into possible solutions and report back?

[2020-08-07 08:36] alexellis commented on #674
/set title: Feature request: update helm Ingress resource to networking/v1beta1

[2020-08-07 08:36] alexellis commented on #674
Hi, thanks for your interest, however this doesn't appear to be an issue until 1.22?

[2020-08-10 10:21] talzion12 commented on #638
I see, so does that mean that it's not recommended to share a single instance of Prometheus between my app and openfaas?

Basically I have a cluster with multiple versions of my app, each in a separate namespace.
I thought it'd be nice for each of them to have a separate installation of openfaas local to their respective namespaces.
Not sure if this is the recommended approach, but I thought it ma

[2020-08-10 10:46] talzion12 commented on #638
I'm reading about the multiple namespace support you mentioned and it sounds great. I'm not sure if I should switch to this approach when it supports openfaas operator which I'm using (in the issue you linked it seems to not be ready yet).

Although I think it may still be desirable sometimes to have separate gateway/nats-connector instances per environment, as a spike in traffic in one environmen

[2020-08-10 15:26] alexellis commented on #638
If you were thinking of sharing Prometheus between multiple openfaas instances, that is a different use-case to sharing Prometheus between openfaas and another set of apps (which I wouldn't recommend)

I am not sure that multiple instances of openfaas can even write to the same Prometheus instance, you will have to check that out manually and see if they all write and read appropriate keys, I don'

[2020-08-11 00:32] talzion12 commented on #638
Got it. I'll close this issue. Thanks =)

[2020-08-11 00:32] #638 closed

[2020-08-16 16:40] martindekov opened #679 "Functions are manipulated in non-annotated namespace"
Functions should only be created/deleted etc. In namespaces which have annotation `openfaas=1/true` in faas-netes. Currently the logic rejects secrets created in those namespaces, but creates functions.

## Expected Behaviour

Try creating function in namespace which does not have annotation results in failure.

## Current Behaviour

Creating function in namespace with no `openfaas=1` annotation s

[2020-08-18 06:21] andyy5 commented on #677
@alexellis  some options:

- add a new field specifically for accessing pod info:

YAML
[code]

REST API
[code]

- use the existing field for environment variables, but openfaas needs to recognize certain env values:

YAML
[code]

REST API
[code]

[2020-08-18 06:50] LucasRoesler commented on #677
The setup sounds like the Data dog agent is running as a daemon set and you want to specify that it talk to the replica on the same host.

The simplest fastest fix is to define a Service for your daemon set and then reference it by name instead of the node ip. I have done this with Jaeger tracing and haven't had any issues with it so far.

The idea of adding special env values is interesting, it s

[2020-08-18 08:24] alexellis commented on #677
I would agree with @LucasRoesler here, adding a service would make more sense, or some kind of proxy that you can deploy and use instead.

[2020-08-18 23:08] andyy5 commented on #677
Thanks for the help

[2020-08-18 23:08] #677 closed

[2020-08-21 15:19] alecatalfamo opened #681 "Support question for RPi"
## Expected Behaviour
Openfaas pod sould run correctly

## Current Behaviour
After the installation or deployment of openfaas first crash one pod:
![Schermata da 2020-08-21 17-07-49](https://user-images.githubusercontent.com/29470102/90905845-10569080-e3d1-11ea-9d69-8ffdafe8bfbe.png)

After several seconds:
![Schermata da 2020-08-21 17-10-49](https://user-images.githubusercontent.com/29470102/9090

[2020-08-21 15:27] #681 closed, assigned to nobody

[2020-08-26 13:14] spaghettifunk commented on #598
If I can add my 2 cents on this issue. We also would like to access aws resources from our openfaas functions, however, I do believe that define IAM Roles at Function level is better. Not all our functions need to access the same resource and I think we should avoid to have one unique role at OpenFaaS deployment level. This will allow folks to create specific roles with small policies 😄

[2020-08-26 13:23] alexellis commented on #598
Thanks for your thoughts, however we need some concrete examples now, real-life needs from users to proceed.

[2020-08-26 13:32] spaghettifunk commented on #598
You are right @alexellis . I can give you the few use cases we have at the company that I work for:
1. We trigger a function with the cron-connector that reads from S3 and push some logs to Elasticsearch
2. We trigger a function that needs to read from an S3 bucket to update our Redis instance

We do other 3 or 4 functions that do the above but for different S3 buckets (they are from different ext

[2020-08-26 16:02] LucasRoesler commented on #598
This setting should now be accessible via the Profiles feature

https://github.com/openfaas/faas-netes/blob/8a9c15aa9ecc81245e87837dec097a6fc8053c9b/pkg/apis/openfaas/v1/types.go#L113

You can set the entire PodSecurityContext object now: install this into your cluster

[code]

and then add this annotation to your function

[code]

[2020-08-26 16:11] spaghettifunk commented on #598
Thanks @LucasRoesler! I'll give it a try tomorrow and I update the issue if it works 😄

[2020-08-26 23:18] wilsonianb commented on #604
I'm interested in this as well and agree that [profiles](https://docs.openfaas.com/reference/profiles/) seems like the right place.
@andeplane Would being able to configure [DNSPolicy](https://godoc.org/k8s.io/api/core/v1#DNSPolicy) as `DNSDefault` to use the node's DNS be sufficient? Or do you think profiles should also support [PodDNSConfig](https://godoc.org/k8s.io/api/core/v1#PodDNSConfig)?

[2020-08-27 08:00] LucasRoesler commented on #604
The docs on the DNSPolicy `none` indicate that both are required

[2020-08-27 15:33] wilsonianb commented on #604
:+1:
Profiles could potentially disallow `none`
but (like the issue originally suggested) supporting DNSPolicy and DNSConfig seems like the way to go.

[2020-09-11 01:12] alexgorbatchev commented on #638
I think being able to configure prometheus host/port is still valuable. I have a small cluster with one prometheus instance and would really prefer to continue using it instead of an additional sidecar.

[2020-09-13 11:29] talzion12 commented on #638
I agree it wouldn't hurt adding this as an option, although users should be aware of the drawbacks

[2020-09-14 18:04] hikuley commented on #374
Status is  always "not ready" and my function logs like below

`WARNING! Communication is not secure, please consider using HTTPS. Letsencrypt.org offers free SSL/TLS certificates.`

what should I do?

[2020-09-14 19:30] alexellis commented on #374
Hi @hikuley

We are currently offering commercial support via the [OpenFaaS Premium Subscription](https://www.openfaas.com/support) and I'd be happy to hear from you at sales@openfaas.com

You're also welcome to join Slack where you can see if the community has time to help you debug your issue.

Alex

[2020-09-17 07:53] alexellis commented on #679
Is this fixed by #673 @martindekov ?

[2020-09-17 11:10] martindekov commented on #679
No Alex, I will open separate PR with this change.

[2020-09-19 10:30] SpaWn2KiLl opened #686 "Profile CRD being created on every helm chart installation"
`Profile` is being installed on every helm chart installation and there isn't any flag that prevents this behavior. Since a CRD is not namespace scoped, this breaks my development environment where every develop has his own sandbox with his own openfaas installation.

The first chart installation creates the kubernetes CRD but on the second installation it fails to install because the CRD is alrea

[2020-09-19 10:38] SpaWn2KiLl commented on #686
Just saw #579 and that seems to fix. It uses an helm method specifically to install CRDs which verifies if the CRD is already installed or not. It is documented [here](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/).

[2020-09-23 07:13] hack3d opened #687 "[Python] ImportError after build function with kaniko"
We build a python3-http-debian with kaniko (v1.0.0) and deployed it in a kubernetes cluster. The build process has no errors. At startup of the function an "ImportError" occured.

## Expected Behaviour
The container should start with no error and handle requests.

## Current Behaviour
Currently the started container ended with crashloopback and the following error inside:
[code]
If you run the con

[2020-09-23 08:17] #687 closed

[2020-09-23 08:19] alexellis commented on #687
Hi thank you for using OpenFaaS.

We are unaware of any issues with the template you referenced, and you can view its source-code at https://github.com/openfaas-incubator/python-flask-template

Please feel free to seek out technical support from the community on Slack.

Given that the template is working as expected, it's unlikely that we can help you unless you can provide a minimal GitHub repo t

[2020-09-23 08:20] alexellis commented on #687
If you suspect that Docker builds work, but that Kaniko (the way you are using it), then feel free to raise an issue with Google on their repo here -> https://github.com/GoogleContainerTools/kaniko/issues

[2020-09-23 08:20] alexellis commented on #687
/msg: slack

[2020-09-24 07:40] arthurlogilab opened #688 "functions deployed with openfaas on kubernets have cpu.request set to 1"
Maybe related to https://github.com/openfaas/faasd/issues/87  but since that issue is more about memory requests and limits, I'll open a new one

## Current Behaviour

On our kubernetes cluster where openfaas is used as well as other deployments, we've had the following problem : some nodes had a very high load, while other were very low (very visible when sending a bunch of CI jobs using gitlab-r

[2020-09-24 08:34] alexellis commented on #688
Thanks for raising an issue and for requesting technical support from the community.

Since we don't know each other yet ( welcome :) ), and you're new to the community, could you say who "we" is?

Under `Steps to Reproduce (for bugs)` - please provide the exact instructions used to reproduce the issue that you are facing.

I'd also encourage you to get the Pod and Deployment spec and to share tha

[2020-09-24 08:38] LucasRoesler commented on #688
Just to followup on this, we definitely only set the CPU request _if_ a value is provided in the function spec

https://github.com/openfaas/faas-netes/blob/fe8e309696ce16ad58ce037d41b14adc4e650492/pkg/handlers/deploy.go#L379

we otherwise leave the CPU requests empty

[2020-09-24 08:39] alexellis commented on #688
[code]

Then:

[code]

I can't see any CPU requests in the pod spec at all.

Here is a Store function:

[code]

I would ask your administrator to investigate the cluster to see if they have something running that is overriding or mutating the requests on objects.

[2020-09-24 08:40] #688 closed

[2020-09-24 08:40] alexellis commented on #688
Closing as technical support, which we can help you with, but via Slack or [support](https://www.openfaas.com/support/)

Feel free to comment again if you have the info we asked for in the thread.

[2020-09-24 09:04] arthurlogilab commented on #688
Hey @alexellis, first off thanks for taking the time to take a look at this issue. I was suprised too, but hopefully investigating this we can understand it (and make sure it's not openfaas doing this...)

The 'we' is Logilab https://www.logilab.fr/ We operate two kubernetes cluster in-house, and use  third on managed by OVHCloud. In this use case, we've seen this on our internal kubernetes cluste

[2020-10-09 09:15] Sangshaai commented on #224
how did you config?

[2020-10-09 10:04] alexellis commented on #224
/lock: inactive thread

[2020-10-16 11:31] alexellis opened #691 "Ecosystem feature - set PORT env-var to 8080"
As part of supporting migrations to and from OpenFaaS from users of Buildpacks and other PaaS platforms, we should set at the PORT environment variable to 8080, when it's not given in a function spec.

We recently included the "CI" env-var in the faas-cli to alter behaviour of the CLI during build systems.

This seems like a no-harm change, that could benefit users.

[2020-10-22 08:03] matzhaugen commented on #523
We also have a use case for this. In particular, with this flag set, nobody can make a function which can escalate the uid though e.g. a [setuid binary](https://en.wikipedia.org/wiki/Setuid) to gain root privileges of the pod.

[2020-10-22 08:13] talzion12 opened #693 "Adding secrets that have overlapping keys causes an error"
## Expected Behaviour
Using the faasnetes operator I created the following function (I replaced some real values with placeholders):
[code]

I expect each secret to be mounted into a different directory so that overlapping keys don't cause an error.

## Current Behaviour
In this case the operator printed the following error:
[code]

## Possible Solution
I think each secret should be mounted into a

[2020-10-22 08:44] LucasRoesler commented on #693
@talzion12 can you explain more of your specific context and why there are two secrets that have the same key? how are you creating these? what is the use case?

I understand that technical details of what is happening here, but without the context it is hard to assess the best possible solution

[2020-10-22 09:21] talzion12 commented on #693
I have 2 secrets I use to authenticate with other services, they're called `bot-password` and `sonic`. The first is used to authenticate with my own service and the other is used to authenticate with the [sonic search engine](https://github.com/valeriansaliou/sonic).

I'm creating these secrets using [sealed secrets](https://github.com/bitnami-labs/sealed-secrets) and helm, although I'm not sure i

[2020-10-22 10:08] matzhaugen commented on #371
I would also like to see this implemented in some way.

[2020-10-22 10:20] LucasRoesler commented on #371
Take a look at the new Profiles feature for faas-netes https://docs.openfaas.com/reference/profiles/#available-options. it allows you to define a podSecurityContext template and then add it to functions via an annotation https://docs.openfaas.com/reference/profiles/#available-options

Let me know if this works for you and then we can close this issue

[2020-10-22 20:18] cheeseandcereal commented on #371
This seems like an appropriate solution for this issue, able to be deployed on a per-function level. I would be happy to close this issue unless anyone else objects.

[2020-10-23 10:25] matzhaugen commented on #371
Fine with me. Looks good.

[2020-10-23 10:48] #371 closed

[2020-10-23 17:08] alexellis commented on #371
Hi @cheeseandcereal can you say more about how are you using openfaas?

[2020-10-23 18:35] cheeseandcereal commented on #371
Not sure what you mean? The catalyst for this issue was to be able to lock down functions to be able to run un-trusted containers in OpenFaaS, implementing restrictions that k8s provides.

[2020-10-23 18:38] alexellis commented on #371
I was wondering whether we had your usecase and company/employer listed in the adopters file yet?

https://github.com/openfaas/faas/blob/master/ADOPTERS.md

[2020-10-23 18:41] cheeseandcereal commented on #371
Oh yeah, it's already been added there a while ago

[2020-10-23 18:48] alexellis commented on #371
👍 Which was it again?

[2020-10-23 18:49] cheeseandcereal commented on #371
Dragonchain

[2020-10-23 19:11] alexellis commented on #371
Aha, right. You used to sponsor, but cancelled for some reason. If you do reconsider, we have a dedicated page for the project now and a Premium Subscription for priority attention on PRs/Issues.

https://openfaas.com/support and https://github.com/sponsors/openfaas

So far only one end user company is sponsoring out of all of them. 🤔

[2020-10-25 11:21] LucasRoesler commented on #693
@talzion12 i had to think about this a bit.  Right now, the expectation is that secrets will not have overlapping keys.  The quickest way to get this working is to rename the keys.

With `faas-netes`, the `faas-cli secret create` command creates a secret with a single key matching the name of the secret. The reason for this is that it means the name of the secret and the resulting file will always

[2020-10-27 12:22] talzion12 commented on #693
Thanks @LucasRoesler for the detailed response.

I understand this may be a difficult change, as existing code already relies on the current behavior (such as the code you linked), and I also understand not wanting to support the full k8s API (presumably because OpenFaas supports many providers), but wouldn't it be possible to add a field to faasnetes' CRD that would just be merged with the deploy

[2020-10-28 16:01] alexellis commented on #693
Hi @talzion12

I use SealedSecrets a fair amount, and we have it built into OpenFaaS Cloud too. This isn't an issue that we've run into however.

I tend to name the keys of secrets in a way that is unique to the application.

You may also find the `faas-cli cloud seal` command in our CLI useful for your purposes.

In your example I think I'd write it like:

[code]

[code]

That way you have no amb

[2020-10-28 17:12] talzion12 commented on #693
Thanks Alex, I'll close this issue.

[2020-10-28 17:12] #693 closed

[2020-10-29 10:11] RichterJanBIT commented on #686
Hello,

just wanted to chime in and say that a toggle in the helm chart for the CRD would be needed still, in case you do not have permissions to create something at cluster level. Like you said, the CRDs are not on namespace level and thus someone with access rights to only namespaces cannot deploy the chart currently.

Or is there any other way?

[2020-10-30 06:02] rmathagiarun opened #694 "Support issue about helm"
When I comment out the functionNamespace or if I assign functionNamespace as openfaas(Operator Namespace), OpenFaaS Installation using Helm fails.

## Expected Behaviour
Should be able to install OpenFaas using Helm when I comment out the functionNamespace or if I assign functionNamespace as openfaas(Operator Namespace)

## Current Behaviour
Helm installation fails with the below message. This is

[2020-10-30 09:10] alexellis commented on #694
@rmathagi please use the template, or we will close this issue.

Can you reformat it, so that we have the fields that *we request* rather than what you want to tell us?

[2020-10-30 09:10] alexellis commented on #694
https://raw.githubusercontent.com/openfaas/faas-netes/master/.github/ISSUE_TEMPLATE.md

[2020-10-30 09:10] alexellis commented on #694
/set title: Support issue about helm

[2020-10-30 10:05] rmathagi commented on #694
Updated the format as requested.

[2020-10-30 12:32] alexellis commented on #694
Thank you @rmathagi that helps more than you know 👍

Would you be willing to work on a fix for this?

[2020-10-30 14:08] matzhaugen commented on #371
It seems like I cannot set `allowPrivilegeEscalation` in the podSecurityContext, but only in the (container) SecurityContext . Any reason why you decided to go with the pod security context as opposed to the container equivalent?

[2020-10-30 14:18] rmathagi commented on #694
Yes, would like to. I have already proposed the solution for this and verified this in my deployment. Please let me know if you have any additional recommendations.

[2020-10-30 14:29] alexellis commented on #694
How about a pull request?

[2020-10-30 14:29] LucasRoesler commented on #371
@matzhaugen the primary reason for picking Pod vs Container security context was only due to the specific use cases we were trying to enable at the time. Specifically, setting the `fsGroup`, which doesn't seem to be accessible from the container security context.

I would not be opposed to including access to the `securityContext`

[2020-10-30 14:31] alexellis commented on #371
Should [`allowPrivilegeEscalation`](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#privilege-escalation) ever be `true`? What would happen if we permanently set it to `false`?

[2020-10-30 14:32] rmathagi commented on #694
Sure, will do. Let me work on it.

[2020-11-02 08:33] matzhaugen commented on #371
I suspect the [docker-in-docker image](https://hub.docker.com/_/docker) needs `allowPrivilegeEscalation=True`, which may be a not-too-uncommon use case for faas-netes.

In our use case, we require modification to the securityContext which we currently have a fork of faas-netes for. But we also need this fork to specify a DNS server outside the cluster due to very strict network policies (no functi

[2020-11-02 08:55] LucasRoesler commented on #371
@matzhaugen and @alexellis  there is an open PR for the DNS support that is ready to merge https://github.com/openfaas/faas-netes/pull/685

[2020-11-02 09:26] alexellis commented on #371
I've never heard of anyone running Docker in Docker as a function in openfaas. Is that something that you do? Can you explain what you mean there?

Your colleague Anders was consulting with OpenFaaS Ltd and felt it was beneficial to upstream features over maintaining your own fork. We offer backlog prioritisation and priority support on issues etc through our Premium Subscription. Happy to discuss

[2020-11-02 09:43] matzhaugen commented on #371
We don't actually use openfaas for our docker image building, so `allowPrivilegeEscalation=True` is *not* a requirement for us, it was just a use case that I thought maybe other people could have. In any case, we're not opposed to have this permanently set to `false`.

As far as removing our fork, yes that would be nice. With the DNS config PR in, we would only need our customizable `terminationGr

[2020-11-02 09:46] rmathagi commented on #694
@alexellis Please review this Pull Request.

[2020-11-02 13:44] LucasRoesler commented on #371
@matzhaugen are you applying the same customizations to all functions? with profiles, you probably need some kind of admission webhook that will check and enforce that there are certain labels/annotaitons to make sure that the required function label is always set to the required profile.

I wonder if some of these values should actually be set via flags/config in the faas-netes provider, so that

[2020-11-03 03:12] Swibon96 commented on #645
I meet this issue ,too.Do you solve it now？

[2020-11-03 16:54] munjalpatel commented on #645
Same here, I replaced Istio Policies with `PeerAuthentication` as below but the `openfaas gateway` keeps failing.

**Istio PeerAuthentication**
[code]

**openfaas-gateway logs***
[code]

[2020-11-03 21:23] alexellis commented on #694
I've commented. Please see what I've said

[2020-11-03 21:24] alexellis commented on #694
If you need faster responses, we offer a paid Premium Subscription for commercial users. Please take a look and talk it over with your manager / CTO - https://www.openfaas.com/support/

[2020-11-03 21:32] alexellis commented on #598
@spaghettifunk how did you get on with this?

[2020-11-03 21:33] alexellis commented on #660
@ghostsquad what did you try, and what was the result?

Can you also fill out the template 🤦? https://raw.githubusercontent.com/openfaas/faas-netes/master/.github/ISSUE_TEMPLATE.md

[2020-11-03 21:33] #598 closed

[2020-11-03 21:33] alexellis commented on #598
Closing as inactive. Feel free to raise a new issue if people still need this.

[2020-11-03 21:33] #660 closed

[2020-11-03 21:33] alexellis commented on #660
Closing as inactive and not enough information

[2020-11-03 21:36] alexellis commented on #390
/close

[2020-11-03 21:36] #390 closed

[2020-11-03 21:36] alexellis commented on #390
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:36] alexellis commented on #352
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:36] #352 closed

[2020-11-03 21:36] alexellis commented on #324
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:36] #324 closed

[2020-11-03 21:36] alexellis commented on #294
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:36] #294 closed

[2020-11-03 21:36] alexellis commented on #272
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:36] #272 closed

[2020-11-03 21:37] alexellis commented on #184
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:37] alexellis commented on #154
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:37] alexellis commented on #479
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:37] #479 closed

[2020-11-03 21:37] alexellis commented on #455
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:37] #455 closed

[2020-11-03 21:37] alexellis commented on #392
/lock: closing as inactive. Feel free to raise a new issue if this is still required

[2020-11-03 21:37] #392 closed

[2020-11-03 21:37] #154 closed

[2020-11-03 21:37] #184 closed

[2020-11-03 21:39] alexellis commented on #523
I've seen this elsewhere. @matzhaugen it looks like you deleted some of your comments?

I believe you still need this. I would be open to a PR that sets `allowPrivilegeEscalation` to `false` permanently.

[2020-11-03 21:39] alexellis commented on #521
We should have this now in the Profiles feature.

[2020-11-03 21:39] #521 closed

[2020-11-03 21:40] #599 closed

[2020-11-03 21:40] alexellis commented on #596
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:40] #596 closed

[2020-11-03 21:40] alexellis commented on #589
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:40] #589 closed

[2020-11-03 21:40] #586 closed

[2020-11-03 21:40] alexellis commented on #580
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:40] alexellis commented on #576
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:40] #576 closed

[2020-11-03 21:40] alexellis commented on #571
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:40] #571 closed

[2020-11-03 21:40] #580 closed

[2020-11-03 21:41] alexellis commented on #659
@brandonkal do you still need this?

[2020-11-03 21:41] #658 closed

[2020-11-03 21:41] alexellis commented on #649
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:41] #649 closed

[2020-11-03 21:41] alexellis commented on #645
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:41] #645 closed

[2020-11-03 21:42] alexellis commented on #637
@andeplane we offer a commercial subscription which includes backlog prioritisation. Take a look to see if it's right for Cognite? https://www.openfaas.com/support/

This is the kind of thing we could include.

[2020-11-03 21:42] alexellis commented on #634
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:42] #634 closed

[2020-11-03 21:42] alexellis commented on #613
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:42] #613 closed

[2020-11-03 21:43] alexellis commented on #609
/lock: inactive. Feel free to raise a new issue if this is still required by anyone.

[2020-11-03 21:43] #609 closed

[2020-11-03 21:43] alexellis commented on #605
@andeplane feel free to contribute these, otherwise we'll close the issue and see if it comes up again.

[2020-11-03 21:44] alexellis commented on #601
@jlewis42lines are you going to contribute this?

[2020-11-04 06:31] rmathagi commented on #694
@alexellis  Responded, please check.

[2020-11-04 06:31] rmathagi commented on #694
Sure, will do.

[2020-11-04 08:36] matzhaugen commented on #371
We actually control the profile on the back-end. Because we have built a interface on top of OpenFaas, users do not need to know about OpenFaas or profiles. As of now, we apply one profile to all functions, setting the necessary tolerations for our node pools etc, but we would like to set the container security context as well. But this is all independent of the `terminationGracePeriod` of pods, t

[2020-11-04 09:27] LucasRoesler commented on #371
@matzhaugen if you are using the openfaas operator, then you could enforce labels on functions via a mutation webhook. Similarly for the terminationGracePeriod, if the pod has a certain label then add the grace period via the mutation. This would allow you to get the same effects without any patches. It effectively moves the patches into a webhook/middleware  that is independent of openfaas

[2020-11-04 09:29] alexellis commented on #686
Fixed in #696

[2020-11-04 09:36] alexellis commented on #371
terminationGracePeriod sounds useful for other users, we have talked about using a prestop hook in the past. I think this should be on the backlog, but prioritising that over other work is going to be the issue. Good suggestion @LucasRoesler on temporary workarounds.

[2020-11-04 09:52] #686 closed

[2020-11-04 10:00] ArcticXWolf opened #697 "Remove role for Profile-CRD from chart"
Followup on #696.
Now that we can disable the creation of the CRDs in the helm chart, we can also move the creation of the roles for the Profiles CRD behind the toggle, as they are not needed if the CRD does not exist.

## Expected Behaviour
If I disable the creation of the CRDs in the helm chart, I expect the chart to not create roles and role-bindings concerning the non-existing CRDs.

## Curren

[2020-11-05 02:09] munjalpatel opened #699 "gateway and queue-worker cannot connect to nats with Istio 1.7.1"
I am installing OpenFaaS using `helm`.
I have `Istio v1.7.1` in my cluster.
I have turned on `async` and `mTLS` in helm values.

With this setup, `gateway` and `queue-worker` are not able to connect to `nats`.
This results in the failure of `gateway` and `queue-worker`.
Also, `faas-idler` is also failing most likely because it wants to talk to `gateway` or `queue-worker` or both?

## UPDATE (11/5)

[2020-11-05 02:09] munjalpatel commented on #699
cc: @alexellis @stefanprodan

[2020-11-05 12:58] CodeCutterUK opened #700 "ARM & ARM64 helm charts still reference faas-netes:0.12.2"
## Expected Behaviour

AMD64 has been bumped to version 0.12.3 which fixes an issue with `directFunctions=false`

## Current Behaviour

## Possible Solution

bump the version references so that ARM/ARM64 is aligned

[2020-11-05 13:19] alexellis commented on #700
Please check if the tags are available for later versions, if they are then feel free to send a PR.

[2020-11-05 16:50] jlewis42lines commented on #601
Hi @alexellis

I regret to say that the project I was on using OpenFaaS, has been discontinued, and I no longer have my environment setup to test this change.

Darn, I should have created a PR for this when I had the chance. Sorry.

[2020-11-06 01:32] efossas opened #702 "Support imagePullSecrets on Helm chart"
The helm chart does not support adding imagePullSecrets for pulling images from private repos. I would like to open a PR for this. Just making sure y'all are on board with this.

## Expected Behaviour
Be able to add imagePullSecrets in the values.yml file to pull images from private repos.

## Current Behaviour
not possible as far as  I can tell

## Possible Solution
add imagePullSecrets config to

[2020-11-10 04:23] rmathagi commented on #694
@alexellis Let's close this issue as the code fix has been merged into Master Branch.

[2020-11-10 09:56] CodeCutterUK commented on #700
Resolved now that the generate charts have been updated

[2020-11-10 09:56] #700 closed

[2020-11-10 10:16] alexellis commented on #700
As the new images become available on GHCR, let's PR to values.yaml here.

[2020-11-10 18:38] LucasRoesler opened #706 "Proposal: disable direct functions by default"
A common request in slack looks like this question

We have documented this behavior and how to fix it here https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md#endpoint-load-balancing

This is such a common request in slack that we should consider changing the default behavior of `directFunctions` so that users need to opt into this behavior. This will match user expectatio

[2020-11-10 19:33] munjalpatel opened #707 "Invocation count always remains 0"
Invocation count for all of my functions always remains 0.

## Expected Behaviour
The invocation count should increase in UI as well as `/system` API when a function is invoked.

## Current Behaviour
The invocation count does not increase in UI as well as `/system` API when a function is invoked.

## Steps to Reproduce (for bugs)
1. Ensure Istio 1.7.1 is installed in the cluster
2. Apply the follo

[2020-11-10 19:36] alexellis commented on #707
Hi, is Istio actually required to reproduce this?

@viveksyngh is covering this issue in the main project. Do we need to update any images etc to get the fix in place Vivek?

[2020-11-10 19:40] munjalpatel commented on #707
@alexellis thanks for a quick reply.

I am not sure if this issue is reproducible without Istio or not since I have not tested it without it.
I did notice work on this was merged in the `faas` repo. However, not sure how to bring those changes to our deployment.

[2020-11-10 19:53] alexellis commented on #707
If it would help your project and company to have more of our time to assist with your project then feel free to reach out to sales@openfaas.com

In the meantime we are aware of a UI issue where the metrics were shown incorrectly due to the namespace suffix.

[2020-11-10 23:07] munjalpatel commented on #707
Thanks, Alex. I will reach out to sales once we can proof-out a basic deployment with Istio, NATS, and auto-scaling functionalities.

[2020-11-11 10:41] alexellis opened #709 "Migrate CRDs to v1 namespace"
Migrate CRDs to v1 namespace

## Expected Behaviour

`helm lint` should pass without failing a CI build, however with the latest version of helm3, this causes an unrecoverable error in CI.

## Steps to reproduce the issue

* Clone this repo
* Download latest helm 3 `arkade get helm --version v3.4.0`
* Run helm lint

See failing error.

[code]

## Possible solution

* Update the tooling that genera

[2020-11-11 10:44] alexellis commented on #709
This will also apply to - https://github.com/openfaas/ingress-operator and https://github.com/inlets/inlets-operator

[2020-11-11 16:52] alexellis commented on #709
@LucasRoesler please could you take a look?

[2020-11-11 17:18] alexellis commented on #706
What are the cons? @LucasRoesler

[2020-11-11 17:27] alexellis opened #710 "Test the image we build in the GitHub Action"
Test the image we build in the GitHub Action

## Expected Behaviour

As we run e2e tests upon commit, this should test the operator image that we've just built.

## Current Behaviour

Instead we test whatever is in the chart, which probably still needs to be tested separately for each chart change.

## Possible Solution

Side-load the image with kind  as per https://github.com/alexellis/registry-c

[2020-11-13 09:37] alexellis commented on #702
Image pull secrets in openfaas will only cover what we installed into your cluster, but you'll need the pull secrets for every namespace including kube-system, default and any others like cert-manager.

Questions for you: how are you deploying OpenFaaS in production?

For development, have you considered using https://github.com/alexellis/registry-creds?

[2020-11-13 20:53] efossas commented on #702
Right. I don't mind adding image pull secrets where needed. As of now, everything that needs them on our clusters is configured to use them through helm charts.

We don't use OpenFaaS in production yet. I'm exploring it as a scale to zero solution for our "serverless" workloads.

Your registry-creds project looks a lot like this one: [https://github.com/titansoft-pte-ltd/imagepullsecret-patcher](h

[2020-11-13 21:01] alexellis commented on #702
If you're using a GitOps approach to deploying applications - like Argo or Flux, I would suggest you encode the image pull secret as part of that workflow.

I'm not sure the OpenFaaS chart should be responsible for this request, but am willing to keep the issue around to see how popular the request is.

[2020-11-13 21:06] alexellis commented on #702
For anyone landing here - this is how you can configure image pull secrets - https://docs.openfaas.com/deployment/kubernetes/#use-a-private-registry-with-kubernetes

[2020-11-13 21:06] alexellis commented on #702
Eric, can you tell us what other alternative solutions you can see here?

[2020-11-14 12:56] LucasRoesler commented on #706
I think the main con is that users of `linkerd` (and probably other service meshes) will need to toggle this back to `true`.

This would be a _**breaking change**_ for any existing users of `linkerd`

I think we can resolve this with documentation because I suspect/hope that users of service meshes are more likely to actually go to our docs and search for "name of service mesh" or "service mesh".

[2020-11-14 14:05] LucasRoesler commented on #709
@alexellis i am also getting the following lint errors

[code]

[2020-11-14 14:46] LucasRoesler commented on #709
Doing a little bit of research

* [k8s 1.16 introduced depreaction](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals) for `apiextensions.k8s.io/v1beta1` in favor of `apiextensions.k8s.io/v1`, removal in 1.19
* [k8s 1.17 introduced deprecation](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.17.md#deprecations-and-

[2020-11-14 15:43] LucasRoesler commented on #709
Apparently the operator RBAC was already upgraded https://github.com/openfaas/faas-netes/blob/e88c54c3854614fe02809c6931d544f74d64c6f0/chart/openfaas/templates/operator-rbac.yaml#L17

[2020-11-15 16:02] #709 closed

[2020-11-17 03:38] admun opened #713 "faas-idler crashed on start"
I am trying to deploy openfaas on a Rancher 2.5.2 managed cluster, running a k8s v1.18.10 using RKE.

default values.yaml, changed the following:

[code]

The log from the pod:

[code]

namespaces created using https://raw.githubusercontent.com/openfaas/faas-netes/master/namespaces.yml
chart version 6.1.2
cluster is amd64 based.

[2020-11-17 03:41] admun commented on #713
As a results of this, I am seeing gateway and queue-worker also failed. The rest of the deployments seems to be fine.

[2020-11-17 04:52] admun commented on #713
found this is the same issue as #699

[2020-11-17 04:52] #713 closed

[2020-11-17 04:58] admun commented on #699
I am running into the same issue. cluster is a 1.18.10 created w/ rancher 2.5.2 + RKE.

istio is using rancher-istio.

default values.yaml, changed the following:
[code]

[2020-11-17 10:04] #707 closed

[2020-11-18 12:54] alexellis commented on #699
I am trying to reach @stefanprodan and the Istio team to see if they have time to help (cc @craigbox)

[2020-11-18 12:55] alexellis commented on #699
The note that Stefan left on the chart documentation says:

Istio is about to release 1.8, so I would imagine this needs to be updated before it will work. @admun @munjalpatel if you're Istio users, perhaps you would like to do a little bit of research and send a PR to fix?

[2020-11-18 13:06] stevejr opened #714 "Helm Chart is generating incorrect Istio Objects - Policy is deprecated from Istio v1.4/5"
When using the OpenFaas helm chart with the `istio.mtls=true` value set the generated Istio objects are not compatible with newer Istio releases. The Policy object the helm chart is currently generating has been deprecated in favour of the PeerAuthentication object.

## Expected Behaviour

The OpenFaaS helm chart should generate the correct Istio objects.

## Current Behaviour

The OpenFaaS helm c

[2020-11-18 13:29] alexellis commented on #714
Can you fill out a number of suggestions under Possible Solution please?

[2020-11-20 14:34] munjalpatel commented on #707
Hey @alexellis thanks a lot for helping us here. How can I test this out? Is new version for this available now?

[2020-11-20 16:25] alexellis commented on #707
The chart is up to date already I believe. Feel free to ask on Slack if you need further technical assistance

[2020-11-21 12:45] alexellis commented on #707
Re your comment of doing a PoC on your own before engaging, we offer a package for a supported PoC with out engineers helping you with Istio etc.

Take a look at the top of openfaas.com/support - this is a new addition

[2020-11-22 20:18] campaquino opened #715 "values-arm64.yaml: nodeselector is 'arm' instead of 'arm64'"
As the value was changed to 'arm', but 'arm64' is reported by k8s as architecture, no applicable node for deployment can be found by k8s.

## Expected Behaviour
Openfaas can be deployed on 64bit arm machines like RPi4

## Current Behaviour
K8s reports it couldn't find any suitable node ('0/1 nodes are available: 1 node(s) didn't match node selector.')

## Possible Solution
Revert the change from '

[2020-11-22 23:11] alexellis commented on #715
Please feel free to send a PR to revert it back. Thanks for letting us know.

[2020-11-23 12:38] alexellis commented on #715
I'm confused because the 64-bit ARM value is as you directed?

[code]

[2020-11-23 12:41] #715 closed

[2020-11-24 05:08] munjalpatel commented on #707
@alexellis @viveksyngh even after upgrading to the latest OpenFaaS (v0.20.1) the invocation count still does not get updated.
I am using Istio and functions are deployed in multiple namespaces.

[2020-11-24 07:50] munjalpatel commented on #699
In order to resolve this issue, we need to change the name of the port in the `nats` deployment from `clients` to `tcp`.
Reference: https://github.com/istio/istio/issues/28623

[2020-11-24 07:50] #699 closed

[2020-11-24 09:30] alexellis commented on #707
Can you try with kind or k3d and don't deploy Istio? What happens then?

[2020-11-27 17:30] dplusic opened #717 "Helm Chart creates ClusterRole even if clusterRole=false"
## Expected Behaviour

Helm Chart should not create `ClusterRole` when `clusterRole=false`.

## Current Behaviour

It creates `ClusterRole` even if `clusterRole=false`.

## Possible Solution

It should create `Role` instead of `ClusterRole`.

## Steps to Reproduce (for bugs)

1. Prepare a service account without permission creating `ClusterRole`
2. Run `helm install openfaas openfaas/openfaas --se

[2020-11-28 10:34] alexellis commented on #717
This is expected, Prometheus needs to scrape in more than one namespace. The cluster role in question is for the OpenFaaS Operator.

Happy for you to send a PR, otherwise you'll need to wait for this to be prioritized.

Premium Subscription customers get priority.

[2020-11-28 10:34] alexellis commented on #717
/set title: Feature Request - toggle for Prometheus scraping as ClusterRole

[2020-11-29 13:05] michaeleekk opened #718 "Could not enable IngressOperator through Helm Chart"
## Expected Behaviour
Changing `ingressOperator.create` to `true` will create the `FunctionIngress` and the related resources.

## Current Behaviour
An error is shown,

[code]

## Possible Solution
As the error is saying `validation` is not a valid field, so I tried to edit the [ingress-operator-crd.yaml](https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/ingress-operator-

[2020-11-29 15:22] alexellis commented on #718
The version of your kubectl client is rather old. Have you thought about upgrading?

See also: https://github.com/openfaas/ingress-operator/pull/40

[2020-11-29 15:26] alexellis commented on #718
I'm getting the same error

[code]

[2020-11-29 15:36] alexellis commented on #718
This issue is fixed by #719 - thank you for reporting it.

[2020-11-29 16:23] #718 closed

[2020-11-29 16:33] alexellis commented on #717
I took a look into this today to refresh my memory, you should read the notes on this PR:

https://github.com/openfaas/faas-netes/commit/71edafae6e2073de7d81d5aec6f9bab637dc74eb#diff-48d9710e441cfca34edd16570dabeda39dc6ecfae662e42f4e9bab7813290aa7

And if converted to two Roles and RoleBindings to the Prometheus SA, the following error is given by Prometheus which fails to work:

[code]

[2020-12-02 13:07] noam09 opened #721 "Use kubernetesDNSDomain for all service references"
OpenFaaS fails to start in Kubernetes clusters whose base domain is *not* `cluster.local`, e.g. `cluster2.local`.

## Expected Behaviour

OpenFaaS should deploy successfully to Kubernetes cluster when `kubernetesDNSDomain` is set to `cluster2.local` (i.e. not `cluster.local`).

## Current Behaviour

OpenFaaS is not deployed successfully.
The first sign is that `faas-idler` enters `CrashLoopBackoff

[2020-12-02 17:15] alexellis opened #722 "Add version back to CI / publish builds"
## Expected Behaviour

Add version back to CI / publish builds

## Current Behaviour

It is missing, and was previously injected via LDFLAGS in the Makefile / Travis config.

See also certifier and faas-cli for examples.

[2020-12-03 04:26] thedemoncat opened #723 "beta.kubernetes.io/arch label has been deprecated"
Can`t deploy openfaas in kubernates cluster:  0/1 nodes are available: 1 node(s) didn't match node selector.

## Expected Behaviour
Openfaas is successfully deployed with arkade install openfaas --load-balancer

## Current Behaviour
After starting openfaas, the pods do not start, because they do not find the required node label

[code]

[code]

## Possible Solution
beta.kubernetes.io/arch label ha

[2020-12-05 10:26] alexellis opened #724 "List namespaces warning"
## Expected Behaviour

No errors about listing namespaces in the default, namespace-scoped mode.

## Current Behaviour

We get this error continually, as the gateway tries to list namespaces to collect metrics for each.

[code]

## Possible Solution

We already have a cluster_scope variable. When it's set to false, we should just return the default namespace, and not try to list them.

## Steps to

[2020-12-05 13:34] #724 closed

[2020-12-14 19:47] kevin-lindsay-1 opened #729 "Support request on timeout configuration"
## Expected Behaviour

Setting `gateway.upstreamTimeout` should lower/raise the timeout.

## Current Behaviour

Setting `gateway.upstreamTimeout` does not lower/raise the timeout, however the environment variable appears to be coming through correctly. Based on my testing, this appears to be coming from the gateway.

## Possible Solution

I was looking through previous issues, and it looks like a

[2020-12-14 19:48] kevin-lindsay-1 commented on #729
This issue should probably be owned in `openfaas/faas`, however I created the issue in this repo because I can reproduce with a particular helm version.

[2020-12-30 16:22] simone-zennaro opened #732 "variable name error"
Hi, in line 36 and 72 you put Values.basic_auth instead of Values.basicAuth

https://github.com/openfaas/faas-netes/blob/43f64cf9b30fd5f0f56514dee6b9fe01cfbfed45/chart/kafka-connector/templates/deployment.yml#L36

https://github.com/openfaas/faas-netes/blob/43f64cf9b30fd5f0f56514dee6b9fe01cfbfed45/chart/kafka-connector/templates/deployment.yml#L72

[2020-12-30 18:45] alexellis commented on #732
Thanks for letting us know.

Please can you use the templates for any further issues or PRs?

[2020-12-30 18:54] #732 closed

[2020-12-30 18:55] alexellis commented on #732
@simone-zennaro we're still part way through migrating the Kafka code to GitHub Actions, can you hold off on your testing? Perhaps revisit it with us in a week.

[2021-01-04 11:34] tardigrde opened #733 "faas-idler can not connect to the default gateway"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

I have deployed an OpenFaaS in a local minikube, and that went well.
Now I want to deploy it to OKD, but I get an error. Note that I used  statically generated YAML

[2021-01-04 11:37] alexellis commented on #733
Is this OpenShift 3.x - you appear to have left that out?

For OpenShift you need to use our helm chart, or arkade (which wraps the helm chart). There are sometimes a few other tweaks that are required, but we have helped some OpenShift users in the past, including the [IDp/OIDC connector for auth](https://www.openfaas.com/blog/openfaas-oidc-okta/).

Happy to walk through this with you over a Zoom

[2021-01-04 12:55] alexellis commented on #733
For what it's worth, I got the same error as you, but it went away when the gateway container became ready. I've opened a PR to make the message clearer - https://github.com/openfaas/faas-idler/pull/46

The offer is still open to help you get set up and make the most out of openfaas on OpenShift.

[2021-01-05 09:19] #733 closed

[2021-01-05 09:48] alexellis commented on #733
That is actually what I was expecting you to say re: the random UID - we have worked with commercial OpenShift users in the past, as I say, there is no huge purchase order or commitment here, you can book ad-hoc hours to get help and our attention on what you need for your PoC.

[2021-01-05 09:48] alexellis commented on #733
OpenShift users also typically go for the SSO / OAuth2 integration, you can [read more about that in the docs](https://docs.openfaas.com/reference/authentication/#oidc-and-oauth2-for-the-openfaas-api)

[2021-01-05 09:49] alexellis commented on #733
/set title: OpenShift support request

[2021-01-05 15:36] tardigrde commented on #733
Thank you very much! I appreciate your offer,  but for now it's not high-prio for us right now.

[2021-01-05 15:46] alexellis commented on #733
I would say you may be better served by joining our GitHub Sponsors program then, so you can get regular updates on what is changing in the project, and to help us support the community.

https://github.com/sponsors/openfaas

[2021-01-06 11:34] alexellis commented on #729
/set title: Support request on timeout configuration

[2021-01-06 11:35] alexellis commented on #729
Please walk through this tutorial to learn how and where to configure timeouts:

https://docs.openfaas.com/tutorials/expanded-timeouts/

Take note of the watchdog version and any settings in your workload that may need configuring differently.

Feel free to put up full instructions for repro, with a code example.

[2021-01-06 11:36] alexellis commented on #729
/add label: support,question

[2021-01-07 08:58] CarbonC opened #734 "Suggestion: add NATS Streaming maximum payload option to helm chart"
Sorry I took that long, here is the completed template:

It is impossible to modify NATS streaming maximum payload from the chart. In some use cases you might want to put it to more than the default 1Mb

## Expected Behaviour
You should be able to pass a command line argument to increase the limit of NATS streaming payload

## Current Behaviour
Being able to pass a value different than the default

[2021-01-07 16:43] pkoelbl opened #736 "Only show openfaas Deployments in the API (regression)"
## Expected Behaviour
The api call to system/functions should return only openfaas functions

## Current Behaviour
The api call to system/functions returns everything in namespaces set to be able to be used for faas functions.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Set openfaas functions to be able to use a different namespace than openfaas-fn
2. deploy functions to the differe

[2021-01-07 18:34] CC007 opened #737 "[Feature] Create a CircleCI orb for easily installing faas-cli, unit testing, building containers, publishing artifacts to a registry and deploying to kubernetes"
In CircleCI in your build configuration you can import what they call [orbs](https://circleci.com/developer/orbs), which provide common functionality. For instance the kubernetes orb provides functionality to install kubectl, create/delete a deployment, wait until a deployment succeeded, etc.

It would be nice if faas-netes provided a similar orb

## Expected Behaviour

The idea is to provide the

[2021-01-08 15:47] alexellis commented on #736
Hi @pkoelbl

Thanks for your interest, but we cannot help you unless you provide concrete step by step instructions for a production.

Start with the following

[code]

And the last command needs to be faas-cli list, where it shows something it shouldn't.

Does that make sense?

Alex

[2021-01-08 15:47] alexellis commented on #736
/add label: support

[2021-01-08 15:48] alexellis commented on #736
/set title: Support issue with mixed deployments and functions in the same namespace

[2021-01-08 15:49] alexellis commented on #737
Hi @CC007

We do not have any customers asking for CircleCI / ORB support at the moment, so unfortunately can't direct our time to create this.

The idea sounds interesting, do you want to take it on yourself and report back on Slack with your findings?

Alex

[2021-01-08 15:49] #737 closed

[2021-01-08 15:50] alexellis commented on #734
@CarbonC in order for us to consider your issue, you will need to provide a full and complete issue template, you haven't done that so could you take some time to improve this issue?

https://raw.githubusercontent.com/openfaas/faas-netes/master/.github/ISSUE_TEMPLATE.md

Alex

[2021-01-08 17:42] LucasRoesler commented on #736
@alexellis  I have confirmed the issue locally

[code]

then

[code]

[2021-01-08 17:43] alexellis commented on #736
I have a suspicion this may be related to where we moved to using informers in the Kubernetes API. Thank you for running with this.

[2021-01-08 17:44] alexellis commented on #736
/set title: Only show openfaas Deployments in the API (regression)

[2021-01-08 17:49] alexellis commented on #736
@pkoelbl just a quick note - who is "we"? I don't recognize your name as an openfaas sponsor?

[2021-01-08 18:34] CC007 commented on #737
I am going to experiment with the implementation without an orb first. Once I get that working, I'll see if I can create the orb and create a repo for you to fork. It should be low maintenance once it is actually setup.

I have not looked into how to publish the orb to CircleCI yet, but since you are the people behind openfaas, I don't expect any issues for you to get it published.

[2021-01-08 18:50] alexellis commented on #737
Would you be interested in contributing a page to our docs in the CI/CD section for CircleCI with the non-orb approach?

Of course if we get customers needing this we would reconsider. Thank you again for your input and for contributing.

[2021-01-08 18:58] CC007 commented on #737
Sure, I'll share my findings. I feel that is a good way to return the favor of OpenFaaS providing such an easy platform to write FaaS functions with on k8s. I tried the Fn project before and ran into problems, whereas with OpenFaaS it worked out of the box.

[2021-01-08 20:00] alexellis commented on #737
I'm glad you had that experience.

To be fair, a way to return the favour (one we need right now) is [to become a GitHub Sponsor](https://github.com/sponsors/openfaas) and if you're using OpenFaaS at work, to chat to your manager about an org-level sponsorship, which is a new feature.

[2021-01-08 23:40] #736 closed

[2021-01-09 03:57] CC007 commented on #737
Right now I am using OpenFaaS for a personal project that will not be used commercially. Also, at work we are only just transitioning to cloud with a mix of microservices and monolithic applications and are not ready yet for the transition to a FaaS architecture.

I hope that you don't mind that I'm only going to provide a code and documentation donation for now.

[2021-01-12 15:42] kevin-lindsay-1 commented on #729
I've done a little more digging, and this appears to be caused by the change `gateway.directFunctions: false` being set since `6.2.2`.

It may have something to do with the fact that I use the `operator` rather than `faasnetes`.

My config, with comments removed:
[code]

[2021-01-13 19:08] mcueto opened #740 "faas-idler versions other than 0.4.0 lost on docker hub"
## Expected Behaviour
I was instaling `openfaas` based on an "old" helm chart that uses `faas-idler` on it's `0.3.0` version and i figured out that only version `0.4.0` is published on docker hub so i supose that was a unintentional mistake because of the ever changing codebase on the project.

## Current Behaviour
`ImagePullBackOff` for `faas-idler` on versions other than `0.4.0`

## Possible Sol

[2021-01-14 10:52] alexellis commented on #740
Hi, thanks for your interest. We've moved over to GHCR for our images.

I would suggest taking a look at the latest changes in the helm chart README file or the docs for scale to zero.

If you're a commercial user, and feel you're affected by changes in the open source project, it may benefit you to have a support relationship in place. Happy to chat about that separately. https://openfaas.com/sup

[2021-01-14 10:52] #740 closed

[2021-01-14 14:57] VladimirAkopyan commented on #153
Unfortunately many existing applications use environmental variables for secrets. If you do intend to support 'repackaging' existing docker containers, like you outline in your documentation, then this request makes sence.

https://docs.openfaas.com/reference/workloads/#running-an-existing-docker-image-on-openfaas

[2021-01-14 19:35] alexellis commented on #153
/lock: wontfix

[2021-01-14 19:36] alexellis commented on #153
This discussion is closed - please don't open new issues asking for it.

[2021-01-17 19:13] MrSimonEmms opened #743 "Function not respecting timeout when using operator mode"
I have a function that takes approx 30 seconds to run. I've followed the instructions on the [Expanded Timeouts](https://docs.openfaas.com/tutorials/expanded-timeouts/) page but not working as expected. I've set the timeout to 2 minutes as per docs; after approx 7 seconds the function retuns a 502 Bad Gateway message and aborts the function call. To test the call, I'm using the [Go-Long](https://g

[2021-01-17 19:16] alexellis commented on #743
/set title: Function not respecting timeout when using operator mode

[2021-01-17 19:17] alexellis commented on #743
The arkade command doesn't look right, it should have `--operator` added I think?

[2021-01-17 20:37] MrSimonEmms commented on #743
Yes, sorry. I tried it last without the operator - for the record, I got the same result whether using the operator or not.

I'll update the OP

[2021-01-18 19:10] kevin-lindsay-1 commented on #743
#729 is the same issue.

[2021-01-19 08:21] alexellis commented on #729
It seems this is related to the operator, which wasn't mentioned in the original report. Fortunately between the three of us on #743 we have a repo. I have a fix ready for it.

[2021-01-19 09:58] #729 closed

[2021-01-19 18:04] #743 closed

[2021-01-21 13:57] allanyung opened #746 "Allow configuring of prometheus deployment annotations via helm chart"
## Expected Behaviour
Helm chart should allow configuring metadata/annotations for prometheus deployment

## Current Behaviour
No way to configure metadata/annotations for prometheus deployment unless user maintains a copy of helm chart locally

## Possible Solution
Update helm chart to support custom annotations for the prometheus deployment

## Context
Datadog requires some annotations to discov

[2021-01-27 02:58] bansaltushar92 opened #748 "Question about gateway_function_invocation_total metric"
## Expected Behaviour
A way to filter the the health check invocations from the **gateway_function_invocation_total** metric. Add either the "path" to the gateway_function_invocation_total or add another metric that doesn't count invocations to the health check endpoint (/_/health).

## Current Behaviour
The **gateway_function_invocation_total** metric is a counter of total invocation requests for

[2021-01-27 12:15] matzhaugen opened #749 "Support request for 404 errors whilst scaling the gateway"
## Expected Behaviour
When a new gateway pod is created in a HA environment we expect the endpoint lister to be able to find all the function deployments without problems.

## Current Behaviour
In a HA gateway deployment with 4 gateways we sometimes see 1 of the 4 gateways return 404s (Not Found) consistently for some fraction of the calls in the faas-netes container. This is most likely to happen

[2021-01-27 12:22] alexellis commented on #749
To quote yourselves:

![no-help](https://user-images.githubusercontent.com/6358735/105990286-2b24e380-609a-11eb-9efc-0422681f0728.png)

We see no reason to help you, other than philanthrophy.

No obligation, of course - that's the joy of open source. But you might want to consider the following questions:

1) It's a core component of your production system - if you encounter any issues in producti

[2021-01-27 12:30] alexellis commented on #749
FYI you are asking for support on a private, forked version of openfaas

https://github.com/cognitedata/faas-netes/blob/dcc3e502db13190d282529809c6d243b82ed1637/pkg/k8s/proxy.go#L78
https://github.com/cognitedata/faas-netes/blob/dcc3e502db13190d282529809c6d243b82ed1637/pkg/k8s/proxy.go#L82

I'm not sure how we can be of help there.

We did offer you support and consulting, which is available to an

[2021-01-27 13:21] matzhaugen commented on #749
The links are updated to the non-forked version now, the fork should not have any impact on this. There is of course no expectation that you'll help us, I was just asking.

[2021-01-28 08:58] CarbonC commented on #734
Sorry I took that long, here is the completed template:

It is impossible to modify NATS streaming maximum payload from the chart. In some use cases you might want to put it to more than the default 1Mb

## Expected Behaviour
You should be able to pass a command line argument to increase the limit of NATS streaming payload

## Current Behaviour
Being able to pass a value different than the default

[2021-01-29 13:48] alexellis commented on #749
Hi @matzhaugen thanks for updating the links, it would be helpful to have the logs if you can share them?

I spent 3 hours trying to debug for you this on my environment and couldn't reproduce the error - I was generating load with hey at a steady rate, with one function then scaling the amount of gateways. I only got 200s, no 404s.

It would help to know more contextual information:

* What cloud

[2021-01-29 15:21] matzhaugen commented on #749
@alexellis, thanks for having invested so much time into this. I'll see if I can come up with a reproducible local scenario, no need to spend more time on it.

As far as workarounds are concerned, we can do a retry, although sometimes the gateway will only give 404 and no 200 after some time point, usually right after it starts. Sometimes it recovers, as seen in the graph above, other times it nev

[2021-01-29 17:07] alexellis commented on #749
The watchdog and the template, I had a typo in my original response. Are you using forked or standard versions of both?

[2021-01-30 10:11] alexellis commented on #746
Thanks for your interest in OpenFaaS and for taking the time to fill out an issue 🙏

[2021-01-30 10:54] #746 closed

[2021-01-30 10:54] alexellis commented on #746
Merged.

[2021-01-30 16:13] Voziv opened #756 "Helm v2 does not render chart correctly"
ArgoCD selects helm version 2 or 3 based on the apiVersion of the chart.

With helm version 2 and `clusterRole: false` it causes the `{{ .Release.Name }}-prometheus` Role
to render incorrectly.

## Expected Behaviour
Should render the prometheus role with a new line:
[code]

## Current Behaviour
Helm v2 renders the role without a new line
[code]

## Possible Solution

I do have a fork + branch tha

[2021-01-31 08:39] alexellis commented on #756
Hi thank you for the detailed report.

What version of helm are you trying to use?

[2021-01-31 09:36] alexellis commented on #756
/message: enduser

[2021-01-31 09:47] alexellis commented on #756
Hi thank you for the detailed report.

I just want to understand what version of helm are you trying to use? Are you trying to use Helm 2, and that is where you have issues with Argo, or Helm 3?

We are making no attempt to support Helm 2 at present, so I just want to understand the use-case and how broadly this could affect users.

[2021-01-31 09:48] alexellis commented on #748
/message: enduser

[2021-01-31 09:48] alexellis commented on #748
/set title: [Feature request] Remove health check HTTP calls from metrics

[2021-01-31 12:14] nitishkumar71 opened #757 "Update Gateway Image Version to ghcr.io/openfaas/gateway:0.20.7"
## Expected Behaviour

faas-netes should work appropriately
## Current Behaviour

faas-netes works appropriately

[2021-01-31 15:16] Voziv commented on #756
ArgoCD selects helm version based on the chart's `apiVersion`. This means it selects helm 2 to render the openfaas chart.

We were attempting to upgrade the chart from `6.1.1` -> `7.0.3` when we encountered the issue.

So as things stand currently this would affect any users using ArgoCD and trying to upgrade to chart `6.2.1` or higher.

[2021-02-01 08:36] matzhaugen commented on #749
We are using the classic watchdog with [one patch](https://github.com/openfaas/faas/issues/1559), which should be unrelated to this. The template is our own template, again should be unrelated to this.

A more standard 404 pattern is seen below, with an even distribution across gateways.

![Screen Shot 2021-02-01 at 9 34 19 AM](https://user-images.githubusercontent.com/6342654/106433570-ac042680-6

[2021-02-01 10:30] alexellis commented on #749
Thanks for sharing your Grafana dashboard. Let us know when you have a minimal reproduction that can be shared, or update this issue.

[2021-02-01 10:31] #757 closed

[2021-02-03 09:19] francisdb commented on #749
We also have a 404 issue when adding the 4th gateway

[2021-02-03 09:24] alexellis commented on #749
@francisdb feel free to provide instructions to reproduce the issue you're facing, and it may make sense for you to detail exactly how you're using openfaas, as I imagine it's completely different to Cognite who have their own custom fork of several OpenFaaS components.

[2021-02-03 09:32] francisdb commented on #749
Just wanted to post a heads-up, if this is not helpful you can just ignore my message until we come up with more info.
Why does it matter who "we" are? (as long it's not Cognite)

[2021-02-03 11:20] alexellis commented on #749
It's good practice to introduce yourself when you want help, and to perhaps say what your use-case is to help us understand who we're talking to and how we can best help you.

[2021-02-03 12:10] francisdb commented on #749
Let me ask @Sam-Persoon at [waylay.io](https://github.com/waylayio) to come up with more details. He's got better manners than me 😬

[2021-02-03 13:33] alexellis commented on #749
Ok that helps, we know Waylay and Giles.

[2021-02-03 13:54] gillesdemey commented on #749
Hey @alexellis,

Apologies for some of the communication in this thread, we were still compiling some data and didn't mean to bump before we had something meaningful to contribute to the issue.

We at Waylay are experiencing similar behavior. We are slowly ramping up our load to test things out and when adding a 4th replica of the gateway, we noticed the exact same behavior as described above. To

[2021-02-03 13:58] alexellis commented on #749
Thank you for the extra information.

This sounds like a very different issue. Cognite are pushing very low volumes of data and use a custom fork. You are trying to find the breaking point in openfaas on GKE.

This looks like something we would need to debug with you on a high touch engagement. Let's follow up on email?

I would suggest a separate issue but I feel this is very specific to each com

[2021-02-03 15:13] alexellis commented on #749
@gillesdemey would you mind sharing a copy of your dashboard JSON via a gist and a link to the issue?

We also had a related request from the community to see the full dashboard - to see how well Grafana is rendering 800 deployments (that is optional to provide here)

We have some ideas on how to investigate this and a number of ideas for overcoming the problem, if you want to follow-up with me.

[2021-02-03 18:26] alexellis commented on #749
One more question for both (although I think that I know the answer for Cognite) - operator or faas-netes, which are you using in your chart?

i.e. are you both using `operator: true`?

Do you have any logs from [client-go](https://github.com/kubernetes/client-go/blob/master/util/workqueue/default_rate_limiters.go) about rate-limiting?

What's the minimum case I need @gillesdemey to reproduce this

[2021-02-05 09:39] alexellis commented on #749
Hi @matzhaugen @gillesdemey I still haven't reproduced this issue, but this new release may resolve part or all of the issue by preventing the gateway from serving traffic until it has synchronised the initial list of function endpoints.

https://github.com/openfaas/faas-netes/releases/tag/0.12.16

[2021-02-05 21:28] bansaltushar92 commented on #748
@alexellis If anyone can guide me on the approach, I can take an attempt at it.

[2021-02-06 09:48] alexellis commented on #748
I am confused how to reproduce the issue, can you show some evidence like metrics, or screenshots that show that the watchdog component's health endpoint is being tracked in the `gateway_function_invocation_total` metric?

`gateway_function_invocation_total ` is tracked at the gateway and I can't think of any component that would deliberately call each function URL and `/_/health`.

[2021-02-06 09:48] alexellis commented on #748
/set title: Question about gateway_function_invocation_total metric

[2021-02-06 09:48] alexellis commented on #748
/add label: question,support

[2021-02-06 09:49] alexellis commented on #749
/set title: Support request for 404 errors whilst scaling the gateway

[2021-02-06 09:49] alexellis commented on #749
/add label: support,question

[2021-02-06 09:49] #722 closed

[2021-02-07 09:40] alexellis commented on #756
How do we make it use Helm 3?

[2021-02-08 15:22] Voziv commented on #756
In theory upgrading from v1 to v2 of the helm chart api.

From the [docs](https://helm.sh/docs/topics/charts/) this involves updating to `apiVersion: v2`

It looks like the following diff for `Chart.yaml` allows argocd to correctly render the chart:

[code]

Here's the diff I used to test: https://github.com/openfaas/faas-netes/compare/master...ratehub:dev-upgrade-helm-api

[2021-02-09 09:58] #756 closed

[2021-02-09 09:59] alexellis commented on #756
I believe that we have resolved this for you now @Voziv

[2021-02-09 10:00] alexellis commented on #748
@bansaltushar92 please see the comments that I have sent you here.

[2021-02-09 11:31] alexellis commented on #749
@matzhaugen and @gillesdemey - what results have you seen with the new release of faas-netes? This change was made to support your use of OpenFaaS.

[2021-02-09 13:59] Voziv commented on #756
7.1.0 rendered without any problems. Thanks!

[2021-02-09 15:23] gillesdemey commented on #749
Hey @alexellis thanks for investigating, much appreciated!

We've re-run our load testing experiment and the behavior no longer occurs with version `0.12.16` of the `faas-netes` component 💪

We've gone as far as running 4 to 5 replicas sustaining about 40k reqs/min and ran that for about half an hour. We can handle the same amount of traffic with fewer replicas but in this experiment we weren't tr

[2021-02-09 16:27] alexellis commented on #749
We need the specific metric that you are tracking, is it one we [expose in openfaas in the gateway](https://docs.openfaas.com/architecture/metrics/)?

Glad we could be of help to you here. There are further changes that could scale to much higher numbers but require a bigger investment of R&D.

[2021-02-09 17:40] gillesdemey commented on #749
Sadly no, it's a metric that is emitted by our proxy component that includes some tags that are specific to our platform

[2021-02-10 01:57] bansaltushar92 commented on #748
@alexellis Here's an example of this metric value in prometheus. One of our monitoring service sends periodic requests to the gateway on endpoint `/function/{function_name}/_/health` to check the health of the deployment. However, this gets counted in the `gateway_function_invocation_total` metric and there is no way for us to differentiate on basis of this metric whether this was a health check r

[2021-02-10 10:09] alexellis commented on #748
This is non-standard behaviour, which is not part of the OpenFaaS codebase, so falls outside of the scope of how we can help you. There is no need for you to make these HTTP calls to _health because Kubernetes is already configured to do it.

My question is - why did you deem it necessary to take this approach? What benefit or problem do you believe you're getting from it?

[2021-02-10 10:09] #748 closed

[2021-02-10 12:11] #523 closed

[2021-02-10 12:17] alexellis commented on #523
This change has been made in the linked commit

[2021-02-11 22:47] bansaltushar92 commented on #748
Thanks for the update. Our monitoring service send these requests to _health endpoint at a regular interval to ensure that the functions are in a healthy state. If we don't receive a success response, it'll send alerts to the stakeholders.

[2021-02-12 09:38] alexellis commented on #748
1) That isn't required, because Kubernetes does this already and will remediate the pods
2) Each pod exposes its own _health endpoint that you can configure Prometheus to scrape, which will not affect the gateway statistics

Because you're using this for work and you have a rather complicated use-case, I'd  be open to talking you through how to set this up on a call. Click "Book now" at https://op

[2021-02-12 13:28] matzhaugen commented on #749
After deploying the [new fix](https://github.com/openfaas/faas-netes/pull/759) with the faas-netes master, we now see that some of the gateway deployments hang and get stuck in a CrashLoopBackOff only to be fixed when deleting and restarting the corrupted pod. This is likely due to the cache sync hanging in the [following code clock](https://github.com/openfaas/faas-netes/blob/7b9591661b9ec722f0f9

[2021-02-12 13:42] alexellis commented on #749
Thanks for trying the patch.

I wonder how we can reproduce this to help you with testing? Do you have any suggestions?

Have you thought of having a static amount of gateway replicas?

And of increasing the initial http healthcheck to a higher number? 30s maybe?

There's several more ideas we have, but it needs an investment of a week or two of R&D plus a reproducible environment/setup.

[2021-02-12 13:49] matzhaugen commented on #749
I just mean that becuase the cache sync is hanging, it doesn't pass the health check before the pod restart trigger kicks in. It's a good idea to extend the initial health check.

[2021-02-17 09:24] matzhaugen commented on #749
I tried increasing the initial health check to 30 seconds and unfortunately it didn't help, there are still newly started gateways that are stuck in a CrashBackoffLoop, and a restart is not guaranteed to fix the issue.

Given that prior to the [patch](https://github.com/openfaas/faas-netes/pull/759), the gateways will sync their cache eventually, although it might take time, and after the patch, t

[2021-02-17 10:10] alexellis commented on #749
My current challenges are:

* I tried deploying ~ 500 functions with varying amounts of desired/actual replicas, but couldn't reproduce the problem on a bare-metal cluster on Equinix Metal. This took me several days to set up and test.
* There is no repro given yet
* It's seemingly only affecting one end-user company at present
* I have 3-5 other things to try which would take 1-2 weeks' of R&D, b

[2021-02-17 21:37] alexellis commented on #749
Feel free kick the tires with this release: https://github.com/openfaas/faas-netes/releases/tag/0.12.18

It should resolve the issue with the gateway getting stuck in the wait for cache sync.

[2021-02-19 16:12] matzhaugen commented on #710
I made a [drafty PR](https://github.com/matzhaugen/faas-netes/pull/1) that tests the image in the PR, and hopefully solves this issue.

I also added a load testing script in the build just to show how you can replicate a scenario which gives some 404s as discussed in [a separate issue](https://github.com/openfaas/faas-netes/issues/749). I added in this PR and CI to show the reproducibility steps.

[2021-02-19 16:13] matzhaugen commented on #749
Hey Alex, thanks for the new release. I've tried the new patch on my fork and made [a branch](https://github.com/matzhaugen/faas-netes/pull/1) that recreates a scenario that produces a number of 404s with a [load testing script](https://github.com/matzhaugen/faas-netes/pull/1/commits/083595f7b2e1b44055bc8a0388f912c089f4a90b).

Let me know if something is unclear, or if the api is not used as inten

[2021-02-19 22:05] alexellis commented on #749
How does this compare to where we were 23 days ago? According to the code in the controller, this should now wait for a sync before going any further.

[2021-02-20 06:44] matzhaugen commented on #749
I have not been able to reproduce any other 404 errors except `operator 2021/02/19 15:41:43 resolver error: cannot find nodeinfo: no subsets available for "nodeinfo.openfaas-fn"` in my load testing, so perhaps there are some differences in the nature of the errors from 23 days ago, but I don't know exactly how. We tried the openfaas 0.12.18 tag briefly in our cluster and saw that it was still givi

[2021-02-21 16:37] alexellis commented on #433
For anyone landing here in 2021, there is already a link to the docs. Here's a deep link: https://docs.openfaas.com/reference/namespaces/

[2021-02-24 16:58] #511 closed

[2021-02-26 12:28] matzhaugen opened #766 "Helm template missing namespace for Prometheus Role"
Helm template missing namespace for Prometheus Role

## Expected Behavior
Same behavior between
`helm install openfaas ./chart/openfaas --namespace openfaas` and
`helm template openfaas ./chart/openfaas --namespace openfaas | kubectl apply -f -`

## Current Behavior
The prometheus role is not templated with a namespace so it doesn't show up in the latter command. I'm not sure why it works with the

[2021-02-26 12:29] alexellis commented on #766
Are you willing to work on a fix @matzhaugen?

[2021-02-26 12:30] alexellis commented on #766
@LucasRoesler CC

[2021-02-26 12:32] matzhaugen commented on #766
Sure!

[2021-02-26 13:24] matzhaugen commented on #749
Actually reducing the [Cache Expiry time](https://github.com/openfaas/faas/blame/master/gateway/main.go#L147) in the gateway seemed to get rid of the 404s in a test environment.

[2021-02-26 15:53] alexellis commented on #749
This is something I was looking into last week with @aledbf and didn't remember that there was a 5s cache lifetime for function availability. Another way to look at this (which is separate to the original issue raised) is to ensure that the function's graceful shutdown time (to drain requests) is higher than the gateway's cache period.

[2021-02-28 09:39] #766 closed

[2021-02-28 09:39] alexellis commented on #766
This has been released, feel free to re-test

[2021-03-02 16:04] howardjohn commented on #714
@alexellis do you have a requirement to support Istio 1.4 users? Note that Istio has been out of support for almost a year: https://istio.io/latest/news/support/announcing-1.4-eol-final/.

If not, it should be pretty simple to update, i can send a PR.

[2021-03-02 16:45] alexellis commented on #714
Hi @howardjohn,

Thank you for reaching out :+1:  - your help would be really appreciated.

Whilst we have a broad understanding of service-mesh and hands-on experience with Linkerd, the person who added and maintained the configurations for Istio cannot help with this any more and the alternative is removing Istio instructions.

I've reached out to Craig Box a few times to see if folks on the Ist

[2021-03-02 16:47] howardjohn commented on #714
Thanks, I will see if I can dig into this a bit.

Nope, should no longer be needed

[2021-03-02 19:28] howardjohn commented on #714
Ok, looks like this is what is needed to get latest Istio working. End result is everything is injected with mTLS, prometheus works, etc.

[code]
I think the changes required (to nats service + prometheus config) should be compatible with non-istio as well.

[2021-03-02 19:50] alexellis commented on #714
That was quick!

There are two ports which are both TCP, does renaming the name field to `tcp` help Istio / Envoy know what to do? For `appProtocol ` - do you know what version is it compatible with? [Is it 1.18](https://github.com/kubernetes/enhancements/issues/1507)?

Can you explain the change? Backwards compatible sounds good. The way we used pod-based metrics was for custom metrics for HPAv2

[2021-03-02 20:39] howardjohn commented on #714
I think its GA in 1.20, so before then some clusters may have it turned off. The bummer is it will be rejected, rather than ignored, on old clusters. So probably not the best route for now. The naming is literally the `name` field. `protocol` refers to the L4 protocol, as a workaround for lack of appProtocol we give `name` meaning. See https://istio.io/latest/docs/ops/deployment/requirements/#serv

[2021-03-04 13:33] kapolos opened #769 "UPGRADE FAILED: cannot patch "openfaas-prometheus" with kind RoleBinding"
I tried to do `arkade install openfaas` on a cluster with an existing installation (done via the same way months ago). Arkade is the latest version. I get this error:

[code]

Any idea how to proceed from here? Should I uninstall openfaas via helm and do a clean install? Or did I miss something obvious in the docs? I did notice https://github.com/openfaas/faas-netes/issues/766 but it's already mer

[2021-03-04 13:50] #769 closed

[2021-03-04 13:50] alexellis commented on #769
Thanks for your interest, but I'm going to close this, there would appear to be changes in the helm chart since you used it last which mean you need to do a manual update or delete openfaas and start over in a new cluster.

If this is for commercial purposes, you can naturally, reach out for support at openfaas.com/support

[2021-03-04 13:57] kapolos commented on #769
Sounds good, thanks @alexellis .

[2021-03-05 09:10] #749 closed

[2021-03-05 09:11] alexellis commented on #749
I'm closing this issue given that I hear from @matzhaugen (the issue creator) that he's moved on from where he was using openfaas. If the new team land here, feel free to open a new issue, or talk to us about support https://openfaas.com/support/

[2021-03-05 09:11] alexellis commented on #749
/lock

[2021-03-11 21:28] alexellis commented on #723
Hi @TheDemonCat PRs are welcome, however we have not encountered such issues with Kubernetes on Raspberry Pi.

Alex

[2021-03-12 04:20] TheDemonCat commented on #723
This is not a Raspberry PI. These are the Yandex cloud provider servers.
The problem is that you have an outdated API on the chart.

[2021-03-12 07:20] alexellis commented on #723
What CPU architecture are they then? I have personally tested on armhf, arm64 and Intel with no scheduling issues?

PRs are welcome like I said.

[2021-03-12 07:27] TheDemonCat commented on #723
arm64.
As for the PR, I understood. But unfortunately I will not do it in the near future. I have temporarily switched to other tasks for now.

[2021-03-15 07:55] CarbonC commented on #734
@alexellis What could i do to help integrate the change in the repo? Looks like the issue is stale...

[2021-03-15 17:12] alexellis opened #771 "Populate CreatedAt in the REST API"
## Expected Behaviour

CreatedAt in the REST API should be populated, both for the controller and operator.

## Current Behaviour

This is a new field and was only just introduced.

https://github.com/openfaas/faas-provider/issues/59

For an example of how it was done in faasd, see: https://github.com/openfaas/faasd/commit/659f98cc0dd2c13633d511f143785808e84f21cb

## Possible Solution

Update both

[2021-03-16 11:38] alexellis commented on #771
See also for testing: https://blog.alexellis.io/how-i-test-openfaas-with-kubernetes/

[2021-03-16 16:22] alexellis commented on #734
We're sympathetic to the use-case, but if you look at your PR, you can see why we are reticent to merge a change like this. A user has already started putting 20MB messages into the NATS queue which it is not designed to support.

Large messages need to be offloaded to Minio / S3, which is trivial to do. Feel free to take a look into Minio usage and setup here -> https://github.com/alexellis/mqtt-

[2021-03-16 16:41] alexellis commented on #734
To quote StackOverflow:

Specifically:

https://stackoverflow.com/questions/55368487/send-a-message-larger-than-1mb-using-nats-streaming#:~:text=NATS%20does%20have%20a%20message,file%20ID%20in%20the%20message.

There is a reason why AWS Lambda is also designed this way, with 6MB for synchronous and 128KB for async.

[2021-03-16 16:43] #734 closed

[2021-03-16 17:23] cpanato commented on #771
I will work on this issue

[2021-03-16 17:24] alexellis commented on #771
Sure. Feel free to ask questions here if you need to.

[2021-03-17 08:35] alexellis commented on #734
FYI we have updated the docs to make this limit clearer. We discussed this as a group, and would suggest deploying your own separate NATS server and configuration, outside of the chart. We won't be able to give technical support for users who have increased this limit, and don't want to encourage it in any way by making it part of the upstream chart.

Happy to talk to users on Slack who need assis

[2021-03-17 11:20] CarbonC commented on #734
@alexellis Thanks for the update. I get your point. I still believe that my personal use case of up to 5mb is legit since the proportion of messages that weight more than 1mb is small. But obviously you can't let people send big files to nats and then have to provide support. I just wish there was a way to allow custom config files for every part of the chart with clear disclaimer that you wont su

[2021-03-17 11:53] cpanato commented on #771
make the tiny change and updated faas to use the latest available

However, I'm getting the same response when calling the `/system/functions`, and when I call the `/system/function/MYFUNC`, I receive the new field.

I bet is something foolish I'm doing (but I'm new to the code base)

for example when calling `/system/functions`

[code]

and when calling `/system/function/nodeinfo`
[code]

There i

[2021-03-17 12:00] cpanato commented on #771
I knew that was something foolish, I need update the gateway container as well :(

now works

[code]

@alexellis any idea when a new release of FAAS will be available?

[2021-03-17 12:18] cpanato opened #774 "CI is using go1.13"
both go modules and dockefile are using go 1.15 but ci is not

## Expected Behaviour
Ci uses go.1.15

## Current Behaviour
ci is using go1.13

## Possible Solution
update ci to use go1.15

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* What ver

[2021-03-17 13:11] alexellis commented on #774
I don't actually think we use Go on the host, but happy for you to bump this to 1.15 or plain Ubuntu

What issue did you run into? I didn't see the details in the repro section

[2021-03-17 13:14] #774 closed

[2021-03-17 13:34] alexellis commented on #771
Hi, in the instructions I mentioned that you should port forward from the operator/faas-netes container itself. You may need to exec into the container to do that with wget.

There's also a new gateway that I published around the same time as creating this issue.

[2021-03-17 16:50] kevin-lindsay-1 opened #775 "[Feature Request] Queue CRD"
Would be nice to be able to create a new queue and corresponding queue worker from its own CRD, rather than the existing method, which is to export it, build a tiny chart, or otherwise handle it yourself.

[2021-03-22 17:53] barelnir opened #777 "the server could not find the requested resource (get profiles.openfaas.com)"
## Expected Behaviour
error is shown in faas-netes pod:

`gateway-6fdb69cdd-wk8m9 faas-netes E0322 17:45:26.524287       1 reflector.go:178] github.com/openfaas/faas-netes/pkg/client/informers/externalversions/factory.go:107: Failed to list *v1.Profile: the server could not find the requested resource (get profiles.openfaas.com)
`

## Current Behaviour
I don't know what is the impact of this error

[2021-03-22 18:02] alexellis commented on #777
It seems like you're having issues, but I can't tell why from what you've said. OpenFaaS is working ok in our end to end tests.

This seems to be missing a lot of context. Could you start off by describing your environment and how you are installing openfaas? (Exact instructions)

[2021-03-22 19:06] barelnir commented on #777
sure @alexellis
I took the chart from openfaas repo and used is as baseline.
I did changes in external services yml to support our custom terafik deployment guidelines and deploy it via helm.
I also disabled the following:
createCRDs: false # to avoid deploying on same cluster CRDs more than once.
exposeServices: false

if you can ask specific questions I can share more info, openfaas works now bu

[2021-03-24 08:56] #777 closed

[2021-03-24 08:57] alexellis commented on #777
I'm going to close this because we cannot offer support for your forked version of the chart. All I will say at this point is that it sounds like you don't have the CRDs required because you disabled their creation. I would suggest you create them before deployment.

My advice is to use the upstream chart, which we can help you with.

[2021-03-24 17:18] alexellis commented on #674
There's an approach we can use which is backwards compatible that @nosceon added to inlets:

https://github.com/inlets/inlets-pro/blob/master/chart/inlets-pro/templates/ingress.yaml#L3-L7

@Waterdrips can you take this please?

[2021-03-24 17:28] Waterdrips commented on #723
note to self: https://kubernetes.io/docs/reference/labels-annotations-taints/

[2021-03-25 12:49] #771 closed

[2021-03-31 16:12] alexellis commented on #714
Thanks @howardjohn we are taking another look at this today.

@LucasRoesler could you try this out please?

[2021-04-02 15:04] LucasRoesler commented on #714
@howardjohn i am going to take a look at this tomorrow

[2021-04-03 09:45] LucasRoesler commented on #714
@howardjohn i tried following the instructions

[code]

I did both of

But i wasn't 100% sure what you mean by " Edit prometheus config kubernetes-pods:", so i edited the prometheus-config ConfigMap and then restarted prometheus.

But I can't get the gateway to start, clearly I missed something obvious

[code]

When I use the same command to install OpenFaaS but without isitio configured, then it

[2021-04-03 14:22] LucasRoesler opened #781 "Unify helm chart values for multi-arch support"
Now that we publish all of our images as multi-arch to GHCR

[code]
should work on both arm and amd clusters (or even clusters with mixed node archs) without any special configuration.

## Current Behaviour

We specify

[code]

Which prevents the install command from working without special values, specifically we have to override the nodeSelector, for example

[code]

## Possible Solution

We sho

[2021-04-03 14:23] LucasRoesler commented on #781
In an ARM cluster (using microk8s) and an AMD64 cluster (using Kind) I have tested both

1. simply removing the nodeSelector
2. adding the three tolerations

both work as expected.  We simply need to pick the option we prefer

[2021-04-03 18:43] alexellis commented on #781
I think we can remove these restrictions now due to the use of multi-arch images. The separate YAML files are still useful to set lower memory requests for Raspberry Pi.

[2021-04-06 01:28] howardjohn commented on #714
Basically its looking for `localhost:8082/metrics` on the gateway, which is presumably configured with prometheus.io annotations for scraping? So not sure why its not working - can you check the gateway is actually serving metrics at that endpoint?

[2021-04-06 09:26] alexellis commented on #781
Thanks for the PR. I'll close this issue now. The basic-auth-plugin was already multi-arch but had a different name, so I've added that change in after your PR.

[2021-04-06 09:26] #781 closed

[2021-04-06 09:30] alexellis commented on #714
I can run the following:

[code]

The K8s service for the gateway doesn't expose port 8082, but I'm not sure if that is relevant given that Prometheus is scraping the pod created by the deployment?

[2021-04-06 17:34] howardjohn commented on #714
I did the same steps and gateway was not working until I renamed the NATS port. Are you sure you did that before looking at the errors?

[2021-04-07 09:14] LucasRoesler commented on #714
I am pretty sure i checked _after_ the rename, but i will do it again to confirm and be sure

[2021-04-07 10:34] LucasRoesler commented on #714
I just tried again, with the same results.

Here is the current state of the (crashing) gateway Pod

[code]

And here is the nats pod

[code]

[2021-04-07 14:23] howardjohn commented on #714
Just to clarify, when I say rename the NATS port I mean the Service, not pod's port.

If that doesn't work, check out the gateway's logs in the gateway pod. In my case I saw it crashing due to failing to connect to NATS.

[2021-04-08 13:40] angel-ivanov opened #783 "[Question] Anti affinity rules for function pods without need to create separate Profile for each function"
## Expected Behaviour

## Current Behaviour

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## List All Possible Solutions and Workarounds

## Which Solution Do You Recommend?

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `dock

[2021-04-08 14:15] LucasRoesler commented on #783
The first thing to note is that (anti)-affinity operators support: `In`, `NotIn`, `Exists`, `DoesNotExist`, [see these k8s docs](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#:~:text=The%20legal%20operators%20for%20pod%20affinity%20and%20anti-affinity%20are%20In%2C%20NotIn%2C%20Exists%2C%20DoesNotExist.)  this means that you do not need to specify a unique value here.

S

[2021-04-08 20:56] angel-ivanov commented on #783
Hi Lucas, thanks for your answer. I've checked the docs and I saw the options to use In, NotIn, Exists, DoesNotExist, but they are still not something that will help me the achieve what I want.

The actual use case is that if I have 3 node k8s cluster, I want the pods to be spread evenly. If one node goes down, the function invocations can continue working without disruption. If for some reason al

[2021-04-09 06:19] LucasRoesler commented on #783
I like your use case/example.

I wonder if we could add support for this in the Profiles https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/  Depending on how your cluster is deployed you might also be able to use this https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#cluster-level-default-constraints

Then it should be possible to

[2021-04-09 08:25] LucasRoesler commented on #723
@alexellis @thedemoncat and @Waterdrips i think we can safely close this now that all of our images are multi-arch and we have removed the tolerations from the chart, see https://github.com/openfaas/faas-netes/pull/782

[2021-04-09 09:57] LucasRoesler opened #784 "Proposal: First class support for HPA"
A frequent question that happens in Slack is questions about alternative ways to control scaling and/or instance placement in a cluster.  We already have a tutorial about how to replace the default request-rate auto-scaling with metrics based scaling via HPA in Kubernetes. See https://github.com/openfaas/docs/pull/164, https://docs.openfaas.com/tutorials/kubernetes-hpa/,  https://docs.openfaas.com

[2021-04-09 18:07] alexellis commented on #784
Hi @LucasRoesler thanks for sharing your thoughts here. This is something that Stefan had mentioned a few times in the past.

We also have some good documentation on how to configure HPAv2 (that you also mentioned). What I found in testing was that HPAv2 was more heavy-weight - relying on several extra components for custom metrics usage, and also lagged so was not as responsive for bursting workl

[2021-04-11 09:29] LucasRoesler commented on #714
Ok, I had a change to retry today and ..... :muscle: success!

[code]

Renaming the port on the nats Service seems to be the missing piece.  Once I did that, everything just started working as expected.

So the next step is to make the changes to the chart right?

[2021-04-11 10:11] alexellis commented on #714
That's awesome 🥳

[2021-04-12 15:32] alexellis commented on #783
Despite the technical details, what is the real use-case that you need to support here? We'd like to understand more about the problem you expect to face, or the problem that you actually are running into.

From there, we'll have a better chance of answering your question. I've repopulated the issue template that you deleted. This is a required part of the community participation and when you fill

[2021-04-14 16:30] alexellis commented on #714
@LucasRoesler was asking which changes are backwards compatible with different K8s versions?

We could use `istio.mtls` to indicate the newer, "breaking" changes and specify a different minimum Kubernetes `version.`

[2021-04-14 16:32] howardjohn commented on #714
None of this should be linked to Kubernetes versions. I would expect it to work on all k8s versions supported by Istio (1.15-1.20 at the time)

[2021-04-16 14:55] Voziv opened #786 "Ability to add pod annotations on the helm chart for each service"
When installing openfaas with a helm chart it's not possible to specify custom annotations for the `kind: Deployment` objects.

The use case that brought this up was disabling linkerd for nats.

## Expected Behaviour

Should be able to specify pod annotations similar to now nodeSelector, tolerations, and affinity work.

## Current Behaviour

Currently not possible to add those values using the cha

[2021-04-22 09:29] ionutz89 opened #787 "Proposal to change the current exporter for nats"
Maybe it will be useful for someone else who needs prometheus-nats-exporter as `multi-arch`

Check the Docker hub [link](https://hub.docker.com/r/homeall/prometheus-nats-exporter)

[2021-04-22 11:10] alexellis commented on #787
Hi @ionutz89 thanks for your interest in OpenFaaS,

Please can you follow the contribution guide and fill out the whole template?

We cannot use a third-party Docker image in OpenFaaS, so I would suggest you make a case with the NATS team on their GitHub repo. Feel free to raise an issue there and send us a PR, if the changes get made upstream.

Alex

[2021-04-22 11:10] #787 closed

[2021-04-22 12:21] alexellis commented on #723
If you're happy then go ahead and `/close`

[2021-04-22 12:38] LucasRoesler commented on #723
/close

[2021-04-22 12:38] #723 closed

[2021-05-02 09:25] LucasRoesler commented on #714
@howardjohn is there any chance you can provide more guidance on what to keep and what to remove from our configuration? I went to go update the chart today and realized _how many_ more configurations there are already in the chart? Should those be kept or removed?

Also, faas-netes has a "mutli-namespace" mode, this is controlled via an annotation on the allowed target namespacs. How should these

[2021-05-03 08:04] denstorti commented on #702
Hi Eric, I sorted this out by creating a new ServiceAccount with imagePullSecrets:
[code]

Then passing it with the annotation in the Function object:
[code]

I hope this helps.

[2021-05-03 19:33] albertkohl-monotek opened #789 "deployment to namespaces not working"
I tried setting up custom namespace dev-fn as per: [docs](https://docs.openfaas.com/reference/namespaces/)
i know it shows that it's alpha, and i'm using the code from the master branch, so maybe that's why its not working, but if i run faas-cli namespaces, i show only the default namespace.

## Expected Behaviour
faas-cli namespaces
Namespaces:
 - openfaas-fn
 - dev-fn

## Current Behaviour
faas-

[2021-05-04 14:54] howardjohn commented on #714
If you need to keep the `istio.mtls` mode for backwards compatibility, its fine. But I think it would be actually better to have users manage their own PeerAuthentications. Note that in modern Istio versions, traffic is ~always mTLS. PeerAuthentication just makes it so plaintext requests are *not* allowed. If you do keep it, you would probably need to document to install the additional PA in the e

[2021-05-04 18:02] alexellis commented on #789
Hi @albertkohl-monotek this works for me and I tried it last week.

You need to share your command that you used to install openfaas for us to help and see if you've missed something.

I'll close this issue, since I can't reproduce any problem here, but feel free to keep commenting.

Alex

[2021-05-04 18:02] #789 closed

[2021-05-04 18:14] albertkohl-monotek commented on #789
thanks Alex, i installed using git and kube apply. for some reason in the past when i used the arkade it would throw errors.

[code]

[2021-05-04 18:28] alexellis commented on #789
Thank you for providing that, it really helps. You've missed out the additional permissions for the ClusterRole.

You can't simply apply the `yaml` folder and hope that it would work.

Please see the docs here. You can use arkade, or modify the helm install command that we provide.

https://docs.openfaas.com/reference/namespaces/

Alex

[2021-05-04 18:33] albertkohl-monotek commented on #789
let me clarify, i also added this yml file (added it in my original post)
[dev-fn-namespace.txt](https://github.com/openfaas/faas-netes/files/6423245/dev-fn-namespace.txt)

i THOUGHT i was doing that with that. am i mistaken? (probably am, i'm still learning k8s)

[2021-05-04 18:48] alexellis commented on #789
Can you please follow the docs instead of doing it your own way?

`kubectl apply -f ./yaml` - this is not an appropriate installation method because you need to customise the roles to support a Cluster role. See the helm readme if you prefer to use helm over arkade

[2021-05-04 18:51] albertkohl-monotek commented on #789
okay, i'll nuke my cluster and try arkade again. if it fails to install like it had in the past, would you mind if i repost here? or should i start a new thread?

[2021-05-04 18:57] alexellis commented on #789
Please don't open another issue for this discussion. The docs work as expected, I just tried them, if you follow them line by line.

[2021-05-04 20:20] alexellis commented on #786
Could you have a custom YAML manifest that you apply after deploying openfaas?

[2021-05-04 20:21] alexellis commented on #786
/set title: [Feature request] Config option to disable Linkerd for NATS

[2021-05-04 20:30] zjpiazza opened #790 "Unable to enumerate functions deployed to non-standard namespace"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour
User should be able to list functions deployed in alternative namespaces using `faas-cli ls -n [namespace]`

## Current Behaviour
Function is

[2021-05-04 20:30] #790 closed

[2021-05-04 20:31] alexellis commented on #790
/set title: Question: how can a Role be used instead of a ClusterRole for multiple namespaces?

[2021-05-04 20:32] alexellis commented on #790
We'll continue to support a ClusteRole for OSS, and offer new Role/Bindings for OpenFaaS PRO customers. If anyone is landing here and needing help for a work cluster, feel free to reach out.

[2021-05-04 21:55] Voziv commented on #786
No as argocd will overwrite the changes to match the helm chart output

[2021-05-04 21:58] Voziv commented on #786
The 2.10 release supports adding opaque ports allowing for linkerd to work with NATS. However it's a different annotation `config.linkerd.io/opaque-ports: 12345`

[2021-05-05 12:06] alexellis commented on #786
What if we just added that to the chart instead?

[2021-05-05 13:01] Voziv commented on #786
It's definitely an option though much less flexible and limited to only supporting linkerd 2.10+. podAnnotations would allow the user to add whatever annotations are needed, including doing self maintenance if new annotations are added or existing ones change. Would also not limit this only to NATS and only linkerd.

[2021-05-07 14:43] boniek83 opened #792 "Update ingress to networking.k8s.io/v1"
Previous version is deprecated.

[2021-05-13 15:27] albertkohl-monotek commented on #789
Alex, i finally got around to re-deploying openfaas into a fresh k8's cluster using arkade, it worked great! i think when i was first messing with it i was using microk8s and had some issues, and found a writeup somewhere that talked about applying the .yml files, sorry for the confusion on that. i also got the name spaces to work properly per your documentation, and that's working as well, so tha

[2021-05-18 15:55] #714 closed

[2021-05-19 15:52] alexellis commented on #714
We have a blog post for anyone landing here -> https://www.openfaas.com/blog/istio-functions/

Thanks to everyone who helped.

[2021-05-20 06:45] GitHubDiom opened #797 ""contrib/run_function.sh: line 16: kill: (3891525) - No such process" when make strat-kind"
I am trying to develop the provider, but some errors occur when creating the kind cluster.

## Expected Behaviour

Kind cluster should run OK.

## Current Behaviour
[code]

## Are you a GitHub Sponsor (Yes/No?)

No

Check at: https://github.com/sponsors/openfaas
- [x] Yes
- [ ] No

## List All Possible Solutions and Workarounds

## Which Solution Do You Recommend?

Not yet
## Steps to Reproduce (f

[2021-05-20 06:54] alexellis commented on #797
@LucasRoesler could you take a look at this issue report please?

[2021-05-20 17:51] LucasRoesler commented on #797
Sure

[2021-05-24 08:56] #797 closed

[2021-05-26 07:02] manjeettanwar-1026 opened #800 "Trying to Access OpenFaaS with an Istio Gateway"
I was trying to access openfaas through istio in which i have included gateway and virtual service...I need to create a separate endpoint for the openfaas..eg:-"http://istio_ingress_Loadbalancer/openfaas" this should give me openfaas UI...Can anyone please help me regarding i am having hard time accessing this?? below is the code i have written for gateway and virtual service

apiVersion: networki

[2021-06-02 10:30] sec9 commented on #702
Hi @alexellis
 i will have to use the "Add imagePullSecrets option" fix provided by @efossas to install OpenFaas.
My cluster can only retrieve image through an authenticated private registry. ( no direct access to dockerhub or ghcr )

And then , as you say , i will have to manage my function image like describe here :  https://docs.openfaas.com/deployment/kubernetes/#use-a-private-registry-with-ku

[2021-06-04 17:30] jastabile opened #802 "Problem with profile CRD installing multiple openfaas in same cluster using Helm"
I tried to install 2 openfaas envs in one k8s cluster's 2 different namespaces for different usage using Helm.
I'm using different helm release names, but the later installation has errors.

I install one in a namespace, and second release in another and i got the error
```invalid ownership metadata openfaas profiles```
The thing is the CRD already exists in another namespace

If I install it with

[2021-06-14 02:35] aslanpour commented on #783
Hi everyone,

Sharing my similar problems!
In my use case, I am considering a K3s cluster of Raspberry Pi 3s as nodes (and a Pi 4 as master) that are running Serverless functions representing IoT applications, say in Smart Agriculture and Smart City. Our nodes are also powered by batteries. Given nodes' resource and energy limitations, our goal is to dynamically manage the resource and energy usag

[2021-06-17 14:22] thinkahead opened #807 "forbidden: cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers on"
Get the following error when deploying a function on OpenShift in the gateway operator log when installed with --set operator.create=true.

I0617 14:46:13.705793       1 controller.go:254] Creating deployment for 'hello'
I0617 14:46:13.705865       1 deployment.go:152] Function hello: no profiles specified
I0617 14:46:13.705875       1 deployment.go:162] Function hello: Applying profiles []
E0617

[2021-06-23 15:29] alexellis opened #808 "Implement Raw mode for updating secrets"
## Expected Behaviour

Once created, a raw secret file (created via faas-cli create), can be updated via the update command / API and retain its binary format.

## Current Behaviour

Create / delete / create is currently required for binary secret data.

## List All Possible Solutions and Workarounds

Change the "update" handler code to match the "create" code, so that raw data can be retained, wi

[2021-06-23 15:48] alexellis commented on #710
/add label: help wanted

[2021-07-01 06:23] #694 closed

[2021-07-07 09:51] saikiran2603 opened #811 "Unable to retrive logs in multi-namespace setup"
## My actions before raising this issue
- [X] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [X] Read/searched [the docs](https://docs.openfaas.com/)
- [X] Searched [past issues](/issues)

faas-cli logs / API system/logs not working when multiple namespaces are enabled for openfaas. When a single namespace (default openfaas-fn) is used , both the cli

[2021-07-07 13:07] saikiran2603 commented on #811
This was for a  dev setup,  i thought it would not matter much. Let me set it back to true and test the issue again. Will get back to you on it

sure i will do that

[2021-07-07 13:29] saikiran2603 commented on #811
i did a fresh install with rbac=true , here are the results

logs before

$ faas logs nodeinfo --gateway http://10.152.183.76:8080
WARNING! You are not using an encrypted connection to the gateway, consider using HTTPS.
2021-07-07T18:44:01+05:30 2021/07/07 13:14:01 Version: 0.8.4	SHA: bbd2e96214264d6b87cc97745ee9f604776dd80f
2021-07-07T18:44:01+05:30 2021/07/07 13:14:01 Forking: node, arguments: [

[2021-07-07 15:30] LucasRoesler commented on #811
the logs command defaults to only returning logs from the last 5 minutes, but this can be controlled using these flags
[code]

so if you are seeing logs, but they disappear after some time, it could just mean that your function is not currently active.

[2021-07-07 15:59] alexellis commented on #811
Please can you format your code blocks with backticks? We were discussing your issue but are finding it hard to read.

[2021-07-07 15:59] alexellis commented on #811
/add label: support

[2021-07-07 16:36] LucasRoesler commented on #811
regarding how RBAC is configured, using both `--set clusterRole=true --set rbac=false` is definitely not compatible.

If you disable RBAC there is an `if`-block  in the Helm chart that will disable the cluster role behavior https://github.com/openfaas/faas-netes/blob/afe50c53fedf12ba9766ba712dbd3105bc853e38/chart/openfaas/templates/controller-rbac.yaml#L15-L16

The purpose of `rbac=false` is for a

[2021-07-07 17:20] saikiran2603 commented on #811
Sorry about that i've formatted the code now

Yes , i have it working if i increase the time duration ! , Previously we were tailing the output and closing our session once the work was done, i mistook it to mean it would fetch since beginning of time.

This explains a lot of issues which we were facing, we initially were not using clusterRole, and stuck to RBAC=false on a shared cluster during de

[2021-07-07 17:22] #811 closed

[2021-07-07 17:25] saikiran2603 commented on #811
btw , do you think it would be a good idea to update the documentation to reflect this ?

I am open to do the PR, if you are okay with it.

[2021-07-07 17:33] alexellis commented on #811
Thanks for your input, we will review the docs in this area.

Do consider becoming a personal or business sponsor via GitHub.

Cheers,

Alex

[2021-07-13 19:08] #808 closed

[2021-07-14 07:06] aslanpour opened #815 "Supporting new features for function placements/scheduling"
Hi everyone,

Obtaining some experience with customized scheduling of functions in OpenFaaS, I see (as a student) there is the potential to improve the Profile functionality and Function's Deployment in the interest of better flexibility.
I would suggest supporting the following features:

**To be added to Profile:**

[Pod Topology Spread Constraints
](https://kubernetes.io/docs/concepts/workloads

[2021-07-14 10:58] alexellis commented on #815
Hi @aslanpour thanks for your interest in OpenFaaS.

Please can I ask you to edit your issue and use the proper template that we have provided?

The context fields are also extremely important if you want to influence the backlog and our roadmap.

Thanks,

Alex

[2021-07-14 16:32] alexellis commented on #674
/add label: good first issue,help wanted

[2021-07-16 07:21] alexellis commented on #792
👍

Duplicate of https://github.com/openfaas/faas-netes/issues/674

[2021-07-16 07:21] #792 closed

[2021-07-16 13:38] alexellis commented on #674
@dirien thanks for taking this.

[2021-07-18 00:47] aslanpour commented on #815
Hi @alexellis
I tried to fill in the fields as much as I could.

[2021-07-22 05:20] itskamakshi opened #818 "Deployment Issue for the gateway, using helm template / faas-netes master repo."
**[Trying to deploy openfaas in kubernetes ] : Steps used**
1) Downloaded faas-netes master branch : https://github.com/openfaas/faas-netes
2) cd faas-netes folder
3) Created template using following command :
helm template openfaas chart/openfaas/ --namespace apex-serverless --set basic_auth=false --set functionNamespace=apex-serverless-fn > openfaas.yaml
4) kubectl apply -f namespaces.yml, openf

[2021-07-23 20:57] kmkcode commented on #818
While deploying  openfaas doesn't work and provides error , when instead of "openfaas" if given other name (e.g. test-serverless) , in namespaces.yml and while creating the template with command :  **helm template openfaas chart/openfaas/ --namespace test-serverless --set basic_auth=false --set functionNamespace=test-serverless-fn > openfaas.yaml**

[2021-07-25 16:00] LucasRoesler commented on #818
This error

Looks like a problem with your k8s cluster. If it was just the namespace that was an issue I would expect something like an RBAC auth error.

This error says that k8s had some kind of internal error.

Your code snipper mentions a "namespaces.yaml", but you don't share the content of that file. Can you share that here?

[2021-07-25 16:44] alexellis commented on #818
@kmkcode could you please edit the issue and fill out all the required fields? Thanks for using openfaas!

[2021-07-26 15:33] kmkcode commented on #818
Hi All, Thanks for the reply. Please find the content for the Namespaces.yml file used  :

apiVersion: v1
kind: Namespace
metadata:
  name: test-serverless
  annotations:
    linkerd.io/inject: enabled
    config.linkerd.io/skip-inbound-ports: "4222"
    config.linkerd.io/skip-outbound-ports: "4222"
  labels:
    role: openfaas-system
    access: openfaas-system
    istio-injection: enabled
---
ap

[2021-07-26 16:08] kmkcode commented on #818
Thanks, If that is the scenario, then it should be the case with namespace "openfaas" too. But with original name there no issue in deploying the gateway. Please find the content of the namespaces.yml above.

[2021-07-26 17:50] kmkcode commented on #818
The Logs for using the default namespace "openfaas" is following, which successfully deployed the gateway after 2 restart. (Please Note I have tried with both Default / Operator mode both have similar issue for not accepting the userdefined namespace name for the core services  ) :

Found 2 pods, using pod/gateway-569c9f7874-cngqk
2021/07/26 17:14:54 Version: 0.13.2	commit: 6caf24ba21f7af171e2ade4

[2021-07-26 18:00] alexellis commented on #818
@kmkcode hope that you saw my message?

You haven't filled out the issue template, and just deleted it.

We need all the fields to be filled in, thanks.

In the meantime, feel free to submit an issue with full reproducible steps - every step, no omissions. Then we can prioritise this amongst all the other users' requests.

If you need consulting and technical support on OpenFaaS, [feel free to boo

[2021-07-26 18:02] alexellis commented on #818
/add label: technical support

[2021-07-27 05:41] aslanpour opened #820 "HTTP Request Failure Handling"
Hi all, I am sending async requests to a function and a call-back is set to receive the responses on a client. I also set some headers for requests, so I can attribute the function's response to the corresponding sender.
Also, while serving requests, there is a chance that my function is down temporarily, say due to rescheduling the Pods. In that case, I am receiving a 50X status code on my client

[2021-07-30 00:54] kmkcode commented on #818
Hi @alexellis  ,

Please check the issue, I tried to provide as much details as I can. Only issue is trying to understand is there any other dependency which I need to change such as role, access for Openfaas to pick the new namespace name for the core services.

[2021-07-30 09:29] alexellis commented on #818
We need the exact commands you used, otherwise this falls outside the realms of what I can offer you for free.

Give me the exact bash that I can type in to see the same error for instance.

Quick question - have you looked at the link I sent you about formatting code blocks? Does it make sense?

The offer is still open for [consulting](https://openfaas.com/support/) or [an hour's session](https:/

[2021-07-30 16:57] kmkcode commented on #818
1. Downloaded faas-netes master branch : https://github.com/openfaas/faas-netes
    2. cd faas-netes folder
    3. Created template using following command :
    "helm template openfaas chart/openfaas/ --namespace test-serverless --set basic_auth=false --set functionNamespace=test-serverless-fn"
    4. kubectl apply -f namespaces.yml,openfaas.yaml

"namespaces.yml content : "

apiVersion: v1
kind:

[2021-08-02 05:32] lakomi opened #822 "the problem of accessing to the service in openfaas in the local area network"
I built an openfaas, using docker, and kubernetes using minikube，Use yaml of faas-netes to build openfaas.
Now I want to access the ui page of the gateway on a host in the same network as the server.

## Expected Behaviour

open the gateway ui

## Current Behaviour

I pass the command “minikube service gateway-external -n openfaas”
and found that the url is “http://192.168.49.2:31112”。I access thi

[2021-08-02 08:05] alexellis commented on #822
Hi @lakomi,

Thanks for your interest in OpenFaaS. What's your experience level with Kubernetes?

If you're new and feeling confused, then may I suggest that you follow a tutorial with KinD or K3d? Perhaps you can use `kubectl port-forward` as we describe [in the docs](https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md)?

Alternatively, we have a free course available in p

[2021-08-02 08:05] #822 closed

[2021-08-02 08:05] alexellis commented on #822
/add labels: support,question

[2021-08-03 04:59] lakomi commented on #822
I change to use kinD.I want to access the gateway ui through the host ip.but now, I only can access through 127.0.0.1。what should I do?

[2021-08-09 13:03] alexellis opened #824 "Sub-chart for openfaas ingress"
## Description

There is an arkade app for openfaas which templates ingress records and a cert-manager issuer in the openfaas namespace.

It would be easier to maintain, if a sub-helm chart was created for the ingress records instead.

See also:

https://github.com/alexellis/arkade/blob/master/cmd/apps/openfaas_ingress_app.go
https://github.com/alexellis/arkade/blob/master/cmd/apps/openfaas_ingres

[2021-08-09 13:10] alexellis commented on #820
Hi @aslanpour

We are going to need exact steps to be able to help you and a sample function. If you don't provide this then unfortunately, we'll have to close your support request.

Regards,

Alex

[2021-08-09 13:10] alexellis commented on #820
/add labels: support,question

[2021-08-10 03:30] lakomi opened #825 "Deployment method issues"
Using our CLI installer arkade - (recommended)
With the Helm chart, Flux or ArgoCD (GitOps workflow)
Or using the statically generated YAML files (not recommended)

1、These three methods are provided on the official website。If I want to deploy openfaa on a k8s cluster, which is a production environment, which deployment method is better?

2、In addition, I found the relevant images on docker hub, c

[2021-08-10 08:03] alexellis commented on #825
Hi @lakomi thanks for your interest.

Please do use the issue template if you find problems with openfaas that you wish to report.

We have documentation that you're welcome to browse, but offer commercial services for production and commercial users. Feel free to book an hour of my time to go over your deployment.

https://openfaas.com/support

https://calendly.com/alexellis

Alex

[2021-08-10 08:03] #825 closed

[2021-08-10 08:04] alexellis commented on #825
/add label: support,question

[2021-08-10 08:04] alexellis commented on #825
/set title: Question on best practices for production

[2021-08-10 09:00] ah-f3 commented on #824
Whats the benafit of a sub-chart over a optional oidc record?

[2021-08-10 11:45] alexellis commented on #824
Hi @ah-f3 it's explained above, reducing duplication between the two, and separating out the ingress into its own chart for maintainability. There are so many ways to configure Ingress, including Istio. Helm templates can get extremely complicated and most of the guides we use for setting up openfaas use port-forwarding because it works everywhere without any additional setup.

Thanks again for yo

[2021-08-12 17:16] pschwartz opened #826 "Operator template in openfaas chart has 1 usage of rbac.authorization.k8s.io/v1beta1"
Helm chart tries to create the cluster role for the operator using rbac.authorization.k8s.io/v1beta1. This is deprecated as of 1.17 and is removed with 1.22, rbac.authorization.k8s.io/v1 was introduced for clusterRole in 1.15.

## Expected Behaviour
Cluster role for operator created using rbac.authorization.k8s.io/v1 instead of rbac.authorization.k8s.io/v1beta1

## Current Behaviour
Cluster role f

[2021-08-18 16:14] #826 closed

[2021-08-19 00:08] aslanpour opened #829 "Function CRD - unusual behaviour with constraints: [ ]"
I have generated a CRD type yaml file for my function to be able to create my function using kubectl. It is working perfectly, but in one case I see the function is constantly rescheduled every 300s. This case is when I set constraints as null like this: `constraints: []`, but this pattern `constraints:`  has no issue.
## Expected Behaviour

The function is expected to be scheduled once and not re

[2021-08-19 14:18] alexellis commented on #829
Hi @aslanpour please can you format any code blocks that you've written using three backticks? It's very difficult to read the example at the moment. Thanks

[2021-08-22 02:44] aslanpour commented on #829
done

[2021-08-25 15:07] alexellis opened #831 "Update codegen and generate-crd script for Go modules"
Update codegen and generate-crd script for Go modules

As per the changes in this PR (ignoring the Ingress references): https://github.com/openfaas/ingress-operator/pull/50

[2021-08-25 15:45] Voziv opened #832 "Basic username hardcoded in alert manager"
The alert manager configuration has `admin` hardcoded. If a user uses a different username in the basic auth secret autoscaling does not work

## Expected Behaviour

Autoscaling to work even if basic auth username is changed to something that is not `admin`

## Current Behaviour

## Are you a GitHub Sponsor (Yes/No?)

Yes and No. My current client, ratehub, is a sponsor/supports openfaas

Check at

[2021-08-25 16:38] Voziv commented on #832
My current fix has been to adjust the username to be `admin`. However this will potentially trip up other people using openfaas and they may not even realize that autoscaling is not working

[2021-08-26 18:03] jastabile opened #859 "Differenciate from liveness probe and readiness probe"
## My actions before raising this issue
- [X] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [X] Read/searched [the docs](https://docs.openfaas.com/)
- [X] Searched [past issues](/issues)

When I use the annotation ```com.openfaas.health.http.path``` to define a custom path for health checks, it changes both liveness and readiness probe to that path.

[2021-08-29 14:59] omriarnon-s1 opened #835 "Adding labels to Deployment and Service Objects of functions in K8s"
Hi
We're using openfaas on K8s.
We have a strict labeling policy for Deployment and Service objects (also others), which is enforced on the Cluster level.
Currently, I've easily labeled all of the function pods using the function.yml, utilizing the ability to add labels to functions.
What I haven't found a way to do - Is to add labels to the actual deployment and service object of each function.

[2021-09-01 13:18] rtisma opened #836 "NATS Streaming server deprecation"
As shown in https://github.com/nats-io/nats-streaming-server, the nats-stream-server is being deprecated, and will receive updates until 2023.

Is there a plan to accommodate this change? Possibly integrate JetStream?

[2021-09-01 13:19] #836 closed

[2021-09-01 13:19] rtisma commented on #836
moved to faas repo

[2021-09-02 01:53] moonBirdKiss opened #837 "Question: How to set the resource limits for every function instance?"
Hello. For the Serverless functions, there is an import feature that every function instance can have a specific resource limit. But I find the function instances are executed in the same Pod in OpenFaas(based on Kubernetes). And I find we can only use `request` and `limit` provided by Kubernetes. However, all the instances are sharing these resources.
Is there any way that I can allocate a CPU fo

[2021-09-03 02:56] moonBirdKiss commented on #837
Please help, thanks again.

[2021-09-03 08:11] LucasRoesler commented on #837
Hi @moonBirdKiss i am a little confused by the question. The documentation you linked is exactly what you need. For each function, you need to specify the resource requests and limits, to ensure 1 cpu per instance you need to use

[code]

When running on kubernetes, each instance will be its own Pod, so each instance will get it's own CPU, assuming the cluster is big enough.

If you are seeing dif

[2021-09-04 13:03] moonBirdKiss commented on #837
thank you. And I find a way to solve my problem.

[2021-09-04 13:03] #837 closed

[2021-09-08 17:08] alexellis commented on #835
This seems like a specialised enterprise/commercial problem, rather than an open source need.

If you'd like to know more about enterprise support, please get in touch: https://www.openfaas.com/support

[2021-09-08 17:08] #835 closed

[2021-09-15 16:13] alexellis commented on #831
See also: https://github.com/inlets/inlets-operator/pull/143

[2021-09-15 16:18] #831 closed

[2021-09-17 02:53] jungchul-dev opened #839 "Can I change healthcheck period?"
When I deploy function to kubernetes, health check occur per 1 or 2 second.

## Expected Behaviour
I can change the healthcheck period just like I can change the healthcheck url with the annotation option
[code]

## Current Behaviour
There is no option about healthcheck period. So too many log is print in kubernetes pod
[code]

## Are you a GitHub Sponsor (Yes/No?)
No

Check at: https://github.com

[2021-09-17 07:41] alexellis commented on #839
Hi @jungchul-dev welcome to the community and thanks for your interest in OpenFaaS.

We have an issue template and need every user to play by the same rules. Unfortunately you seem to have deleted it.

Could you edit your issue and help us to help you? https://raw.githubusercontent.com/openfaas/faas-netes/master/.github/ISSUE_TEMPLATE.md

Alex

[2021-09-17 08:02] jungchul-dev commented on #839
Thanks Alex. I modified my issue

[2021-09-17 10:04] alexellis commented on #839
Thanks for providing the additional information.

My question for you would be whether you've read the helm chart documentation on readiness checks and probes?

https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#tuning-function-cold-starts

[2021-09-19 02:37] jungchul-dev commented on #839
I already know about value.yaml for helm.
But I was wondering if there is an option per function like `com.openfaas.health.http.path` .
I will edit the value.yaml file of helm as you mentioned.
Thanks @alexellis

[2021-09-19 02:37] #839 closed

[2021-09-27 14:27] dhan1978 opened #840 "getting error while deploying gateway.yaml on openshift for testing openfaas."
## Current Behaviour

labuser@jumpbox:~/faas-netes/yaml$ oc logs gateway-659c488746-xm42w
2021/09/27 14:17:15 HTTP Read Timeout: 1m40s
2021/09/27 14:17:15 HTTP Write Timeout: 1m40s
2021/09/27 14:17:15 Binding to external function provider: http://faas-netesd.openfaas.svc.cluster.local:8080/
2021/09/27 14:17:15 Async enabled: Using NATS Streaming.
2021/09/27 14:17:15 Opening connection to nats://na

[2021-10-06 13:26] GerryWilko opened #841 "OpenFaas Helm Chart not correctly detecting `PathType` needed"
## Expected Behaviour

I am following the documentation for the [Kubernetes setup](https://docs.openfaas.com/reference/ssl/kubernetes-with-cert-manager/#add-tls-to-openfaas). I wish to deploy OpenFaaS gateway behind an `ingress-nginx` IngressController.

## Current Behaviour

At present I am unable to proceed past "Add TLS to OpenFaaS". It seems that the generated Kubernetes manifests are not addi

[2021-10-06 15:57] #674 closed

[2021-10-12 09:26] vojtechtoman opened #848 "[Question] Is it possible to expose k8s pod information to deployed functions?"
## Expected Behaviour
I work at [BRYTER](http://bryter.io) where we use OpenFaaS as part of our integrations platform (3rd-party integrations are operated as OpenFaaS functions). We are using [Datadog APM](https://www.datadoghq.com/product/apm/) for distributed tracing and application monitoring in our product and we would like to enable the same for our (OpenFaaS-based) integrations. The Datadog

[2021-10-12 12:59] vojtechtoman commented on #848
@alexellis my apologies, I have updated the issue to use the template.

[2021-10-12 14:27] vojtechtoman commented on #848
In our specific case, we want to enable [Datadog tracing](https://docs.datadoghq.com/tracing/setup_overview/setup/java) for the deployed functions. The challenge is that for that to work, we need to set the `DD_AGENT_HOST` environment variable on the deployment so that it points to the node IP provided by K8s. As far as I can tell, there is no way to pass an equivalent of:

[code]

when deploying

[2021-10-13 17:00] kevin-lindsay-1 opened #852 "[Feature Request] Expose values for prometheus config"
## Expected Behaviour

Per https://github.com/openfaas/nats-queue-worker/issues/105#issuecomment-942497834, creating an issue for the need to configure the default autoscaling alert in prometheus via helm rather than an imperative change after the fact.

This should be pretty trivial to expose, but I'm creating this issue to open the floor if there's any additional things that we might want to thi

[2021-10-13 23:37] kevin-lindsay-1 commented on #852
Thinking about potentially adding something like `additionalAlerts`, which is just a sequence of alerts added to the alert rules.

Not sure how useful it would be to do something like override existing alert(s).

[2021-10-14 23:30] kevin-lindsay-1 opened #853 "Functions being created w/ default TerminationGracePeriodSeconds"
When using the function CRD, pods that are created have the default `terminationGracePeriodSeconds` of `30`. This means that if I have a function that needs to run for longer than 30 seconds, the pod may be forcefully killed before being allowed to complete its work.

I do not know if this behavior is exclusive to functions created with the `Function` CRD.

## Expected Behaviour

When a function p

[2021-10-18 06:02] dcharbonnier opened #855 "[Feature Request] support requests and limits for local ephemeral storage"
K8s support limits on ephemeral storage, it would be usefull to support it when defining a function
https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#setting-requests-and-limits-for-local-ephemeral-storage

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

[2021-10-18 10:00] #855 closed, assigned to nobody

[2021-10-18 17:41] kevin-lindsay-1 opened #856 "[Feature request] Topology Spread Constraints & Per-Deployment Affinity"
It's fairly normal for k8s deployments that live in a multi-zone cluster to have topology constraints or affinity rules, however it's fairly normal to have an affinity rule per deployment, as the label selectors for pods are typically different per-deployment.

## Expected Behaviour

Be able to set anti-affinity and topology spread constraints per deployment.

## Current Behaviour

Cannot set affi

[2021-10-19 15:03] kevin-lindsay-1 commented on #852
All good, if it's a fairly trivial implementation that doesn't really change any existing arch or patterns, I'm fairly likely to make a PR, if not for the sake of fallback to unblock, then to get other eyes to focus on alternative solutions, like we just saw.

Yeah, that would definitely be preferred in my opinion; all of these configmaps that get bundled up would be easier to work with if I had s

[2021-10-19 16:38] kevin-lindsay-1 commented on #852
@LucasRoesler do you know if it scans a namespace to find these and applies all of them, or if it only has 1 configmap?

[2021-10-19 17:33] kevin-lindsay-1 commented on #856
Maybe a cluster would solve for both NATS high availability and this shared state? Assuming you could mount a file via a PVC and let RAFT take care of the rest, might allow for multiple NATS pods at once, and be persistent, killing two birds with one stone.

A SQL database running in k8s would probably have the same issue, meaning I'd either have to set up an external k8s database, or it would nee

[2021-10-19 18:12] kevin-lindsay-1 commented on #856
That said, using AWS in a (potentially) multi-regional, multi-zonal, multi-nodal spread, EFS or FSx are probably the best choices, as both appear to support multi-zone/region use cases.

People installing a NATS cluster using a PVC with multi-zonal persistence will likely need something similar, which is potentially an extra wrench to throw in, but we would probably be able to handle the persisten

[2021-10-19 21:07] kevin-lindsay-1 opened #857 "NATS persistence"
In the `faas-netes/openfaas` chart, NATS is set up to use an in-memory store, seen [here](https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/nats-dep.yaml#L44). This does not persist if the NATS pod is terminated, effectively clearing queues (that have yet to be picked up by a queue worker, to my understanding). In the event of a node drain, this would be a problem, as it

[2021-10-19 21:25] kevin-lindsay-1 opened #858 "NATS High Availability"
Currently, the NATS deployment shipped with OpenFaaS only includes 1 replica. For the sake of high availability, this would be nice to increase.

## Expected Behaviour

Having at least 1 additional pod for NATS, which would continue working in the event that another NATS pod is terminating.

## Current Behaviour

There is only 1 replica for NATS, which to my understanding would prevent queueing of

[2021-10-20 22:30] kevin-lindsay-1 commented on #858
Discussed this with @alexellis; the complexity of this and the possible need for clustering is considered out-of-scope for OF at this time.

My solution was to install the `nats/stan` chart in clustered mode with a PVC, added as a dependency on my OF release, and altered my OF `values` to use an external NATS cluster.

[2021-10-20 22:30] #858 closed

[2021-10-20 22:30] kevin-lindsay-1 commented on #857
Discussed this with @alexellis; the complexity of this and the possible need for clustering is considered out-of-scope for OF at this time.

My solution was to install the `nats/stan` chart in clustered mode with a PVC, added as a dependency on my OF release, and altered my OF `values` to use an external NATS cluster.

[2021-10-20 22:30] #857 closed, assigned to nobody

[2021-10-25 15:11] kevin-lindsay-1 opened #861 "Cron-Connector chart has a typo in the asynchronous_invocation env var"
## Expected Behaviour

Should be `asynchronous_invocation`, which aligns with other charts as well as the `cron-connector` itself.

## Current Behaviour

Uses `async_invocation`.

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [ ] No
- [x] No but I sponsor Alex

## List All Possible Solutions and Workarounds

## Which Solution Do You Recommend?

#

[2021-10-26 08:02] #861 closed, assigned to nobody

[2021-10-29 11:27] FTWH opened #866 "Suspected CRD issue with Kubernetes 1.22"
## Expected Behaviour

Successfully deploy the ./yaml/*

## Current Behaviour

wzj@X299:~/OpenSrc/faas-netes$ kubectl apply -f ./yaml/
configmap/alertmanager-config created
deployment.apps/alertmanager created
service/alertmanager created
deployment.apps/basic-auth-plugin created
service/basic-auth-plugin created
serviceaccount/openfaas-controller created
role.rbac.authorization.k8s.io/openfaas-co

[2021-10-29 12:48] #866 closed, assigned to nobody

[2021-10-29 18:44] taylanisikdemir opened #867 "Getting secret "openfaas-license" not found error for non-pro deployment"
I use below command to continuously update our openfaas deployment
[code]

## Expected Behaviour
Successfully upgrade openfaas helm deployment.

## Current Behaviour
It started timing out today so I checked the pods in openfaas namespace. Noticed queue-worker pod was stuck at ContainerCreating.

```kubectl describe pod queue-worker-5b46944dc7-z6r72 -n openfaas```
This shows following warning:
"War

[2021-10-29 19:44] taylanisikdemir commented on #867
I digged in a little bit and found that [this change](https://github.com/openfaas/faas-netes/commit/20c7c5c0e3543affff4a942e8750685e9bc7d5e0#diff-29c1edd70e1fa2f7142f01cb0f55f663075b57dd50feb734b30347a4b9d55287) caused the issue. It should default to false to prevent breaking existing setups.

I worked around this by overriding it back to false. Helm upgrades work fine now after following steps be

[2021-10-29 20:53] alexellis commented on #867
The chart now has:

[code]

So that's why you're seeing this error. I'll change it back to false and publish the chart again, in the meantime you can just set this to false in your own values.yaml file.

If you're using OpenFaaS at work, please consider [becoming an individual sponsor](https://github.com/sponsors/openfaas) via GitHub since the project you're using isn't funded by the users who ben

[2021-10-29 20:53] #867 closed

[2021-10-30 00:21] kevin-lindsay-1 opened #868 "Gateway Pod crashes when Profiles CRD is deleted"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ ] Read/searched [the docs](https://docs.openfaas.com/)
- [ ] Searched [past issues](/issues)

@alexellis Posting here and plan to edit and follow-up, so that this issue doesn't get lost.

## Expected Behaviour

I don't think that this should crash the gatewa

[2021-10-30 09:35] alexellis commented on #868
The gateway itself won't crash due to profiles since it doesn't have anything to do with K8s, this is likely the operator container in the same pod. I'm moving this over to the faas-netes repo so someone can look into it.

[2021-10-30 09:35] alexellis commented on #868
@LucasRoesler please could you take a look into this?

[2021-10-30 09:36] alexellis commented on #868
If anyone else should get here first, the chart has to be installed with operator.create to match Kevin's setup. Here's how to define a profile -> https://docs.openfaas.com/reference/profiles/

The K8s version Kevin's using is 1.21, but this may also be an issue with changes in 1.22?

Install with helm or arkade.

[2021-10-30 09:37] alexellis commented on #867
@taylanisikdemir I cannot reproduce this after the change I made. Can you confirm?

[2021-10-30 10:52] LucasRoesler commented on #868
@alexellis taking a look now

[2021-10-30 13:15] cpanato commented on #868
i see this warning and looks like the pod restarted, but did not crashed

[code]

using k8s 1.22.1 running on a Kind cluster

[2021-10-30 13:39] LucasRoesler commented on #868
@alexellis i can not reproduce the issue as described:
![image](https://user-images.githubusercontent.com/891889/139534523-13db7992-dd99-4744-a8ab-a6e50d1598a2.png)

I _can_ reproduce the original bug that causes the gateway pod to crash when the Profile CRD is missing.

---

Regarding the bug I can reproduce.  I can ensure that the Gateway starts by checking for the Profile CRD during startup. Ho

[2021-10-30 13:54] LucasRoesler commented on #868
For reference, i reproduce the crash using this

[code]

where cluster.yaml is this file

[code]

[2021-10-30 14:33] alexellis commented on #868
Thank you for this detailed analysis Lucas.

Can you confirm what the steps are to reproduce this problem?

[2021-10-30 15:10] LucasRoesler commented on #868
@kevin-lindsay-1 i am a little lost with this issue. The original issue mentioned that the Profile CRD is missing and this caused the crash. Here you mention that the CRD exists, but there are not enough detail to actually verify that and i can't reproduce it in my own cluster.

Can you provide more details about how everything was installed and verification steps?  Also what kind of end result ar

[2021-10-30 15:55] kevin-lindsay-1 commented on #868
@LucasRoesler yeah I'm kinda surprised on the triage speed of this issue, considering I basically threw it in here last night with more or less a post-it note saying "please don't close me; reminder to self to actually write this ticket when I have time".

[2021-10-31 23:45] taylanisikdemir commented on #867
As I mentioned in my previous comment it works fine when `queueWorkerPro.enabled: false` is set. Thanks for reverting the chart defaults to preserve existing behavior.

[2021-11-01 09:43] alexellis commented on #702
@seb-835 that's not actually true.

You can simply amend the service account using the link you supplied. There is no need to add a pull secret to every function or deployment of openfaas core services.

If someone can tell us why the documentation doesn't work for them, they can raise their own issue and we'll look into it.

Alex

[2021-11-01 09:43] #702 closed

[2021-11-01 09:43] alexellis commented on #702
/lock

[2021-11-01 09:44] #691 closed

[2021-11-01 09:45] alexellis commented on #691
In retrospect, we haven't had demand for this feature. Closing

[2021-11-01 09:46] #604 closed

[2021-11-01 09:46] alexellis commented on #604
/lock: no longer required by user

[2021-11-01 09:50] alexellis commented on #868
It'd probably be better to sit on things that don't have a full repro, since several of us have now spent limited time investigating this issue.

One thing that @kevin-lindsay-1 mentioned was that they sometimes delete OpenFaaS and install it again in their staging environment, perhaps there's an ordering problem?

[2021-11-01 09:51] alexellis commented on #868
Lucas, I think that if the CRD has been removed, and the gateway pod crashes, that would be working as expected.

It's a mandatory part of the project, even if it's marked as disabled or not used by the installation.

https://github.com/openfaas/faas-netes/issues/868#issuecomment-955237988

[2021-11-01 09:58] alexellis commented on #856
Kevin mentioned that this became more important since his team moved to using spot instances. I know that other openfaas users make use of spot instances, or GKE's preemptive VMs.

The spread or affinity rule would schedule the three replicas of the gateway onto three separate nodes before adding duplicate replicas to the same hosts again, so that if a VM is reclaimed by the cloud provider, there

[2021-11-01 10:00] alexellis commented on #848
Hi @vojtechtoman one of the things you said was "we need", but we haven't been introduced.

Who is this for? See also: [First impressions - introducing yourself and your use-case](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#first-impressions---introducing-yourself-and-your-use-case)

You also haven't explained what happens if you don't have this feature? Have you considered the ap

[2021-11-01 10:02] #840 closed

[2021-11-01 10:03] alexellis commented on #840
/lock: no response from user, suggested that corporate user book a call for 1:1 support for their environment and custom image

[2021-11-01 10:05] alexellis commented on #840
This may provide a more useful starting-point for you: https://docs.openfaas.com/deployment/openshift/

[2021-11-02 06:24] aslanpour commented on #829
Just to let you know, I am using K3s.

[2021-11-02 22:36] kevin-lindsay-1 commented on #856
I do not currently have a need for overrides if the label selectors were automatically added per deployment.

I would also consider a default affinity rule for services to `preferDuringSchedulingIgnoredDuringExecution` nodes with other OF components on them, a la:
[code]
This rule basically says "I prefer to be on a node with openfaas components".

[2021-11-02 22:42] kevin-lindsay-1 commented on #868
I plan on doing a full repro and updating this issue to whatever I identify to be the suspected problem; I do not intend to let this stale, just juggling over here.

[2021-11-03 09:09] alexellis commented on #856
I can see labels, so could you help me understand which labels are not being added? Perhaps you could show an example of what you got and what you expected?

`kubectl get deploy -n openfaas gateway -o yaml`

[code]

I can see `app: gateway` at each level. Which additional labels are needed at the pod level?

[2021-11-03 09:31] LucasRoesler commented on #853
I think that having the termination grace period match the write timeout makes a lot of sense, maybe with a small bump of 50 or 100ms so that there is no possibility of those competing with each other. But it seems reasonable that the longest a function could possibly do meaningful work is the write timeout.

[2021-11-03 09:32] alexellis commented on #853
To clarify:

1) This change means updating faas-netes to set a [Termination Grace Period](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/) on  pods
2) The watchdog has been updated to finish its exit sequence quicker, if there are no remaining active connections

I've completed 2) which does not fix this issue, but makes it more tolerable if/when it's released.

[2021-11-03 09:34] alexellis commented on #156
/unlock

[2021-11-03 09:35] alexellis commented on #156
I'm not sure that openfaas/faas#573 actually fixed this issue for functions that run for longer than 30 seconds.

@kevin-lindsay-1 raised #853 to flag it for functions that can run for longer than 30 seconds and it's being looked into now.

cc @Templum

[2021-11-03 12:31] vojtechtoman commented on #848
@LucasRoesler and @alexellis, many thanks for your responses and my apologies for a delayed reply. (Also thanks for making me aware of the contributing guidelines - I have updated the initial question, I hope it provides more context now.)

We have discussed the daemonset approach internally, but it probably means that an OpenFaaS function will be unlikely to hit the Datadog on the same host that

[2021-11-03 13:27] alexellis commented on #848
Fair warning: the admission controller may battle with our operator to set values on the pods managed by OpenFaaS. Even if it looks like it works, it may fall into edge cases and break in unexpected ways. As C developers used to say: "avoid due to undefined behaviour".

That said, I will raise this on the contributors' weekly call this week.

[2021-11-03 15:41] kevin-lindsay-1 commented on #853
I have tested this behavior using the `golang-http` template, which uses `of-watchdog:0.9.0`, and I have verified that the container indeed exits early when its `healthcheck_interval` is set.

I do notice, however, that when not set, it uses the value of `write_timeout`, which for the sake of backwards compatibility may be appropriate, but it was unintuitive at first, because what was happening is

[2021-11-03 15:49] alexellis commented on #853
Thanks for sharing your thoughts Kevin.

Let me think about how this could be integrated into the implementation.

Did you also see the work drain and complete as expected?

[2021-11-03 16:06] kevin-lindsay-1 commented on #853
I just tested that a pod being given 10 sleep requests all at the same time via a simple "batch" function, each with a duration of `(10+ (10 * i))s`, where `i` is the index of a function (so effectively a start of 10, step of 10, 10 iterations).

I invoked all of them in parallel with a `healthcheck_interval` of `1s`, each invocation completed after 10 seconds of the previous execution, and after

[2021-11-03 16:15] kevin-lindsay-1 commented on #853
To follow up on my previous comment regarding the default healthcheck interval, I would argue that for most functions, `1s` or so would probably be fine, because assuming that the pod only performs its internal healthcheck during the shutdown process, the resources that the pod would free up by terminating early would likely outweigh the resources used by performing said healthcheck.

[2021-11-04 11:31] alexellis commented on #859
@jastabile we haven't heard from you in two weeks, would you like me to close this issue?

Ideally, we'd like to hear from you what you tried that didn't work as a result of this, and a repo that we can deploy to see the problem for ourselves.

Cheers,

Alex

[2021-11-04 11:33] alexellis commented on #829
@aslanpour could you check the event log?

Are you able to reproduce the problem using a function from the store?

[code]

Alex

[2021-11-04 11:53] alexellis commented on #820
@aslanpour please see my comment.

[2021-11-04 12:08] alexellis commented on #829
I was also unable to reproduce this using Linode and x3 K3s nodes.

![image](https://user-images.githubusercontent.com/6358735/140310714-aaae1130-0f1b-4b97-aad4-8cf8d554beba.png)

Probably what's happening is that you have a service or webhook in the background that is mutating your pods?

Without a repro, this falls into the realms of R&D and I think we should draw a line under this now. @LucasRo

[2021-11-04 12:08] #829 closed

[2021-11-04 12:08] alexellis commented on #829
/add label: support,question

[2021-11-04 12:11] alexellis commented on #818
It seems like we cannot reproduce this and are falling into the realms of R&D which should really come under an enterprise support agreement with @kmkcode's employer.

@LucasRoesler thanks for confirming that this cannot be reproduced in a normal environment.

@kmkcode feel free to reach out to us via email contact@openfaas.com about some consulting or support to dedicate time to helping you debug

[2021-11-04 12:11] alexellis commented on #818
/add label: support,question

[2021-11-04 12:13] alexellis commented on #807
@thinkahead nobody appears to have this issue with the operator. My sense is that you have not shared some important context or information that we require.

If you're deploying a PPC64le function, then your build cannot be official which means you are likely outside the realms of what we can support via the GitHub issue tracker, and free goodwill.

If you can reproduce this issue with the officia

[2021-11-04 12:13] #807 closed

[2021-11-04 12:14] alexellis commented on #800
The gateway doesn't support a prefix, so you'd be better off using a sub-domain.

Alex

[2021-11-04 12:14] #800 closed

[2021-11-04 12:14] alexellis commented on #800
/add label: support, question,istio

[2021-11-04 12:16] alexellis commented on #783
Coming back to this later on, have you considered simply creating one profile per function?

Why did you conclude that this would not work? Do you have any data?

For Pod Topology Spread Constraints, we've had another request for this, but only for the core components deployed via helm #856

[2021-11-04 12:16] #706 closed

[2021-11-04 12:16] alexellis commented on #706
Closing as the PR has been merged.

[2021-11-04 12:17] alexellis commented on #605
I believe that we have these now.

[2021-11-04 12:17] #605 closed

[2021-11-04 12:17] alexellis commented on #601
If anyone would like this in the future, please raise your own issue.

[2021-11-04 12:17] #601 closed

[2021-11-04 12:17] alexellis commented on #601
/lock

[2021-11-04 12:18] alexellis commented on #663
@LucasRoesler was this covered by profiles?

[2021-11-04 14:21] kevin-lindsay-1 commented on #856
@alexellis I'm referring to what @LucasRoesler was thinking on https://github.com/openfaas/faas-netes/issues/856#issuecomment-948798734. Effectively, the chart could have a global and not have the need for an override if each component's affinity/tsc rules templated in their rules.

For example:
- with pod topology spread constraints, I could see the pod's `component` label being used to identify

[2021-11-04 16:10] alexellis commented on #856
Given the amount of conversation it's taking to understand the problem, I think your original suggestion may fit better of having one of these per every deployment in the chart. It will default to off, but can be enabled if required.

values.yaml will have your overrides for images and configuration

[code]

values-topology.yaml, would look like this:

[code]

To make this happen, do we just need

[2021-11-04 17:10] #853 closed

[2021-11-04 17:42] kevin-lindsay-1 commented on #856
Should be as simple as passing it straight through.

And yeah, keeping them separate is definitely simpler. There's an existing global rule for affinity, not sure if that would need to stick around.

[2021-11-04 19:51] jastabile commented on #859
@alexellis hello, thanks for your response. I think it would be easy for understand.

I will try to explain it with this example, let's say we hace this yaml file for the function definition:
[code]

This will create a deployment that will have something like this in the readiness and liveness probe block:
[code]

But what about if I want to have two different routes for each liveness and readines

[2021-11-04 20:05] alexellis commented on #859
I am sorry that I miscommunicated. I know the difference between a readiness check and liveness probe.

I am asking for a concrete function example we can run that proves that openfaas cannot work for you without it. A real scenario that you're actually running and it fails because of the way we set liveness = readiness.

Thanks,

Alex

[2021-11-05 19:27] jastabile commented on #859
Sorry, It was not my idea to say that's a bug or failure, is a question or feature request. To see if it's possible to have differentiation in both checks

[2021-11-05 19:30] alexellis commented on #859
So this isn't something that you have a need for today or that's blocking a usecase that you have?

[2021-11-05 19:34] jastabile commented on #859
No, it's not. I thought maybe there is an option I didn't see

[2021-11-05 20:35] alexellis commented on #859
They are set as the same thing right now, but we could have had this question asked on Slack and saved a lot of time. The issue tracker is primarily for actual problems affecting users.

I'll close this one now. Thanks for confirming that this was just curiousity.

[2021-11-05 20:35] #859 closed

[2021-11-05 20:35] alexellis commented on #859
/lock

[2021-11-05 22:17] kevin-lindsay-1 commented on #852
It's certainly not ideal, but I discovered a way to override these values declaratively using `helmfile`'s `kustomize` support seen in their [advanced usage](https://github.com/roboll/helmfile/blob/master/docs/advanced-features.md#adhoc-kustomization-of-helm-charts) guide.

Specifically, I'm using a strategic merge patch, because with helmfile I can just put that in a `patches/` directory next to

[2021-11-05 22:42] kevin-lindsay-1 commented on #852
Scratch that, for some reason the strategic merge patch is deleting the CRD, so functions are deleted.

That's enough for a friday night; I'll have to look more into this if this feature isn't added.

[2021-11-06 13:43] LucasRoesler commented on #868
@alexellis and @kevin-lindsay-1 i created a proposed change to faas-netes that will have it check for the profiles CRD during deploy/update and block the function with an explicit error if the CRD is missing and it requires the profiles feature. It will also crash as startup with an explicit message about the missing CRD.  This should cover both cases, can't find at startup and when the CRD is del

[2021-11-06 14:29] LucasRoesler commented on #852
Where does that leave us? do we want to just add a new value to the chart to allow replacing this section? https://github.com/openfaas/faas-netes/blob/5dfd3724f484fbce5e6a07286de0eca75b473b2c/chart/openfaas/templates/prometheus-cfg.yaml#L73-L86
This would be the simplest approach.

Or, do we want to support reading the alert config from additional configmaps?  It would require having a map from Co

[2021-11-06 17:38] kevin-lindsay-1 commented on #868
@LucasRoesler sounds fine with me, maybe our deployment had `profiles: false` and we didn't realize because of the error in the gateway.

This sounds like a good feature, as it would potentially let a developer know that devops accidentally forgot to turn on a feature.

I doubt I originally set `profile: true` in the helm chart, because I didn't really notice the feature, and the `values.yaml` doe

[2021-11-06 17:56] kevin-lindsay-1 commented on #852
I guess that depends on how confident OF is that the existing alert rules are good enough for all use cases to not need to override.

In my case, I need to create an alert rule to scale based off `429`s for async functions, but you could make the argument that that's a perfectly reasonable default. I think this use case is more-or-less a desired standard behavior, but the a reason why it would be