[2021-11-07 11:54] LucasRoesler commented on #852
@kevin-lindsay-1 that is a lot of detail.

I am relatively convinced that we should make this configurable and it sounds like you are fine with doing it via a value. < @alexellis i think this is what we should do.

---

Regarding changing the default alert,

I think changing the default based on some internal convention is fine, however, regarding 429, i think scaling could be dangerous because th

[2021-11-07 16:54] kevin-lindsay-1 commented on #852
@LucasRoesler are you effectively saying in the latter portion that you don't think there are reasonable defaults for alert rules?

For example, I would scale my functions off concurrency limits (sync or async), until we either stop getting them or hit the max scale. However, I wouldn't scale off of successful invocations, which is currently the configured value.

By default, watchdog pods don't h

[2021-11-08 07:09] LucasRoesler commented on #852
@kevin-lindsay-1 my point is that these error codes and when to scale is context dependent. A 429 isn't a signle to "send more messages or make more instances", yes you can imagine scenarios where this is true. But what happens when you scale up a function that is being rate limited by a dependent API, you simply make the problem worse. A 429 is supposed to be a signal to slow down.

At this point

[2021-11-08 10:26] alexellis commented on #852
That is right.

It's the mechanism that the watchdog uses to limit concurrency.

So in the example where you can only run one request at a time due to memory constraints like video conversion or web scraping. So let's say you have a backlog of 1000 requests and only one function pod. How do you scale that? One option is to use the 429s which are being sent back by the watchdog and then to add more

[2021-11-08 10:33] alexellis commented on #852
A separate, but related question is:

How do you scale long-running jobs, even if they have no hard concurrency limits?

Scaling based upon requests processed was the original rule I put together, and it seems to have worked OK for synchronous work, perhaps it could be better.

For long running invocations, the metric doesn't change quickly enough to trigger scaling rules. So could the rules be ch

[2021-11-08 14:57] kevin-lindsay-1 commented on #852
@LucasRoesler

I mean I agree that this is definitely evolving into a larger discussion. Perhaps we should move it somewhere, but where is the best place for this I couldn't say.

---

@alexellis

What happens when a function has an average amount of invocations being worked on that is always greater than your proposed 10 requests? For example, what if you have a super lightweight function that is

[2021-11-08 15:08] alexellis commented on #852
That is what I was proposing, that for this to work it might need to be set at a per function level.

The Kubernetes / GKE docs mention a few approaches which I think we should consider:

* requests per second processed
* queue depth of a pub/sub system
* latency per request

These are set to "value" (cumulative total) or to "average" which is (cumulative value / replicas of pod)

* `image-uploade

[2021-11-19 20:37] ebentovim opened #878 "Support request to deploy without CRDs"
Hello OpenFaaS team!

## Expected Behaviour
I have upgraded faas-netes image from version 0.12.4  to 0.14.1 due to security vulnerabilities in the former image.
The deployment with the new image fails to complete because of the following error

[code]

I had the error with the previous image as well, but it didnt fail the deployment and the gateway was working perfectly fine. The profiles it’s try

[2021-11-19 20:40] LucasRoesler commented on #878
This is also being discussed here, perhaps we can merge these together

https://github.com/openfaas/faas-netes/issues/868

[2021-11-19 20:41] alexellis commented on #878
Hi @ebentovim if you need support then you will need to fill out the whole issue template. Thanks for your interest openfaas, please go ahead and edit your issue.

https://raw.githubusercontent.com/openfaas/faas-netes/master/.github/ISSUE_TEMPLATE.md

[2021-11-19 20:42] alexellis commented on #878
@LucasRoesler can you explain how the two are related? I am missing the connection.

The Profiles CRD is compulsory at this stage, I'm not looking to support and maintain extra work unnecessarily

[2021-11-19 20:43] alexellis commented on #878
/set title: Support request to deploy without CRDs

[2021-11-19 20:51] alexellis commented on #868
I took a quick look at #872 and added comments.

[2021-11-19 20:52] LucasRoesler commented on #878
@alexellis both tickets are about how the system behaves when the CRD for profiles is missing. I assume the solution to both will be the same

[2021-11-19 20:56] alexellis commented on #878
Having chatted with @LucasRoesler, we had an idea if you are in a rush. Given that you said you're just doing a PoC right now, you could always fork faas-netes, checkout the earlier version, build it yourself after patching whatever concerns you have.

The releases are public, so when you say "security vulnerability", can you be clearer about what you mean? I read through them but didn't see what

[2021-11-19 21:02] ebentovim commented on #878
Sorry I meant critical security vulnerabilities found in the packages of the faas-netes image. I.e:
[code]
This is an external security issue used in your old built image. The new version of netes does not have those issues

[2021-11-19 22:15] ebentovim commented on #878
@alexellis @LucasRoesler Thank you for the suggestion! As you suggested I forked this repository and built the image myself.
In my version, I simply commented those lines out
https://github.com/openfaas/faas-netes/blob/3ab2d57899704498183c8fcb30a42b35d41de8a1/main.go#L194-L196

I still get the error in the logs but at least the deployment is not blocked.

I wish I could contribute somehow to a sol

[2021-11-20 08:40] alexellis commented on #878
It seems like you've identified value in openfaas for your commercial use within your business, however, it also seems like you could use support and assistance from us within a tight timeframe.

We have clearly documented SLAs for open source users here: in other words, you can use the code, but there is no obligation for us to do anything for any user that's not a customer. If you are a Go, Kube

[2021-11-26 05:29] ctwkongmu opened #880 "[Question] Where does OpenFaaS store the function metadata?"
Not sure if this is the right place to ask this question.
I'm quite new to OpenFaaS and I could find any document about how OpenFaaS stores function metadata, like function name, image location and so on.
I'm also a little concerned about that if/how that information is persisted in OpenFaaS on kubernetes, and if I restart the cluster how should I make sure that those functions that have been depl

[2021-11-26 07:30] LucasRoesler commented on #880
faas-netes uses a combination of annotations and labels on Services and Deployments, as well as CRDs to store th metadata. This m ans all of the metadata, such as name, is simply stored in the cluster itself and shares the same persistence as your k8s cluster.

[2021-11-29 06:19] ctwkongmu commented on #880
@LucasRoesler
Thanks for quick response. Is there any reference or guidelines about how to make function persistent on k8s? Like which path/file should I mount to make sure that the function will still be loaded after I tear down the openfaas k8s cluster and restart it.
I did try `helm delete` and `helm install` combo and found the function I previously loaded were gone after the restart.
Is there

[2021-11-29 12:57] LucasRoesler commented on #880
What exactly are you doing when you say "tear down the openfaas k8s cluster" are you deleting namespaces? Helm delete should only remove the openfaas components but leave the functions alone.

Unless you delete the function namespace, then it will delete all objects in those namespaces. This is just a feature of k8s.

Regarding function persistence, the functions are just labeled objects in the k8

[2021-12-02 12:25] BryanDollery opened #882 "Helm is installing way too much"
I've just run this:

[code]

And the result is this:
[code]

Which is, I suppose, as intended. The thing is, I wasn't trying to do any of that. I just want functions as a service with an operator (CRDs) for deployment of nodejs/REST functions. I am using kafka, not nats, and I already have a fully configured prometheus in my cluster with elastic and fluent-bit for logging and a lot more besides. I

[2021-12-03 09:21] alexellis commented on #882
Hi @BryanDollery we need you to fill out the whole issue template here.

To talk about your enterprise's needs, please get in touch via https://openfaas.com/support/

Cheers,

Alex

[2021-12-03 09:21] #882 closed

[2021-12-08 16:15] #878 closed

[2021-12-08 16:15] alexellis commented on #878
/lock

[2021-12-16 22:04] kevin-lindsay-1 opened #888 "[Feature Request] Function CRD RBAC"
Right now the `Function` CRD does not have the ability to add RBAC rules in order to use the Kube API. I can provide this externally and use my own auth method, however it would be nice to have this out of the box when using the k8s client in Go, for example.

## Expected Behaviour

Be able to use clients such as the k8s go client with minimal extra config for a function.

## Current Behaviour

Lo

[2021-12-17 17:42] kevin-lindsay-1 commented on #888
I have dug into this a little deeper, and it appears there's already a supported way of handling this via an annotation.

[2021-12-17 17:42] #888 closed

[2021-12-17 19:46] kevin-lindsay-1 opened #892 "Deployment created by Function CRD with service account annotation does not automount the token"
In kubernetes, a service account with `automountServiceAccountToken: false` does not automatically mount the token into pods created by the deployment.

In order to accommodate this, you need to create a service account which has `automountServiceAccountToken: true` if you'd like a pod to be able to use it.

Instead, I would think it's a more advisable security practice to instead create a service

[2021-12-29 18:44] bplein commented on #867
As of today (Dec 29, 2021), this issue still exists in the published charts (following the documentation). Looking at the docs, which say to enable Pro, use `--set openfaasPRO=true`, I did the opposite, redeploying openfaas with `--set openfaasPRO=false`. This removed the idler and allows it to function as the community version.

[2022-01-03 23:36] psoares commented on #867
Same issue with the arkade install method. No idea how to change the helm settings using arkade though...

[2022-01-04 12:23] cryLuantic opened #893 "when i start up my openfass on kubernetes i found that my faas-idler keeping request for the serect openfass-license,so how to get my openfaas-license"
## Expected Behaviour

## Current Behaviour

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## List All Possible Solutions and Workarounds

## Which Solution Do You Recommend?

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `dock

[2022-01-04 20:20] #893 closed

[2022-01-04 20:21] alexellis commented on #893
/set title: OpenFaaS Pro enabled by default

[2022-01-04 20:21] alexellis commented on #893
@cryLuantic this change was made in error and has been updated. OpenFaaS Pro is for production, you can find out about it at openfaas.com/support or carry on as you are if you're doing development.

[2022-01-18 06:50] aureq opened #895 "Support `ingressClassName` when deploying an `Ingress`"
## Expected Behaviour
Currently, it appears that the OpenFaaS Helm Chart doesn't support the `Ingress` property named `spec.ingressClassName`.

As of k8s 1.22, the api `networking.k8s.io/v1` is the default api for ingress objects and as such uses the `ingressClassName` field rather than annotations.

## Current Behaviour
The current chart doesn't support the `ingressClassName`.

## Are you a GitHu

[2022-01-25 12:22] nitishkumar71 opened #901 "Bump Gateway Version to 0.21.3"
Update the gateway version to 0.21.3

## Expected Behaviour

The change need to be done in below place
https://github.com/openfaas/faas-netes/blob/694c719e48051b77d05c37e59e72203b74f5d4d6/chart/openfaas/values.yaml#L61

## Current Behaviour

The older version of gateway is being
## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

[2022-01-25 16:11] #901 closed

[2022-02-01 05:30] pieterv-icloud-com opened #909 "Functions not listed in the portal"
Functions are not listed in the portal.

## Expected Behaviour
Deployed functions should appear in the portal.

## Current Behaviour
No functions appear in the portal.

API call produces no result:

http://<gateway>/system/functions?namespace=<namespace>

## Are you a GitHub Sponsor (Yes/No?)
No

## List All Possible Solutions and Workarounds

Rolling docker image versions back seems to fix it:

[2022-02-01 06:08] nitishkumar71 commented on #909
Can you provide a bit more info around
1. What you were trying to do?
2. How do you install openfaas?
2. If helm chart then what version of openfaas helmchart you used ?
3. What were the values you provided to helm chart?

[2022-02-01 21:14] alexellis commented on #909
I would echo what @nitishkumar71 has said here.

You would need to fill out the template with all the information we've asked for.

The portal is working as designed - I've been using it over the past few days with no issues.

If we don't hear back from you in a couple of days we will close this issue. Bear in mind that we also offer [Proof of Concepts and enterprise support](https://openfaas.com/

[2022-02-03 12:00] #909 closed

[2022-02-03 12:00] alexellis commented on #909
/add label: support, question

[2022-02-03 12:01] alexellis commented on #909
We still lack the information to reproduce this issue and the portal is working as expected with the latest version of the chart for me. Therefore I'm closing this.

[2022-02-09 06:40] mingfang opened #911 "[Question] is faas-idler no longer free?"
I tested openfaas a while ago and am trying to get back to it again.
I used to use openfaas/faas-idler:0.3.0 to scale to zero.
But that image is no longer available.

I do see ghcr.io/openfaas/faas-idler-pro:0.4.4 but it appears to be a paid product.
Are there any free scale to zero options?

[2022-02-10 13:48] lapwat opened #912 "faas-cli logs not showing"
## Expected Behaviour

I would expect to see the text printed to stdout/stderr by my function in the function logs.

## Current Behaviour

Text written on stdout/sterr are not showing in the function logs of the function.

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## List All Possible Solutions and Workarounds

## Which Solution Do Yo

[2022-02-10 15:56] kevin-lindsay-1 opened #913 "Function CRD environment variables do not support valueFrom"
The function CRD has a flatmap of strings for environment variables, but for certain things like needing the host IP, you need to use `valueFrom`, not just `value`.

## Expected Behaviour

You should be able to set environment variables that can use `valueFrom`, like any other pod.

## Current Behaviour

You can't use it.

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsor

[2022-02-10 16:10] kevin-lindsay-1 commented on #848
I have this exact same need; `valueFrom` is built specifically for this, and AFAIK there's no good alternative, because it does the job exactly as it needs to.

[2022-02-12 10:47] LucasRoesler commented on #912
@lapwat I think this is an issue with your template choice. The original watchdog captures the function logs as the response. This means you won't see logs in kubernetes or the faas-cli (which is powered by the k8s logs).

I generally recommend using the new templates like golang-http. This uses the newer `of-watchdog` which does use the function output as a response, instead using http. This mean

[2022-02-12 14:02] lapwat commented on #912
Hi thanks for the tips, I am indeed using the `go` template, I will give a "go" to the `golang-http` template. Thanks

[2022-02-16 10:56] lapwat commented on #912
@LucasRoesler I used golang-middleware and the logs are showing in Kubernetes logs which is great. I would like to see them in Loki source on Grafana but they are not showing with this query: `{faas_function="test-log"}`

Do you have any clue ?

# Handler

[code]

[2022-02-16 13:59] lapwat commented on #912
1. I used FluxCD to deploy my cluster following gitops principles

Here are the different helm releases. Note that I have changed openfaas function namespace.

# Openfaas

[code]

# Loki stack

[code]

Loki source is detected on grafana. "fork" logs are showing when querying Loki.

[code]

Thank you

[2022-02-17 08:39] LucasRoesler commented on #912
@lapwat those logs are odd, i would not expect it to have "forking fprocess" multiple times. Did you use the exact same function name and the `latest` tag? it might be that your function is actually deploying the _old_ image. Check the function deployment

[code]
If it is `IfNotPresent` then it will be running the old image. If so, i would recommend either
1. using a new name
2. changing to a vers

[2022-02-17 13:54] LucasRoesler commented on #911
Hi @mingfang there are no open-source scale to zero projects currently supported directly by the OpenFaaS project. There may be some in the general community, but I haven't heard of any active projects.

The scaling endpoint is documented as part of the official API https://github.com/openfaas/faas/blob/ca2575afc54ab1e882eb04fe64c8526ca5840e14/api-docs/swagger.yml#L211 if you want to write your ow

[2022-02-17 13:54] #911 closed

[2022-02-17 15:05] LucasRoesler commented on #913
It seems like there is some overlap with #848 and we would likely solve this issue by providing a general resolution in #848

[2022-02-17 15:13] LucasRoesler commented on #880
@ctwkongmu anything else we can clarify? If not I will close the issue.

[2022-02-17 16:19] LucasRoesler commented on #852
@alexellis and @kevin-lindsay-1 is most of this conversation resolved by the new pro scaler and the new function metrics?

[2022-02-17 18:14] kevin-lindsay-1 commented on #852
Yes

[2022-02-17 18:14] #852 closed

[2022-02-17 18:24] kevin-lindsay-1 commented on #892
@LucasRoesler I merely propose that the deployment created should at a pod level set automount on if there's a service account associated with it.

Right now, you have to create the service account with automount enabled for all pods that reference it.

There's 4 levels:
1. default sa auto mount
2. sa auto mount
3. pod auto mount
4. pod manual mount

Pod manual mount requires application-level cod

[2022-02-17 19:46] LucasRoesler commented on #892
@kevin-lindsay-1 my understanding of your level (3) is that the OpenFaaS deployment should _always_ enable automount on the Pod level.  I propose that this is actually undesirable. This would result in the pod _always_ mounting the token regardless of the ServiceAccount configuration. I don't think we can justify OpenFaaS overriding the configuration that the cluster admin set when they created th

[2022-02-17 19:59] kevin-lindsay-1 commented on #892
no, just the ability to specify. just asking for an API, not an opinionated solution.

Nothing is blocked, this is just a best practice and exposition of pretty basic k8s functionality that admins are used to.

Because otherwise anything that references the service account at all can mount the token.

---

As far as I'm concerned, level 2 is already implemented. If I automount the token and the po

[2022-02-22 16:37] kevin-lindsay-1 opened #920 "Constant Errors from Prometheus with clusterRole: false"
If you don't have `clusterRole: true` in the OpenFaaS helm chart, prometheus produces massive amounts of error logs.

## Expected Behaviour

I would expect these background queries to not be constantly failing; I'm not exactly sure what's failing, as these logs appear to only be being generated from prometheus, and not other components in an upstream relationship.

## Current Behaviour

Error logs

[2022-02-22 16:40] kevin-lindsay-1 commented on #920
The clusterRole has these permissions:
[code]

Whereas the normal `role` has these permissions:
[code]

At a minimum, it looks like a chart patch is needed for get operations on `nodes`.

[2022-02-23 07:34] alexellis commented on #920
Hi Kevin,

In "Steps to Reproduce (for bugs)", we would need you to provide your values.yaml or a helm install command.

The clusterRole is required to collect metrics for OpenFaaS Pro. Are you using openfaas at work or at home?

Alex

[2022-02-23 15:06] kevin-lindsay-1 commented on #920
@alexellis I am using pro on these installations; I did not assume that it was an interaction with pro simply due to no comment stating that I should given pro.

I had a hunch that I should need to, but I didn't see anything explicitly stating that the clusterRole was intentionally necessary for pro.

[2022-02-23 15:19] kevin-lindsay-1 commented on #920
I see that the comment for `clusterRole` has been updated in the chart; closing this issue and will reopen if issue persists.

[2022-02-23 17:40] alexellis commented on #913
We talked about this on the office hours call today.

Under "Enabling DogStatsD and APM" on this blog post https://blog.porter.run/datadog-and-kubernetes/ - there seems to be a an admissions controller that can automate this. It would be worth trying that out and seeing if the openfaas operator would fight with it?

Another option may be for openfaas pro users to have an additional option to only

[2022-02-23 18:02] kevin-lindsay-1 commented on #913
I enabled the admission controller in the DataDog helm chart, and this environment variable is now being injected into function pods.

Function pods definitions do not appear to be being fought over with these injections.

[2022-02-25 12:04] lapwat commented on #912
Yes I cam confirm I am using the latest image because logs are showing with `kubectl logs`, but not in Loki.

I think that `forking fprocess` is printed everytime the function is called so this is normal. Those are not the logs of my function by those of the watchdog.

[2022-02-25 12:20] LucasRoesler commented on #912
@lapwat something is missing here because that function template `golang-middleware` should not print `forking fprocess` on each invocation. Have you tried invoking your function after manually running it locally

[code]

then in another terminal

[code]

[2022-02-25 12:29] lapwat commented on #912
Ok you were right about that I can now see my logs, I have started from scratch and I can now see my logs. Thank you so much!

[2022-02-25 12:29] #912 closed

[2022-02-25 12:32] lapwat commented on #912
# Working example

`faas new --lang=golang-middleware test-log`

Edit `handler.go`

[code]

`faas up -f test-log.yml`

Call the function

# Loki logs

[code]

[2022-02-26 14:58] #784 closed

[2022-02-26 15:04] LucasRoesler opened #922 "bug: function info endpoint does not return the env variables"
## Expected Behaviour

The `faas-cli describe` should show the env variables on the function.

## Current Behaviour

The env variables are always empty.

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [x] Yes
- [ ] No

## List All Possible Solutions and Workarounds

1. Update the `k8s.AsFunctionStatus` so that it populates the env variables
2. Document it a

[2022-03-16 17:19] alexellis opened #924 "Update update-crds.sh for Go 1.17"
## Current Behaviour / Expected Behaviour

The update-crds.sh script uses `go install` which is deprecated in Go 1.17.

## List All Possible Solutions and Workarounds

We need to switch to `go get -d $PKG` instead.

## Steps to Reproduce (for bugs)

1. Install Go 1.17
2. Run ./hack/generate-crds.sh in the faas-netes repo

Also needs the same change:

https://github.com/openfaas/ingress-operator

h

[2022-03-31 09:46] alexellis opened #934 "Too many GitHub Actions jobs running upon commit"
There are far too many GitHub Actions jobs running upon commit

## Expected Behaviour

This can probably be run within a bash or makefile / script for all of the charts, without wasting so many resources.

## Current Behaviour

I can see 80 different VMs that will be launched on GitHub's actions runners, per commit and push to a PR / branch.

## Steps to Reproduce (for bugs)

1. Trigger a build th

[2022-03-31 12:26] LucasRoesler commented on #934
sure

[2022-04-11 17:39] LeviTrammell opened #941 "[Feature request] OpenFaaS App Helm chart - Allow override of the LoadBalancer IP and port of External Gateway Service"
I would like to be able to use helm or arkade to set an IP address to the external gateway service. This way, I can maintain my existing metallb setup and lessen the amount of yaml files I'm having to apply. Along these same lines, I'd like to set a port beyond the default 8080, and have port 80 forward to 8080 on the gateway service.

## Expected Behaviour

I would like to see some new helm value

[2022-04-20 15:36] #934 closed

[2022-04-20 15:37] alexellis commented on #934
Closing as fixed in #935

[2022-05-04 13:36] Re-veille commented on #895
When will this be released ?

[2022-05-12 15:27] kevin-lindsay-1 commented on #868
Is this fixed?

[2022-05-13 14:44] LucasRoesler commented on #868
@kevin-lindsay-1 the PR exists, it just needs design approval from @alexellis

[2022-05-16 14:48] francisdb opened #958 "POST system/functions 500 instead of 40x"
## Expected Behaviour

The api returns 400 for invalid requests

## Current Behaviour

Bad requests to `system/functions` return 500 instead of 400's

Issues we have seen return 500
* missing / null `service` or `image` property
* trying to deploy a function for a namespace that does not/no longer exist

## Are you a GitHub Sponsor (Yes/No?)

No, but waylay.io is a openfaas pro customer

## List A

[2022-05-17 08:30] alexellis commented on #958
Hi @francisdb thanks for your suggestions about validation when users do not provide required fields to the API.

We could take a look into this for you, but will need a specific set of operations with expected and actual responses, so I'm asking for more detail.

Here's an example:

Give us first of all, what we must have set up before we run the test.

Then the command you use (curl is best for

[2022-05-17 09:27] LucasRoesler commented on #958
@alexellis At Contiamo we have been using (and pretty happy with) `ozzo-validation` https://github.com/go-ozzo/ozzo-validation for awhile. it should be pretty easy to add this to the request parsing.

If you wanted to go one step further, we even implemented codegen from OpenAPI v3 that will generate models with ozzo-validation based on the spec. https://github.com/contiamo/openapi-generator-go wh

[2022-05-17 09:31] alexellis commented on #958
@francisdb I know the answer to this, but whoever looks at this issue will definitely not know:

Are you using faas-netes (controller) or the operator? Perhaps give us the flags that you use to install like `--set operator.create=true`

It matters because faas-netes may have this validation already and if we test with a different configuration to what you're using then we may not be able to repro.

[2022-05-17 09:39] francisdb commented on #958
@alexellis you probably know better than me then as I am a user of the system, not the manager of it, But maybe @OcamsRazor can help me out here?

[2022-05-17 11:22] francisdb commented on #958
Looks like some of these have already improved
And our client implementation does not try to read 500 bodies.
In general we expect 500 errors to be generic and non-fixable by the user. We expect details for those not being shown to the user as they might contain sensitive info.

The question is a bit do you suggest to always read the body and use string find clues to know what is wrong or would yo

[2022-05-17 11:32] francisdb commented on #958
Also these requests expect a json body but return plain text responses, even with `-H "Accept: application/json"`

[2022-05-17 12:29] OcamsRazor commented on #958
We are running faas-netes, not the operator

[2022-05-19 10:27] alexellis commented on #958
@welteki when trying out these scenarios, it sounds like we'd want to test with `operator.create=false` since there are two different sets of HTTP handlers depending on which is being used.

[2022-05-25 11:03] alexellis commented on #958
@francisdb we are starting with required field validation for `image` and `service`.

Some of the cases you mention are edge cases, like "no JSON body at all" - do you expect to be sending that kind of request often, or is this issue more about improving the experience when building a new integration with openfaas?

Or are you exposing the OpenFaaS API directly to your customers, who are in respon

[2022-05-26 12:23] alexellis commented on #958
We've released a new version of faas-netes Pro and CE to cover the changes requested:

* Return bad request when image name is empty
* Return bad request when service name is empty

We'll await a response on the above from Waylay before doing any more on this.

https://github.com/openfaasltd/faas-netes/pkgs/container/faas-netes

Alex

[2022-05-27 02:44] abdennour commented on #911
It's really sad to hear that.. Serverless without scale-to-zero !! unless you pay : (
@alexellis you need to review your OSS.

[2022-05-27 08:13] alexellis commented on #911
/lock: resolved

[2022-05-27 16:20] francisdb commented on #958
We don't expect to send an empty body :-) I was just trying all kinds of things.

It was just in the past when creating our client and updating it after issues that we found some things that could be improved.

Thanks for adding the validation, it's a good start, will create more specific issues later if there are more unexpected things.

[2022-05-27 16:20] #958 closed

[2022-05-30 12:38] alexellis commented on #958
We appreciate the feedback 👍

[2022-06-08 16:45] alexellis opened #968 "Add "image" to Function CRD printer for kubectl get"
Add "image" to Function CRD printer for kubectl get

## Expected Behaviour

[code]

## Current Behaviour

[code]

## List All Possible Solutions and Workarounds

The Image is a top level field in the Spec, so add a comment as per:

https://github.com/inlets/inlets-operator/blob/master/pkg/apis/inletsoperator/v1alpha1/types.go#L27

## Steps to Reproduce (for bugs)

1. `faas-cli generate --from-stor

[2022-06-09 13:46] #913 closed

[2022-06-09 13:46] alexellis commented on #913
/lock: resolved

[2022-06-09 13:47] alexellis commented on #913
/set title: How to get DD_AGENT_HOST for functions for the Datadog agent?

[2022-06-09 15:30] alexellis opened #970 "Add an empty Status field to the Function CRD"
Add an empty Status field to the Function CRD

## Expected Behaviour

The Function CRD should have a Status in its CRD, so that we can expand on readiness concepts later on or store state about the function.

## Current Behaviour

This doesn't exist at present.

## Which Solution Do You Recommend?

Update the definition for the types, so that kubebuilder generates a status object.

Make sure that

[2022-06-09 15:59] orhanasan opened #971 "Prometheus image in OpenFaaS Helm chart vulnerable for BoundServiceAccountTokenVolume"
As said in issue's title, Prometheus image that is used as default in OpenFaaS Helm chart is vulnerable BoundServiceAccountTokenVolume. After Kubernetes v1.21, tokens should be rotated by API wrapper libraries (such as `client-go` for Go) however current Prometheus image is using old version of this library so it should be updated. The reason why it should be fixed is lying behind the reason that

[2022-06-12 08:17] #968 closed

[2022-06-21 11:00] alexellis commented on #971
@welteki could you send a PR in for this please?

[2022-06-21 22:13] #971 closed, assigned to nobody

[2022-07-01 13:24] rpetrano opened #980 "Can't achieve anti-affinity between function replicas with Profiles"
## My actions before raising this issue
- [ X ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ X ] Read/searched [the docs](https://docs.openfaas.com/)
- [ X ] Searched [past issues](/issues)

## Why do you need this?
I need to make sure replicas of the same function do not run on the same node. I can't.

## Expected Behaviour

I should be able to f

[2022-07-01 20:22] alexellis commented on #980
Moving to the appropriate repository.

[2022-07-01 20:24] alexellis commented on #980
@kevin-lindsay-1 are you primarily doing this kind of thing for the core components of openfaas, rather than for your functions? Wondered what your thoughts were here.

[2022-07-01 21:19] kevin-lindsay-1 commented on #980
Only the core components.

We're not really concerned about balancing function pods like this, because we try to keep them short-lived, and as a result don't need them to be highly available, and for example bringing pods online in a particular zone is not something that we do right now. Putting a function pod closer to the customer is a good idea, but not a priority for us right now. The advantag

[2022-07-06 10:58] #895 closed

[2022-07-19 18:46] LijieZhang1998 opened #986 "How do I install OpenFaaS?"
I followed this doc https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md to deploy OpenFaas on macOS. I used KinD as suggested to create a cluster. I can't log into gateway. Thank you for any suggestion.
## Current Behaviour

I ran command:
[code]
I got error:
[code]
If `OPENFAAS_URL=https://127.0.0.1:31112`, I got error
[code]

## Run commands to debug

1. Ran the command
[

[2022-07-20 14:20] welteki commented on #986
Hi @LijieZhang1998

The instructions you followed use a NodePort to access the API Gateway. NodePorts don't always work on Docker Desktop due to the way networking is configured. On top of that you are using KinD which can cause issues with NodePorts as well.

You can forward the gateway to your local machine using port-forwarding
[code]
I would recommend you to follow [the deployment instruction

[2022-07-20 14:20] welteki commented on #986
/add labels: support,question

[2022-07-20 15:01] LijieZhang1998 commented on #986
Hi Han, thank you for your suggestion. With your `port-forward` command and `export OPENFAAS_URL=http://127.0.0.1:8080`, I'm able to login.

Thanks,
Lijie

[2022-07-20 15:35] alexellis commented on #986
We recommend following the OpenFaaS docs to get started. Please also check the official training we offer listed there.

New users would benefit from using arkade to install openfaas and arkade info openfaas to get connection information

[2022-07-20 15:36] alexellis commented on #986
/set title: How do I install OpenFaaS?

[2022-08-04 09:32] amunozh opened #991 "[Question] Load balancing among async functions"
**Context**
I created a function that requires around 1 hour to finish. I already tested it using a single replica of the function with maxInflight=1 and a queue worker with maxInflight=1. With this configuration I'm not having any problem, but obviously it takes a lot of time to manage a high quantity of requests. Now I want to scale the current deployment in order to be able to manage multiple r

[2022-08-10 20:08] Vacant0mens opened #997 "Support request for broken inter-pod communication with K3s and Debian 11"
I installed OpenFaaS using `arkade` (as well as `helm`) on a brand new 3-node k3s cluster, and let the deployments sit for a really long time (days, in fact). The Gateway container in the Gateway pod and the QueueWorker pod are both stuck in CrashLoopBackoff, and their logs say `can't connect to nats://nats.openfaas.svc.cluster.local:4222: nats: no servers available for connection`

I've looked in

[2022-08-12 15:21] alexellis commented on #997
Hi @Vacant0mens

We run CI on OpenFaaS on a continual basis, run it ourselves, and our customers and community run it in production.

I'm not aware of any issues or recent changes that would affect you.

So I would say this is likely down to your networking / IP ranges conflicting or something else affecting either internal DNS resolution or inter-pod network communication.

I'd suggest that you d

[2022-08-12 15:21] alexellis commented on #997
/set title: Support request for broken inter-pod communication with K3s and Debian 11

[2022-08-12 18:14] Vacant0mens commented on #997
I had this queued up to send before you commented, but I didn't click the button for some reason...

looks like it's an issue with DNS resolution for the cluster.
All of the settings for Gateway and QueueWorker point to `nats.openfaas.svc.cluster.local`, which gets a custom search domain appended to it, where `nats.openfaas.svc.cluster.local.` (note the `.` at the end) or `nats.openfaas.svc` do no

[2022-08-13 09:13] alexellis commented on #997
No worries. Good detective work on your part 👍

Probably not. Please feel free to send a PR if it resolves the problem for you.

Alex

[2022-08-18 15:01] sotiriougeorge opened #1000 "Clash between ingress.class annotation and ingressClassName attribute in latest charts"
We are using Terraform and a "helm_release" resource to deploy chart version `10.2.1` in our EKS cluster.

During a **clean install** when `ingressClassName` is provided in values we encounter an error as if an `ingress.class` annotation has also been provided somehow. The opposite does not apply (having the annotation in place with `ingressClassName` commented out works fine).

While we **do** ov

[2022-08-18 15:35] alexellis commented on #1000
Thanks for your interest in OpenFaaS.

Can you introduce yourself please? Who is "we"?

We don't seem to have any record of your company in https://github.com/openfaas/faas/blob/master/ADOPTERS.md

[2022-08-18 15:39] sotiriougeorge commented on #1000
Pardon my English. We as a team of people. We are using OpenFaas for a project we decided to use to enhance our skills on Kubernetes/Node etc. Not a company per se. Should we be a company to receive support here?

[2022-08-18 17:40] alexellis commented on #1000
I'm asking what company, team or organisation you are representing, who we will be supporting with their usage of OpenFaaS?

We provide support to [our paying customers](https://docs.openfaas.com/openfaas-pro/introduction/#comparison), for free users there is no SLA and is only provided on a goodwill basis, by volunteers in their spare time.

See also:

https://github.com/openfaas/faas/blob/master

[2022-08-24 17:33] nitishkumar71 opened #1006 "Update prom/alertmanager docker image to v0.24.0"
Update prom/alertmanager from v0.18.0 to v0.24.0
## Expected Behaviour

Update prom/alertmanager  to version v0.24.0
## Current Behaviour

current version of prom/alertmanager  is version v0.16.0
## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

[2022-08-24 17:53] alexellis opened #1007 "Shell script or other solution to validate image fields within Helm chart"
## Why do you need this?

An error ([incorrect image tag](https://github.com/openfaas/faas-netes/commit/9d0cc6959dd8c640196af845f4f477451401fa1f)) caused ArgoCD to perform a rolling update for OpenFaaS for a customer.

This would have remained in an errored state, but the chart was then completely removed and installed again, and so failed to work.

Reverting to an earlier version of the chart may

[2022-08-24 17:58] kevin-lindsay-1 commented on #1007
Have you tried using the `wait` or `atomic` flags? I use this with `helmfile` and when a deployment fails to come online, it will auto-rollback after I think a default of `300s`.

https://helm.sh/docs/helm/helm_upgrade/

[2022-08-25 08:25] rgee0 commented on #1007
This seems to be achievable with bash/curl but does, I think, require a access token to interrogate ghcr.
[code]

[2022-08-25 09:55] alexellis commented on #1007
Since arkade already gets installed in CI and by most openfaas users, perhaps it could be added there.

I prototyped this, and auth may be required (but is usually available in both contexts - making a PR and in CI)

https://twitter.com/alexellisuk/status/1562733666253828101?s=20&t=wunrazoD8_kkfCPym5Dl4w

[2022-08-25 18:39] #997 closed

[2022-08-25 18:40] alexellis commented on #997
Closing this support issue. Feel free to comment if you have any other suggestions or comments to add.

[2022-08-26 11:00] #1006 closed

[2022-08-30 16:12] alexellis commented on #1007
Here is the release of arkade:

https://github.com/alexellis/arkade/releases/tag/0.8.37

And the usage in `make charts` (run by a maintainer)

https://github.com/openfaas/faas-netes/blob/master/Makefile#L80

And in CI, for belt and braces:

https://github.com/openfaas/faas-netes/blob/master/.github/workflows/verify-images.yaml

cc @willfore

[2022-08-30 16:12] #1007 closed

[2022-08-31 12:56] kevin-lindsay-1 opened #1012 "Gateway immediately restarts if it becomes unready"
If you start hitting the gateway with a load that causes it to become unready, it restarts the gateway, instead of routing traffic away.

## Expected Behaviour

The gateway should become unready when it becomes too busy to handle additional requests, lessening the load, and allowing it to become ready again. Becoming unready allows k8s to route service traffic to other endpoints which have pods th

[2022-08-31 13:38] alexellis commented on #1012
Hi Kevin,

How can we reproduce this? We need more details to be able to help here.

Alex

[2022-08-31 13:40] kevin-lindsay-1 commented on #1012
I'm editing this issue since the breakout from related issue. It will provide reasoning and reproducibility.

[2022-08-31 14:16] kevin-lindsay-1 commented on #1012
I should be done editing the original comment now. I can't think of anything else to really add to it at this point.

[2022-08-31 15:10] alexellis commented on #1012
Would you like to send a PR for the Helm chart to add these entries to the gateway-dep.yaml file and values.yaml?

I think it would look something like:

[code]

[2022-09-01 08:26] aslanpour commented on #181
Would not be helpful if OpenFaaS enables per-function configuration of imagePullPolicy?

[2022-09-02 17:00] kevin-lindsay-1 commented on #1012
https://github.com/openfaas/faas-netes/pull/1013

[2022-09-12 11:15] 160173995 opened #1017 "How to install to K8s cluter which has no access to dockerhub?"
Our network environment can not allow K8S cluster to access the public docker hub, but only pull image from private docker repository. So I wonder how we can build and push those OpenFAAS dcoker imange to the private docker repository? Thanks!

[2022-09-13 02:03] FTWH commented on #991
I have same questions! Could you please show me about your function yamls? How do you configure the max_inflights for the faas-netes?

[2022-09-13 02:14] FTWH commented on #991
I really hope the official website could offer us some best practice for testing this concurrency feature. The official website's description of function concurrency make me feel confuse. It seems that each function is bundled to a queue-worker. And it does not support configuring different concurrency limits for different functions.

[2022-09-13 07:54] alexellis commented on #1017
Sorry, it seems like you've misunderstood how we use the issue tracker. I get it, some projects
give away free support via their issue tracker. We only use it track bugs and our own work.

For community support, you can check out our free training or come along to a weekly community call
and ask your questions there

https://docs.openfaas.com/community/

[2022-09-13 07:54] #1017 closed

[2022-09-13 07:54] alexellis commented on #1017
/add label: incomplete/issue-template

[2022-09-13 07:54] alexellis commented on #991
Sorry, it seems like you've misunderstood how we use the issue tracker. I get it, some projects
give away free support via their issue tracker. We only use it track bugs and our own work.

For community support, you can check out our free training or come along to a weekly community call
and ask your questions there

https://docs.openfaas.com/community/

If you're interested in enterprise support,

[2022-09-13 07:54] #991 closed

[2022-09-13 07:55] alexellis commented on #991
/lock: support request in issue tracker

[2022-09-16 09:00] xiaowei6688 opened #1018 "Forked function has terminated: exit status 114"
Hello everyone, I have a problem at present. My function is a tool with time-consuming operations. Each processing takes about 5 or 10 minutes. The following error will occur after I make two consecutive requests at the same time, and the container process will exit. This error occurs whether synchronous or asynchronous.（There is no problem in executing a single request） I don't know why. Please g

[2022-09-19 20:41] jkirkham-ratehub opened #1020 "Feature: support Service Account Volume Project with expiry and audience fields"
[Service Account Volume Projection](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection)

This allows you to set things like the token expiry (`expirationSeconds`) and `audience` on a mounted service account token.  These parameters can then be used to authenticate access to other "Apps" within the same cluster.  For example,

[2022-09-20 09:43] FTWH opened #1021 "Queue-worker fail to retry function invocations"
According to OpenFaaS official doc, when the function concurrent request limit is exceeded (function's max_inflights env variable), the function returns a 429 status code, and the queue worker rather than dropping the message simply submits it back to the queue. But in my experiments, the failed requests will not be retried for processing.

By the way, I have checked [https://www.openfaas.com/blog

[2022-09-20 18:11] MihaiSandor opened #1022 "Unable to use kube-system for OpenFaaS functions"
## Why do you need this?
Because I am just trying to use OpenFaas

## Expected Behaviour
To have to ability to login from CLI and also deploy functions from UI dashboard.

## Current Behaviour
I've tried to deploy a new OpenFaas instance with Helm in the K3s Cluster,
in the `kube-system` namespace and everything works well until I tried to
login to OpenFaas with admin credentials and I got this er

[2022-09-21 07:38] alexellis commented on #1022
@MihaiSandor I just took out an hour to run through this with K3s v1.24

If you're using K3s v1.25, Darren Shepherd says to avoid it due to bugs in K8s - https://twitter.com/ibuildthecloud/status/1572464788458074115?s=46&t=fklqJckWWVye6ShQwfW8oQ

I launched a multipass VM and installed k3s using k3sup, followed by OpenFaaS with:

[code]

Gives the same error you had.

In a new VM, this worked with

[2022-09-21 08:17] alexellis commented on #1022
/set title: Unable to use kube-system for OpenFaaS functions

[2022-09-21 08:17] alexellis commented on #1022
OK I checked into the code and this is working as designed.

We block kube-system from being used for functions as a security measure.

[2022-09-21 08:17] #1022 closed

[2022-09-21 08:19] alexellis commented on #1022
/add label: support,question

[2022-09-21 13:01] #1021 closed

[2022-09-21 13:02] alexellis commented on #1021
Hi @FTWH thanks for your interest in OpenFaaS

As explained in the blog post and the documentation, retries are part of OpenFaaS Pro. There is no bug or issue here, and everything is working as described.

https://docs.openfaas.com/openfaas-pro/retries/

If you'd like to talk to us about OpenFaaS Pro, you can do so here: https://openfaas.com/support/

Alex

[2022-09-21 14:49] alexellis commented on #1020
Hi @jkirkham-ratehub I'm struggling to understand what you're asking for here.

Can you explain 1) what the problem is that you're running into? 2) why you feel you need this change?

[2022-09-21 14:50] alexellis commented on #1020
/add label: support,question

[2022-09-21 21:23] jkirkham-ratehub commented on #1020
Ok, it is pretty simple.  To use ServiceAccount tokens for inter-service (inter-pod) authentication, you NEED 2 things on top of the standard bound service account tokens:

1) The ability to set the token expiry to a desired number of seconds.
2) The ability to set the "audience" property on the token.

Currently, OpenFaas (faas-netes) does appear to set the token expiry, but there appears to be n

[2022-09-22 18:58] alexellis commented on #1020
The simple things are sometimes they hardest to explain to others.

Where do you want these tokens? In functions? Why do your functions have service accounts? Do they talk to the Kubernetes API?

The threat to move to another solution sounds a bit off-brand for RateHub. It sounds like you have a technical solution in mind that you'd really like to use, but the problem isn't being explained well en

[2022-09-22 19:35] jkirkham-ratehub commented on #1020
We aren't worried about encrypting traffic between pods.  We want to authenticate traffic between pods.  Yes, we could set up network policies and/or linkerd policies to restrict who can talk to what, but all other (non faas) pods in our cluster are capable of this solution using Project Volume mounts of Service Account tokens.  I'm just saying we don't want to treat faas Pods as "other"/lower-cla

[2022-09-27 13:16] alexellis opened #1025 "Add resource limits and requests to all helm charts, where not present already"
Add resource limits and requests to all helm charts, where not present already

## Expected Behaviour

Our various helm charts like the nats-/cron-/sqs-connector charts should be able to take a set of requests and limits via their values.yaml files.

Full list of charts:

https://github.com/openfaas/faas-netes/tree/master/chart

## Current Behaviour

They're currently missing, but I added them to

[2022-09-27 13:17] alexellis commented on #1025
@Jasstkn would you be interested in taking one of the charts to work on and send your first PR to OpenFaaS?

[2022-09-28 11:06] Jasstkn commented on #1025
Yes, I'll take it. will submit a PR later today.

[2022-09-28 18:49] alexellis commented on #1020
I've caught up with several members of the openfaas community on this ticket, including a second airing at our community call. It may help if you attend one of our weekly calls to present your case.

https://docs.openfaas.com/community/

If you want us to consider working on this, then we are going to need YAML for a Pod Spec, Service Account and Secret definition. Along with a brief code sample s

[2022-09-29 08:44] #1025 closed

[2022-10-04 05:50] baddogpack opened #1030 "How can I integrate cAdvisor with the Prometheus pod deployed by OpenFaaS?"
I have been trying for a few days to expose cAdvisor metrics on prometheus with no luck. Help in the right direction would be greatly appreciated.

## Expected Behaviour

I would like for Prometheus to scrape the pods performance output by cAdvisor.

## Current Behaviour

Currently cAdvisor metric scraping by Prometheus is not supported by OpenFaaS out of the box.

## Are you a GitHub Sponsor (Yes

[2022-10-04 07:52] alexellis commented on #1030
Hi, thanks for your interest in OpenFaaS

We don't provide support via GitHub, but use it to track issues.

That said, before we get this closed, can you explain which metrics you need to collect and why?

Alex

[2022-10-04 07:52] alexellis commented on #1030
/add label: support, question

[2022-10-04 13:35] baddogpack commented on #1030
Thank you for leaving open for now. My apologies I was looking for the correct support channels but I guess discord/slack has moved to the weekly meeting?

The metrics I'm after are:
  - container_cpu_usage_seconds_total
  - container_spec_cpu_shares
  - container_cpu_cfs_throttled_seconds_total
  - container_memory_working_set_bytes

From my understanding these metrics are exposed through cAdviso

[2022-10-05 04:40] pype-leila commented on #868
I'm trying to implement profiles for tolerations and affinity, and I can confirm that I have the CRD enabled, the profiles are being created and do exist, and I am receiving this error.  The gateway pod is not crashing.

Logs:
[code]
Output from function creation job:
[code]

This appears to happen after creating a number of functions.  I was running a script to recreate 79 different functions wit

[2022-10-05 06:51] baddogpack commented on #1030
Hello,

Today I tried configuring the default prometheus.yml file provided by openfaas https://github.com/openfaas/faasd/blob/master/prometheus.yml (realizing this is for faasd not openfaas, that may have caused some issues) by adding

`  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
    - targets: ['127.0.0.1:8080']`

then using a dockerfile I made an image and configured the

[2022-10-05 11:27] alexellis commented on #868
Hi @pype-leila thanks for your interest in OpenFaaS

You will need to raise your own issue with all the repro instructions. If you delete any of the template, unfortunately, we will close your issue as invalid.

Alex

[2022-10-05 11:27] #868 closed

[2022-10-05 11:27] alexellis commented on #868
/lock: stale issue

[2022-10-05 12:09] alexellis commented on #1030
Let's get this issue moved to the right repo then.

You should also bear in mind that faasd doesn't have any planned support for horizontal scaling. Please read the README for the project and follow the link to the ROADMAP to learn more.

[2022-10-05 18:22] pype-leila opened #1033 "Gateway Displays Profile Error When Profile Exists, Function Can't Be Created"
At Pypestream, are working on replacing Kubeless with OpenFaas in an implementation allowing the execution of code snippets written by non-developers as part of automated workflows.  For security and performance reasons, these are separated on a per-customer basis, and each customer has a live and sandbox version.  Also for security reasons, we run these functions on separate VMs within our Kubern

[2022-10-05 20:47] pype-leila commented on #1033
I've updated the description above slightly.  I've noticed after multiple attempts, and controlling for outside factors, it seems like the watch on the profile resource always fails, and you can never attach a profile to a function if the profile was created after the controller started up.

[2022-10-05 21:11] alexellis commented on #1033
@LucasRoesler would you mind taking a look?

[2022-10-06 12:32] LucasRoesler commented on #1033
@pype-leila how many profiles do you have? i wonder if there is a pagination issue

[2022-10-06 12:49] alexellis commented on #1033
@pype-leila in parallel to the conversation you're having here.

If you get in touch with us separately, we can talk about other options that may be a better fit for your scale of profiles. https://openfaas.com/support

[2022-10-06 20:04] pype-leila commented on #1033
I'm not sure that's something we're looking for at the moment, but I will certainly pass the recommendation along to my team.

For the moment, we have decided to forego pod anti-affinity rules and use a single profile for tolerations.  This works as intended.

[2022-10-07 06:35] alexellis commented on #1033
Sorry, you don't want to talk to us to get some advice on the best way to migrate?

[2022-10-08 22:31] pype-leila commented on #1033
I was under the impression that support couldn't be accessed without a contract, which we don't have.  We're comfortable with our implementation using the self serve product other than this bug we're encountering, and from the several tickets I've read concerning the topic, pod anti-affinity rules aren't supported any other way.

[2022-10-09 17:38] alexellis commented on #1033
The call is not to access support, it's to understand the challenge he and whether we can factor that into the roadmap.

Since you have a preferred solution, let's get this closed to focus our energy where it's needed.

The offer still stands for a conversation about your migration.

[2022-10-09 17:38] #1033 closed

[2022-10-10 17:15] pype-leila commented on #1033
I'm sorry, I'm not sure why you'd close this issue.  Although we have identified a temporary work around, this still describes a bug in OpenFaas that prevents it from being used as intended.

[2022-10-11 08:44] alexellis commented on #1033
Your use-case isn't typical, I offered you some time (for free) to review it with you to see if we could bring it into the roadmap in the future or make other suggestions, but you declined.

Since you have a workaround, we need to spend our limited resources elsewhere.

[2022-10-11 11:37] alexellis commented on #1033
I've identified the source of the issue for the warning, but it is just a warning, since the watch isn't used for anything other than the informer:

[code]

Result:

[code]

profile.yaml

[code]

Creating profiles.sh:

[code]

I created 100 profiles, no issues seen

Create 100 functions, each using their own profile:

script2.sh

[code]

Deployed 100 functions, no issues seen
[code]

[2022-10-11 14:14] Kanshiroron commented on #1033
@alexellis I think we have misunderstood with your request, sorry. I've just filled the contact form to request a phone call. Thanks for offering that. @pype-leila and myself will be on the meeting.
Talking with @pype-leila your test looks very similar to the difference that we create the profile, then the function immediately after. If that is working for you, then the issue might come from a Kub

[2022-10-12 19:34] baddogpack commented on #1030
Great success!

After at least 50 hours of trail an error I finally got it!

Solution:

1. clone: https://github.com/openfaas/faas-netes
2. edit `faas-netes/chart/openfaas/templates/prometheus-cfg.yaml` to include `cAdvisor` in `scrape_configs:` as seen here [https://prometheus.io/docs/guides/cadvisor/#prometheus-configuration](url)

```scrape_configs:```
...
[code]

3. deploy with helm instead of

[2022-10-20 15:14] #1012 closed

[2022-10-20 15:15] #986 closed

[2022-10-20 15:15] #924 closed

[2022-10-20 15:16] alexellis commented on #924
Thanks to @LucasRoesler for taking this on a few months back.

[2022-10-24 17:26] alexellis commented on #1022
@LucasRoesler

I'm not keen on stopping openfaas from being deployed into kube-system, but I think that we should prevent start-up of the *functions namespace* is "kube-system", which was the original intention with the messages we've seen in the handlers.

I've merged this PR, thank you :+1:

[2022-11-16 19:31] kevin-lindsay-1 opened #1042 "Annotations for Liveness and Readiness Probes"
Liveness and readiness probes on functions should be as tune-able as they are in kubernetes.

## Expected Behaviour

For example, if I want a health check to run every 10s, last for 10s, count as unhealthy after 3 tries, and reset to "healthy" after 1 try, I should be able to configure that.

The annotations for health and readiness should both be:

- `initialDelay`
- `period`
- `timeout`
- `failu

[2022-11-25 10:49] PierrickI3 opened #1045 "[WSL] Can't connect to nats://nats.openfaas.svc.cluster.local:4222"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Why do you need this?

To run OpenFaas in WSL in Windows (Ubuntu)

## Who is this for?

Personal project

## Expected Behaviour

Gateway and queue-worker pods sh

[2022-11-25 11:25] PierrickI3 commented on #1045
Here is the output of `kubectl get pods -n openfaas`:

[code]

[2022-11-25 11:26] PierrickI3 commented on #1045
And finally, the output of `config-checker`:

[code]