[2017-07-25 13:56] alexellis opened #2 "Deploy endpoint - pass environmental variables to container spec"
fprocess and other variables sent via FaaS-CLI or RESTful client should be propagated to the container template spec.

Make the change here:

https://github.com/alexellis/faas-netes/blob/master/handlers/deploy.go#L87

Read the value from this request type:

https://github.com/alexellis/faas/blob/master/gateway/requests/requests.go#L20

[2017-08-03 07:50] alexellis opened #3 "Proposal: Add an example using Traefik or NGinx as an ingress controller."
NodePorts are used in the README as a short-cut, but an ingress controller would be better.

[2017-08-03 21:24] alexellis opened #4 "Implement Delete function endpoint"
This is currently not implemented but is needed for the FaaS CLI.

[2017-08-03 21:34] alexellis opened #6 "Validate Function name against DNS regex"
Characters which are valid for Docker Swarm such as _ are not valid for Kubernetes services.

[2017-08-03 21:39] alexellis commented on #6
In-progress via #5

[2017-08-04 16:49] #6 closed

[2017-08-06 13:39] alexellis opened #7 "Fine-tune RBAC permissions"
It would be great to get a fine-tune done on the RBAC permissions which are currently broader than they need to be. Hoping for a PR from @luxas soon.

[2017-08-06 15:26] luxas commented on #7
Sent #8 and #9 for this :smile:

[2017-08-07 08:49] alexellis commented on #7
Cheers!

[2017-08-07 08:49] #7 closed

[2017-08-07 17:22] errm opened #10 "Create a Helm Chart for FaaS"
A helm chart would make deploying FasS to Kubernetes much simpler, and it is quickly becoming the standard way to try out third party solutions on Kubernetes...

Once FaaS on kubernetes is somewhat stable we can then submit our chart to the official repo ... https://github.com/kubernetes/charts

I am happy to work on this unless someone else wants to give it a go...

[2017-08-07 17:26] alexellis commented on #10
Please go ahead @errm this sounds like a great idea. What repo would it live in?

[2017-08-07 17:37] errm commented on #10
I guess here for now ...

[2017-08-07 18:43] alexellis commented on #10
No problems. Does this also need #3 to be done?

[2017-08-09 13:32] #4 closed

[2017-08-09 15:56] matjohn2 opened #12 "Explicitly define the DNS service domain to reduce DNS lookups"
Hi Alex,

Been working to run faas-netes as a demo ontop of [http://play-with-k8s.com](http://play-with-k8s.com)

While debugging some DNS failures, I noticed the faas gateway was swamping the DNS server with requests for possible permutations of a k8s or AWS service domain, ie;

<servicename>.default.svc.cluster.local
<servicename>.svc.cluster.local
<servicename>.cluster.local
<servicename>.ec2.i

[2017-08-09 17:28] alexellis commented on #12
Thanks for raising this @matjohn2 really appreciate your feedback. I suspect the same would be advantageous in the proxy.go handler too - I've been using service-name.default for resolutions.

[2017-08-13 20:32] alexellis commented on #10
Hey Ed have you had a go at this?

[2017-08-14 21:16] alexellis commented on #2
Fixed in #14

Tested with CLI and creating deployment through UI.

[2017-08-14 21:16] #2 closed

[2017-08-24 21:57] alexellis commented on #12
Even with #13 it seems like Kubernetes (or Golang) still makes a DNS query to everything in the DNS search path. (I monitored it with tcpdump). Have you been able to look at #13 @matjohn2 ?

[2017-08-24 21:58] alexellis commented on #3
Happy to take a contribution for this.

[2017-08-28 10:54] ishworgurung opened #16 "How does this compare to fission?"
Nice work. Just wanted to understand how this compares to https://github.com/fission/fission?

Thanks.

[2017-08-30 10:37] adrianlop opened #17 "Proposal: Nomad backend"
Hi, is there any plan to add Nomad support?
Thanks

[2017-08-30 10:44] alexellis commented on #17
Hi @adrianlop It's not on the OpenFaaS roadmap - but If the community would like to implement it I'm happy to provide guidance.

[2017-08-31 13:55] mishak87 commented on #3
[code]

[2017-08-31 14:52] alexellis commented on #3
I was playing with something similar with @errm - I think you also need to run in some other YAML files right? i.e. for Traefik itself, its DS and then the RBAC perms

[2017-09-06 06:33] nicholasjackson commented on #17
Would love to build a Nomad plugin, going to hack on a prototype this weekend.

[2017-09-06 07:18] alexellis commented on #17
Sounds great!

The other thing you might need to do is to write some sort of definition file for Nomad for the initial stack. There are two variants - the one which also includes NATS Streaming (for async) and the one which does not.

So you should be able to just "run" the API Gateway, Prometheus etc within a Nomad cluster without changes - as long as the services are reachable by DNS name. That'

[2017-09-06 10:10] nicholasjackson commented on #17
Awesome, I have started a scaffold project at: https://github.com/nicholasjackson/faas-nomad
will hack more on this tonight.

[2017-09-06 11:26] alexellis commented on #17
Derek add label: skill/advanced

[2017-09-06 12:13] #16 closed

[2017-09-07 09:43] alexellis opened #19 "Proposal: use Golang reverseproxy construct"
Let's try using https://golang.org/pkg/net/http/httputil/#ReverseProxy in this code: https://github.com/alexellis/faas-netes/blob/master/handlers/proxy.go

I think it could be more efficient and less maintenance.

[2017-09-09 00:00] weikinhuang opened #20 "Proposal: Add ability to specify which namespace to run functions under."
Right now the entire setup is run under the default namespace regardless of if the yaml files specified a `namespace` key or not. It would be useful to give the user (cluster) a ability to specify an arbitrary namespace to run under (ex. `openfaas`, or `open-faas`, etc).

[2017-09-09 03:50] weikinhuang commented on #20
It would also be useful to be able to specify a different namespace for control plane components and the function components.

[2017-09-11 13:12] genexp commented on #10
We're actually doing this now.  We might be able to get a pull request in for it.

cc: @cforbes

[2017-09-13 11:35] mishak87 commented on #3
For nginx setup I used https://github.com/kubernetes/ingress/tree/master/examples/deployment/nginx

[2017-09-13 15:39] weikinhuang commented on #10
I opened a PR for this, can't use dynamic named services because a few of the containers have hard coded values.

[2017-09-19 19:12] ecliptik opened #23 "armhf (Raspberry Pi): AlertManager not ported yet"
## Expected Behaviour
Running

`kubectl apply -f ./faas.armhf.yml,monitoring.armhf.yml,rbac.yml`

should bring up pods on Raspberry Pi k8s cluster.

## Current Behaviour
`alertmanager` pod godes into `CrashLoopBackOff`.

[code]

Alertmanager pod log shows missing `/alertmanager.yml`

[code]

## Possible Solution
Update https://github.com/alexellis/faas-netes/blob/master/monitoring.armhf.yml#L68 to

[2017-09-19 19:23] ecliptik commented on #23
Tested pull request #24 and it seems to fix this,

[code]

[2017-09-19 20:09] alexellis commented on #23
It's not just whether it loads in the cluster. The config is there to trigger auto-scaling into the Gateway. Are you sure the config has the correct rules? (maybe exec into the container and check)

[2017-09-20 18:26] alexellis opened #26 "Update with cached images"
It looks like this flow is not working as expected:

* build
* push
* deploy

(Looks OK)

* edit ->
* build
* push
* deploy

(Change is not reflected in the pod)

## Work-around

* If you run kubectl delete manually on the svc/deployment it seems to fix when deployed again.

* Alternatively - use a unique tag name for each `push`

[2017-09-22 20:40] alexellis commented on #10
@genexp @weikinhuang @errm what do we need to wrap this up? Does it test out OK?

@weikinhuang the hard-coded values are kept in the main FaaS repo here - https://github.com/alexellis/faas/tree/master/prometheus

^ that's where we need to update and then I have to re-push the builds from Docker Hub.

[2017-09-22 21:02] alexellis opened #28 "Enable variable timeouts for HTTP"
This matches the API gateway in the faas repo:

[code]

The code can be copied from read_config.go

[2017-09-22 21:13] weikinhuang commented on #10
I'll leave it to everyone else on deciding if helm is going to be the preferred deployment method (which lets us get rid of having hard coded values in the main repo, and lets us use configmap mounted volumes). We can also keep the regular yaml files and update them with the configmaps that are found in the helm charts
 (thereby removing them from the main repo as well and not having to build cust

[2017-09-22 23:22] alexellis commented on #10
I'd say we need to support both for now.. so let's go with the pain. It's easy to remove the hard-coded "vanilla" config in the future if helm is supported on all platforms we need.

[2017-09-22 23:26] weikinhuang commented on #10
I can create vanilla configmaps for this, would prevent you from having to build 2 images, and we can use stock docker hub images.

[2017-09-23 02:19] e-beach commented on #28
Doing.

Note that the code Alex is referring to is at https://github.com/alexellis/faas/blob/1aeb978617258da80a684121ce8b3e72e7201910/gateway/types/readconfig.go#L56-L57

[2017-09-24 08:38] alexellis commented on #23
@ecliptik hey Michael.. pinging you for an answer ^

[2017-09-24 08:40] alexellis commented on #17
@adrianlop did you want to sync up with @nicholasjackson - there is an implementation underway at: https://github.com/hashicorp/faas-nomad

[2017-09-24 08:40] alexellis commented on #17
Closing this issue and redirecting to - https://github.com/alexellis/faas/issues/168

[2017-09-24 08:40] #17 closed

[2017-09-24 08:41] #26 closed

[2017-09-24 08:42] alexellis commented on #28
@e-beach are you working on this?

[2017-09-28 22:01] alexellis commented on #23
Derek add label: hacktoberfest

[2017-09-28 22:01] alexellis commented on #28
Derek add label: hacktoberfest

[2017-09-28 22:01] alexellis commented on #20
Derek add label: hacktoberfest

[2017-09-28 22:01] alexellis commented on #19
Derek add label: hacktoberfest

[2017-09-28 22:01] alexellis commented on #10
Derek add label: hacktoberfest

[2017-09-28 22:01] alexellis commented on #3
Derek add label: hacktoberfest

[2017-09-29 15:12] alexellis opened #32 "Hacktoberfast - provide guide for self-hosted registry"
For Hacktoberfast

We could do with a guide for running the open-source self-hosted registry with OpenFaaS and Docker Swarm. Also Kubernetes via

[2017-10-01 22:47] gardlt commented on #10
I would be very interested in a openfaas helm chart since i am currently using this for all my deployments. Let me know how I can help.

[2017-10-02 13:24] alexellis commented on #10
Thanks to @weikinhuang for leading this.

@genexp, @errm, @gardlt, @e-beach  if you can get involved with testing that would be great. I've compiled RBAC instructions here:

https://github.com/openfaas/faas-netes/blob/master/HELM.md

Once we're happy, how do we go about submitting this to the upstream Helm chart repo?

[2017-10-02 14:24] gardlt commented on #10
i cant seem to package the helm chart:
`Error: directory name (helm) and Chart.yaml name (openfaas) must match`

[2017-10-02 14:34] alexellis commented on #10
You can use the instructions in the link above for testing.

That error is the result of linting, do a `mv helm openfaas` and it should sort it.

[2017-10-02 18:24] #28 closed

[2017-10-02 20:42] shorsher commented on #19
I'll take a shot at this.  Just replace current proxy, with reverse?

[2017-10-02 21:33] alexellis commented on #19
I started looking into it and I think it may be more complex than that since it needs to be a multi-host reverse proxy

[2017-10-04 19:59] psyhomb opened #34 "Remove command does not remove replicaset and pod objects"
Prior to Kubernetes v1.7 deletion basically requires four separate Kubernetes API requests, first one will scale down number of `pods` to zero, second will remove `deployment` object, third will remove `replicaset` object and finally last one will remove `service` object (exactly like `kubectl` is working), this method will leave no orphaned objects behind, basically it will execute a proper GC af

[2017-10-05 15:45] alexellis commented on #34
@psyhomb thank you for raising this. It may explain why we saw this on Azure but not on newer 1.7 clusters. One other action we took around this was to move to update instead of delete/create.

[2017-10-05 16:21] alexellis opened #36 "Proposal: configure memory/CPU limits upon deployment"
## Expected Behaviour

This needs to sync with the main `faas` project, but the idea is to provide memory/CPU limits for functions as we create their deployment spec through the Kubernetes API.

## Current Behaviour

Unbounded.

## Possible Solution

Add to basic Create type in `faas` project.

Pass values onto the spec when doing a create/update.

[2017-10-05 19:24] #34 closed

[2017-10-06 03:30] gardlt commented on #36
Is this to create memory/CPU limits on the helm chart and the kubernetes manifest?

[2017-10-06 12:38] psyhomb commented on #34
@alexellis thank you for quick response and thank you for such a great tool

Cheers

[2017-10-06 16:01] gardlt commented on #36
Could you please provide a little bit more detail on this. Is this adding resource limits in the helm and kubernetes manifest deployments?

[2017-10-06 22:13] weikinhuang commented on #36
I believe this is for individual function deployments

[2017-10-07 20:24] inge4pres opened #41 "Helm and RBAC question"
On a fresh 1.7.5 minikube `helm` fails to deploy a release of openfaas due to RBAC rules inclusion with the error

## Expected Behaviour
`helm install --name openfaas --set async=true  ./openfaas/` should return the release details.

## Current Behaviour
[code]

## Possible Solution
You can still install openfaas via Helm skipping use of RBAC with
`helm install --name openfaas --set async=true --s

[2017-10-07 20:28] inge4pres commented on #41
Trying to debug the reason of the failure in openfaas/templates/rbac.yaml

[2017-10-07 21:14] alexellis commented on #41
Have you run in the additional role needed for RBAC in the helm guide?

[2017-10-07 21:16] alexellis commented on #41
We do have a `rbac=true/false` switch also. RBAC is on by default.

cc/ @weikinhuang

[2017-10-07 22:20] weikinhuang commented on #41
Right now it's trying to create a cluster role. We should change it to use a regular role when functions are not being deployed to a separate namespace.

Or in the meantime give your user cluster-admin privileges.

[2017-10-08 01:57] gardlt commented on #41
Was having similar problems also with this you can do `helm install local/openfaas --set rbac=false` and it should work fine, i think there is a permission issue when deploying additional rbac rule with `qinikube`

[2017-10-08 02:08] weikinhuang commented on #41
I'll try to get around to making the needed fix next week

[2017-10-08 18:53] inge4pres commented on #41
@alexellis yes I assigned RBAC role to Tiller but it looks like the issue is not there.
However I tried with a GKE cluster just installed and everything works ok.
At this point it might just be a minikube issue.

Some details on my installation:
[code]

[2017-10-09 07:14] inge4pres commented on #41
Great news! The chart works perfectly in 1.7.6 with RBAC too: `helm install --name openfaas --set async=true ./openfaas` works perfectly with k8s 1.7.6 but that version is still not in the stable channel for minikube hence requires additional parameters to install.

So for minikube users:
* update to latest minikube (v0.22.3)
* bootstrap cluster with `minikube start --kubernetes-version v1.7.6 --b

[2017-10-09 07:50] alexellis commented on #41
Elliott @elliotbeach and myself have been deploying with `minikube` via the YAML files. I'll try with rbac=false on my Mac with `helm` this week and see how that goes.

[2017-10-09 07:51] alexellis commented on #36
Yes this was for the functions created by the Kubernetes API. The OpenFaaS services are left unbounded at the moment.

[2017-10-09 11:40] rawkode opened #44 "OpenFaaS Links still point to alexellis/"
## Expected Behaviour
Links should point to the new shiny openfaas org

## Current Behaviour
They point to alexellis

## Possible Solution
Update them

[2017-10-09 11:45] #44 closed

[2017-10-09 22:37] codyde opened #46 "Warning when deploying function"
When I perform a faas-cli deploy -f function.xml against my kubrnetes cluster, I receive the message "Server returned unexpected status code 500 deployment.extension 'function name' not found". The function works fine, no issues with using the function - it appears to be a cosmetic error but I can't determine the origin.

## Expected Behaviour
I would expect the functions to deploy without the err

[2017-10-11 14:52] alexellis commented on #20
This has been merged.

[2017-10-11 14:52] #20 closed

[2017-10-11 14:56] alexellis commented on #41
@inge4pres @weikinhuang where did we get on this?

[2017-10-11 15:09] weikinhuang commented on #41
Looks like a minikube issue from @inge4pres's comments. However we can probably switch to using a `Role` instead of a `ClusterRole` when not deploying functions to a different namespace.

[2017-10-11 15:29] alexellis commented on #41
Please could you run with this?

[2017-10-11 15:39] alexellis commented on #46
See #31 - I am waiting on @zouyee to confirm whether the fix works with Kubernetes 1.6, 1.7 and 1.8.

@codyde would you be able to test on 1.6?

[2017-10-11 18:43] alexellis opened #50 "Proposal: enable private Hub repos via Kubernetes secrets"
Proposal: enable private Hub repos via Kubernetes secrets

## Expected Behaviour

At deploy time we should be able to specify an additional secret name so that private Docker Hub images can be pulled.

## Current Behaviour

Current behaviour supported in Swarm provider, but unsupported in this provider.

* Use public images

* Can work-around this with a private registry hosted in the cluster.

##

[2017-10-11 18:44] alexellis commented on #50
Suggested engineers - @elliott-beach @weikinhuang @rawkode

[2017-10-11 18:44] alexellis commented on #50
Derek add label: priority/high

[2017-10-12 11:22] LucasRoesler opened #51 "General Secret Management"
This proposal is inspired by the Docker Swarm secret management but should be generalizable to Kubernetes Secrets and possibly other 3rd party secret management systems.

## Summary
It is common that a function may need to connect to a database or a secure API. The username and password values used to connect to these data sources should be kept secret and secured.  Currently these values are eith

[2017-10-12 11:22] #51 closed

[2017-10-13 02:27] codyde commented on #46
Fyi - I'm working on getting a K8s 1.6 cluster up to test. To be continued....

[2017-10-13 02:29] codyde commented on #3
If no one else has yet; I'm going to take a stab at doing this with Traefik. I know it's been talked about on slack - just wasn't sure if anyone formally made a run at it yet.

[2017-10-20 11:51] alexellis commented on #10
Let's find out how to get this chart released and merged in kubernetes/charts

cc/ Captain @spiddy

[2017-10-21 12:34] InTheCloudDan opened #55 "Add homebrew as install option for Helm"
Update Readme to include Homebrew option

## Expected Behaviour
N/A not a code change

## Current Behaviour
N/A not a code change

## Possible Solution
N/A not a code change

## Steps to Reproduce (for bugs)
N/A not a code change

## Context
The current steps have it installing manually when there is also a package available for it.

## Your Environment
MacOS

* Link to your project or a code exam

[2017-10-23 07:37] #50 closed

[2017-10-23 08:03] rayhero opened #59 "deploy fail on kubernetes: kubectl apply fail"
## Expected Behaviour
success deploy faas-netes on kubernetes following the deployment_k8s.md guide

## Current Behaviour
deploy fail with below error message:
`kubectl apply -f ./faas.yml,monitoring.yml,rbac.yml

service "faas-netesd" configured
serviceaccount "faas-controller" configured
deployment "faas-netesd" configured
service "gateway" configured
deployment "gateway" configured
service "pro

[2017-10-23 08:04] alexellis commented on #59
What are you using? minikube?

[2017-10-23 08:05] alexellis commented on #59
@weikinhuang can you advise? Maybe if this is minikube rbac.yml shouldn't be applied?

[2017-10-23 08:16] rayhero commented on #59
I install the minikube for testing. But I want to deploy faas-netes on GKE. So I change kubectl config settings to set current-context to GKE cluster. Do I miss some setting so faas-netes still try to deploy on minikube?

[2017-10-23 09:25] rayhero commented on #59
What's the cluster master version could run this project? My GKE current master version is 1.7.6-gke.1. Does this effect the deploy result?

[2017-10-23 09:44] rayhero commented on #59
I downgrade version to 1.6.10-gke.1 but still meet the same problem. Does anyone has experience in deploying this project on GKE?

[2017-10-23 09:52] alexellis commented on #59
Yes @rawkode installed on GKE. Have you tried installing with Helm and RBAC?

[2017-10-23 10:05] rayhero commented on #59
I try to use Helm to deploy, but still meet other problem:
`helm upgrade --install --debug --reset-values --set async=false --set rbac=false openfaas openfaas/
[debug] Created tunnel using local port: '55702'

[debug] SERVER: "localhost:55702"

Release "openfaas" does not exist. Installing it now.
[debug] CHART PATH: /Users/chenszuwei/AutoHotSpot/FAAS/faas-netes/openfaas

Error: release openfaas f

[2017-10-23 10:10] rayhero commented on #59
After I use helm to delete old service account. I can install it using Helm

[2017-10-23 12:34] weikinhuang commented on #59
Helm won't install the chart without a force flag if existing resources with the same name already exists

[2017-10-24 08:54] rawkode commented on #59
@rayhero Use `port-forward` to get the Gateway available locally and run again

[2017-10-24 13:59] zouyee commented on #46
It is work fine in `v1.6+`, could you attach some logs? sorry for later response!

[2017-10-24 14:04] zouyee commented on #59
First,please exec `ns -lptn|grep 8080` to confirm port opened
Second, exec `sysctl -a|grep net.ipv4.ip_forward ` must be `net.ipv4.ip_forward = 1`
Third, checkout service.

[2017-10-24 14:13] zouyee opened #60 "add e2e test"
I will add e2e test using minikube
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code exampl

[2017-10-25 02:28] ericstoekl commented on #46
I am running into this issue on 1.8.1:

[code]

[2017-10-25 19:01] alexellis opened #61 "Proposal: Refactor custom limits for maximum auto-scaling limits"
We currently have a max number of replicas for any function, but in Swarm we also support overriding that. This issue is about providing a label that can be passed at deploy-time to specify the minimum number of replicas and maximum number too.

* If the min=max this disables auto-scaling on a per-function basis
* This should be agnostic to Kubernetes, Swarm or any other back-end
* We may have to

[2017-10-26 07:08] id0Sch opened #63 "Question: GKE use-case"
## Current Behaviour
i used Helm to setup the openfaas stack
configured my function with
[code]
deployed it, but  when I navigate to `https://EXTERNAL_CLUSTER_IP/system/functions/FUNCTION_NAME`
I'm getting the following error
[code]

## Context
I'm trying to deploy a telegram bot that uses a webhook

I'm new to kubernetes and i've had a really hard time deploying to GKE, I think we can all benefit

[2017-10-26 07:10] alexellis commented on #63
You should not navigate to that endpoint, it's not valid or viewable in a web-browser.

Can you explain what you are trying to do?

[2017-10-26 07:11] alexellis commented on #63
We've also had people deploy to GKE including @rawkode ... David please can you comment?

[2017-10-26 07:13] alexellis commented on #61
Duplicate - https://github.com/openfaas/faas/issues/339

[2017-10-26 07:13] #61 closed

[2017-10-26 07:13] id0Sch commented on #63
Wow that was fast! 🚀

I'm trying to invoke the function.
Also, the gateway UI is not functional when using `kubectl proxy` on GKE
![image](https://user-images.githubusercontent.com/5864772/32039315-41ffa210-ba36-11e7-8531-46d6d8e184ce.png)

[2017-10-26 07:18] id0Sch commented on #63
@rawkode , @alexellis Im also documenting the steps I used, maybe we can expand it to a GKE tutorial or something
https://gist.github.com/id0Sch/6f4d068032f9bd11f267301d1744ffdd

[2017-10-26 07:20] alexellis commented on #63
I thought that GKE supported a LoadBalancer?

* Why is a proxy needed?
* Why do you need to push to the Google registry? Doesn't the Hub work on GKE?

Maybe using the helm chart would work better?

[2017-10-26 07:22] id0Sch commented on #63
I'm deploying to the Google registry since its private (that part worked well).
not sure about the proxy, but it's the only way I got access to the dashboards (im new to kube.)

[2017-10-26 07:35] rawkode commented on #63
Hi @id0Sch, hopefully I can help!

You've deployed using `Helm` I believe, which is great. I've then used `kubectl -n openfaas get pods` and `kubectl -n openfaas port-forward gateway-pod-name 8080:8080` and browsed to the UI on `http://localhost:8080`

Please replace your namespace with whatever you used and the pod name

You can also use this port-forward to work with the `faas-cli`

[2017-10-26 07:36] rawkode commented on #63
If you wish to make your Gateway public, you'll need to add an ingress controller in front of the Gateway service.

[2017-10-26 07:41] rawkode commented on #63
This is my Ingress resource:

[code]

[2017-10-26 07:43] id0Sch commented on #63
@rawkode wow! so simple.
About exposing the gateway, is it possible to instead expose individual functions?
I saw the ingress options in the [here](https://github.com/openfaas/faas-netes/blob/master/HELM.md#deploy-with-ingress), is that what i need?
how will i then be able to invoke my functions?

Thank you so much for the rapid help!

[2017-10-26 07:47] rawkode commented on #63
Sorry, I should note that my `traefik` annotation means I have the `traefik` chart running on my cluster. Omit that and you'll get a generic LB.

[2017-10-26 07:48] rawkode commented on #63
I'm not sure if a single function can be exposed, but that would be awesome. @alexellis can help us both with that, hopefully :smile:

[2017-10-26 07:55] id0Sch commented on #63
should this ingress resource be added to faas-netes, maybe cloud/ingress?
and inorder to apply it , do i run `kubectl apply -f ./ingress.yaml`

[2017-10-26 08:34] alexellis commented on #55
Merged, thank you Dan.

[2017-10-26 08:34] #55 closed

[2017-10-26 08:35] alexellis commented on #46
Eric can you try the latest code? Do you still get this issue? I thought we'd included the change from @zouyee

[2017-10-26 08:36] alexellis commented on #23
This should be fixed now through running in the new monitoring-config.armhf.yml file which bind-mounts the right config.

[2017-10-26 08:36] #23 closed

[2017-10-26 09:04] zouyee commented on #46
We may need to add a https://github.com/kubernetes/kube-state-metrics#compatibility-matrix

[2017-10-26 09:06] alexellis commented on #46
Is this warning just saying "could not find deployment"? Or is this about the alpha/beta status of the Go client?

[2017-10-26 09:10] zouyee commented on #46
kubernetes 1.8.1 contain `apps/v1beta2|v1beta1/Deployment` and `extenions/v1beta1/deployment`

[2017-10-27 21:48] alexellis opened #66 "Default Delete/Create approach gives 500 error when it should be 404"
Default Delete/Create approach gives 500 error when it should be 404

[code]

This should say 404 instead.

@weikinhuang do you think you can take a look?

[2017-10-27 22:00] alexellis commented on #66
https://github.com/openfaas/faas-netes/commit/6217e5be35bf9752904250a336bab2e7473f4e28

[2017-10-27 22:01] weikinhuang commented on #66
Looks like you already got to it 😄

[2017-10-27 22:07] alexellis commented on #66
Needs some playing/testing - I think it may get into an undesirable state if you delete/create over and over again. People will do that.. so we should handle it gracefully.

[2017-10-29 22:58] alexellis commented on #66
Fixed in latest release:

https://github.com/openfaas/faas-netes/releases/tag/0.3.3

[2017-10-30 05:47] valentin2105 opened #68 "[Question] IPv6-only support"
Hi,

I try to deploy Fass-netes in my IPv6-only Kubernetes cluster (v1.8.2).

Every services seem to work at glances, but the problem occur when the Gateway pod try to redirect to the Function pod.

I try following this link : https://blog.alexellis.io/first-faas-python-function/ (hello-python function),

[code]
EDIT :

Maybe I found any cause of the problem,
[code]
It seem Faas-netesd try to use

[2017-10-30 05:50] ericstoekl commented on #68
Derek add label: question

[2017-10-30 09:57] alexellis commented on #68
Do you have a hard requirement to deploy to an IPv6-only environment? Is this for business/production use?

[2017-10-30 21:01] valentin2105 commented on #68
We basically want to deploy an IPv6 only Kubernetes cluster because we work in IPv6-only VM environment and we want to avoid use IPv4 for k8s only.

About the ClusterIP to Endpoint change, it seem a good practice, like Ingress controller do, to avoid use IPTables :

[2017-10-30 21:10] alexellis commented on #68
So far you guys are the only users asking for this so we'd have to allocate time to research the topic and set up environments. What size is your business? Do you have a solution in mind that you can test and propose?

[2017-10-30 21:13] valentin2105 commented on #68
Don't bother you with that,
I'll read the code and see if I can get it to work in my environment.

Thanks a lot.

[2017-10-30 21:13] #68 closed

[2017-10-31 07:54] alexellis opened #69 "Adjust function name regex - to allow DNS-1123"
## Expected Behaviour

"function1" should be valid, but isn't with our current regex.

## Current Behaviour

Must type functiontwo

## Possible Solution

Alter regex and unit tests in project.

## Steps to Reproduce (for bugs)

[code]

Start here:

https://github.com/openfaas/faas-netes/blob/master/handlers/deploy.go#L29

## Acceptance Criteria:

* Must have unit test coverage for positive and neg

[2017-10-31 08:10] alexellis opened #70 "Proposal: CRD/controller to manage functions"
Create a CRD custom resource definition which represents the Function abstraction. Plus controller to reconcile the state.

A Function would internally create the existing pair of:

* Service
* Deployment

The faas-netesd controller would be responsible for accepting the Function definition via the existing RESTful API. Then rather than creating/updating/deleting services and deployments we'd crea

[2017-10-31 16:03] rawkode commented on #69
[code]

[code]

[2017-10-31 21:05] #69 closed

[2017-11-01 09:27] resouer opened #72 "OpenFaaS components should not be "BestEffort" pod"
The BestEffort pod (no resource definition) is the candidate to be evicted when node is under resource pressure. It is never recommended for system pods.
## Expected Behaviour

Faas components all have resource limit at least.
## Current Behaviour

Faas components all have no resource limit.
## Possible Solution

Add resource limit to Deployment.
## Steps to Reproduce (for bugs)

1. Create a kuber

[2017-11-01 10:08] alexellis commented on #72
Interesting.. we've not seen this yet. How small was the host you were using?

What memory usage did you observe for the faas-netesd controller?

[2017-11-01 10:51] resouer commented on #72
The host is 8Gi size. The memory usage is small, while t is evicted due to node lack of memory and faas-netes is a lowest QoS class pod.

[2017-11-01 11:00] alexellis commented on #72
What are you running on there to fill up 8GB? I run on a host with 1GB and I've not seen evictions with just very light use.

[2017-11-01 11:01] resouer commented on #72
The node is filled a lot of workloads, I should mention that  earlier :)

[2017-11-01 14:25] alexellis opened #74 "Proposal: for non-helm deployment - use openfaas ns"
Helm allows us to specify a namespaces:

For OpenFaaS system components: openfaas
For OpenFaaS functions: openfaas-fn

Let's leverage the changes we made for `helm` for our default set of YAML files including the mounted configs for Prometheus/alertmanager.

[2017-11-03 03:25] rayhero commented on #36
Currently how can we set the memory/CPU limits for functions in faas-netes??

[2017-11-03 04:04] rayhero opened #76 "How to set function's resource(request/limit) of pod memory"
I have a image processing function that need to use 13G memory. I create a Cluster
have 16G memory with 3 nodes. But I can not find a way to configure my function's
Pod memory size or swap memory size. And if several request at same time, How to
set configure to make my each function call can have enough memory to complete the job?

## Expected Behaviour
The image processing job can have enough me

[2017-11-03 08:53] #72 closed

[2017-11-03 11:21] rayhero commented on #76
I can rebuild the faas-netes image. I think the deploy.go is the correct place to set the resource limit. Can I set the limit in clientset? Or I need to set limit in ctg? Does somebody know how to set?

[2017-11-04 17:36] stefanprodan commented on #74
I think I covered this in here https://github.com/stefanprodan/openfaas-gke/blob/master/faas.yml

There are some differences:
* rbac.authorization.k8s.io/v1 (compatible with K8S API 1.8+)
* apps/v1beta2 (compatible with K8S API 1.8+)
* prometheus:v1.8.2 (has predictable memory usage vs 1.5)
* alertmanager:v0.9.1
* all containers have the memory limit set to 128Mi except Prometheus 1Gi
* Prometheus

[2017-11-06 16:33] #66 closed

[2017-11-08 09:08] alexellis commented on #74
Please do, but we need to think about whether we provide a snapshot of 1.7 compatible YAML or force a forward upgrade.

[2017-11-08 09:57] allamand commented on #59
I've got same problem when deploying on GKE with kubectl without any modification fo stacks file from the repo. Do I have to change anything so that it can works on GKE ?

[code]

thanks

[2017-11-08 09:59] alexellis commented on #59
Have a look at this from @stefanprodan

https://github.com/openfaas/faas-netes/issues/74

[2017-11-08 13:51] lizrice commented on #59
I just hit exactly this issue trying to apply the helm chart on minikube. Applying the ClusterRole from the YAML file @stefanprodan supplied in #74 fixed it i.e. I created a YAML file with that ClusterRole, applied that file and then the helm installation worked fine.

[2017-11-08 18:02] alexellis opened #78 "Ensure GET method is supported in faas-netes"
The API Gateway will now accept a GET invocation for a method.

We should check if faas-netes supports this and if it has any if-guards, we should remove those and do some basic testing with functions.

I.e. https://github.com/openfaas/faas-netes/blob/master/handlers/proxy.go#L41

[2017-11-08 22:44] alexellis commented on #76
Yes that would make sense. I know you shared on Slack that you did this. We're adding memory limits into the `requests` package - when that's finished we'll close this issue.

[2017-11-09 12:40] allamand commented on #59
Following the steps from @stefanprodan works for me, deployed with kubectl. Thanks

[2017-11-12 21:28] alexellis opened #80 "Backlog: Add Memory limits to functions on Kubernetes"
Add Memory limits to functions on Kubernetes

Since OpenFaaS is agnostic of the provider, I'm looking at using the Swarm notation which is much easier/cleaner to parse and doesn't involve vendoring in-ordinate amounts of complex code.

See: https://github.com/openfaas/faas/pull/385 https://github.com/openfaas/faas-cli/issues/223 https://github.com/openfaas/faas-cli/pull/225

[2017-11-13 13:14] LucasRoesler opened #82 "[Proposal] New Secret management in faas-netes"
## Context
Currently, `faas-netes` assumes that all secrets are related to docker creditials, specifically that they should be mounted as `ImagePullSecrets`. See [the current deploy handler](https://github.com/openfaas/faas-netes/blob/cd1130172de126845ab5041929b7abcd7a953aca/handlers/deploy.go#L126) where it sets each named secret as an image pull secret

[code]

The image pull secrets are a parti

[2017-11-14 10:53] blu3gui7ar opened #83 "Async function could not be called when installed with helm and functionNamespace set."
## Expected Behaviour

Deployed by helm chart with functionNamespace set as 'openfaas-fn'.
Async function called by queue-worker.

## Current Behaviour

Async function could not be called, as function service could not be resolved.

## Possible Solution

Define faas_function_suffix environment variable for queue-worker in helm chart.

## Steps to Reproduce (for bugs)

1.  Install by helm, set func

[2017-11-14 14:03] alexellis commented on #82
I like the level of detail in this proposal - I can tell you've really thought it through. Thank you @LucasRoesler. Could we maintain a list of secrets and then determine the type from the Kubernetes API in order to know where to attach them?

Pseudo code:

[code]

[2017-11-14 15:14] LucasRoesler commented on #82
I like this proposal by @alexellis, I will work on this tomorrow and hope to have a PR by end of Wednesday

[2017-11-14 18:41] alexellis commented on #82
Please ping me if you need anything.

[2017-11-14 22:12] weikinhuang commented on #74
Currently blocked by https://github.com/openfaas/faas-netes/pull/52

[2017-11-18 09:15] #80 closed

[2017-11-18 09:15] alexellis commented on #80
Fixed and released.

[2017-11-21 01:18] zouyee opened #88 "add NOTES.txt in Charts"
## Expected Behaviour

## Current Behaviour

add NOTES.txt in Charts
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reprod

[2017-11-23 11:46] alexellis opened #89 "Potential issue with env-vars and Deployment v1beta1"
I believe there is a potential issue with env-vars and Deployment v1beta1 when testing on Kubernetes 1.6.7 with RBAC enabled

## Expected Behaviour

Rolling updates should honour env-vars set in the container spec

## Current Behaviour

They're not honouring it.

## Possible Solution

Code is present, maybe need to try different versions of Kubernetes to see if if that resolves things.

https://gi

[2017-11-23 12:07] stefanprodan commented on #89
On GKE with Kubernetes v1.8.3 it works fine, I'm getting `env1=false` after the update. I don't think we have to worry about v1.6

[2017-11-23 13:03] alexellis commented on #89
Brilliant, thank you for helping. What about 1.7? It's still available as an option on GKE

[2017-11-24 17:40] rgee0 opened #90 "Proposal: Introduce a .DEREK.yml file for managing maintainer permissions"
## Expected Behaviour
The latest version of Derek uses yaml format for managing maintainers and features.  The repo should include a `.DEREK.yml` to enable the use of the latest version of Derek.

## Current Behaviour
Derek is still wearing flares & a tank top and relies on MAINTAINERS.

## Possible Solution
Add a .DEREK.yml which includes the current maintainers and includes `comments` and `dco_c

[2017-11-24 17:40] rgee0 commented on #90
Derek add label: proposal

[2017-11-25 09:08] alexellis commented on #88
I don't understand the format of the bash command:

`kubectl --namespace={{ .Release.Namespace }} get deployments -l "release={{ .Release.Name }}, app={{ template "faas-netesd.name" . }}"`

It has templating in it, but I can't run it in bash?

Is this just the output helm prints as a help message after deployment? If so it should say "OpenFaaS" too.

[2017-11-26 08:57] rgee0 commented on #90
Derek close

[2017-11-26 09:02] rgee0 commented on #90
@alexellis this can be closed - you're the only maintainer on this repo.

Seems `fixes #nn` needs to be in the body rather than the title.

[2017-11-26 09:21] alexellis commented on #90
Added you as a maintainer.

[2017-11-26 09:21] #90 closed

[2017-11-28 03:33] dvdmuckle opened #92 "Typo in HELM.md"
At the bottom of the list of addl Helm chart options, there is a missing bullet point.

[code]
`ingress.endabled=true/false` should have a * in front of it.

[2017-11-28 08:36] alexellis commented on #92
Thank you @dvdmuckle  :+1:

[2017-11-28 08:37] alexellis commented on #92
Fixed in https://github.com/openfaas/faas-netes/commit/aa2de38751d54fbe57e78a84647dd5eeecdf44c4

[2017-11-28 08:37] #92 closed

[2017-11-28 09:26] stefanprodan opened #93 "Disable Prometheus scraping"
We should prevent Prometheus scraping of function services, this can be done by adding an annotation to the service meta.

## Expected Behaviour
Since the watchdog doesn't expose a `/metrics` endpoint, Prometheus should not try to scrape any function.

## Current Behaviour
If Prometheus is configured with Kubernetes service discovery it will try to scrape the functions resulting in function errors

[2017-11-28 10:27] alexellis commented on #93
Sounds like a good idea. Can you build that into the default template in the deployment handler?

[2017-11-28 12:18] #93 closed

[2017-11-29 04:08] tomtom215 opened #95 "HELM - Tiller Component Installation Error"
## Expected Behaviour
Install Server Side Tiller Component Via:
`$ helm init --skip-refresh --upgrade --service-account tiller`

## Current Behaviour
Installation Failed:
` $ sudo helm init --skip-refresh --upgrade --service-account tiller
/usr/local/bin/helm: 1: /usr/local/bin/helm:ELF: not found
/usr/local/bin/helm: 2: /usr/local/bin/helm: }▒: not found
/usr/local/bin/helm: 8: /usr/local/bin/hel

[2017-11-29 07:54] stefanprodan commented on #95
How is this related to OpenFaaS? From the error message looks like you didn't installed helm, please follow these [instructions](https://github.com/kubernetes/helm/blob/master/docs/install.md).

[2017-11-29 22:56] alexellis opened #96 "Feature: create function replica (Pod) count from metadata"
To follow the style of Docker Swarm https://github.com/openfaas/faas/issues/414 we should update the create and update handlers so that if a label is specified for the minimum amount of replicas that is used instead of "1".

[code]

In this instance we'd pick 5.

[2017-11-30 12:29] #96 closed

[2017-11-30 12:31] alexellis opened #99 "Feature: Offer native Horizontal Pod Autoscaling as an alternative to alert-manager auto-scaling"
We should offer Horizontal Pod Autoscaling as an alternative to alert-manager+Prometheus auto-scaling for Kubernetes.

https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/

cc/ @stefanprodan

## Current scaling solution pros/cons

### Solution

Auto-scaling currently works through the API Gateway so is automatic for any provider and can be tweaked with min/max scaling numbers

[2017-11-30 12:46] zouyee commented on #99
using metrics api or custom metrics to explore hpa？

[2017-11-30 12:58] stefanprodan commented on #99
I would say we should try first to setup HPA based on requests/s

[2017-11-30 17:02] ericstoekl opened #100 "Create a guide for deploying OF on K8 on AWS"
I will write a guide in the form of a blog post about how to deploy OpenFaaS on Kubernetes on AWS.

This work item was suggested by @alexellis, who also suggested that I create an issue to track my progress of this task.

I will leverage my K8-on-AWS deploy script which is here (https://github.com/ericstoekl/bash_profile/blob/master/kubesetup.bash).

[2017-11-30 17:02] ericstoekl commented on #100
Derek assign: ericstoekl

[2017-12-04 09:45] nicholasjackson opened #103 "Add CPU based constraints"
Memory based constraints are already enabled in the k8s provider, we should extend this functionality to add cpu based constraints which are already defined in the gateway.
[https://github.com/openfaas/faas/blob/613ac888cdb6ffad2dcbef90282f1eea90ce85a3/gateway/requests/requests.go#L47](https://github.com/openfaas/faas/blob/613ac888cdb6ffad2dcbef90282f1eea90ce85a3/gateway/requests/requests.go#L47)

[2017-12-14 09:15] #88 closed

[2017-12-14 12:43] alexellis opened #106 "Enable NATS Streaming for async by default"
Suggestion from @stefanprodan - to enable NATS Streaming for async by default.

## Expected Behaviour

Deployment already includes NAT Streaming for async behaviour

## Current Behaviour

Optional via helm or by using separate YAML

## Possible Solution

Bake it in, but document how to swap/remove in markdown/docs.

[2017-12-18 22:44] jgensler8 commented on #70
Hey @alexellis,

I have implemented a Controller for OpenFaaS definitions: https://github.com/jgensler8/openfaas-controller

To do so, I have generated and committed a go-client library for OpenFaaS: https://github.com/jgensler8/openfaas-client-go

Definitions look like the following:
[code]

As you can see, the `apiversion` should probably change to something more "official." Perhaps referencing

[2017-12-20 10:54] alexellis commented on #70
@stefanprodan has started to do a spike on this at https://github.com/openfaas-incubator/faas-o6s

Stefan can you update this issue with the discussion from the yesterday around versioning and migration.

@jgensler8 thanks for spending some time looking into this. Do we have you in the Slack community yet?

[2017-12-20 14:22] jgensler8 commented on #70
@alexellis I am not in the Slack Channel yet. I'll tweet or email in the next day or so.

[2017-12-22 19:48] dvdmuckle opened #111 "Include Helm Chart Repository"
This would allow for easier deployment with Helm, and would also allow for blazing fast deployment with tools such as Kubeapps, which pull charts from repositories.

[2017-12-24 05:23] skunkwerk commented on #59
I'm running into this issue trying to deploy to GKE.  The link to the YAML file in #74 goes to a 404.  Could someone please provide workable installation instructions for non-RBAC Kubernetes?

[2017-12-24 09:37] alexellis commented on #59
Just curious why you aren't using RBAC @skunkwerk? The helm chart should work for you? It has an option to turn off `rbac`

[2017-12-24 09:37] alexellis commented on #59
I am updating the YAML files for the standard installation method in the `yaml` branch - #105

[2017-12-25 23:49] #111 closed

[2017-12-25 23:50] dvdmuckle commented on #111
Closing as this is apparently in progress.

[2018-01-07 18:00] alexellis commented on #59
Closing issue due to inactivity. Please feel free to keep commenting - it's very important to us that this works for everyone.

[2018-01-07 18:00] #59 closed

[2018-01-07 23:54] amney opened #113 "namespaces.yml should be moved to ./yaml"
## Expected Behaviour

Deployment on k8s requires creating namespaces. Documentation suggests running
[code]

## Current Behaviour

`namespaces.yml` did not get moved to `./yaml` in dc515030c9164683a5334d635f404231f9b48c79 so current output is:
[code]

## Possible Solution

Move `namespaces.yml` to `./yaml`

* https://github.com/amney/faas-netes/commit/0e21fdd860e5be061ee6edf416b58e51d0f34f6c

[2018-01-07 23:57] fergalmoran commented on #59
I have a similar issue (I think) - trying to install the samples. This is on ARM (I have created the openfaas namespaces).
[code]

[code]

[code]

[2018-01-08 17:02] jsenon opened #114 "Question: Automatic function deletion after predefined period"
Hello,

Is it possible to automatically delete an unused function/pod after predefined period? Is it part of incoming improvement:
Scale to zero 0/0 replicas

Thanks a lot.

[2018-01-08 18:37] alexellis commented on #114
Hey @jsenon thanks for the question.

So you want to completely remove the deployment from the system? What's the use-case for that? Can you outline it?

[2018-01-09 10:16] jsenon commented on #114
Hi @alexellis thanks for your reply. Find bellow a quick overview of our use case.
If I have plenty of functions around 200-300 shared between many projects, some of these functions are not used all the time.
We can think about downloader service that could be a good example, this function is not used all the time but could be trigger by a scheduler to launch it and download datas. Because we have

[2018-01-09 12:34] alexellis commented on #114
When you say 200-300 functions - is this a business use-case you have in production? Are your functions functions within a code file or individual Serverless functions?

Perhaps of the 200-300 functions some could be part of the same function code and use variables like a HTTP Header or Query string to decide which part of the code to invoke. This would make sense if there is at least some cohesio

[2018-01-10 13:24] mhausenblas opened #115 "Add instructions how to deploy OpenFaaS on OpenShift"
How can OpenFaaS be used on OpenShift? Provide detailed instructions and provide changes to the YAML manifests where necessary.

[2018-01-12 20:17] JacobSanford opened #117 "Avoid Default Use of Nodeport?"
Thanks for a great product. I appreciate the work and effort.

Based on our local use, I am inquiring about your interest in a PR that pulls out the the default port-opening Nodeport services for Prometheus and Gateway into a new YAML files. The documentation would instead encourage users to leverage the ```kubectl proxy``` to reach the gateway (similar to the dashboard):

[code]

and avoid openin

[2018-01-12 20:32] alexellis commented on #117
Hi @JacobSanford thank you for using OpenFaaS! I'd like to know more about your use-case and why NodePorts don't work for you and proxies do.

How would you invoke or expose your functions?
Could you maintain a separate YAML file to lock down / remove the NodePorts?

We have a guide on locking down OpenFaaS - do you have any thoughts on that?

https://blog.alexellis.io/lock-down-openfaas/

Looking

[2018-01-12 20:32] alexellis commented on #115
Thank you for this Michael!

[2018-01-12 20:35] alexellis commented on #113
This is as designed. I moved namespaces.yml outside of the yaml folder because the kubectl command fails to work if it decides to run the namespace creation after any of the other resources. We've had the documentation updated instead. Please do re-test and thank you for using OpenFaaS

[2018-01-12 20:35] #113 closed

[2018-01-12 20:36] alexellis commented on #114
Ping @jsenon

[2018-01-13 13:59] jsenon commented on #114
Hi @alexellis, sorry for delay. Yes we will have this business use case. Functions will function with individual serverless function. If we come back to downloader we use the same part of code to invoke, we could have same use case if we talk about an uploader that retrieve a stream and send it to an application backend. Depending of amount of charge we can scale to 0 if we don't launch download o

[2018-01-13 18:11] rgee0 commented on #63
Derek close: Original question has been answered.  @id0Sch could you add detail to your final question and raise it as a new proposal issue please?

[2018-01-13 18:11] #63 closed

[2018-01-13 18:15] rgee0 commented on #60
@zouyee are you still working on this, and how much progress has been made on this, please?

[2018-01-13 18:33] alexellis commented on #60
Thanks for pinging @rgee0. I'm closing due to lack of activity.

[2018-01-13 18:33] #60 closed

[2018-01-13 20:20] JacobSanford commented on #117
Hi @alexellis

My concern is not that Nodeport doesn't work for us - it certainly does! That route does, however, open external -> k8s ports that may be unnecessary, as ```kubeadm proxy``` can be used to provide access into the k8s network (as long as the cluster's API port is open).

Users then reach the openfaas gateway/api/functions via browser/CLI tool at the ```kubectl proxy``` URI. In our ca

[2018-01-13 20:33] alexellis commented on #117
I think you can do this through the helm chart currently.. are you pro/against helm?

[2018-01-25 02:05] dungeonmaster18 commented on #103
Hey @nicholasjackson can you close this it's been fixed in #104

[2018-01-25 08:12] #103 closed

[2018-02-01 17:10] stefanprodan opened #123 "Add readiness probe"
Added readiness probe to prevent calls to a function that's not forked.

## Expected Behaviour
For functions based on the HTTP watchdog, during autoscaling we should prevent the LB from forwarding calls to a function that's not yet forked.

## Current Behaviour
During autoscaling the kube proxy will forward requests to a pod before the forking takes place.

## Possible Solution
Add readiness probe

[2018-02-01 18:57] #123 closed

[2018-02-02 09:16] alexellis opened #129 "Upgrade to Prometheus 2.0"
## Current Behaviour

We are using ConfigMaps but still on Prometheus 1.5 - 2.0 works well and is available in the main faas project as an example.

## Scope

This should cover the plain YAML files and the helm chart.

## Acceptance criteria

It must be tested including via CLI, UI and still trigger auto-scaling.

[2018-02-02 09:56] alexellis commented on #74
We are using openfaas/openfaas-fn namespaces in YAML now 👍 closing..

[2018-02-02 09:56] #74 closed

[2018-02-02 09:56] alexellis commented on #106
Done

[2018-02-02 09:56] #106 closed

[2018-02-02 09:56] #95 closed

[2018-02-02 09:56] #89 closed

[2018-02-02 09:56] #78 closed

[2018-02-02 09:57] #76 closed

[2018-02-02 09:57] #46 closed

[2018-02-02 09:57] alexellis commented on #46
Fixed

[2018-02-02 09:57] #41 closed

[2018-02-02 09:57] #36 closed

[2018-02-02 09:57] #19 closed

[2018-02-02 09:58] #10 closed

[2018-02-02 09:58] alexellis commented on #12
This didn't seem to help much but our recent KeepAlive changes should reduce DNS lookups

[2018-02-02 09:58] #12 closed

[2018-02-02 09:58] #83 closed

[2018-02-02 09:58] #82 closed

[2018-02-02 09:59] alexellis commented on #114
This is on the radar for the project. It is something we will probably tackle this year. I'm closing this issue. Please feel free to raise the suggestion on the main site openfaas/faas

[2018-02-02 09:59] #114 closed

[2018-02-02 10:00] alexellis commented on #100
@ericstoekl are you working on this or should I close the issue?

[2018-02-02 10:50] alexellis commented on #129
Is it compatible with 2.0 configs?

[2018-02-02 11:20] LucasRoesler commented on #129
for the helm chart, would it make sense to just add the stable prometheus chart as a dependency? The biggest downside is that the yaml manifests and the helm chart would then be different .

[2018-02-02 13:13] stefanprodan commented on #129
2.1 is fully compatible with 2.0 config

[2018-02-02 19:16] dvdmuckle opened #130 "Helm Fails to install with --set armhf=true"
Because there are no arm images for any of the async deployments, Helm fails on there being an empty arm image for queueworker.

## Expected Behaviour
Helm should be able to install with --set async=false,armhf=true.

## Current Behaviour
When doing `helm upgrade --install --set async=false --set armhf-true openfaas chart/openfaas`, or just `helm upgrade --reuse-values --set async=false openfaas c

[2018-02-03 03:56] ericstoekl commented on #100
I posted this blog back in december :)

https://medium.com/@ericstoekl/deploying-openfaas-on-kubernetes-aws-259ec9515e3c

[2018-02-03 03:56] #100 closed

[2018-02-03 11:44] LucasRoesler commented on #129
@alexellis it seems that the `arm` images are all managed by you, but I can't find a repo for the docker files you used to build them.  Are these in a public repo somewhere? Can we update them to 2.1 as well?

[2018-02-03 12:44] LucasRoesler commented on #129
I was just reading the prometheus migration guide and it contains this

Do we need to add a migration warning and instructions?

[2018-02-03 12:45] alexellis commented on #129
We could put this into the release notes perhaps?

[2018-02-03 22:38] ericstoekl commented on #100
Indeed it is -- under [Blog posts and write-ups](https://github.com/openfaas/faas/blob/master/community.md#blog-posts-and-write-ups)

[2018-02-03 22:48] alexellis commented on #100
Perfect thank you 👍

[2018-02-06 09:21] #129 closed

[2018-02-06 13:06] alexellis opened #132 "Config: Set timeouts via helm-chart [help wanted]"
We should be able to configure read/write and queue-worker timeouts via the helm chart in the values.yml file. I'd like help with this.

For the gateway/faas-netesd:

[code]

For the queue-worker see the existing YAML file which defines a timeout of 30s.

[2018-02-06 13:08] rimusz commented on #132
I will look to it

[2018-02-08 21:53] alexellis commented on #130
Please see #134 - we'll remove helm support for armhf until there is an official Tiller image. Please use the regular YAML for the time being.

[2018-02-08 21:53] #130 closed

[2018-02-08 21:54] alexellis commented on #117
@JacobSanford do you want to use YAML or helm? If using helm we could add an option not to expose any NodePorts, LoadBalancers or etc.

[2018-02-09 10:45] rimusz commented on #132
This one is already done

[2018-02-09 13:24] swaroop-iquanti opened #135 "faas-cli deployment always trying to pull image from remote registry instead of local docker image"
Deploy onto minikube is not using locally build docker image

## Expected Behaviour

I was trying out python based serverless functions following the steps specified in https://blog.alexellis.io/introducing-functions-as-a-service/. I was able to build docker image as mentioned in the tutorial. When trying to deploy the newly created function's docker image, I was getting "ImagePullBackOff" in pod

[2018-02-10 21:53] alexellis commented on #135
`minikube` is a special case - you will probably have to push to a registry for that - either the Docker Hub or a local registry - see also the Minkube registry add-ons.

Here are two more up to date tutorials you could checkout instead:

* https://blog.alexellis.io/first-faas-python-function/
* https://blog.alexellis.io/quickstart-openfaas-cli/

I'll close the issue but please keep commenting if

[2018-02-10 21:53] #135 closed

[2018-02-12 11:17] hypnoglow opened #136 "Deployment with "rbac=false" is currently broken"
Commit 44f7d42 broke "rbac=false" deployment mode, because now the ServiceAccount is only created when RBAC is enabled.

## Expected Behaviour
openfaas helm chart successfully deployed.

## Current Behaviour
replicaset fails to create pods:
[code]

## Possible Solution
Solution 1: Bind pods to ServiceAccount only if RBAC is enabled.
Solution 2: Always create a ServiceAccount even if RBAC is disabl

[2018-02-12 11:39] alexellis commented on #136
@rimusz

[2018-02-12 11:40] alexellis commented on #136
Hi @hypnoglow I don't think you've filled out the whole issue template. Please could you do that including which specific version of Kubernetes you are using and whether that is self-hosted or hosted on GKE, AKS etc etc?

[2018-02-12 13:36] hypnoglow commented on #136
@alexellis My bad, I thought it's unrelated. I've filled it.

[2018-02-12 13:37] alexellis commented on #136
Do you know which Kubernetes version you're using with minikube?

[2018-02-12 16:39] SSANSH commented on #115
+1

[2018-02-12 18:11] alexellis commented on #136
@hypnoglow I spoke to @rimusz he said we need the ServiceAccount binding all the time even when RBAC is disabled. I'm reading the YAML in the repo and I can't see the bit where you say we are conditionally creating the ServiceAccount. Can you link me to it please?

[2018-02-13 07:23] hypnoglow commented on #136
[code]

Here it is: https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/rbac.yaml#L5

I guess then the condition `{{- if .Values.rbac }}` should be moved below ServiceAccount definition.

[2018-02-13 08:27] alexellis commented on #136
I spent a few hours on this last night and found another error that had been merged in where environmental variables were not quoted for timeouts. I actually tried removing the if guard but it didn't work.

If you can figure out the other breaking changes between that commit and HEAD I'd appreciate it.

The raw yaml files are working as expected in the yaml folder.

[2018-02-13 08:29] alexellis commented on #136
This is from a community member for setting up minikube with rbac:

`minikube start  --bootstrapper=kubeadm --disk-size=50g --memory=4096 --v 5 --kubernetes-version=v1.8.1`

[2018-02-13 09:00] LucasRoesler commented on #136
If I move the ServiceAccount definition outside of the if block, everything seems to work for me

[code]

[2018-02-13 10:20] hypnoglow commented on #136
Yeah, that's what I was talking about. Works for me too.

[2018-02-13 10:48] #136 closed

[2018-02-13 10:49] alexellis commented on #136
Thanks both

[2018-02-13 12:52] #132 closed

[2018-02-13 12:52] alexellis commented on #132
Thanks for the help

[2018-02-16 08:44] alexellis commented on #63
Thanks for commenting @rgee0 - I think faas-netes has come on since the original issue was raised. I do wonder whether we have a potential issue when using `kubectl proxy` though.

@stefanprodan + @jrevillas - this is an edge case, but what are your thoughts? The gateway looks for /system/functions to list functions however the relative root for /system changes when using the `kubectl proxy` appro

[2018-02-16 13:09] alexellis commented on #59
Hi @fergalmoran I didn't see you commented after the thread was closed. I've re-created the ARMHF YAML files so you should not have any issues with these now.

Just run this and open a new issue if you need to:

`kubectl apply -f ./namespaces.yml,./yaml_armhf`

[2018-02-16 13:09] alexellis commented on #59
Derek lock: issue resolved

[2018-02-16 13:56] justindavies opened #140 "cloud/lb.yml not working"
## Expected Behaviour
When removing the default NodePort gateway service and applying the cloud version, the gateway should be exposed correctly.

## Current Behaviour
The Service is plumbed into the "default" namespace

## Possible Solution
Specify the Service namespace so that it follows the namespaces.yml setup

## Your Environment
ACS and AKS on Azure

* Are you using Docker Swarm or Kubernete

[2018-02-16 14:03] alexellis commented on #140
Justin thank you for working on this. I would suggest using helm and passing the LoadBalancer configuration option. Checkout the chart/openfaas folder for more info.

It's good to have this YAML up to date though.

[2018-02-16 14:03] #140 closed

[2018-02-16 14:04] alexellis commented on #140
Fixed & merged.

[2018-02-17 06:27] VenkateshSrini opened #142 "Question: How do I install OpenFaaS with helm?"
I'm using the command
[code]
I get an error

**> WARNING: Namespace doesn't match with previous. Release will be deployed to openfaas

Please help me with the same. I use AKS for deployment

[2018-02-17 09:01] alexellis commented on #142
Hi @VenkateshSrini the error is saying you previously deployed faas-netes into a different namespace. Perhaps you should delete it then run it again.

The command should also use the openfaas and openfaas-fn namespaces.. is this from the guide via @ericstoekl ?

This is the reference method to install via helm with `--set rbac=false` added to accommodate AKS:

[code]

Prior to running that please

[2018-02-17 09:02] alexellis commented on #142
Derek set title: Question: How do I install OpenFaaS with helm?

[2018-02-18 04:50] VenkateshSrini opened #144 "function does return a value"
@alexellis,

I have a function that calls the kubernets service in the same cluster. Through a function deployed in open Faas I'm calling the service using the external ip. The function is not responding at all. I'm attaching the function for your reference
The other service send email using send grid. I have tested that service independently fro post man it works without any issue.
please let me

[2018-02-18 13:13] derailed opened #145 "Can a function mount a volume to load configs and data?"
I am trying to figure out how one could mount a volume either using PVC or Configmap. Looking at the
sample functions I am not finding a good example on how to best achieve this. Any pointers would
be much appreciated!

UseCase: I need to define a function that can configure itself or load static data prior to being invoked. I think leveraging k8s resource such as mounting a volume from a ConfigMa

[2018-02-18 13:20] alexellis commented on #145
Hi Fernand,

From what I'm reading I think you're suggested several things:

1. mount arbitrary volumes
2. mount configs (config files)

There is no support for either of these points, however storage is available through an S3 interface - [here is a detailed tutorial](https://blog.alexellis.io/openfaas-storage-for-your-functions/).

Point 1 is addressed here https://github.com/openfaas/faas/issue

[2018-02-18 14:18] stefanprodan commented on #145
Hi @derailed

Mounting files or volumes inside a function is yet supported.

Setting config data can be done via environment variables and secrets.
Working with files can be done using Minio. You would create a secret with your Minio address and auth and when your function starts you would connect to Minio, download any files your function needs form a Minio bucket, process them and delete them be

[2018-02-18 15:34] derailed commented on #145
@alexellis @stefanprodan - Thank you so much for the prompt reply and for all your efforts and awesome contributions. I am a big fan!!

I'll totally understand if this is an edge case request and if this is not at all on the radar!

I understand, I can specify configs via env vars but it feels totally Jurassic to me and would rather load from a CM if possible.

## UseCase: Self Configuring Functio

[2018-02-18 16:01] stefanprodan commented on #145
You could create a secret that contains your config like this:
[code]

Read the config in your function code from this file:
[code]
In order to switch algorithms you can call your function using a query string:
[code]
Read the algorithm version in your function code from the `Http_Query` environment variable:

[code]

You can read [here](https://github.com/openfaas/faas/tree/master/watchdog#workin

[2018-02-18 16:18] derailed commented on #145
Awesome!! Thanks @stefanprodan for this information. Much appreciated!

[2018-02-18 18:05] ericstoekl commented on #142
@VenkateshSrini Seconding what Alex said, let us know what guide you are following to deploy OF via Helm. Use `helm list --all` to show what deployments are currently active, and delete all of them by running `helm delete <deployment_name> --purge` for each deployment name. Run `kubectl get ns` to show what namespaces are active, and if none are then run:

[code]

Finally deploy OF with:

[code]

[2018-02-18 18:38] VenkateshSrini commented on #142
Yes i installed another one with openfaas 1 and it worked

[2018-02-18 18:38] VenkateshSrini commented on #142
Yes i installed another one with openfaas 1 and it worked

[2018-02-18 18:38] #142 closed

[2018-02-20 12:55] VenkateshSrini commented on #144
Hi,
Is there any update on this. I'm trying out a POC and I'm running short of time. I'm completely stick here as to why the function is timining out without any response. Is it that from openFaas We cannot call any other service deployed in the same namespace on a kubernetes load alancer deployemnt

[2018-02-20 13:00] alexellis commented on #144
Hi @VenkateshSrini,

Please can you raise a new issue and fill out the whole issue template including details about your Kubernetes cluster setup?

Make sure you have followed the troubleshooting guide for OpenFaaS too. That includes reading the logs of your function and the gateway.

It's very hard to provide support with such a limited amount of information.

https://github.com/openfaas/faas/blo

[2018-02-21 04:01] VenkateshSrini opened #146 "Question on Pod communication with AKS"
I have a function that calls the kubernets service in the same cluster. Through a function deployed in open Faas I'm calling the service using the external ip. The function is not responding at all. I'm attaching the function for your reference
The other service send email using send grid. I have tested that service independently fro post man it works without any issue.
please let me know what is

[2018-02-21 04:03] VenkateshSrini commented on #144
@alexellis ,
As per your instruction I have filled the template and created a new issue at https://github.com/openfaas/faas-netes/issues/146

Hence closing this. But please help me with the other issue that I have raised

[2018-02-21 04:03] #144 closed

[2018-02-21 10:25] alexellis commented on #144
Derek close

[2018-02-21 10:27] alexellis commented on #144
@venkateshSrini please show that you have followed the troubleshooting guide and provide the logs also.

Your function would be easier for us to help with if it was uploaded to a github two rather than as a zip file attachment.

[2018-02-21 10:29] alexellis commented on #146
Derek add label: question

[2018-02-21 14:37] alexellis commented on #146
Derek set title: Question on Pod communication with AKS

[2018-02-21 14:46] alexellis commented on #146
Hi @VenkateshSrini we don't believe there is an issue with OpenFaaS here - it sounds like it may be a mis-configuration at the networking level.

OpenFaaS function pods can access Pods in other namespaces via HTTP - an example of this is the way a Pod can call the API Gateway and the queue worker we have which can call pods.

I'd suggest you try using DNS names to access services within your clust

[2018-02-22 03:25] VenkateshSrini commented on #146
@alexellis ,
No this is not an issue with azur AKS. When I started to understand openFaas a much deeper. I see that it is deployed as pod in K8s cluster. The pod was in status image pull back state. When I saw my docker hub I saw that the image was not there.

So I repeated the steps
`Faas-cli deploy -f file name`

This failed saying that it could find a dependency newtonsoft.json, which is a nuge

[2018-02-22 03:26] #146 closed

[2018-02-22 03:39] VenkateshSrini opened #147 "How to send a Http Response from a function"
I use C# for creating openFaas function. How do I send a return HttpResponse Message to the caller. Now only I get the response status code as 200 and so on.

[2018-02-22 09:23] iyovcheva commented on #147
Derek add label: question

[2018-02-22 10:24] iyovcheva commented on #147
Derek add label: question

[2018-02-22 14:16] iyovcheva commented on #147
Hi @VenkateshSrini

Can you please share more details about your function - how do you implement it and what the full picture of what you'd like to achieve looks like?

[2018-02-22 15:26] VenkateshSrini commented on #147
@iyovcheva ,
Very simple. I have written a function that accepts a JSON. Just in case the input string in function handler can not be deserialized to JSON, I want to throw an 400 (Bad request) with a proper JSON error message. If there are any other exception I want to retrun 500 (Internal server error) with proper JSON. Now if I do Console.Write (<<JSON String>>) it is still has the response stat

[2018-02-23 09:16] alexellis commented on #147
We have something coming soon which will address the use of arbitrary status codes and headers, but for the time being you can do the following:

* Return as normal and get a response code of 200
* Print your value then call system / exit with a non-zero exit code - this results in a 500
* return a JSON body with the status code wrapped (easiest option)

[code]

I'll close the issue as we've answe

[2018-02-23 09:16] #147 closed

[2018-02-24 02:01] VenkateshSrini commented on #147
what is the time line I can expect the use of headers and arbitrary status codes to implemented in the product

[2018-02-24 18:08] alexellis commented on #142
Glad it worked out for you @VenkateshSrini

@ericstoekl thanks for helping out

[2018-02-24 18:13] alexellis commented on #147
OpenFaaS is a community project, not a product.

Are you able to work within the constraints explained above? I'd suggest you return a JSON body and parse that on the client to determine success/failure. It's a very minimal overhead.

[2018-02-25 03:40] VenkateshSrini commented on #147
@alexellis ,
I also understand that it is an open source project. But in this thread it was told that soon we will be getting this facility of custom status code and headers and hence I wanted to know the time line. In enterpirse this is important because there are other programs and product that react differently based on the Http Status code. In fact they would treat this as an contract itself

[2018-02-25 13:09] alexellis commented on #117
FYI the UI now fully works over `kubectl proxy` - https://github.com/openfaas/faas/issues/519

cc/ @stefanprodan

[2018-02-25 16:35] alexellis commented on #146
That's good to know. Glad you got it working

[2018-02-26 05:27] ericstoekl commented on #145
Derek close: initial question was answered, further specific questions should be raised as separate issues.

[2018-02-26 05:27] #145 closed

[2018-02-26 05:41] ericstoekl commented on #99
Derek add label: revisit

[2018-02-26 09:40] alexellis commented on #145
I am not sure that the replicas of a function should differ - that may be better accomplished with two separate deployments of the function (could use the same function (read Docker) image though with your config/secret mounted/bound.

Istio / Nginx etc could then sit in front and re-route as necessary. Istio does look very versatile for re-routing traffic - can it do this with configurable routes

[2018-02-26 13:45] derailed commented on #145
Thank you all for inputs!

You are right @alexellis. I think this is indeed the correct approach as you do want to keep the ability to scale/autoscale a function. I do think it would be a good thing to have the ability to introduce a new function say f' that can use f docker image and somehow inject configuration to tune behavior ie training functions f and f'. So in the K8s use case, having the a

[2018-02-27 20:55] alexellis commented on #117
Derek close: inactive

[2018-02-27 20:55] #117 closed

[2018-02-27 20:55] alexellis commented on #70
Work is in progress on this. cc @jgensler8

[2018-02-27 20:56] alexellis commented on #3
Derek close: inactive

[2018-02-27 20:56] #3 closed

[2018-03-04 15:33] alexellis opened #152 "Config: update armhf configuration to match x86_64"
## Expected Behaviour

armhf config (YAML) files should mirror the x86_64 files:

* update naming
* update namespaces so that `openfaas` and `openfaas-fn` are used
* retain the image tags

## Current Behaviour

Services are created in the default namespace

## Steps to Reproduce (for bugs)

Needs at least one Raspberry Pi 3 or Scaleway host of type ARMv7 with Kubernetes installed. A single node is

[2018-03-04 15:34] alexellis commented on #152
Do either of you fancy picking this up? @johnmccabe @rgee0 @ericstoekl - it should largely be a copy/paste of the `yaml` folder over the top of the `yaml_armhf` folder then changing the image tags back to the arm variants.

[2018-03-04 15:42] ericstoekl commented on #152
Sure I could pick this up

[2018-03-04 16:14] alexellis commented on #152
Thank you

[2018-03-04 19:30] jankeesv commented on #152
This should be a nice fix because I like to be in control of the Prometheus config file to add other scrapers. Can the docker file of the prometheus image also be shared? Now it is a custom image and based on v6 if I'm correct.

[2018-03-04 19:55] jankeesv commented on #152
I see that there is no specific tag for the armhf version of functions/faas-netesd on docker hub. Only 0.4.3-arm64 and a 0.4.4.

[2018-03-06 19:53] rmb938 commented on #145
Going back to the original question, I do like the idea of being able to give configmaps to functions. An example would be a shared config across various functions. So instead of setting env variables manually in each function definition I can just set a configmap name similar to secrets. For now I can use secrets however that is not really the "kubernetes" way to do things.

[2018-03-06 20:06] rmb938 opened #153 "Question: Secrets as environment variables?"
## Expected Behaviour
Secrets can be mounted as volumes or used as environment variables

## Current Behaviour
Secrets can only be mounted as volumes

## Possible Solution
One solution would be making the function definition slightly more complex. An example would be

[code]

This will mount all keys under `my-secret1` at `/run/secrets/my-secret` and place `my-secret-key` from `my-secret2` into th

[2018-03-06 20:53] alexellis commented on #153
## Current behavior

This is as designed.

There are certainly some ways you can stuff secrets into an environmental variables without changing OpenFaaS.

What is your concrete use-case that means you need an environmental variable

As for 12factor - you can configure your application using environment but using environment for secrets is not a good idea. The point of using secrets is to provide a

[2018-03-06 21:11] rmb938 commented on #153
I currently do not have a concrete use-case however I still think this is a feature that is needed.

I do understand that environment variables can be leaked through traces and various other means however on a trusted system those issues are not as big as a concern.

[2018-03-07 07:20] alexellis commented on #153
So in that case let's mark the issue for #revisit and close out so the issue tracker is clear and still available via a Google search. When there is a clear usecase which prevents a function from running we can review again. Thanks for the suggestion

[2018-03-07 07:20] alexellis commented on #153
Derek add label: revisit

[2018-03-07 07:21] alexellis commented on #153
Derek close: revisit if essential

[2018-03-07 07:21] #153 closed

[2018-03-07 14:31] rmb938 commented on #153
I don't think there ever will be a clear usecase that will "prevent a function from running". Custom functions can very easily be made to load things from files instead of environment variables.

I do have examples where environment variables are considered easier though. If we look at the library (specifically in Go but most languages are similar) for Consul (https://github.com/hashicorp/consul/b

[2018-03-07 18:52] rmb938 opened #154 "Proposal: Add the ability to specify a custom service account in the helm chart"
### Summary

Currently the helm chart is hard coded to create a service account called faas-controller. This service account should only be created if rbac is set to true. Users should also be able to specify what this service account is called.

### Effort required up front

Add a value to the helm chart called `serviceAccountName` under `faasnetesd` and move the service account creation under th

[2018-03-07 20:37] BurtonR commented on #154
Hey @rmb938, Thanks for the proposal!
Have you had a look at the proposal guidelines [here](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#i-have-a-great-idea)?

What would be the pros and cons do being able to change the name of the service account?

Derek add label: enhancement

[2018-03-07 20:49] rmb938 commented on #154
### Pros

Able to use a different service account (that is already created) when the faas-netes chart is set to rbac=false

### Cons

None, I can't think of any cons from being able to change the name

[2018-03-07 23:49] rmb938 opened #155 "Proposal: Ability to set runAsUser to deployed functions"
### Summary

https://kubernetes.io/docs/concepts/policy/pod-security-policy/#users-and-groups
https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

Sometimes a Kubernetes cluster is configured with certain Pod Security Polices in place. This includes denying running as privileged, having to run as a certain user, ect...

Being that faas-netes does not set privileged mode on f

[2018-03-08 07:33] alexellis commented on #154
Hi Ryan, thanks for proving some more information on your suggestion. We're glad that you're engaging with the project and making suggestions.

From the contribution guide:

There are always cons - these may not be obvious but there is always a cost and complexity to changes, that's why we need to understand the *why* and the *motivation* for the change.

I guess what we're getting at is the follo

[2018-03-08 07:33] alexellis commented on #154
FYI @BurtonR Derek messages have to be in their own comment.. and double-check you're in the .DEREK.yml file too.

[2018-03-08 08:26] alexellis commented on #155
OpenShift has a requirement that nothing can run as a root user, even an unprivileged root user. We are running as non-root for most of the templates and also for the core services.

I think this satisfies the requirement - can you confirm?

https://github.com/openfaas/faas-netes/blob/master/Dockerfile#L34

https://github.com/openfaas/faas/blob/master/gateway/Dockerfile#L40

OpenFaaS subscribes to

[2018-03-08 08:46] alexellis commented on #152
Any updates or issues with this change to yaml @ericstoekl?

[2018-03-08 08:48] alexellis commented on #152
@jankeesv the Dockerfile is in the main FaaS repo under the contrib folder.

As for a  up to date faasnetes image please can you raise an issue and ask for a release for armhf?

[2018-03-08 13:41] rmb938 commented on #154
I believe I did provide motivation in my summary

[code]

However let me provide some context. The official helm repository has some unofficial and undocumented guidelines that most if not all charts follow for RBAC. The guidelines are as follows:

1. Charts that require any RBAC must have a flag to disable the creation of these RBAC rules.
1. Any service accounts should be able to have their name

[2018-03-08 13:43] rmb938 commented on #155
I think you misread my proposal. This is not requiring that openfaas components run as non-root, it is simply adding a flag for functions to be forced to run as non-root.

[2018-03-08 14:02] milsonian commented on #155
Hi Alex, thanks for reviewing our proposals, I know we've sent a few!

Just adding a note that if 'internal compliance audit for a large customer' makes for a strong case, that is defining our need very well - fwiw.  On our secure Kubernetes clusters we prevent anything running as root from starting, including in what will be a function namespace.

Since this is fairly lightweight to add, is optio

[2018-03-09 06:25] ericstoekl commented on #152
@alexellis still working on it, hopefully will be done before the end of the week.

[2018-03-09 11:09] alexellis commented on #153
Hey @rmb938 here's a bit more context on the pros/cons of secrets as env-vars from Docker's security lead.

https://diogomonica.com/2017/03/27/why-you-shouldnt-use-env-variables-for-secret-data/

Also:

We are Serverless Functions Made Simple - preferring convention over configuration - implementing code with no clear usecases should raise a red flag. Happy to revisit if this becomes a blocker for

[2018-03-09 11:13] alexellis commented on #155
We don't add features that "seem worthwhile" or "easy to add" - here's why: everything has a cost - in maintenance and in complexity.

If you have a key requirement to run the functions as non-root, then we should look into it the security context in the Kubernetes API and see what's available there.

None of the functions run privileged so they don't have root on the host - if someone deploys a f

[2018-03-09 15:47] Templum opened #156 "During downscaling the pods don't get killed gracefully"
## Expected Behaviour
I expect the system that after experiences a heavy load it slowly decreases the available pod amount.
Additional during the downscaling no request should be lost due to a killed pod. Simmiliar to the behaviour that can be achieved using ```$ kubectl delete pod lambda-xy --grace-period=30```. You can also set that behaviour for a replica set.

## Current Behaviour
Currently, t

[2018-03-09 22:49] alexellis commented on #156
Hi Simon,

Thanks for taking time to test this and to give your feedback. It would be extremly useful for us if you could provide deterministic instructions and example test results showing the problem. For instance, can you simulate the problem by scaling the OpenFaaS deployment with `kubectl` and therefore isolating some of the "moving parts".

Kubernetes should remove any pods in a `Terminating

[2018-03-09 23:12] alexellis commented on #152
Please can you mention the issues you are facing with Kubernetes 1.9.3 on here also?

[2018-03-11 01:42] ericstoekl commented on #152
@alexellis fixed that issue, it was due to an old version of the `faas-netes` container. Pull request submitted. :raised_hands:

[2018-03-12 14:45] Templum commented on #156
Hi @alexellis ,

I went ahead an created a simple node script which demonstrates the issue. I also will try to play around with the behaviour when it is triggered using `$ kubectl`.

You are completely right regarding the terminating status. It might be that the shutdown period is to short and simply increasing it in the deployment might already fix that issue. However, in the long run, it makes s

[2018-03-13 12:10] CuZn13 opened #160 "basic-auth mode"
My k8s cluster does not use Serviceaccount. I want to use the basic-auth mode. How do I configure it?

[2018-03-13 12:20] iyovcheva commented on #160
Derek add label: question

[2018-03-16 11:23] LucasRoesler opened #161 "Improve secrets documentation to explain how it works with the yaml file"
The need for some more documentation came up on Twitter in this thread https://twitter.com/zhangy15/status/974490935684825088

In short, when someone is first starting to use secrets in Kubernetes, especially Image Pull Secrets, it isn't completely clear how to configure Kubernetes and then OpenFaaS to pull a function from a private Docker repository.

## Expected Behaviour

The docs should give c

[2018-03-20 10:09] alexellis opened #163 "Support /system/info endpoint"
We need to support the /system/info endpoint which has been updated in the latest release of faas-provider

## Tasks:

- Update vendored package for https://github.com/openfaas/faas-provider to 0.6
- Add new handler for system info endpoint included in faas-provider package
- Inject build version and SHA into binary at build-time (look at faas-cli as an example of how to do this)
- Add unit test f

[2018-03-20 12:26] alexellis commented on #163
This is my PR to faas-nomad - I think the implementation would be similar minus all the logging/stats which are specific to Nomad.

https://github.com/hashicorp/faas-nomad/pull/36/files#diff-a31692c2f19298fb01f34a8683e5969c

[2018-03-20 12:29] viveksyngh commented on #163
I will take this one.

[2018-03-21 08:11] liukaikai1211 opened #164 "po/prometheus and po/alertmanager in the status of "CreateContainerConfigError""
## Expected Behaviour

All pods should be in "running" status.

## Current Behaviour

The two pods "prometheus" and "alertmanager" always stay in "CreateContainerConfigError" status.

`root@lkk-nuc:~/faas-netes# kubectl get pods --all-namespaces`
`NAMESPACE     NAME                              READY     STATUS                       RESTARTS   AGE`
`kube-system   etcd-lkk-nuc

[2018-03-21 08:14] alexellis commented on #164
Hi there, thanks for using OpenFaaS. This issue is due to a late breaking patch by the Kubernetes team - they were fixing a CVE and introduced a bug into Kubernetes.

The best thing you can do (I verified it last night) is to upgrade your apt packages and initialise your cluster again with 1.9.5 which has the fix for their regression.

https://github.com/kubernetes/kubernetes/issues/61076

https:/

[2018-03-21 08:14] #164 closed

[2018-03-21 08:54] alexellis commented on #164
Here's the latest patched version of Kubernetes on ARM:

[code]

All Deployments are up and running now. For the last few days since Kubernetes released the CVE fix these services had the same error as your cluster.

[code]

[2018-03-21 08:55] alexellis commented on #163
Thanks @viveksyngh please shout if you have questions or send a message to us on #faas-netes on Slack

[2018-03-21 15:23] sxhysj opened #165 "minikube: getsockopt: connection refused"
I use Mac OS X 10.13, minikube and faas-netes and followed the guide https://medium.com/devopslinks/getting-started-with-openfaas-on-minikube-634502c7acdf. However, Some error message pops up:
[code]

## Expected Behaviour

For command:
[code]
The expected behaviour should be:
[code]

## Current Behaviour

The following output is popped up:
[code]

## Possible Solution

## Steps to Reproduce (for

[2018-03-21 19:17] patrickstjohn opened #166 "Feature: Include base url as a configuration item"
## Expected Behaviour

Provide a configurable base url for HTTP endpoints so external reverse proxies and/or load balancers can access endpoints via custom ingress controllers.

## Current Behaviour

Specific endpoints must be configured such as /metrics, /function, /system, /ui (for example with the gateway) to point to the proper ingress point. This way possible collisions with other systems wil

[2018-03-21 22:53] ericstoekl commented on #165
Derek add label: question

[2018-03-21 22:53] ericstoekl commented on #165
Did you push your image to Docker Hub before attempting to use it in your minikube cluster?

[2018-03-21 22:57] ericstoekl commented on #166
Derek add label: proposal

[2018-03-21 22:58] ericstoekl commented on #166
I am just googling around to get familiar with this line of thinking, but would something like this provide at least a work-around for your reverse proxy scenario?

https://github.com/elastic/kibana/issues/5230#issuecomment-152688743

[2018-03-21 23:25] patrickstjohn commented on #166
@ericstoekl appreciate the response. That's fairly close. I probably wasn't being super clear. Here is a use-case we're looking at:

- On premises deployment behind a reverse proxy operating a blue/green deployment that is also multi-tenant and a front-end at /. Because of the initial redirect from / to /ui the ability do a rewrite like that is limited since it's easy to end up in redirect loops a

[2018-03-22 01:11] vosmith commented on #165
@sxhysj somewhere between step 6 and step 8, you need to `faas-cli push -f ./hello-python.yml`

[2018-03-22 02:29] liukaikai1211 commented on #164
Thanks, Alex. It is running now.

But when I tested or invoked the services, I got the error of "`Can't reach service: url-ping`" or the response body of "`Service Unavailable`". What is the problem with this?

[2018-03-22 05:16] sxhysj commented on #165
@ericstoekl @vosmith Thanks. Now i am able to deploy the function. But cannot invoke the function
[code]

In the command line it returns:
[code]

If I use the 31112 UI, it returns:
![2018-03-22 1 14 11](https://user-images.githubusercontent.com/28251436/37752431-1dcbd402-2dd3-11e8-894b-8d2e406f4e19.png)

In the K8s dashboard, namespace openfaas-fn, the service is alive.
![2018-03-22 1 15 04](https

[2018-03-22 09:38] iyovcheva commented on #160
@CuZn13 did the guide help you resolve the issue?

I'm closing due to inactivity, but feel free to comment.

[2018-03-22 09:39] iyovcheva commented on #160
Derek close

[2018-03-22 09:39] #160 closed

[2018-03-22 11:00] alexellis commented on #165
We're trying to reproduce the issue but it looks like an issue with your minikube setup rather than something with OpenFaaS specifically.

Can you do some more diagnostics and put it into pastern or a Gist for us?

[code]

[2018-03-22 11:03] alexellis commented on #166
I'm not clear on the use-case here. We use reverse proxies with OpenFaaS already.

Pinging @stefanprodan to see if we can get another perspective on the issue.

[2018-03-22 11:06] rayhero opened #167 "how to set the scaling policy to avoid i/o timeout"
I try to use a nodejs server as a faas function to do some image processing job.
faas deploy on GCE with 2CPU and 13G RAM
I found that faas will response i/o timeout after invoke function 3 times.
The response is show below:
Post http://104.154.56.12:8080/function/{MYFUNCTION}: dial tcp 104.154.56.12:8080: i/o timeout
Cannot connect to OpenFaaS on URL: http://104.154.56.12:8080

## Expected Behavi

[2018-03-22 13:12] sxhysj commented on #165
For command
[code]
![2018-03-22 9 10 58](https://user-images.githubusercontent.com/28251436/37772431-9222fe1a-2e15-11e8-987a-08ef19c849a7.png)

For command
[code]
![2018-03-22 9 11 41](https://user-images.githubusercontent.com/28251436/37772449-a3668c96-2e15-11e8-8c4f-ce6df3f6c8f7.png)

For command
[code]
![2018-03-22 9 12 11](https://user-images.githubusercontent.com/28251436/37772484-b97f1854-2e

[2018-03-22 14:07] alexellis commented on #165
It looks like you may have installed with helm - that's OK but I'm not sure why you've set up ingress to use LoadBalancer? It should be using "NodePort" which I think is the default option.

I may be wrong but I think that minikube doesn't have the ability to provide a LoadBalancer.

You may also want to use the kubeadm provisioner which is listed there in the docs.. so I'd suggest blowing away th

[2018-03-22 19:55] robertrbruno commented on #166
Patrick and I were able to work a solution out.  The issue was we couldn't use the ingress that is in your helm charts as is because we can't easily control the host which is what your ingress was keying off of.

The solution was to create a path to key off of say /faas_gateway and then set the annotation nginx.ingress.kubernetes.io/rewrite-target to /.

Then you just need to make sure you browse

[2018-03-23 01:05] liukaikai1211 commented on #164
Alex, any idea on that? @alexellis

[2018-03-23 08:57] iyovcheva commented on #164
@liukaikai1211 Can you please share steps to reproduce?
What `kubectl get svc` shows?

[2018-03-23 12:30] liukaikai1211 commented on #164
@iyovcheva This is what `kubectl get svc --all-namespaces` shows.

`root@lkk-S2600WFT:~# kubectl get svc --all-namespaces`
`NAMESPACE     NAME           TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)          AGE`
`default       kubernetes     ClusterIP   10.96.0.1        <none>        443/TCP          1d`
`kube-system   kube-dns       ClusterIP   10.96.0.10       <none>        53/UDP,53/TCP

[2018-03-23 16:47] alexellis opened #168 "Remove arm / armhf references from helm chart"
# Summary

Helm relies on a server-side component called tiller which is not available for ARM

## Changes

Update the helm chart to remove all references to arm / armhf including the templating

https://github.com/openfaas/faas-netes/tree/master/chart/openfaas

Bump the version when doing this.

## Testing

Test that helm still deploys as expected and that there

[2018-03-24 10:10] tranotheron commented on #168
I'm on it

[2018-03-24 10:18] alexellis commented on #168
Thank you. I had a go at this but didn't have enough time to finish it and test so I appreciate you picking it up.

[2018-03-24 11:55] alexellis commented on #163
Good progress is being made on this via https://github.com/openfaas/faas-swarm/pull/17#issuecomment-375867419

[2018-03-26 14:26] #168 closed

[2018-03-26 15:30] #166 closed

[2018-03-26 20:13] jcscottiii opened #174 "README for chart doesn't match values.yaml"
The values in the helm chart does not match the matching README
## Expected Behaviour

Expect the values.yaml to be in sync with the values in the README

[2018-03-28 09:18] #174 closed

[2018-03-28 21:21] martin-liu opened #176 "[k8s] Support secrect type `SecretTypeDockerConfigJson` for ImagePullSecrets"
Need to support secret type `SecretTypeDockerConfigJson` for ImagePullSecrets

## Expected Behaviour
Secret with type `SecretTypeDockerConfigJson` should be `ImagePullSecrets`.

## Current Behaviour
Only type `SecretTypeDockercfg` will be `ImagePullSecrets`, see https://github.com/openfaas/faas-netes/blob/0.4.5/handlers/deploy.go#L235

## Possible Solution
Add support of `SecretTypeDockerConfigJso

[2018-03-28 21:48] alexellis commented on #176
Hi Martin please can you give us more context about your request? i.e. Why should we make this change? Did creating an image pull secret not work for your configuration?

[2018-03-28 23:58] martin-liu commented on #176
@alexellis added context in issue body.
The thing is when I follow https://github.com/openfaas/faas-netes/blob/master/SECRETS.md for my k8s cluster (v1.9.3), it doesn't work, I have to manually create a secret with type SecretTypeDockercfg(kubernetes.io/dockercfg) to work around.

[2018-03-29 07:08] alexellis commented on #176
How are you creating you secrets otherwise?

[2018-03-29 07:16] martin-liu commented on #176
@alexellis
I created it with config like below:
[code]

[2018-03-29 07:20] LucasRoesler commented on #176
Hi, @martin-liu, I dug through some of the k8s documentation and it looks like this behavior for the docker config secrets changed around version 1.9, but I think it is a simple change to the code base right here https://github.com/openfaas/faas-netes/blob/master/handlers/deploy.go#L235 . We can add `or` in the that `if` statement to also catch this new type or use a [switch statement](https://gob

[2018-03-29 07:21] alexellis commented on #176
Would you like to submit a pull request for this?

[2018-03-29 10:43] iyovcheva commented on #167
@rayhero you can check the timeouts configuration in this [troubleshooting guide](https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md#timeouts)

[2018-04-02 08:42] alexellis commented on #166
I'm not 100% clear.

Can you explain this in more detail?

[2018-04-04 18:38] alexellis commented on #154
The service account appears to be required for operation on Kubernetes, even with RBAC disabled.

[2018-04-04 18:39] #176 closed

[2018-04-04 18:45] martin-liu commented on #176
@alexellis @LucasRoesler 👍 👍 👍

[2018-04-04 19:49] #161 closed

[2018-04-04 20:24] alexellis opened #181 "Proposal: allow imagePullPolicy to be set via configuration"
## Description

This is a proposal from the community to allow the imagePullPolicy for functions to be set via configuration. The reason for this option is to support a developer workflow where images can be run as functions without pushing them to a repository.

The current imagePullPolicy of "always" requires all images to be pushed to a registry - either a local or remote one. At least two peop

[2018-04-04 21:58] milsonian commented on #181
In my first crack at this, I created an envvar `use_local_images`, that set `IfNotPresent` when true (`never` wasn't very useful)...but setting it directly would work fine too.  I wasn't sure if other backends would need/support something similar, and if abstracting it was desired.

Testing should probably also include local and remote images (e.g. external sample function images) working at the s

[2018-04-04 22:01] milsonian commented on #181
Also, from reviewing k8s API docs, I found that updates aren't supported on imagepullpolicy; so we may want to strip support from update (pretty sure it is ignored even if set on an update).

[2018-04-05 01:22] EsrefDurna opened #182 "helm installation failed on Windows"
PS C:\Users\Tom\Desktop\openfaas\2\faas-netes-0.4.6\chart> helm install .\openfaas.tar.gz
Error: apiVersion "rbac.authorization.k8s.io/v1beta1" in openfaas/templates/rbac.yaml is not available

OR

PS C:\Users\Tom\Desktop\openfaas\faas-netes> helm install .\chart\openfaas\
Error: apiVersion "rbac.authorization.k8s.io/v1beta1" in openfaas/templates/rbac.yaml is not available

## Your Environment

*

[2018-04-05 10:09] stefanprodan commented on #182
Hi @EsrefDurna

What Kubernetes version do you have? Is RBAC enabled? If not install the chart without rbac.

[2018-04-05 10:54] alexellis commented on #182
I'm confused why you are installing with a tar.gz file? We don't give that instruction in our documentation.

Can you try the official documentation and get back with additional info Stefan asked for too? https://docs.openfaas.com/deployment/kubernetes/

[2018-04-05 15:09] ericstoekl commented on #181
@alexellis I can take this issue if that's okay. @milsonian if you have a solution before I do then please submit a PR :+1:

[2018-04-05 16:54] alexellis commented on #181
Let's keep the policy in sync and add a comment. Eric if you'd like to work on this from the issue description please assign to yourself with Derek.

[2018-04-05 21:25] ericstoekl commented on #181
Derek assign: me

[2018-04-05 21:26] alexellis commented on #181
Thanks for taking this Eric.

[2018-04-06 03:09] EsrefDurna commented on #182
Hello @alexellis  , I tried everything on windows.
actually tar.gz was the last thing that I tried.
i think document has to be updated for windows users. for instance in windows folder paths are "\" not "/"
so below command will never work for windows users.
$ cd faas-netes && \
kubectl apply -f ./namespaces.yml,./yaml

but even tho I fixed the folder paths or tried all the other options. I'm havi

[2018-04-06 07:33] alexellis commented on #182
You may be one of the only Windows users so rather than duplicate all commands we assume that most people are using Bash. If you need Bash on Windows try the "Git Bash" the comes with Git for Windows - I highly recommend it. You can then follow every tutorial without making any changes - otherwise you are right that you should interpret the commands as for. Bash and then replace `/` for `\`.

I kn

[2018-04-06 13:10] alexellis commented on #156
I believe this is fixed now and released in the latest watchdog versions if you'd like to re-try your test to validate @Templum ? Thanks for bringing this up and helping us improve OpenFaaS as a whole

[2018-04-06 13:34] Templum commented on #156
Can you please point me to the docker image version which include your patch? Then I can retry the tests

[2018-04-06 19:01] dkozlov opened #184 "Guide how to deploy Deep Learning application which perform batch image processing (inference) on OpenFaas + Kubernetes + GPU/CPU"
How can OpenFaaS be used to perform batch image processing (inference) on GPU/CPU? Provide detailed instructions and provide changes to the YAML manifests where necessary.

[2018-04-06 19:45] milsonian commented on #181
Since I had a good amount of this already done I opened the PR referenced above ^ - let me know your thoughts!

[2018-04-06 20:49] EsrefDurna commented on #182
Thank you @alexellis

[2018-04-13 21:43] dkozlov commented on #184
Tutorial is in progress https://github.com/dkozlov/openfaas-tensorflow-gpu/

[2018-04-14 01:50] alexellis commented on #156
Sure, the shutdown is implemented in the 0.7.9 watchdog if you would like to try that?

[2018-04-17 11:58] LucasRoesler opened #188 "Function requiring secret failed to deploy"
When deploying a simple function with a secret to a new Kuberenetes cluster today, I received an error concerning the mounting of the secrets

[code]

It seems that the function is trying to mount a read-only file system to `/run/secrets` and Kubernetes is also trying to mount another read-only filesystem to `run/secrets/kubernetes.io`.

## Expected Behaviour

When I deploy a function that require

[2018-04-17 12:01] LucasRoesler commented on #188
One other thought, this can probably also be solved by using a separate namespace and configuring the default service account in that namespace

[2018-04-17 12:50] iyovcheva commented on #188
Derek add label: review

[2018-04-18 10:16] alexellis opened #189 "Research: Run faas-netes in gateway pod as a side-car"
We could run the faas-netes container in the Pod used for the gateway (as a side-car)

This is what we're doing with the new CRD. It means there will be a 1-1 relationship between gateways and faas-netes.

[2018-04-19 07:06] Templum commented on #156
@alexellis Just to ensure this not an issue related to my machine could you have a look:

1. Deploy OpenFaaS to minikube
2. Deploy a function **nodeinfo** from image `templum/nodeinfo:latest`
3. Clone the test Suite: https://github.com/Templum/OpenFaaS-Gracefully-Shutdown-Test.git
   - `$ cd OpenFaaS-Gracefully-Shutdown-Test`
   - `$ yarn install`
   - `$ node open_faas_test.js`

My result is that

[2018-04-20 06:39] rawkode opened #190 "Helm: Prometheus & AlertManager Should Be Optional"
## Expected Behaviour

When installing faas-netes with Helm, I should be able to install without adding Prometheus and AlertManager.

## Current Behaviour

Can't disable provisioning of Prometheus and AlertManager

## Possible Solution

Wrap entire YAML files with `.Values` conditional

## Steps to Reproduce (for bugs)

helm install

[2018-04-20 10:47] iyovcheva commented on #190
Derek add label: proposal

[2018-04-20 12:39] alexellis commented on #181
Thanks a lot for this. It’s all merged and released now.

[2018-04-20 12:40] alexellis commented on #190
Prometheus is not an optional component. Why do you feel it should not be installed?

[2018-04-20 12:41] rawkode commented on #190
I already have a Prometheus and Alert Manager in my infrastructure, why can't I connect faas to them?

[2018-04-20 12:44] alexellis commented on #163
Merged in https://github.com/openfaas/faas-netes/pull/180

[2018-04-20 12:44] #163 closed

[2018-04-20 12:45] alexellis commented on #156
What’s in your image?

[2018-04-20 12:47] rawkode commented on #189
I'll work on this tonight :+1:

[2018-04-20 13:50] stefanprodan commented on #189
I don't think the changes are not just configuration, we need to change the faas-netes port via an env var like https://github.com/openfaas-incubator/faas-o6s/blob/master/pkg/server/server.go#L31

[2018-04-20 14:02] alexellis commented on #189
I've added functionality to cover the custom port and will do a new release. Anything else?

[2018-04-20 14:46] stefanprodan commented on #189
Ah great, that's the only code change needed.

@rawkode please use 8081 as faas-netes port, here is an example of setting up the gateway provider https://github.com/openfaas-incubator/faas-o6s/blob/master/artifacts/o6s-amd64.yaml#L26

[2018-04-20 15:04] alexellis commented on #189
Head over here for the required docs updates - https://github.com/openfaas/docs/blob/master/docs/deployment/troubleshooting.md#kubernetes

[2018-04-25 22:45] ryanfields opened #193 "Secrets with similar keys cause deploy failure"
The keys for each secret appear to be mounted to /run/secrets/ instead of /run/secrets/secret-name/, resulting in failed deploy attempts to any namespace whose secrets contain similar keys.

If I do the following:

[code]

And have the following stack.yml for faas-cli:

[code]

An attempt to deploy will result in:

[code]

## Expected Behaviour

Expect the deploy to work, since Kubernetes effectiv

[2018-05-06 05:55] masonoise commented on #135
Just to add something here, I'm encountering this same problem using Kubernetes via Docker for Mac. Launched k8s, set up Helm and use Helm to install openfaas, and deployed a test function but it's failing to pull the image. It sort of makes sense, but having to push to a registry while developing functions locally is not going to be much fun. Changing imagePullPolicy to Never doesn't seem to work

[2018-05-06 07:15] elijahgagne commented on #135
In case this helps someone, here's how I set things up to use a local registry

[code]

[2018-05-06 17:45] cliveseldon opened #195 "Minikube helm install for k8s 1.9.4 fails"
Minikube helm install fails for k8s 1.9.4 due to https://github.com/kubernetes/kubernetes/issues/61076
The error is on the prometheus and alertmanager pods.

## Possible Solution
Works on k8s 1.9.0
[code]

## Steps to Reproduce (for bugs)
[code]

* What version and distriubtion of Kubernetes are you using? `kubectl version`
[code]
* Operating System and version (e.g. Linux, Windows, MacOS):
Linux

[2018-05-06 20:50] masonoise commented on #135
Thanks for that. I might set things up to run a local registry, but it really shouldn't be needed. I removed openfaas, changed the chart to set imagePullPolicy to Never, and reinstalled, but it didn't make any difference, which was surprising. Not sure what's up.

[2018-05-06 21:39] alexellis commented on #135
There is a working `imagePullPolicy` available for faas-netes now which was completed via #186 #185 - the person who completed the PR tested the subsequent release and confirmed the behaviour was operating correctly.

[2018-05-06 21:46] alexellis commented on #195
Hi,

The issue you are pointing at is a Kubernetes issue not an OpenFaaS one so I think we should close it.

Here are some suggestions which may help you:

1) A fix for the referenced issue was released by Kubernetes https://github.com/kubernetes/kubernetes/issues/61076 - make sure you have it
2) Rather than specifying `--kubernetes-version` - it may be better to use the default (latest) version t

[2018-05-06 21:46] alexellis commented on #195
Derek close: wrong repository - minikube/Kubernetes issue

[2018-05-06 21:46] #195 closed

[2018-05-06 21:52] alexellis commented on #193
We'll have a look into this.

I can't see any conflicting paths in your example though and I think we tested having more than one secret during the merge of the feature. Are you sure this isn't related to #192 ?

PTAL - @LucasRoesler @stefanprodan

[2018-05-06 21:56] alexellis commented on #135
@ericstoekl / @milsonian please can you test this feature and verify there is no regression?

[2018-05-06 21:57] ryanfields commented on #193
I edited the current behavior section to explicitly call out the conflict.  Both secrets will attempt to mount at `/run/secrets/url`, because only the key appears to be used in the naming process, and not the name of the secret the key is contained in.

As far as I can tell, this is not related at all to #192.

[2018-05-06 22:12] masonoise commented on #135
It doesn't seem to work for me. Verified that I'm using chart 1.0.13 and `functions/faas-netesd:0.5.0`. First I tried doing a helm update with `--set faasnetesd.imagePullPolicy=never` with no change in behavior. Then I did a helm delete of openfaas, edited faasnetesd.yaml to set `imagePullPolicy: Never`, and did a fresh helm update to reinstall. Still no change in behavior. I verified that the ima

[2018-05-07 06:55] LucasRoesler commented on #193
That makes sense and is the expected behavior at this point. The reason secrets behave this way is to be consistent with Swarm, in which every secret is a single file, not a folder. Kuberenetes is the opposite, secrets are folders (volumes to be precise).

To maintain consistency with Swarm we merge all of the requested kuberenetes secrets into a single volume.  This requires that the filnames ins

[2018-05-07 07:27] alexellis commented on #193
@ryanfields there were two parts to this issue - we've addressed the first one.

The second is where you ask for secrets to be mapped into environmental variables. The point of having secrets mounted on disk is so that it's harder to leak them through a stack trace or inadvertent logging message including environmental variables

From the [Docker docs](https://docs.docker.com/engine/swarm/secrets/

[2018-05-07 20:28] ryanfields commented on #193
@alexellis None of that Docker security info applies to my issue.  Docker is *completely uninvolved* here.  Mounting secrets to env vars is done via the Kubernetes Pod spec.  Docker *never sees* the secrets, never touches them.  Secrets never exist in containers.  There is nothing to leak.

However, even if you understand what I’m saying there, I have a feeling any solution is going to again run u

[2018-05-08 14:40] mjhea0 commented on #135
I had the same issue. I kept seeing the following error when the image was built locally - `trying and failing to pull image`. I could only get it work work if I pushed the images to Docker Hub. Using version ` 0.5.0`.

[2018-05-09 19:42] alexellis commented on #135
I have verified the behaviour works with both `None` and `IfNotPresent`. I edited the plain YAML diles and deployed.

I also assume that you have a typo in your command `--set faasnetesd.imagePullPolicy=never` - that should be correctly cased as per the docs as `Never`.

Example policy from  faas-netesd deploys on DfM:

[code]

[2018-05-14 19:42] alexellis commented on #193
Ryan's original comment:

My response:

Just curious, why is it important for your secrets to be loaded into environmental variables when writing serverless functions? Env-vars were not designed for storing secure secrets.

The Prometheus project is also pushing back (a CNCF project) https://github.com/prometheus/alertmanager/issues/504#issuecomment-350297799

https://github.com/prometheus/prometh

[2018-05-14 22:12] ryanfields commented on #193
My core issue here is that OpenFaaS *only* allows --from-file secrets, and tightly couples the file name to the mount name.  If OpenFaaS supported the same decoupling of secret data from mount point that is provided by Kubernetes itself, I could live without env vars.  Instead, I feel like I'm stuck with the least capable of all possible solutions, and it creates headaches for both ops and develop

[2018-05-15 13:42] alexellis commented on #193
Kubernetes will always have more features, more control and configuration than OpenFaaS, the reason for this is that OpenFaaS operates as an abstraction providing functions. It is not a container orchestrator, but makes use of one. Just Google "kubernetes complicated" and see how many results you get. Even [Joe Beda one of the original authors is cognizant of this](https://twitter.com/jbeda/status

[2018-05-15 13:42] alexellis commented on #193
I'm going to pause the conversation on this issue. I think we have enough detail now and I will update if we decide to update the secrets API.

[2018-05-16 09:54] alexellis opened #198 "Optimize fetching a single function's metadata"
The code which fetches the metadata for a single function can be optimized so that it uses "get" rather than "list" for the function being queried.

Right now the code lists all functions then filters to find the function specified on the URL.

[code]

It's a low hanging fruit and easy to test. Suggested by @imikushin

## Testing criteria

Content type should be: `application/json`

* You can stil

[2018-05-16 10:17] alexellis commented on #198
Derek close: released in 0.5.2

[2018-05-16 10:17] #198 closed

[2018-05-16 10:28] Liwink opened #200 "Gateway cannot find kube-dns"
I have successfully deployed OpenFaaS on Kuburnetes.
However, I cannot invoke function(Operation time out).
By checking gateway logs, I found following error message:
[code]
`10.233.0.3` is the VirtualIP of kube-dns.

OpenFaaS Info:
[code]

## Expected Behaviour
[code]

## Current Behaviour

[code]

## Possible Solution

## Steps to Reproduce (for bugs)
Just followed the [guideline](https://docs.o

[2018-05-16 10:55] alexellis opened #201 "Apply direct_functions to gateway in helm chart"
## Description

`direct_functions` is an optional, but preferred setting which means the gateway invokes functions directly without passing through the faas-netesd daemon. This saves one hop and increases throughput while decreasing connections and DNS lookups.

This change is already in place in the YAML files

## Testing

When applied correctly the faas-netesd log will no longer give the duratio

[2018-05-16 23:30] martin-liu opened #203 "Question: Should be gateway's `upstream_timeout` changeable in the `values.yaml`"
Gateway support an env variable `upstream_timeout`, should be that configuable in the chart [configuration](https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/values.yaml#L13)?

[2018-05-16 23:55] martin-liu opened #204 "envVars in Swagger docs should be map and not an array"
When I try to call REST API to deploy a function, it always fail if I provide `envVars` parameter.
Then I searched the code and found the implementation is inconsistent with the API doc.

## Expected Behaviour
From [API doc](https://github.com/openfaas/faas/blob/0.8.0/api-docs/swagger.yml#L238), there's parameter `envVars` and it should be an array of string
[code]

## Current Behaviour
From [Code

[2018-05-17 08:25] alexellis commented on #203
Yes absolutely. I would merge a PR for this.

[2018-05-17 08:25] alexellis commented on #203
@martin-liu 👍

[2018-05-17 09:28] alexellis commented on #201
@iyovcheva I will keep this issue open until the `direct_functions` flag is moved out of the async if-statement. @stefanprodan is pushing a change soon too - so maybe he will cover it before you get to it.

The change is low priority

[2018-05-17 09:31] alexellis commented on #204
"EnvVars" in Golang will be serialized to "envVars" in JSON. The name is correct, but it should be a map and not an array. If you'd like to update the swagger with a PR to openfaas/faas that would be really appreciated.

[2018-05-17 15:59] #200 closed

[2018-05-17 17:35] alexellis commented on #204
Derek close: resolved

[2018-05-17 17:35] #204 closed

[2018-05-17 17:35] alexellis commented on #204
@martin-liu if you find anything else or want to extend the documentation/spec that would be welcomed 👍

[2018-05-17 19:09] martin-liu opened #206 "Add `imagePullPolicy` support for openfaas components"
There're k8s clusters running in offline or network constrained environment. In this case, install openfaas need to download and copy images and then run in `IfNotPresent` pull policy.

Add support of `imagePullPolicy` parameter in chart will make openfaas installation easier.

[2018-05-17 19:34] alexellis commented on #206
Its this normal for helm charts? @rimusz @kars7e wdyt?

[2018-05-17 19:37] kars7e commented on #206
AFAIK most charts specify imagePullPolicy key in their values.yaml, but I don't know if it's mandatory in upstream charts repo.

[2018-05-17 19:41] alexellis commented on #201
Derek close: completed

[2018-05-17 19:41] #201 closed

[2018-05-17 19:42] alexellis commented on #188
@LucasRoesler are you using openfaas-fn as a namespace here for functions?

From the sounds of things I would implement your suggested fix in faas-netes & openfaas-operator.

@stefanprodan what do you think?

[2018-05-17 19:44] alexellis commented on #188
Why haven't we seen this error yet in our testing?

[2018-05-17 21:52] alexellis commented on #206
Derek add label: proposal

[2018-05-18 06:39] LucasRoesler commented on #188
That is a good question, a think when this was originally reported it was discussed in slack and it was not reproducible. But I wasn't able to determine how my k8s got into a state where this happened.

[2018-05-19 07:40] Liwink commented on #200
Hi @alexellis, thanks for reminding me!
It turned out to the fault of kube-dns setting.
After fixing kube-dns, FaaS worked fine.

[2018-05-19 13:05] BurtonR commented on #32
This work was completed in the faas repo: https://github.com/openfaas/faas/pull/289

[2018-05-19 13:06] BurtonR commented on #32
Derek close

[2018-05-19 13:06] #32 closed

[2018-05-19 13:16] BurtonR commented on #70
@stefanprodan Could you share a little about what you've done with this?
I see it's implemented on openfaas-operator here: https://github.com/openfaas-incubator/openfaas-operator/pull/8

Is there any chance of that getting ported back here?

[2018-05-19 13:27] BurtonR commented on #165
I'm going to close this issue as it appears to be a fault of the minikube deployment since minikube does not support the `LoadBalancer`.
@sxhysj  feel free to continue to comment if you are still having issues even after updating to use `NodePort`

[2018-05-19 13:27] BurtonR commented on #165
Derek close

[2018-05-19 13:27] #165 closed

[2018-05-19 13:30] BurtonR commented on #167
@rayhero could you confirm that updating your timeout configuration resolved your issue?

[2018-05-19 13:35] BurtonR commented on #182
@EsrefDurna have you had any luck deploying on Windows with Helm after updating your K8s version?

[2018-05-19 13:56] stefanprodan commented on #70
I would deprecate the current faas-netes code, move it to a branch and copy the openfaas-operator code into faas-netes master. The downside to this would be breaking compatibility with Kubernetes 1.7

[2018-05-19 13:58] alexellis commented on #206
@kars7e @martin-liu do you have an example of where this is done with other helm charts?

I wonder if we should share the policy between system components and functions?

[2018-05-19 14:00] alexellis commented on #70
faas-netes is stable and openfaas-operator is alpha, it needs testing and exposure which we are planning to do through allowing people to install it with Helm.

This issue should stay open to track the progress of above.

[2018-05-19 14:00] alexellis commented on #70
Ping to @jgensler8 - please could you take a look at our operator and kick the tires?

[2018-05-19 14:31] jgensler8 commented on #70
@alexellis I don't think I'll have time to look at your operator. I have explored non-Kubernetes options as the cost of hosting Kubernetes was too much for my side project.

[2018-05-19 14:54] alexellis commented on #70
You can host on a single node VPS for less than $5/month

[2018-05-19 16:55] #182 closed

[2018-05-19 18:46] alexellis commented on #182
Thanks for closing @EsrefDurna, could you update us please?

[2018-05-19 21:18] martin-liu commented on #206
@alexellis Here's a search result in helm charts: https://github.com/kubernetes/charts/search?l=YAML&q=pullPolicy&type= , you can see lots of helm packages have `pullPolicy` option in `values.yaml`.

I don't think we should share the policy, we already have an [configuration option for function level policy](https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/faasnetesd.yam

[2018-05-20 12:06] alexellis commented on #188
I got a similar error on my Kubernetes NUC

Might be related to https://github.com/openfaas/faas/issues/683

```14s         14s          1         check-5d58bf95-m42gx.153058a8f589b348   Pod          spec.containers{check}   Warning   Failed                  kubelet, nuc7           Error: failed to start container "check": Error response from daemon: OCI runtime create failed: container_linux.go:3

[2018-05-20 12:07] alexellis commented on #188
@LucasRoesler you suggested:

Does this fix the issue? If so I think we should make this change and ship it in a point release.

I don't know what changed between the previous usage of secrets on my NUC and now, but secrets are broken for me.

[2018-05-20 12:14] LucasRoesler commented on #188
I specifically tested it by testing it on the service account level, but it can be done at the pod level as well (which is better for this case). The relevant docs are here https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/

[2018-05-21 06:02] EsrefDurna commented on #182
Hello @alexellis I switch to mac so I cannot reproduce this problem anymore.

[2018-05-21 07:40] #203 closed

[2018-05-21 14:09] robertrbruno commented on #188
I don't have a namespace named "openfaas-fn"  we deployed to a namespace just named "openfaas".  Is that an issue?  As in are certain things relying on the name of the namespace to be "openfaas-fn"?

[2018-05-21 15:19] alexellis commented on #70
@stefanprodan what thoughts do you have on the new operator framework/SDK via CoreOS/RedHat? Pros/cons? https://github.com/operator-framework

[2018-05-25 09:18] #188 closed

[2018-05-25 11:30] LucasRoesler opened #209 "Possible override of internal labels by the request labels"
Currently we use the `faas_function` label as a selector in the Deployment of a function. But while debugging an issue with the selector, I noticed that we currently write all user supplied labels into the map that we supply to Kubernetes.

Specifically, it looks like this

[code]

With this [commit afdf2fc](https://github.com/openfaas/faas-netes/commit/afdf2fc7ea585c7b5a550e3c15c8fad7cfaa266d) we

[2018-05-25 19:33] carsonoid opened #210 "Scale label should not be set on pods"
`com.openfaas.scale.min` is used to set the [min scale on a deployment](https://github.com/openfaas/faas-netes/blob/master/handlers/deploy.go#L351). That is great! But the label should be removed from the pod labels list. It doesn't doesn't make sense to actually be applied to the pods and labels in Kubernetes shouldn't be used for data like that in the first place.

## Expected Behaviour

`com.op

[2018-05-25 19:56] alexellis commented on #210
We are aware of the preference for annotations by the Kubernetes maintainers. There is an open issue tracking this so I'm going to close as a duplicate. I'll link you to it.

[2018-05-25 19:56] alexellis commented on #210
Derek close: duplicate

[2018-05-25 19:57] #210 closed

[2018-05-25 19:57] alexellis commented on #210
https://github.com/openfaas/faas/issues/682

[2018-05-25 19:57] alexellis commented on #210
Derek add label: question

[2018-05-25 19:57] alexellis commented on #210
Derek add label: duplicate

[2018-05-25 19:58] alexellis commented on #210
If you'd like to work on the issue please comment on it upstream in the FaaS repo.

[2018-06-03 23:58] martin-liu opened #211 "Changes needed to install in multiple k8s namespaces with Helm"
I tried to install 2 openfaas envs in one k8s cluster's 2 different namespaces for different usage.
I'm using different helm release names, but the later installation will override cluster role and binding, hence the former env will not work.

## Expected Behaviour
It should be able to install openfaas seprately in multiple k8s namespaces

## Current Behaviour
The ClusterRole and ClusterRoleBindin

[2018-06-04 00:11] martin-liu commented on #211
Added pull request #212 for this issue.

[2018-06-05 11:40] rawkode commented on #189
That's a good catch, @kenfdev. It's probably better to rely on the local :+1:

[2018-06-06 15:13] LucasRoesler opened #213 "Helm chart should allow configuring resource requests"
## Expected Behaviour

The Helm chart does not set nor allow setting the `resource.request` or `resource.limit` for any of the deployment objects.  Each of the deployment objects should read a corresponding `resources` value to allow the user to set/modify the requests as appropriate to their cluster.

## Current Behaviour

The resources are not set by a variable, they are not even hard coded valu

[2018-06-07 08:47] LucasRoesler opened #216 "Typo in the helm chart"
This line as an extra `a` that prevents that service object from working as expected

https://github.com/openfaas/faas-netes/blob/8b6008ae95826a3082eb62026fca5dc31e2f6704/chart/openfaas/templates/faasnetesd-svc.yaml#L18

## Expected Behaviour

The selector should be

[code]

## Current Behaviour

When you deploy with the helm chart, function deployment fails because it can not reach faas-netes

##

[2018-06-07 15:32] #216 closed

[2018-06-10 12:32] secana commented on #135
Same behavior on Kubernetes with Docker for Windows. It's not possible to run a local image since k8s always searches on hub.docker.

``
Failed to pull image "local-image": rpc error: code = Unknown desc = Error response from daemon: pull access denied for local-image, repository does not exist or may require 'docker login'
``

[2018-06-11 21:32] alexellis commented on #135
Please open a new issue so that you've filled in the whole template. You will need to use the IfNotPresent pull policy for the local library.

[2018-06-11 21:32] alexellis commented on #135
Derek close

[2018-06-11 21:32] alexellis commented on #135
Derek lock

[2018-06-15 00:03] berndtj opened #218 "Use the /healthz endpoint to provide a more accurrate readiness check"
The existing behavior of checking for the existence of /tmp/.lock does indeed verify that the container is up, but does not accurately validate the function is ready to receive requests.

The /healthz endpoint should provide a better mechanism for actual readiness

## Expected Behaviour

The kubernetes readiness and liveliness check should make an http request to the existing healtz endpoint of th

[2018-06-15 04:32] alexellis commented on #189
Great to see collaboration on this. It'd be *even* better as 127.0.0.1 - we don't need a DNS resolution for this.

I'd like to see someone else validate the change before we merge. @rawkode also has the docs change lined-up so we should be mostly set after that.

Alex

[2018-06-15 05:56] rawkode commented on #189
I tried to write acceptance tests for this, but it's a lot trickier than I first thought. Simply getting Kubernetes provisioned in a VM in-order to run InSpec against it was slow and painful. I considered allowing the tests to run with the users minikube setup, but that brought about other complexities, especially around querying  the pod specs.

[2018-06-15 05:59] alexellis commented on #189
Let's validate it manually.

[2018-06-15 06:40] rawkode commented on #189
OK. I started to test this manually, but it seems I'm either really daft; or faas-netesd ignores my `port` environment variable:

I found this in `types/read_config.go`:

`cfg.Port = parseIntValue(hasEnv.Getenv("port"), defaultTCPPort)`

Ran myself a pod:

`k run --env port=90 --image=functions/faas-netesd:0.4.8 test`

Popped inside:

`k exec -it test-6d8b968544-28zh9 sh`

and ran `wget`:

[code]

[2018-06-15 16:47] alexellis commented on #189
I think @stefanprodan had tried this at some point? How is he doing it with openfaas-operator? Any differences?

[2018-06-16 23:12] alexellis opened #220 "Function CRUD operations should return 202 accepted"
Since Kubernetes is effectively declarative CRUD operations should return 202 Accepted rather than 200 OK since we do not know if things are actually OK that that point. The *R* of CRUD (retrieve) can return 200 OK.

Context - Issue raised on FaaS repo by Simon @templum https://github.com/openfaas/faas/issues/693

[2018-06-16 23:13] alexellis commented on #220
@stefanprodan this will affect openfaas-operator also.

[2018-06-16 23:17] alexellis opened #221 "Add annotations to schema, retaining labels"
Kubernetes has a preference for storing labels and metadata in "annotations" rather than in labels as we do currently.

OpenFaaS is an abstraction which has a top-level concept of labels which can store metadata - therefore we can just create our labels in annotations and retrieve them from annotations without affecting the interface to OpenFaaS.

## Example:

The following are abstract examples t

[2018-06-16 23:20] alexellis commented on #206
OK I think this makes sense.

Let's get a PR for it.

[2018-06-16 23:20] alexellis commented on #206
@martin-liu

[2018-06-17 09:35] LucasRoesler commented on #221
I think it is important to note that you can not filter on annotations, only labels are searchable. So, we should only move values to annotations that we do not need to use as filters.

[2018-06-17 11:50] alexellis commented on #221
That's another way of doing it which I hadn't thought of.

Here are some notes on Annotations vs. Labels. https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/

[2018-06-17 12:20] affix commented on #221
we still need to support annotations, not doing so breaks the ability to use the ingress-shim for ingress-nginx meaning people will need to manually modify their Ingress to use it

[2018-06-17 12:29] LucasRoesler commented on #221
I thought you the cert-manager annotation goes on the ingress itself? For functions, we don't create an ingress. The only ingress would be for then gateway, which to support annotations, would be a change to the helm chart, for that use case.

[2018-06-17 12:31] affix commented on #221
ahh sorry @LucasRoesler I mis-read this issue. I will open another around the helm chart, maybe a PR to resolve said issue

[2018-06-17 14:33] dkozlov commented on #221
Will the following syntax be supported?
[code]

[2018-06-17 15:00] LucasRoesler commented on #221
@dkozlov  Both `constraints` and resource `requests` and `limits` are supported already for functions see #104 and #81 for example. Both are supported in Swarm and K8S with full support in the in the stack.yaml schema https://github.com/openfaas/faas-cli/blob/master/stack/schema.go

Currently, these optinos are not configurable for the core components (gateway etc) when deployed by the helm chart,

[2018-06-18 07:29] rawkode commented on #190
This was already proposed in the issue: use the `.Values` conditional check, which seems to be the common approach on "official" Helm repositories.

The Chart should expect two situations within `values.yaml`:

1. As now, spin up a Prometheus

[code]

2. Use my Prometheus

[code]

[2018-06-18 09:01] alexellis commented on #190
Can you test it and show that it works when you JG an existing config for both? I don't think it will work because you'll have duplicate sections in the configuration files for alertmanager and Prometheus.

[2018-06-18 09:02] alexellis commented on #190
Can you link to one of the common helm examples so we can take a look?

[2018-06-18 09:55] rawkode commented on #190
JG?

[2018-06-18 18:16] martin-liu commented on #206
@alexellis updated pull request #207

[2018-06-18 22:52] martin-liu commented on #211
@alexellis updated #212 to use Role/RoleBinding.

[2018-06-21 04:49] dkozlov opened #222 "What are the best practices for pre-pulling docker images on all kubernetes nodes?"
System performance will be degraded during load if you have large docker images (e.g. 3-4 Gbs) and new function scheduled on node where this image is not available.

Examples of  large docker images:
* https://hub.docker.com/r/floydhub/tensorflow/tags/
* https://hub.docker.com/r/floydhub/pytorch/tags/
* https://hub.docker.com/r/nvidia/cuda/tags/
* https://hub.docker.com/r/tensorflow/tensorflow/tag

[2018-06-21 08:00] vodasan opened #223 "Install openFaas on openshift"
I try to install openFaas on my openshift instance.

I follow this:
- https://blog.getupcloud.com/openfaas-openshift-c76658949365.
- https://blog.openshift.com/openfaas-on-openshift/

But when I invoke a function, i have an Internal Server Error. Can't reach service: XXXX

## Expected Behaviour
When I invoke function, I will have the reponse and a 200 HTTP code.

## Current Behaviour
I have an Int

[2018-06-21 08:08] alexellis commented on #223
I would have though the figlet function is running as root. which OpenShift will not allow to execute.

Maybe you could check the logs of the gateway and faas-netes to see if there was an error at deployment time of figlet? Are you certain that in the UI the Invoke button is showing as enabled and that you're using all the latest components of OpenFaaS and not an old fork from Michael's blog post?

[2018-06-21 08:58] vodasan commented on #223
OK. I removed all and I use https://github.com/openfaas/faas-netes.git

Prometheus failed. In logs, i see this

![openfass-prometheus](https://user-images.githubusercontent.com/30429204/41708858-09c20da8-7542-11e8-8a4a-c7c5dc10533c.PNG)

[2018-06-21 09:00] alexellis commented on #223
I believe for Prometheus you will need to add an empty_dir - this isn't a fatal error though and you should still be able to deploy a function.

How can I set up OpenShift on Linux? I tried minishift on a Linux VM but got an error saying KVM was not supported.

[2018-06-21 09:07] vodasan commented on #223
The prometheus pod crashed but I can deploy a function. I try nodeinfo. I have a gateway time-out.

I don't know how set up OpenShift on Linux. It was done by another.

[2018-06-21 09:12] simonpasquier commented on #223
_sorry for highjacking the thread_

It should be supported if you follow https://docs.openshift.org/latest/minishift/getting-started/setting-up-virtualization-environment.html#setting-up-kvm-driver

Otherwise [`oc cluster up`](https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md) works reasonably well for me on Linux.

[2018-06-21 09:35] alexellis commented on #223
@simonpasquier I followed all those instructions but it looks like the provider of the VM (Civo) - doesn't support nested VMs.

@vodasan - it looks like NodeInfo is working correctly from the logs?

You need to set up an empty_dir volume mount for Prometheus.

[2018-06-21 09:42] vodasan commented on #223
I have nothing in nodeinfo pod logs.

How set up an empty_dir volume mount?

[2018-06-21 09:42] #206 closed

[2018-06-21 09:43] simonpasquier commented on #223
FWIW I've done a quick test to deploy OpenFaaS on my local OpenShift cluster and it's working fine albeit the Prometheus crash that can be fixed by adding an emptyDir volume to the Prometheus deployment.

@vodasan are you sure that all pods are created? I had to wait for the images to be pulled otherwise I also encountered the gateway time-out.

@alexellis then I would definitely recommend `oc clu

[2018-06-21 09:47] simonpasquier commented on #223
@vodasan I've edited the prometheus deployment from the OpenShift console to add the following bits (open the prometheus deployment page and click the "Edit YAML" button in the right-corner menu):

[code]

[2018-06-21 09:56] vodasan commented on #223
I update my YAML like this

[code]

But pod still crash

[2018-06-21 10:10] alexellis commented on #223
You may need to make it writeable too..

[code]

[2018-06-21 10:10] alexellis commented on #223
Also worth looking at what we did to fix Prometheus for OpenShift in Michael's fork.

[2018-06-21 11:31] vodasan commented on #223
When I invoke nodeinfo function, I have Bad gateway or Gateway Time-out.

[2018-06-21 12:13] alexellis commented on #223
Ok so what is the name of your namespace for the functions? If it isn't openfaas-fn then you will have to update the domain suffix in the gateway-dep yaml file

[2018-06-21 12:15] alexellis commented on #223
You can also try setting direct_functions to false.

[2018-06-21 12:40] alexellis commented on #209
I think this is fixed now. Please can you take a look at the code and verify?

[2018-06-21 12:45] LucasRoesler commented on #209
I think it is still an issue, this is the relevant block on the current `master` https://github.com/openfaas/faas-netes/blob/d2a9878e8bf31f12290389f6a7bdc913f8ca0718/handlers/deploy.go#L139-L150

Any internal labels should probably be defined as constants and should be set after we process the labels in the request, L140 in particular needs to occur after L150.

[2018-06-21 13:06] vodasan commented on #223
My second project is "openfaas-fn".
![openshift-openfass-fn](https://user-images.githubusercontent.com/30429204/41720849-9824dd6a-7564-11e8-93b0-a128f47eac96.PNG)

[2018-06-21 13:12] alexellis commented on #223
On OpenShift is traffic allowed between projects? How about the suffix in gateway and faas-netesd? Do they work on OpenShift or do you need to try something else?

[2018-06-21 13:13] simonpasquier commented on #223
@vodasan I may have a clue. How many nodes do you have in your cluster? Do you which SDN plug-in you're using? If it's the ovs-multitenant plug-in then communication between namespaces/projects is forbidden by default.

[2018-06-21 13:13] simonpasquier commented on #223
You can refer [here](https://docs.openshift.com/enterprise/3.1/admin_guide/pod_network.html#joining-project-networks) to allow communications between your projects.

[2018-06-21 13:20] vodasan commented on #223
How can i get the SDN? I try the following command but I have not the permissions.

[2018-06-21 13:36] simonpasquier commented on #223
Hmm, I'm afraid you'll have to ask the person that has installed the cluster. Otherwise you may try this

[code]

[2018-06-21 13:46] alexellis commented on #223
Simon great to have your input. I've installed minikube and I'll see if I can get it working there with the current configuration. What I think we need is a docs page describing all the steps for OpenShift and MiniShift in the docs repo.

[2018-06-21 14:00] vodasan commented on #223
My cluster is limited. I can't do

`oc adm pod-network join-projects --to=openfaas-fn openfaas`

It's not possible to do the same but with only one project?

[2018-06-21 15:53] raditsp opened #224 "Issue with AlertManager and Gossip (Kubernetes on DC/OS)"
I'm trying to install faas-netes to Kubernetes on top of DC/OS.
I ran this command
`$ cd faas-netes && \ kubectl apply -f ./yaml
`
and it is working but the alertmanager won't start.

## Expected Behaviour

The alertmanager should run properly without any fails, and the auto scaler is working properly

## Current Behaviour

Currently, the alertmanager is failing with this error message in the logs

[2018-06-21 16:29] alexellis commented on #224
Hi,

We are making use of this successfully on Kubernetes 1.9.6 and onwards. There was an issue with several of the Kubernetes `1.9.x` versions which were patched by Google.

I wonder if your Kubernetes version is accurate? `1.9` seems like you are missing the patch version.

Have you tried Googling the errors from AlertManager or raising an issue on the AlertManager GitHub repo? I don't believe t

[2018-06-22 04:28] wwsean08 commented on #221
Currently playing around with getting this working, do we want to allow users to have labels added to their function at all, or just store all labels as annotations as they are currently setup.  The main issue I see from a backwards compatibility standpoint is that we'll need to either support the faas_function label in both the annotation and label or need to make this as a breaking change where

[2018-06-22 07:49] LucasRoesler commented on #221
How does listing functions work with only annotations? Are you listing all pods and then filtering that list on the annotation?  Selectors only work on the label field, as far I can tell from the documentation.

I don't think there is a nice way to refactor this code to use annotations https://github.com/openfaas/faas-netes/blob/0d4f816096a5c84740d185101054f047dedb8eff/handlers/reader.go#L38-L45

[2018-06-22 09:32] raditsp commented on #224
@alexellis Hi, I've updated the kubernetes verison that I used. Yes, I think it is related with `cluster.listen-address` but I'm not sure how to get the cluster IP itself.

@stefanprodan thank you, going to check it 👍

[2018-06-22 10:56] raditsp commented on #224
I've tried to follow @stefanprodan recommendation.

I update the alertmanager-dep.yml to add the `cluster.listen-address` like this:
[code]

the alertmanager is created but when I checked the error logs, another error appeared:

[code]

I assume if the alertmanager is not running properly, the autoscaling is not going to work, is it correct? @alexellis

[2018-06-22 17:31] alexellis commented on #224
Stefan thanks for the input on this. The output from AlertManager is stating that it has not parsed the value `'$(POD_IP)'"`. @stefanprodan how did you want @raditsp to enter the value?

I don't believe this is a problem with OpenFaaS or our current configuration since it is working in our development clusters without issues.

As advised above please raise a ticket with the AlertManager maintainer

[2018-06-22 17:34] alexellis commented on #224
You can also search Google and the AlertManager repo for the error message. I did that and saw some issues which may be related:

- https://github.com/prometheus/alertmanager/issues/1323
- https://github.com/prometheus/alertmanager/issues/1323
- https://github.com/prometheus/alertmanager/issues/1341

The README file for their project states that you can set this value to `0.0.0.0:9094` - https://g

[2018-06-23 03:56] stefanprodan commented on #224
@raditsp you used the Pod IP env var without providing it using the downward API. Take a look at the docs there is an example here https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/
[code]

[2018-06-23 09:11] alexellis commented on #221
I'd like @stefanprodan to give his thoughts on the comment by @dkozlov

https://github.com/openfaas/faas-netes/issues/221#issuecomment-397882839

As I remember it Stefan said that with the next Kubernetes version node-selectors will be deprecated and unavailable.

This is a node-constraint which works with a label - if we only store labels in annotations then I would think this use-case would be b

[2018-06-23 09:15] alexellis commented on #221
Perhaps another approach we could take is to allow `annotations` as a field for Kubernetes where we can store metadata. This would mean labels stay unmodified but still hold the same constraints, but for Swarm and Fargate we'd probably store this data inside a label.

[code]

`->`

Swarm internal representation:

[code]

K8s internal representation:

[code]

[2018-06-23 09:47] LucasRoesler commented on #209
@alexellis i have added a PR with what I think the required change is

[2018-06-23 10:21] LucasRoesler commented on #221
Each of these examples and use cases for annotations make sense.  Also allowing users to set annotations could lead to interesting integrations with other k8s controller/operators.

My only real concern is around list/filter of functions. Right now I can currently query k8s for "the functions with label equal 'teamA'" or "the functions with label equal 'projectX'".  The only way I know to implemen

[2018-06-23 10:52] raditsp commented on #224
@alexellis @stefanprodan thanks, I already include the podIP as env vars, and it worked

[2018-06-23 10:52] #224 closed

[2018-06-23 16:15] LucasRoesler commented on #222
I have been using the DaemonSet pattern with a ConfigMap to store the list of images to pre-pull.  It is really straightforward to implement and I think anyone familiar with k8s will recognize it and understand how it works. All really nice features if you work on a team.

[2018-06-28 06:06] wwsean08 commented on #221
I wasn't aware of the potential change to deprecate the node selector in kubernetes.  The representation of annotations that way you mentioned Alex is probably a good idea.  My knowledge on Swarm and Fargate is minimal but do they support dictionaries for labels or are you proposing setting `{ "Git-Owner": "alexellisuk" }` as a string in swarm?

[2018-06-28 07:16] alexellis commented on #221
Another reason we need this is to be able to store JSON or CSV-type text in a value. When we want to map "topics" in a label/annotation for use with our event brokers such as the [Kafka broker](https://github.com/openfaas-incubator/kafka-connector). Right now we can't store arbitrary data or even a comma in the strict Kubernetes format.

i.e.

Currently valid:

[code]

Currently invalid:

[code]

[2018-06-28 07:17] alexellis commented on #221
So @LucasRoesler @stefanprodan what do you want to do to move this forward? For several use-cases this is blocking progress on Kubernetes.

[2018-06-28 07:20] alexellis commented on #221
@wwsean08

[code]

https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

[2018-06-29 12:58] LucasRoesler commented on #221
@alexellis  for moving forward, I favor your proposal here https://github.com/openfaas/faas-netes/issues/221#issuecomment-399656087

[2018-06-29 14:12] alexellis commented on #221
No word from Stefan yet, he may still be traveling. Any thoughts @affix?

[2018-07-04 09:36] Gallouche opened #232 "Trouble to get OpenFaas pods running on Raspberry Pi 3B+ : Gateway and Queue-Worker pods keep crashing"
Hello,

I got some trouble with the deployment of OpenFaas on my RaspPi 3B+ K8s cluster.
Two pods, `gateway` and `queue-worker` are in a CrashLoopBackOff state.

## Expected Behaviour
All Openfaas pods should be running.

## Current Behaviour

Two pods are crashing :

[code]
### Pods logs

#### Gateway pod
[code]
#### Queue-Worker pod
[code]
### Pods decribe

#### Gateway pod
[code]

#### Queue-wo

[2018-07-06 11:46] Gallouche commented on #232
@ivanayov Thanks for your answer !
debian-jessie work on Raspberry ?

I tried to find it and `apt-cache madison docker-ce` but this version isn't available...

[code]
Is there an another way to downgrade docker ?
Sorry I'm new to this...

Thanks by advance :+1:

[2018-07-06 12:54] ivanayov commented on #232
@Gallouche I've tried with these docs - [install docker-ce](https://docs.docker.com/install/linux/docker-ce/ubuntu/#set-up-the-repository)

You need to add the Docker official GPG key:
[code]
and then add the repository

[code]

Better follow the instructions carefully, instead of just what I wrote in the comment.

[2018-07-06 14:49] alexellis commented on #232
There is no need to downgrade Docker if you have a working cluster.

The gateway and queue-worker are both dependent on NATS Streaming which is another deployment in the same namespace. This is a distributed system so if the GW comes up before NATS it will crash, restart and try again.

Please check the pod/deploy logs and report back. It'd also be ideal to see the events as described in the troub

[2018-07-07 12:08] stefanprodan opened #237 "When using the Helm installer OpenFaaS Gateway doesn't work with Istio"
When installing OpenFaaS with Helm on Istio enabled namespaces the Gateway pod enters `Init:CrashLoopBackOff`.

## Expected Behaviour

The Helm chart should offer on option that would allow Istio init container to run as root.

## Current Behaviour

The Gateway pod Istio init container errors out with:

[code]

## Possible Solution
Disable the Gateway security context.

## Steps to Reproduce (for

[2018-07-07 12:58] alexellis commented on #237
This is due to the security policy added by the operator. The init Pod needs CAP_NET_ADMIN to intercept traffic. The workaround is to make the security policy optional. Is that what you had in mind?

[2018-07-07 13:21] stefanprodan commented on #237
I made the security policy optional in the Helm chart. The PR is linked to this ticket

[2018-07-07 19:48] #237 closed

[2018-07-09 09:53] Gallouche commented on #232
@alexellis so I tried many times to delete the crashed pods, and nothing change, still the same logs...

The nats seems to be deployed and healthy :

Describe :
[code]

and the logs :
[code]

and the `kubectl get events --sort-by=.metadata.creationTimestamp -n openfaas` as say in the troubelshooting section from the doc :
[code]

Thanks a lot for your help !

Théo

[2018-07-09 13:17] alexellis opened #240 "Rename faas-netesd -> faas-netes"
Now that with #225 we'll need to type more verbose commands to get the logs, let's make everything consistent by renaming the faas-netesd references to faas-netes.

[code]

I think the consistency will help with new users.

Alex

[2018-07-09 14:46] alexellis commented on #232
This bit doesn't look ideal:

[code]

As far as I know Kubernetes v1.10.2 has issues on ARM right now, but the error you have might be timing related. I'd scale the gateway to 0 replicas and then up again.

[2018-07-09 15:09] Gallouche commented on #232
Is it maybe usefully to upgrade K8s version ? Or will I get more trouble with docker compatibility ?

Thanks I will try tomorrow ! I keep you in touch !

[2018-07-11 10:31] mrtind commented on #240
@alexellis  Can I take this one? It seems like something I can do.

[2018-07-11 10:58] alexellis commented on #240
Go for it, it will need testing by removing the openfaas namespace and openfaas-fn then creating again after a couple of minutes.

[2018-07-11 11:08] mrtind commented on #240
Should i change names of files and mentions of faasnetesd to faasnetes also?

[2018-07-11 14:24] Gallouche commented on #232
Hi @alexellis , it's seems to work fine today, for no particular reason... you're probably right about the timing related issue. But doesn't understand why it worked this time.

Keep you in touch !

Thanks a lot !

[2018-07-11 14:24] #232 closed

[2018-07-11 15:46] dkozlov opened #241 "Investigate auto-scaling with multiple functions"
## Expected Behaviour
Two functions should be scaled simultaneously

## Current Behaviour
Only first function was scaled during concurrent performance test with https://github.com/locustio/locust

## Possible Solution

## Steps to Reproduce (for bugs)

1. Create two functions with following labels:
"com.openfaas.scale.min": 3
"com.openfaas.scale.max": 10
"com.openfaas.scale.factor": 20
2. I have p

[2018-07-12 15:10] alexellis commented on #241
Hi @dkozlov we're looking into this with @ivanayov helping.

Please provide us with your function as an image on the Docker Hub, and if you can't share the code then push the equivalent of hello world. Thanks

Alex

[2018-07-12 15:19] ivanayov commented on #241
Hi @dkozlov ,

 I did a simple test, running two functions together asynchronously and they both scaled.
I'm trying to reproduce the issue.

[2018-07-12 15:27] dkozlov commented on #241
Hi @ivanayov, I was running two functions synchronously by distributing load on both functions

[2018-07-12 16:58] ivanayov commented on #241
@dkozlov

I did a test with `locustfile.py`:
[code]
and labels:

[code]
`of-watchdog`:
https://github.com/openfaas-incubator/of-watchdog/releases/download/0.2.5/of-watchdog

Both scale up to 10.

I tried replacing with with `post` methods  and scaling back to 0. This was the only case I reproduced.

Then I tried back with `get`, scaled to 0 and then got 10 replicas for both after few seconds.

Is

[2018-07-12 17:05] dkozlov commented on #241
Actually I am using ```post``` method in locust, so you can reproduce this issue?

[2018-07-12 17:56] alexellis commented on #241
@dkozlov

There are too many variables, please publish your function code or a comparable function where you still observe the behaviour.

[2018-07-12 17:58] ivanayov commented on #241
These are the tests I did with `post`:

1)
func1:
[code]

func2:
[code]

Result: only func1 is invoked

2)
func1:
[code]

func2:
[code]
Result: only func1 is invoked

3)
func1:
[code]

func2:
[code]
Result: both are invoked

4)
func1:
[code]

func2:
[code]
Result: both are invoked

5)
func1:
[code]

func2:
[code]
Result: both are invoked

6)
func1:
[code]

func2:
[code]
Result: both are invoked

T

[2018-07-12 18:45] alexellis commented on #241
What do you mean by "invoked", do you mean "scaled"?

[2018-07-12 18:46] alexellis commented on #241
We need your specific function or similar to reproduce the issue. I've asked 3 times in the thread now (maybe 4) please make this your next action item. https://github.com/openfaas/faas-netes/issues/241#issuecomment-404597005

[2018-07-12 18:56] dkozlov commented on #241
I could not share my function code, sorry. But why do I need to do it? @ivanayov reproduced this issue without my code

[2018-07-12 19:47] jrivera97 opened #244 "Question: Can functions be restricted to certain users?"
I've deployed faas-netes with an ingress and basic auth in a k8s cluster. If I were to add users into the cluster, is there a way I could restrict functions in the openfaas-fn namespace to only be called by certain users? For example, an admin that could call any function, and then others with fewer privileges that could only invoke certain functions or not be allowed to create/deply their own.

#

[2018-07-12 20:23] alexellis commented on #241
There are two options I gave - the function image and if that wasn't possible then a function built with the same template. You've not specified even which language runtime is being used. Are you using a standard template from the OpenFaaS project? How long does the function take to run? What is the latency/round-trip?

Can you share the JSON alerts from your gateway logs in a Gist (don't paste in

[2018-07-12 20:37] alexellis commented on #241
Seeing as it's hard to obtain the specific information needed to reproduce any issue accurately, let's switch things around.

Please use this container image: alexellis2/scale-op:0.1.0

It's written in Golang, uses of-watchdog / http and is hello world.

Please deploy twice.

[code]

Then trigger with two concurrent `hey` instances:

[code]

These parameters keep QPS around 10, high enough to trig

[2018-07-12 20:40] alexellis commented on #241
My findings.. auto-scaling worked correctly (this is using Docker Swarm)

Two separate alerts firing

<img width="1160" alt="screen shot 2018-07-12 at 21 38 19" src="https://user-images.githubusercontent.com/6358735/42658035-0a60c764-861c-11e8-8cf5-6a5ceca19fe2.png">

Monitoring the query:

<img width="1178" alt="screen shot 2018-07-12 at 21 38 12" src="https://user-images.githubusercontent.com/63

[2018-07-12 20:51] alexellis commented on #241
I just replayed the same test on GKE with Kubernetes `v1.10.5-gke.0` and the steps above. Both functions scaled independently.

<img width="988" alt="screen shot 2018-07-12 at 21 49 39" src="https://user-images.githubusercontent.com/6358735/42658551-90c37544-861d-11e8-92cf-a1dccf6feac2.png">

<img width="1009" alt="screen shot 2018-07-12 at 21 49 36" src="https://user-images.githubusercontent.com/

[2018-07-12 20:54] alexellis commented on #241
Scaling with custom min/max:

[code]

<img width="999" alt="screen shot 2018-07-12 at 21 53 42" src="https://user-images.githubusercontent.com/6358735/42658733-17a066f8-861e-11e8-8ed8-fec34aff8921.png">

<img width="936" alt="screen shot 2018-07-12 at 21 53 39" src="https://user-images.githubusercontent.com/6358735/42658734-17c809ec-861e-11e8-911e-23f06a8d2e98.png">

Alex

[2018-07-12 20:55] alexellis opened #245 "Quick fix issue: Incorrect log of "error" for 202 when scaling"
## Expected Behaviour

On Kubernetes, scaling gives a 202 HTTP code and this should show as "OK"

## Current Behaviour

It shows as an error, but it is not an error, it's just reporting wrong as I suspect a 200 was expected in the code.

[code]

## Possible Solution

Find the handling code and add a failing unit test, then fix the code and see the unit test pass.

Allow a 202 to be acceptable.

##

[2018-07-12 20:58] alexellis commented on #245
@viveksyngh would you like to take this one?

Alex

[2018-07-13 03:39] viveksyngh commented on #245
Yes, I will work on this one.

[2018-07-13 07:21] ivanayov commented on #241
@alexellis Every time a function is invoked from locust, it scales. When I say "only func1 is invoked" in this [comment](https://github.com/openfaas/faas-netes/issues/241#issuecomment-404597738), I mean that it's invoked and scales, but the other function is not invoked at all.

I may have missed those details in the issue, as the discussion goes in slack as well.

In the comment above, cases 1 an

[2018-07-13 07:33] dkozlov commented on #241
I need time to recreate my environment with Kubernetes and create similar functions.

@ivanayov Lets consider cases 1 and 2 in more details. Why do you think second function is not invoked at all? It is connectivity problem/ internal errors or locust issue?

[2018-07-13 07:39] alexellis commented on #221
To summarise consensus from core contributors (Stefan/Lucas/myself) - we will take this approach:

* Labels remain unaltered
* Annotations will be added to schema.

See updated https://github.com/openfaas/faas/issues/682

This is a full end to end change from CLI to function schema to back-end handlers.

[2018-07-13 08:22] ivanayov commented on #241
Derek add label: support

[2018-07-13 08:36] ivanayov commented on #244
Derek add label: enhancement

[2018-07-13 09:14] alexellis commented on #244
@jrivera97 could you give us an idea of the size of your organization and specific business use-case or regulatory requirements?

[2018-07-13 09:16] alexellis commented on #241
We're going to pause our work on this issue until you've completed the work asked for here - https://github.com/openfaas/faas-netes/issues/241#issuecomment-404642631

Thanks,

Alex

[2018-07-15 08:36] viveksyngh commented on #245
@alexellis I tried to reproduce this on my local kubernetes cluster. But seems like it is always responding with `200` status code. I am running below version.

[code]

[2018-07-15 09:11] alexellis commented on #245
The code should be changed to always give 202 so let's make this gateway code accept 202 as valid along with 200.

[2018-07-15 09:13] viveksyngh commented on #245
Yes, I have changed that. I just wanted to reproduce and test it. Anyway, I will push the changes.

[2018-07-15 09:19] alexellis commented on #245
The error is displayed in the gateway logs

[2018-07-16 10:13] #245 closed

[2018-07-17 21:05] jrivera97 commented on #244
**Solution**
Deploying openfaas from GitHub instead of using the helm chart, you can reconfigure the yaml files to deploy separate instances of openfaas in dedicated namespaces, and set privileges for users with RBAC for each namespace the way you would for any other application on k8s. May look into the possibility of having only one instance of openfaas running in the cluster with multiple funct

[2018-07-17 21:05] #244 closed

[2018-07-17 22:42] alexellis commented on #244
Hi @jrivera97

NetworkPolicy in Kubernetes can provide good isolation between functions. There are examples available from @stefanprodan.

OpenFaaS is light-weight so you could also it multiple times in your cluster into openfaas-a / openfaas-a-fn and openfaas-b / openfaas-b-fn for instance. Flags are available for this in the helm chart, it makes it much easier than hacking on YAML - look into th

[2018-07-20 10:09] alexellis opened #250 "Add scale_from_zero to helm chart"
The env-var `scale_from_zero` needs to be added to the helm chart for the gateway pod.

Default is false

This relates to work -> https://github.com/openfaas/faas/pull/685/files

Should also be documented in the README for the chart.

You also need to run `make charts` and bump the version number.

Add this to the ./yaml/gateway_dep.yml file too but as false.

Alex

[2018-07-20 10:15] alexellis opened #251 "Wrong ports set for faasnetesd"
The faas-netes ports need changing to 8081 (there is an error where they are set to 8080)

https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/faasnetesd-external-svc.yaml#L20

https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/faasnetesd-svc.yaml

https://github.com/openfaas/faas-netes/blob/master/yaml/faasnetesd-svc.yml#L13

This covers the helm c

[2018-07-20 10:48] mrtind commented on #251
I can work on this one

[2018-07-20 10:50] alexellis commented on #250
@viveksyngh

[2018-07-20 10:54] viveksyngh commented on #250
I will be working on this one.

[2018-07-20 12:40] #250 closed

[2018-07-20 12:41] alexellis commented on #251
Thanks Martin.

Please work with @viveksyngh if you have any issues, questions or queries. See the PR he just finished over at #252

Alex

[2018-07-20 12:41] alexellis commented on #251
Would like to see this in by EOD if possible because it's preventing faas-idler from working as expected. Does that work for you both?

[2018-07-20 12:43] alexellis opened #253 "Bump gateway to: 0.8.7"
Please bump the gateway image to: Bump gateway to: 0.8.7

Do this in YAML, helm and also run `make charts`, see #252 for context.

Alex

[2018-07-20 12:43] mrtind commented on #251
Yeah. I already did that I'm about to make pull request but i saw that the version is already 1.1.5. Should i make it 1.1.6 or?

[2018-07-20 13:54] viveksyngh commented on #253
I will work on this.

[2018-07-21 20:34] #253 closed

[2018-07-21 20:36] #218 closed

[2018-07-21 21:41] rawkode commented on #251
Issue closed by #254

[2018-07-21 22:23] alexellis commented on #251
Derek: close

[2018-07-22 07:53] dkozlov commented on #241
So I can not understand why you are thinking @ivanayov reproduced locust wrong behavior? Have you analyzed traffic from locust? Did locust can not make concurrent requests?

[2018-07-23 13:32] alexellis opened #260 "Turn off Prometheus LB in helm chart"
In the helm chart a LB is exposed for Prometheus which is unnecessary.

We should remove it. I don't think it makes sense to even make it an option. If multiple services need ingress then an IngressController would be more suitable and we have an option for that already.

[2018-07-23 13:33] stefanprodan commented on #260
Assing this to me please

[2018-07-23 13:35] alexellis opened #261 "Config: Helm/YAML - check all deployments for livenessProbe/readinessProbe"
All services that can support it should have a probe for both livenessProbe/readinessProbe

I noticed a mixture in the helm charts, the same should apply for the YAML files

Example:

[code]

[2018-07-23 13:36] alexellis commented on #260
Sure, next time you can use "self-service" with: "Derek assign: me"

[2018-07-23 13:37] stefanprodan commented on #261
Derek assign: me

[2018-07-23 15:21] rakeshbshukla opened #263 "Multiple namespace for openfaas within same kubernetes cluster"
I am trying to run multiple namespace of openfaas within same kubernetes cluster but i am not able to install using helm

When i try to run with different namespace i am getting the below error
Error: release openfass-2 failed: clusterroles.rbac.authorization.k8s.io "faas-controller" already exists

Is it possible to run openfaas with different namespace within same cluster and how can i achieve t

[2018-07-23 19:50] alexellis commented on #263
Duplicate of https://github.com/openfaas/faas-netes/issues/211

We believe that changing the ClusterRole to Role will resolve the issue. Work was started on this in one of the open PRs.

[2018-07-23 19:51] alexellis commented on #263
Derek add label: duplicate

[2018-07-24 08:48] alexellis commented on #190
I don't know which project JG is, but if you can link to it that'd be great.

I think we could do this, but with the proviso that OpenFaaS is not expected to work without manual interventions afterwards to configure Prometheus and AlertManager to your instances. You will also have to manually update your configuration files.

cc @rawkode @stefanprodan

Alex

[2018-07-24 08:48] alexellis commented on #240
Thank you for this Martin!

[2018-07-24 08:48] #240 closed

[2018-07-24 08:49] alexellis commented on #211
We are working on this right now with @stefanprodan putting together the PR.

[2018-07-24 08:49] alexellis commented on #263
We are working on this right now with @stefanprodan putting together the PR.

[2018-07-25 11:38] #263 closed

[2018-07-25 11:38] #260 closed

[2018-07-26 08:49] alexellis commented on #263
Perhaps you could also apply NetworkPolicy for further isolation? Example in https://github.com/stefanprodan/openfaas-flux

Are you running multiple tennants or dev/staging/prod in the same cluster?

[2018-07-26 09:34] rawkode commented on #190
Sorry, @alexellis; you said JG. I was asking what that meant :smile:

I've started playing with Prometheus federation a lot more and collating to a higher level Prometheus, so FaaS running it's own is less offensive to me now. I'm happy to close this, as there's been no other interest.

[2018-07-26 09:34] #190 closed

[2018-07-26 10:19] alexellis commented on #190
Haha "JG" seems to have been a typo on my part (possibly I dictated the message on my phone)

OK thanks again for the update and your recent PRs 😄 . I'm keen to see if other people comment on this too.

Alex

[2018-07-26 10:20] alexellis commented on #261
If this is fixed you can add in your PR or commit message "Fixes/Closes: #261" - this is a tip I got from Richard.

[2018-07-26 10:20] alexellis commented on #261
You can also use "Derek close" when you're done with an issue.

[2018-07-26 10:21] alexellis commented on #223
Yes it's possible, you can use the same namespace (project)

Can you use helm with OpenShift? Perhaps you can use our helm chart and configure the namespaces? If not then use "helm template" to set up everything in the same namespace and then just `kubectl apply -f`

Let me know how that goes.

[2018-07-27 20:18] maheshvra opened #265 "Gateway: nats: no servers available for connection"
Since my org does not allow pulling images from public registry, pulled images and pushed to private registry, made required changes in faas-netes/yaml
`kubectl apply -f faas-netes/yaml`
deployed all components except `gateway`

## Expected Behaviour
All pods should be up and gateway endpoint url should be reachable

## Current Behaviour
Gateway pod failed. i.e. gateway-78947cc7f6-tv6pr        1/2

[2018-07-28 07:59] stefanprodan commented on #265
The connection to NATS takes some time, usually after 30s the gateway will be up.

[2018-07-28 18:10] LucasRoesler commented on #265
@maheshvra can you share the output of `kubectl -n openfaas get po,svc` ?

[2018-07-28 18:42] alexellis commented on #265
If the gateway doesn't appear to be ready then scale to deployment to zero and then back to 1 again.

[2018-07-30 20:04] maheshvra commented on #265
@LucasRoesler

<pre>
NAME                               READY     STATUS             RESTARTS   AGE
po/alertmanager-69d4d848d6-zz2js   1/1       Running            1          3d
po/gateway-78947cc7f6-tv6pr        1/2       CrashLoopBackOff   155        3d
po/nats-6bb7bdf7cb-g9hqc           1/1       Running            1          3d
po/prometheus-6d877b78f9-nwn46     1/1       Running            1

[2018-07-30 20:15] LucasRoesler commented on #265
At first glance it seems like the correct components are there with the right values. When I looked at your original logs the nats address did seem a little odd though

[code]

There is an extra trailing dot. I won't have a chance tonight, but I will try it again on my machine and see if it has the same.

[2018-07-30 20:31] LucasRoesler commented on #265
Looks like the trailing dot is intentional

[2018-07-30 20:36] rgee0 commented on #265
Ref trailing dot:
https://github.com/openfaas/faas/issues/576

[2018-07-30 21:03] alexellis commented on #265
Hi @maheshvra please can you follow my suggestion? Thanks

Alex

[2018-07-30 21:04] alexellis commented on #265
[code]

[2018-07-31 15:05] davidrama commented on #265
@alexellis hi did had the same issues and followed your suggestoin with no succes:
 $ kubectl -n openfaas get po,svc
NAME                                READY     STATUS             RESTARTS   AGE
pod/alertmanager-75d7c5f4f6-jmgrq   1/1       Running            0          22m
pod/gateway-79664fb67d-4hb27        0/2       Terminating        3          1m
pod/gateway-79664fb67d-mt9hj        1/2

[2018-08-01 11:07] stefanprodan commented on #265
@davidrama I suspect there is a problem with Kubernetes networking.

You could do a test with `nc` like this:

[code]

See if that works or not.

[2018-08-03 08:08] kirecek opened #266 "[helm chart] Support other cluster domains than "cluster.local""
## Expected Behaviour

gateway should be able to connect to nats when deploying to kubernetes cluster with custom domain name.

## Current Behaviour

Gateway use "cluster.local" domain for nats address which does not work with custom domains.

[code]

Pods ends in error state:
[code]

## Possible Solution

- add  `kubernetesDNSDomain: cluster.local` to `values.yml`

- change **faas_nats_address**

[2018-08-03 08:53] kirecek commented on #265
maybe it's related to this https://github.com/openfaas/faas-netes/issues/266

Check your if your kube-dns is using "cluster.local" domain.

[2018-08-03 10:05] alexellis commented on #266
@stefanprodan PTAL

[2018-08-03 13:07] stefanprodan commented on #266
Make a PR for it, as long as the default value is set to `cluster.local` I see no problems.

[2018-08-03 18:02] nerdguru opened #269 "x509 certificate error upon `git repo add`"
## Expected Behaviour
When following these instructions:

https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md

On minikube 0.28.0, the expected behavior happens just fine:
`$ helm repo add openfaas https://openfaas.github.io/faas-netes/
"openfaas" has been added to your repositories`

## Current Behaviour
But on GKE:

`$ helm repo add openfaas https://openfaas.github.io/faa

[2018-08-03 18:59] alexellis commented on #269
I was unable to reproduce the error on my GKE cluster using the upper version mentioned, but I'll look into this. It may be related to the blog which is served via GitHub pages. Please use the deployment instructions which use the GitHub repo instead of the http helm repo.

[2018-08-07 11:02] ivanayov commented on #269
Derek add label: support

[2018-08-07 13:45] Kuvesz opened #270 "Can't start OpenFaaS over Kubernetes"
I have been trying to get openfaas to start for a while now, I always get the same result no matter what way I go about it, which is this:
[code]

## Expected Behaviour
I believe that every "Pending" should be a "Running".

## Current Behaviour
It's not changing from "Pending". I'm new to Kubernetes, so I probably don't know a lot of things that could be wrong.

## Steps to Reproduce (for bugs)
I

[2018-08-07 13:49] stefanprodan commented on #270
What happens if you do `kubectl run --image=nginx nginx` does the nginx pod starts? I'm guessing you have a single node and by default no workloads are allowed to run on the master.

[2018-08-07 13:53] Kuvesz commented on #270
@stefanprodan Hm, no it doesn't, I'll try bringing aboard another node and be back after that.

[2018-08-07 14:02] Kuvesz commented on #270
@stefanprodan It seems to work now (well the containers are crashing all over the place, but they started), wow, thanks, I expected this to be more like Docker Swarm in that regards.

[2018-08-07 14:02] #270 closed

[2018-08-07 14:03] stefanprodan commented on #270
Kubernetes is nothing like Docker Swarm ;)

[2018-08-07 14:04] Kuvesz commented on #270
Yea, seems so. :)

[2018-08-07 14:06] stefanprodan commented on #270
I would advise you to read the "Kubernetes Up And Running" book to familiarise yourself with the terminology and get a feeling on what Kubernetes is.

[2018-08-07 14:09] Kuvesz commented on #270
I'll take a look at that than. Never suspected to get something to read when I aksed this question, but stil, thank you, it could help even though I should not be working with Kubernetes for that long.

[2018-08-09 10:26] amatzia opened #271 "Auth not working when getting data from script"
When adding "basic_auth=true" flag to the helm chart the UI asks for username and password
but when running a python script to run a function from gateway no password is needed and data is returned

## Expected Behaviour
An exception on credentials should be raised

## Current Behaviour
Function can still work without credentials

## Steps to Reproduce (for bugs)
1.Deploy chart with helm and add "

[2018-08-09 15:04] amatzia commented on #271
found a solution

[2018-08-09 15:04] #271 closed

[2018-08-14 09:08] scher200 opened #272 "Question: good way to deploy jaeger and faas-netes"
Hello, does anyone maybe have a guide / tutorial about deploying jaeger and faas-netes together?

[2018-08-14 13:52] ivanayov commented on #272
Derek add label: question

[2018-08-14 14:05] stefanprodan commented on #272
OpenFaaS is not instrumented with Open Tracing. Even if you deploy OF on a Istio enabled cluster, Jaeger will not be able to trace a function call as in `istio-ingressgateway-> faas-gateway -> function` since the OF Gateway doesn't forward the zipkin headers.

[2018-08-14 14:34] ivanayov commented on #272
@alexellis said he had it working (and may be @johnmccabe )
Not sure if they have instruction written somewhere.

If you don't use it for production, but just for dev/test, this might be useful: https://github.com/jaegertracing/jaeger-kubernetes

[2018-08-15 09:56] s8sg commented on #272
One option can be instrument it in the function `Handle()` itself. Obviously you will miss out the tracing at `gateway` part, but you can still trace your end to end`faas workflow` by passing the `span` context across `functions`. I had it working before in similar way.

[2018-08-15 18:47] scher200 commented on #272
Thank you all @ivanayov @s8sg @stefanprodan,
I'll try the link and the Handle() function to handle this.
Though, I like the gateway traced as well, would be great if it forwards these zipkin headers.
If @alexellis or @johnmccabe had it working, could on of them maybe post a Gist ?

[2018-08-21 09:37] ivanayov commented on #167
@rayhero is this still an issue?

Closing due to inactivity, but feel free to comment / reopen if you have any issues.

[2018-08-21 09:37] ivanayov commented on #167
Derek close

[2018-08-21 09:37] #167 closed

[2018-08-21 10:11] #266 closed

[2018-08-21 11:02] alexellis commented on #270
Glad you have managed to overcome those difficulties.

It sounds like your cluster may not be configured correctly. Perhaps a managed Kubernetes service would be a good starting-point like GKE? https://cloud.google.com/kubernetes-engine/

Alex

[2018-08-21 11:02] alexellis commented on #270
Derek lock

[2018-08-21 11:04] alexellis opened #274 "Update armhf images"
A build/push of each armhf image is required.

It would be good if there was a single script I could run on an ARM machine to generate all the required images and have them pushed with whatever the latest git tag happened to be (even if that isn't HEAD)

Alex

[2018-08-21 11:06] alexellis commented on #274
[code]

Would be ideal if it could clone each of the repositories, do a `docker login` and then build all the images. If all pass, it should push them.

[2018-08-22 19:00] pyramation commented on #145
can somebody elaborate (or show an example yaml) what method they are using to get config maps or secrets into the function?

e.g.

[code]

[2018-08-22 20:55] alexellis commented on #145
Derek lock

[2018-08-22 21:01] alexellis commented on #145
Hi @pyramation

Secrets are documented in the workshop https://github.com/openfaas/workshop and via the docs https://docs.openfaas.com/

If after consulting both you are still having problems then please feel free to raise your own issue.

[2018-08-25 20:31] white-cloud opened #275 "Question: how does zero-scale work in OpenFaaS?"
Hello ,
I want to ask please about the cold start of the openfaas function ? if  we are not calling the function for a long period of time is the container would be deleted ?? or the container keeps always the stat running even if ze aren't using it .

Thank you.

[2018-08-27 13:49] ivanayov commented on #275
Derek add label: question

[2018-08-27 14:27] ivanayov commented on #275
Hi @white-cloud,

Your function container will be alive until it is stopped from an external process (for reference [watchdog/main.go#L74](https://github.com/openfaas/faas/blob/d8d6349b2b86d6f913a73cacb91ffc6017b2def6/watchdog/main.go#L74)).

If you configure it with `write_timeout`, this will be used as a grace period to finish jobs before the shut down.

You can use the [faas-idler](https://gith

[2018-08-28 09:12] white-cloud commented on #275
Hi @ivanayov  thank you for your answer
so if i undertood right your explanation that mean that the default configuration is a function running always with no idle time, the container zill be aways running even after a long time of not calling the function it will be always active?

[2018-08-28 10:00] alexellis commented on #275
Please see the blog post [Scale to Zero and Back Again with OpenFaaS](https://www.openfaas.com/blog/zero-scale/)

By default this behaviour is not enabled, so you will always have the [minimum availability you specify in your deployment](https://docs.openfaas.com/architecture/autoscaling/), which by default is 1.

@ivanayov I'm not sure that is the correct definition of `write_timeout`. That only

[2018-08-28 13:40] alexellis commented on #275
Please also see the documentation on zero-scale which I added today: https://docs.openfaas.com/architecture/autoscaling/#zero-scale

[2018-08-28 13:40] #275 closed

[2018-08-28 14:32] white-cloud commented on #275
Thank you @alexellis im trying to read everything related to openfaas and get deeper with it , as im still beginner zith the function as a service term and using for the first time openfaas to deploy fnctions that,s why feeling a bit lost .
Thank you all for your help.

[2018-08-28 20:15] alexellis opened #276 "Bump openfaas-operator to 0.8.5"
The new release of the operator supports annotations and more verbose logging.

https://github.com/openfaas-incubator/openfaas-operator/releases/tag/0.8.5

Update YAML and helm for x86_64 platform only.

Alex

[2018-08-29 16:10] #276 closed

[2018-09-04 12:30] alexellis opened #281 "Add zero-scale to Helm chart (turned on)"
## Expected Behaviour

Add the configuration to the gateway to enable zero-scale and make this enabled by default - provide a way to disable it showing this in the table of options.

Add faas-idler into the mix helm chart but with `--dry-run` set to true by default. Allow users to override this to false in the table of options.

## Current Behaviour

Zero scale is set to false and the idler is not

[2018-09-04 13:01] bartsmykla commented on #281
derek assign: me

[2018-09-04 13:02] bartsmykla commented on #281
Derek assign: me

[2018-09-04 14:34] alexellis commented on #281
Thanks for taking this Bart.

[2018-09-06 16:14] rdimitrov opened #283 "Bump gateway to version 0.9.1"
Update the gateway version to 0.9.1
## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* What version and distriubtion of Kubernetes are you using? `kubectl version`

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reproduce issue:

* What network driver are you using and what CIDR? i.e. Weave net /

[2018-09-10 02:57] feifeiiiiiiiiiii opened #287 "Suggest: should response more detail error msg for debug"
I think add more error msg in reponse，so I found need to add more error msg as follow:

https://github.com/openfaas/faas-netes/blob/80743ae72861729200ea97837bea569945670a9e/handlers/proxy.go#L71

https://github.com/openfaas/faas-netes/blob/80743ae72861729200ea97837bea569945670a9e/handlers/replicas.go#L50

https://github.com/openfaas/faas-netes/blob/80743ae72861729200ea97837bea569945670a9e/handlers

[2018-09-10 03:33] feifeiiiiiiiiiii opened #288 "Suggest: improve regexp.MustCompile to global init"
## Expected Behaviour

Improve `regexp.MustCompile`  to global init,  reduce unnecessary init

## Current Behaviour

Each creates a handler to create new functions need  do `ValidateDeployRequest`, `regexp.MustCompile` all need to compile,  add unnecessary init

## Possible Solution

Improve `regexp.MustCompile` to global defined, reduce `regext.MustCompile` init, performance optimization

## Cont

[2018-09-10 03:55] burtonr commented on #288
@feifeiiiiiiiiiii I notice you opening several issues recently. First, thank you for taking interest in improving the project!
However, could you please fill out the issue template completely. The template is there so we can better understand the situation you have where there is an issue, or room for improvement. Having the "Current Behaviour" and "Expected Behaviour" helps knowing what you're ex

[2018-09-10 05:41] feifeiiiiiiiiiii commented on #288
@burtonr ok, thanks suggest

[2018-09-10 09:39] alexellis commented on #271
This is in the docs at https://docs.openfaas.com 😄

[2018-09-10 09:41] alexellis commented on #287
Hi @feifeiiiiiiiiiii what happened with this Issue, did you close it on purpose?

[2018-09-10 09:41] #288 closed

[2018-09-10 10:03] feifeiiiiiiiiiii commented on #287
@alexellis I need add detailed describe, so I decide temporarily close issue, wait I completed, I will repoen issue

[2018-09-10 10:35] feifeiiiiiiiiiii commented on #287
Hi @alexellis My suggest usefulness ?

[2018-09-10 12:05] ivanayov commented on #287
Hi @feifeiiiiiiiiiii Do you have specific use-cases from testing and message update proposals?

[2018-09-10 12:08] feifeiiiiiiiiiii commented on #287
@ivanayov ok

[2018-09-11 14:36] alexellis commented on #244
Instructions from @stefanprodan on installing OpenFaaS into different namespaces for staging/production or multiple teams. https://www.openfaas.com/blog/gke-multi-stage/

[2018-09-11 14:36] alexellis commented on #244
Derek lock: inactive thread

[2018-09-12 18:29] Hellisotherpeople opened #292 "Make it clear how/where to change environment variable for ImagePullPolicy"
I am trying to build an OpenFaas workload. I want to use a prebuilt image that I know built correctly with faas-cli build.

## Expected Behaviour
setting either an environment variable in the shell where I run faas-cli, or setting an environment variable somewhere in the function.yml file propegates s.t. kubernetes get deployment -o yml shows that the function pod has ImagePullPolicy = "IfNotPrese

[2018-09-12 18:34] Hellisotherpeople commented on #292
To be clear, this should be a really simple question - but I need an answer ASAP.

I am NOT using Helm, and do not want to for my workload

Basic python tutorial workloads fail because I am using a pre-built image that does not exist on dockerhub, hence why I want ImagePullPolicy=IfNotPresent

[2018-09-13 08:30] LucasRoesler commented on #292
@Hellisotherpeople updated docs are coming soon that specifically address the image pull policy, checkout openfaas/docs#53

[2018-09-13 09:32] alexellis opened #293 "(Investigate) Apparent 404 received by user"
## Expected Behaviour

User claims to receive 404 when invoking a function using OpenFaaS and gateway 0.9.2

I am unable to reproduce this in any environment including: GKE and kubeadm on Linux. My team cannot reproduce the issue on minikube / Docker for Mac @ivanayov

## Steps to reproduce

Can't reproduce, but these are the steps:

* Install OpenFaaS using helm
* `faas-cli store deploy figlet`
*

[2018-09-13 09:42] alexellis commented on #293
I just set up a brand new GKE cluster with Kubernetes 1.10.7-gke.1 and went through all the steps in HELM.md and chart/openfaas/README.md with a LB as my way of exposing the gw.

Everything worked perfectly including deploying figlet and invoking it.

I then made a Python3 / flask app using [this template](https://github.com/openfaas-incubator/python-flask-template):

[code]

[2018-09-13 09:57] dkozlov commented on #293
Additional information: I am using NodePort and deploying function with --gateway http://127.0.0.1:31112 from kubernetes master

[2018-09-13 18:39] Hellisotherpeople commented on #292
Thank you! My question is answered.

[2018-09-13 18:39] #292 closed

[2018-09-14 13:47] zouyee opened #294 "Add communication with apiserver testing when build in-cluster config"
Add communication with apiserver testing.
## Expected Behaviour

## Current Behaviour

Currently， we could not check the health of client, it is a reasonable to support the health check.
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* What version and distriubtion of Kubernetes are yo

[2018-09-14 19:11] viveksyngh commented on #294
Derek add label: proposal

[2018-09-15 09:17] alexellis opened #297 "(armhf only) Gateway 404 when not using direct_functions"
## Expected Behaviour

When `direct_functions` is set to false function invocations pass through faas-netes as a proxy. Right now that seems to be causing a 404 after PATH support was added. This is not an urgent or concerning issue since nobody should be bypassing the `direct_functions` setting.

The solution is to make the armhf configuration files use `direct_functions` and then to look into wh

[2018-09-15 09:23] alexellis opened #298 "Typo in helm chart for async/direct_functions"
## Expected Behaviour

Turning async off should not affect `direct_functions` in any way, but the helm chart only prints these values when async is on.

[code]

## Possible Solution

Move the direct functions outside of the conditional block. It doesn't belong there.

## Context

I don't expect this to have a user impact, unless there are people who are turning off `direct_functions` for some unkn

[2018-09-15 09:52] #297 closed

[2018-09-15 09:52] #298 closed

[2018-09-15 09:56] stefanprodan commented on #293
Derek close

[2018-09-15 09:56] #293 closed

[2018-09-15 09:57] stefanprodan commented on #293
This has been resolved in #299

[2018-09-19 18:05] alexellis opened #300 "Bump operator/gw/faas-netes to latest versions"
Please bump the following for x86_64 in YAML and Helm.

* https://github.com/openfaas-incubator/openfaas-operator/releases/latest
* https://github.com/openfaas/faas/releases/latest
* https://github.com/openfaas/faas-netes/releases/latest

The operator contains an essential fix for reconciliation of deployments.

[2018-09-19 18:30] stefanprodan commented on #300
Derek assign me

[2018-09-19 18:31] stefanprodan commented on #300
Derek assign: me

[2018-09-20 09:41] #300 closed

[2018-09-20 09:53] #281 closed

[2018-09-21 13:31] alexellis opened #302 "Offer instructions for helm without Tiller"
## Expected Behaviour

I got some feedback from @jbeda regarding potential security issues with the way some people configure helm's server-side component called "Tiller".  We should offer an alternative in the helm chart / docs that shows how to use `helm template` to generate a set of YAML files for the user to apply with `kubectl`.

@stefanprodan shared that Istio are also doing this. https://i

[2018-09-21 21:40] anubhabMajumdar opened #303 "Deployment error: secret not found on Amazon EKS"
## Expected Behaviour
While using `faas-cli up -f <function_name>.yml`, expect the function to be deployed on Kubernetes.

## Current Behaviour
Operation fails with message

However, the other secrets clearly exists as can be verified on using
`kubectl get secrets -n openfaas-fn`

Output:

default-token-vtc7m   kubernetes.io/service-account-token   3         8d
kong-pwd                    Opaque

[2018-09-21 22:16] alexellis commented on #303
Hi your secret needs to be deployed into the correct namespace. Please see the documentation site.

Regards,

Alex

[2018-09-21 22:21] anubhabMajumdar commented on #303
Hi Alex,
I have followed this [tutorial](https://docs.openfaas.com/reference/secrets/) and deployed secrets in namespace openfaas-fn. Infact this function was deployed successfully couple of days ago and working perfectly in Kubernetes. I just cannot deploy it back even though nothing has changed in terms of Kubernetes or Openfaas environment.

[2018-09-21 22:29] alexellis commented on #303
I've updated my comment with some more details.

Could you also give the command you use to create the secret `mongo-pwd`?

Perhaps in the interim you could also try deleting your function with faas-cli remove` before attempting to deploy again.

The Kubernetes events log and faas-netes logs may give us some more information about the message.

I generally would run:

[code]

stack.yml
[code]

Her

[2018-09-21 22:35] alexellis commented on #303
I'll share my output from above in a gist for reference: https://gist.github.com/alexellis/faa835a780267dfc488085614d630668

[2018-09-21 22:38] anubhabMajumdar commented on #303
- I have also updated my comment to include the log file and namespaces.
- I am deleting the function before trying to redeploy.
- I will try what you suggested about creating password.
- I won't work over the weekend. Apologies for keeping you up.
Anubhab

[2018-09-21 22:43] alexellis commented on #303
Last thought for the evening. What instances are you using for the EKS cluster specifically?

[2018-09-21 22:44] alexellis commented on #303
Please add the event log asked for above. See the troubleshooting guide for more details and add the logs from faasnetes. See the guide for the commands to enter.

[2018-09-21 22:56] anubhabMajumdar commented on #303
`kubectl logs -n openfaas deploy/gateway -c operator > operator_log.txt`

[operator_log.txt](https://github.com/openfaas/faas-netes/files/2407251/operator_log.txt)

I am using `t2.medium` aws instances.

Please let me know if I have attached the logs necessary for you to help. Thank you.
Anubhab

[2018-09-22 06:52] alexellis commented on #303
Derek close: wrong repo

[2018-09-22 06:52] #303 closed

[2018-09-22 06:56] alexellis commented on #303
Hi Anubhab,

This helps a lot! The issue is not with faas-netes but with the Kubernetes operator. You can switch to the more stable and battle-tested "faas-netes" by running the helm installation and passing false to the create operator flag.

You may need to delete the helm deployment first with `helm delete --purge openfaas` and also delete the namespace before running the install again.

There'

[2018-09-24 16:59] anubhabMajumdar commented on #303
Thank you so much Alex!

[2018-09-24 19:17] alexellis commented on #303
I appreciate your patience and helping us get to the root cause. As a side-note we've also released a fix for the operator - https://github.com/openfaas-incubator/openfaas-operator/releases/tag/0.8.9

Let's catch up on Slack. 👍

Alex

[2018-09-27 15:52] philippe-lavoie opened #306 "Deploy failed to find image secret (not an error - created in wrong namespace)"
I'm trying to deploy and leverage AzureContainerServices from my own kubernetes.

## Expected Behaviour
Setting athena.yml
[code]

then
[code]
results in successful deployment

## Current Behaviour
Now, I get this

[code]

## Possible Solution
No clue....

## Steps to Reproduce (for bugs)
1. I did a docker login to my azure credential repository
2. add your secret
     kubectl create secret docker

[2018-09-27 15:59] stefanprodan commented on #306
You have to create the secret in the `openfaas-fn` namespace. Can you please try that?

[2018-09-27 16:05] alexellis commented on #306
Off the top of my head you may need to select the namespace for openfaas when you create the pull secret or openfaas-fn. There's also a way to set this once - https://docs.openfaas.com/deployment/kubernetes/#link-the-image-pull-secret-to-a-namespace-service-account

[2018-09-27 16:27] alexellis commented on #306
If that's the case perhaps we need to update that docs page for the first half?

[2018-09-27 19:32] philippe-lavoie commented on #306
Guys, creating the secrete inside openfaas-fn allowed the faas-cli deploy command to work. Thanks for the suggestion!

I'm keeping this close as I feel this should be mentionned somewhere in the docs. Thanks for the help guys.

[2018-09-27 20:12] #306 closed

[2018-09-28 08:16] #220 closed

[2018-10-06 06:03] alexellis commented on #147
Update: You should use of-watchdog for this usecase, see the documentation site for more.

[2018-10-06 06:03] alexellis commented on #147
Derek: lock

[2018-10-10 07:19] LucasRoesler commented on #302
@alexellis I added some initial documentation to both faas-netes and to the docs repo

[2018-10-10 14:40] alexellis commented on #302
👍

[2018-10-10 22:59] pyramation opened #311 "functions with configmaps"
Support (or document) configmaps within openfaas functions

## Expected Behaviour

I should be able to specify both secrets *and* configmaps that reside in the `openfaas-fn` namespace:

[code]

## Current Behaviour

From the documentation, it looks as though you have to hard-code the `environment` values.

## Possible Solution

Potentially it's already done, or there is a way, and it's not obvious

[2018-10-11 06:29] LucasRoesler commented on #311
Because we want to maintain an orchestration agnostic implementation, we probably won't support somethint like `valueFrom`. It is too k8s specific and could not be implemented very easily for swarm.

We could potentially mimic secrets support and mount configs to a specific location. I feel like some of this has been discussed before but I can't recall at this moment, perhaps @stefanprodan remembe

[2018-10-11 06:31] rgee0 commented on #311
Possibly #145

[2018-10-28 13:34] alexellis commented on #70
Derek close: released as OpenFaaS Operator

[2018-10-28 13:34] #70 closed

[2018-10-28 13:34] alexellis commented on #70
Derek lock

[2018-10-28 13:34] alexellis commented on #156
Derek close: resolved/released

[2018-10-28 13:34] #156 closed

[2018-10-28 13:35] alexellis commented on #211
Derek close: resolved by using a named prefix in helm. The ClusterRole needs to be removed.

[2018-10-28 13:35] #211 closed

[2018-10-28 13:37] alexellis opened #314 "Remove ClusterRole from helm chart to match YAML"
## Expected Behaviour

Continuation of https://github.com/openfaas/faas-netes/issues/211

When using faas-netes we should be using a Role and not a ClusterRole for least privileges. See the YAML as an example.

This patch will need thorough regression testing to be merged.

[2018-10-28 13:38] alexellis commented on #302
Derek close: resolved by Lucas in official docs

[2018-10-28 13:38] #302 closed

[2018-10-28 13:39] alexellis commented on #265
Derek close: resolved. A custom Kubernetes domain can now be specified via helm / env-vars in YAML

[2018-10-28 13:39] #265 closed

[2018-10-28 13:43] alexellis commented on #221
This has been released and out in the open for a few months now.

[2018-10-30 10:50] alexellis opened #315 "Add nats-streaming monitoring as a helm flag"
## Expected Behaviour

Add nats-streaming monitoring as a helm flag:

https://github.com/openfaas/faas-netes/commit/bb8507db3f55806862792449980a3e69fb8be45d

## Current Behaviour

Commented out in the YAML

## Possible Solution

* Update chart's README and test whether it works

[2018-11-07 05:06] lmxia opened #316 "Prometheus is not by default NodePorts as API Gateway in helm."
In README.md it said that:
`By default NodePorts will be created for the API Gateway and Prometheus.` which is actually not true. Prometheus is now by default ClusterIP, should we make it NodePorts?

[2018-11-07 12:45] LucasRoesler commented on #316
The prometheus server itself is an internal component that we choose not to expose in the chart because we can not easily protect it with authentication. it is also not expected to be used directly.

We should probably update the note in the README to remove Prometheus in that comment

[2018-11-08 14:28] martindekov commented on #221
Should we close the issue then? ^

[2018-11-10 19:59] LucasRoesler commented on #315
@alexellis I just created a small PR to add a new config option to the chart `nats.enableMonitoring`

[2018-11-11 12:33] alexellis opened #320 "Update gateway to latest version"
## Expected Behaviour

Update gateway to latest version in helm and YAML where the tags exist for each platform (check on the Docker Hub first)

[2018-11-12 09:43] martindekov commented on #320
Derek assign: me

[2018-11-13 05:39] lmxia commented on #316
Well.

[2018-11-13 05:39] #316 closed

[2018-11-15 14:06] elebeaup opened #322 "Issue with pull policy for core services"
I'm trying to deploy on Kubernetes in offline (Local cluster/Docker for Desktop)

## Expected Behaviour
Openfaas is deployed without errors.

## Current Behaviour
The gateway fail to deploy. I have the following error :
```Failed to pull image "openfaas/openfaas-operator:0.8.9": rpc error: code = Unknown desc = Error response from daemon: Get https://registry-1.docker.io/v2/: net/http: request can

[2018-11-15 14:08] alexellis commented on #322
@stefanprodan PTAL?

[2018-11-15 17:38] #320 closed

[2018-11-16 13:10] feifeiiiiiiiiiii opened #324 "Proposal: add parameter we can setting k8s api proxy"
We can add proxy parameter to set k8s api proxy for testing faas-netes, inspired `nginxinc/kubernetes-ingress`

## Expected Behaviour

Setting k8s proxy api, we can test faas-netes in local machine not need deploy in  k8s cluster

## Current Behaviour

If we add some features we need to build  `faas-netes` image  and deploy to k8s cluster, not convenient

## Possible Solution

[code]
## Steps to R

[2018-11-16 13:38] alexellis opened #325 "Add prometheus.io.scrape="false" wherever possible"
To follow up to #93 - seems like we missed some key services like NATS which were being scraped in my cluster. We should annotate all services with ` prometheus.io.scrape="false"` to prevent Weave Cloud from attempting to scrape endpoints which do not support this.

cc @stefanprodan

[2018-11-21 10:15] ivanayov commented on #324
Derek add label: proposal

[2018-11-21 10:20] ivanayov commented on #324
Hi @feifeiiiiiiiiiii ,

This proposal affects how OpenFaaS is currently designed. Can you please elaborate on why do you think this approach is better than the available?
What would we gain that's not available at the moment? (out of testing scope)

Thanks,
Ivana