[2018-11-22 08:21] feifeiiiiiiiiiii commented on #324
Hi @ivanayov
I think if we develop some new feature in OpenFaas `gateway` or other modules , we can very easy deploy `faas-netes` in local machine, not deploy to k8s cluster and inconvenient,  because we need to build new feature images, so I think we should support a easy way

Only my personal suggest, not affect we use `OpenFaas`

Thanks

[2018-11-22 12:38] alexellis opened #326 "Bump the operator to 0.8.10"
## Expected Behaviour

A new operator exists with a fix needed for OpenFaaS Cloud. Check first that the Docker image for tag `0.8.10` is published, then update the YAML and helm (don't update for ARMHF if the image tag is not pushed)

[2018-11-22 16:40] #322 closed

[2018-11-22 16:40] #326 closed

[2018-11-28 09:55] dedene commented on #322
@alexellis just curious, have you experienced this issue while testing: https://github.com/openfaas-incubator/openfaas-operator/issues/56 ?

[2018-12-02 12:22] LucasRoesler opened #329 "Bump golang version to 1.10.x"
## Expected Behaviour

Inspired by openfaas-incubator/openfaas-operator#57 we may not be able to update to 1.11.X but we should be able to safely update to 1.10.x, as is/has been done in openfaas-incubator/openfaas-operator#59

## Possible Solution

Update base Docker images and do smoke testing.

### Scope

- Dockerfile
- Dockerfile.arm64
- Dockerfile.armhf

[2018-12-07 15:22] ZeusIV opened #332 "Trouble to get OpenFaas pods running on Raspberry Pi 3A+ : Gateway and Queue-Worker pods keep crashing"
Hello,
I got some trouble with the deployment of OpenFaas on my RaspPi 3B+ 3A+ K8s cluster.
Two pods, gateway and queue-worker are in a CrashLoopBackOff state.

This is pretty much a duplicate of the closed issue https://github.com/openfaas/faas-netes/issues/232
I first read about this over at https://www.hanselman.com/blog/HowToBuildAKubernetesClusterWithARMRaspberryPiThenRunNETCoreOnOpenFaas.asp

[2018-12-08 09:49] #329 closed

[2018-12-12 10:18] ZeusIV commented on #332
Further info
After rebooting the cluster the Dashboard pods panel shows
gateway-cdbdbcd54-xrvxp
openfaas
cube2
Waiting: CrashLoopBackOff
1347
4 days
subject
more_vert
Back-off restarting failed container
Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "8b25afeceaf6cf2868081b35766ea9e4186758a89edaa60eb09decf02ad19c14" network for pod "gateway-cdbdbcd54

[2018-12-12 15:01] alexellis commented on #332
Raspberry Pi is less than ideal to run Kubernetes. It sounds like your network config may be wrong? Did you use DHCP or static IPs? Wired or wireless?

[2018-12-12 21:29] andelhie opened #333 "Gateway is having latent communication to the faas-netes container"
## Expected Behaviour

Ran in to a bug with the Gateway Pod.  When it is running at first deployed i see it having some very latent connections times to the faas-netes container.

## Current Behaviour

I saw this with trying to log in to the cli.

[code]

In the logs I saw this.

[code]

## Possible Solution

Not sure this is a true solution but what worked for me was to add an env value to the ga

[2018-12-13 08:58] ivanayov commented on #333
Hi @andelhie,

What was the CPU usage when this happened? How many RAM do you have?
To me it seems like a problem with the VM, but if there's something that needs optimisation, we'd like to sort it out.
Can you reproduce the same with `openfaas-operator`?

Thanks,
Ivana

cc @stefanprodan

[2018-12-13 08:59] ivanayov commented on #332
cc @rdimitrov

[2018-12-13 09:34] stefanprodan commented on #333
The latency could be due to Kubernetes API rate limiter, the latest openfaas-operator release has a fix for this. Please give it a try.

[2018-12-13 14:35] alexellis commented on #333
I'm not sure that would happen on an empty install.. this is on AWS though which uses CPU credits. Perhaps the instance type is too small?

[2018-12-13 16:23] andelhie commented on #333
I should have noted but this is all deployed on top of OpenStack Newton in our private cloud.

The instance are 2x4 and they are not running slow at all.

You have to remember that only thing that change is the `write_debug` was enabled on the gateway.

[code]

[2018-12-13 17:36] ZeusIV commented on #332
@alexellis Hi alex, I am using static IPs over wifi. the pi 3 A+ doesn't have ethernet. k8s works fine on my NUC development machine but I would like to use a rpi cluster (if it is possible) for a project I am working on.
I did a search for the sandbox error and found this related to flannel although  I am using weave
https://stackoverflow.com/questions/51169728/failed-create-pod-sandbox-rpc-error

[2018-12-13 18:34] andelhie commented on #333
So I have a second cluster on same OpenStack infra but the K8s release is 1.11.3 and it works just fine.  If not even faster then the other one.

I will test upgrading this cluster to 1.12.2 and see if I see the same problem.

[2018-12-13 18:41] ivanayov commented on #333
That's interesting. I researched the code and did not find any possible relation between the flag and the latency. Is it possible that the time spent for printing in logs reduces the number of API calls in a short period of time?

Do you have data/logs from the networking?

Do you reproduce with `openfaas-operator`, or only with `faas-netes`?

[2018-12-14 16:32] andelhie commented on #333
I will test that next.  I did deploy this on top of Kubernetes 1.11.3 and it ran much faster.  I am now upgrading this test cluster to the same release of Kubernetes as the one that is slow.

If it slow then we know why.  If not then I will test the operator version.

[2018-12-14 17:25] Hellisotherpeople opened #334 "Possible bug with running functions in NUMA (multi CPU) environment"
I have a function - say, a function to compute prime numbers. I am doing tests to see how well these functions are able to stay isolated to the DRAM which is specifically pinned to only a single CPU of a multi CPU system using numactl --membind=0 --cpunodebind=0 on a python3-debian function template

**Expected Behaviour**
Function respects the numactl --membind=0 --cpunodebind=0 settings, and doe

[2018-12-14 20:45] alexellis commented on #334
Hi @Hellisotherpeople, I'm really not sure how we can engage with your issue with NUMA. Can you help me understand how we could help?

Are you sure this is even anything to do with OpenFaaS and not just an artifact of using a container?

Some ideas: use of-watchdog instead and the HTTP mode. Try your test on your host directly with the watchdog and no containers involved.

Is your function contain

[2018-12-17 18:22] danieljrich opened #335 "Persistant Volume Claim in Helm"
If the node running OpenFaas dies or needs to be rebuilt, or Helm redeployed, all the functions running in openfaas need to be redeployed as well, as they are wiped out. If I create a PersistentVolumeClaim resource, where would that need to be mounted in order to store all the function data and retain it in the event of a redeploy. If there is another way I can retain those deployed functions, tha

[2018-12-17 19:59] danieljrich commented on #335
I'm sorry, I think I misunderstood the issue on my end. A co-worked originally came to me with this problem, but upon further testing it looks like when a node dies and is rebuilt, functions are retained. Only when helm is completely deleted or wiped out do the functions need to be redeployed. Which is totally expected. Thank you for your quick response, and sorry to waste your time!

[2018-12-17 19:59] #335 closed

[2018-12-18 13:48] alexellis commented on #335
No problems @danieljrich - please feel free to join Slack and email alex@openfaas.com for the invite.

[2018-12-18 13:50] alexellis commented on #325
The same should apply to any microservices inside https://github.com/openfaas/openfaas-cloud

[2018-12-18 13:55] stefanprodan commented on #325
Derek assign :me

[2018-12-18 13:56] stefanprodan commented on #325
Derek assign: me

[2018-12-19 02:00] feynmanliang opened #337 "Double http:// in README"
I can't copy and paste the instructions in https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md#verify-the-installation because "http://" is repeated in the envvar and again in the command.

[2018-12-19 16:53] andelhie commented on #333
So to update you all I am moving to 1.11.3 to the cluster as well I blow away one of the masters on my private cloud.  I hope to have it backup today to validate if there is a K8s version problem.

[2018-12-20 21:06] alexellis commented on #333
There is no `write_debug` flag for neither the gateway nor faas-netes. It sounds like a red-herring or environmental issue at this stage.

If you can reproduce the issue somehow then we can look into it.

Alex

[2018-12-28 13:02] rgee0 commented on #337
Derek close: fixed in https://github.com/openfaas/faas-netes/commit/6bac00613925cde186682b5462336c6b7235e702

[2018-12-28 13:03] #337 closed

[2018-12-30 14:20] LucasRoesler opened #341 "Bump openfaas-provider to 0.8.0 and update function proxy implementation"
The openfaas-provider is now at v0.8.0, we should upgrade.

## Possible Solution

This will require upgrading both the provider and gorilla mux, since the mux version was increased in the provider code. The new version also brings the [standardized function proxy implementation](https://github.com/openfaas/faas-provider/issues/9), we should update the faas-netes provider to use that implementation

[2018-12-30 14:35] alexellis commented on #341
Derek add label: design/approve

[2018-12-30 14:37] LucasRoesler opened #342 "Implement openfaas-provider secrets handler"
## Expected Behaviour

The faas-netes should expose the required secrets management APIs as specified in openfaas/faas#807

## Possible Solution

Upgrade the faas-provider version to include the changes from openfaas/faas-provider#12 and implement the required secrets handlers

## Context

This will help simplify end user deployment of secure functions and simplify documentation such as
- [Lab 10

[2019-01-02 20:21] Hellisotherpeople commented on #334
Hi @alexellis

It is possible that this is an artifact about using a container - and we are leaning on it being something to do with Docker and not you guys - but I must make sure.

We tried using of-watchdog - though we've found that it's not behaving as a drop-in replacement (possibly due to user error - will investigate further), including with and without HTTP mode.

For this project, we must

[2019-01-04 10:17] cpani commented on #265
Hi,
I am facing this issue for connecting to Nats Streaming server.
I have my server running

[1] 2019/01/04 10:06:53.790584 [INF] STREAM: Starting nats-streaming-server[test-cluster] version 0.11.2
[1] 2019/01/04 10:06:53.790624 [INF] STREAM: ServerID: xdbAYK8WyPNA0h68NJQaMk
[1] 2019/01/04 10:06:53.790629 [INF] STREAM: Go version: go1.11.1
[1] 2019/01/04 10:06:53.791115 [INF] Starting nats-server

[2019-01-04 12:15] alexellis commented on #265
Hi please can your open your own issue?

Alex

[2019-01-04 12:15] alexellis commented on #265
Derek lock

[2019-01-04 15:39] #325 closed

[2019-01-04 15:49] alexellis commented on #265
I'm also not sure what you mean by "from my client", but I assume you don't mean by the queue-worker which is the only supported subscriber right now?

Please fill out a fresh issue.

[2019-01-04 15:55] alexellis commented on #333
Let's close the issue but keep tracking it and commenting if you do find a way to reproduce the issue.

Alex

[2019-01-04 15:55] #333 closed

[2019-01-05 11:52] #341 closed

[2019-01-06 10:03] alexellis commented on #332
512MB RAM is not sufficient for running Kubernetes. I would suggest you use Swarm and neither is WiFi.

I’m going to close the issue as this is scenario is not supported by Kubernetes, let alone OpenFaaS.

Alex

[2019-01-06 10:03] #332 closed

[2019-01-06 10:05] alexellis commented on #332
https://shop.pimoroni.com/products/raspberry-pi-3-a-plus?variant=17989206507603&gclid=EAIaIQobChMIva6G3PPY3wIV4p3tCh3nDgzBEAQYASABEgLnb_D_BwE

https://blog.alexellis.io/build-your-own-bare-metal-arm-cluster/

[2019-01-08 11:52] alexellis commented on #322
Hi @dedene sorry I missed this follow-up comment.

It looks like @stefanprodan fixed the issue you had in #6? Can you comment please?

Alex

[2019-01-09 19:00] #342 closed

[2019-01-10 12:08] alexellis opened #347 "Wrong HTTP code received upon secret deletion where secret not found"
## Expected/Current Behaviour

I expected to get a 404, but got a 500

[code]

## Possible Solution

Handle error in the faas-netes code and update unit test

## Steps to Reproduce (for bugs)

Checkout openfaas/faas-cli

[code]

Check the logs:

[code]
## Context

Needs fixing before we release and announce.

## Your Environment

[code]

faas-cli - master.

[2019-01-10 22:17] #115 closed

[2019-01-10 22:19] alexellis opened #349 "Create instructions for faas-netes on OpenShift"
We should create instructions for deploying OpenFaaS on OpenShift.

Michael Hausenblas once worked on this and wrote up a blog using `minishift`, but it wasn't signed-off, so couldn't be merged. The project has changed since then and I'd appreciate an experienced OpenShift user taking a look at this and contributing changes back to this repo and openfaas/docs.

[2019-01-11 03:16] annatech commented on #349
Having recently deployed faas-netes on a self-hosted OpenShift OKD 3.11 cluster, I can follow-up with a document describing my work. Overall, I was able to use the instructions from here, mostly as-is:

https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md

The actual deployment was performed using a helm chart, executed from one of the OpenShift master nodes. After the kubec

[2019-01-11 08:56] hullarb opened #350 "Namespace is not set for ingress"
After deploying OpenFaaS with the helm generated, ingress enabled yaml:
`helm template faas-netes/chart/openfaas     --name openfaas     --namespace openfaas      --set basic_auth=true     --set functionNamespace=openfaas-fn  --set ingress.enabled=true > openfaas.yaml`

The ingress was created in the default namespace and not in the openfaas namespace and faas-cli was not able to connect.

## Expe

[2019-01-11 08:58] alexellis commented on #350
Hi thanks for raising this issue. Would you like to work on a fix?

Just make sure you sign off the commits and double-check the contributing guide.

Thanks,

Alex

[2019-01-11 09:00] alexellis commented on #350
I generally install my ingress definitions into the `openfaas` namespaces with the core services and then I install nginx in the default namespace.

[code]

[2019-01-11 11:34] hullarb commented on #350
Hi Alex,

Thanks for the quick response.  I would be happy to work on a fix, i think on the weekend i'll have some time to look into it.

Regarding the setup we have the nginx ingress installed in a separate namespace, but i think that should not make a difference in this case. The important part is still that the ingress resource and the backend service (gateway) should be in the same namespace.

[2019-01-11 13:00] swachter opened #351 "Suggestion: add trailing dot to faas_nats_address"
Gateway and queue-worker pods can not connect to nats thereby preventing them from starting up.

## Expected Behaviour

Gateway and queue-worker pods can start up.

## Current Behaviour

The environment setting in the gateway and queue-worker deployments for faas_nats_address is "nats.openfaas.svc.cluster.local", i.e. without a trailing dot.

## Possible Solution

After I changed that setting to "

[2019-01-11 22:45] alexellis opened #352 "Test helm chart in CI using KinD"
## Expected Behaviour

We can test the helm chart and yaml files during builds by using the KinD tool in the Travis build it only needs Docker and kubectl to be installed.

## Current Behaviour

Manual testing

## Possible Solution

We should also run the certifier tool / tests as part of this work.

Example:

https://blog.alexellis.io/get-started-with-openfaas-and-kind/

https://github.com/openfa

[2019-01-11 22:51] alexellis commented on #351
The trailing dot is not in my experience required. @stefanprodan removed this for compatibility with Istio.

Are you using yaml or helm to install?

I haven’t had issues with minikube working so I’m a bit confused why the trailing dot made things better. Maybe it was coincidental?

[2019-01-11 22:52] alexellis commented on #261
@stefanprodan what is remaining for this?

[2019-01-12 09:12] swachter commented on #351
I used helm to install. Maybe it is because I use minikube with --vm-driver=none?

[2019-01-12 09:13] alexellis commented on #351
If you have a few minutes can you try with using KinD? https://blog.alexellis.io/get-started-with-openfaas-and-kind/

Alex

[2019-01-12 09:17] swachter commented on #351
Thanks for the link! KinD looks promising. I will look into KinD next week. (I have to do weekend shopping right now).

[2019-01-14 09:07] #350 closed

[2019-01-14 12:36] swachter commented on #351
I tried to use `kind` tono avail (see below). The reason might be that I tried to use `kind` inside a VirtualBox.

[code]

[2019-01-14 15:05] swachter commented on #351
I prepare a small project to reproduce the problem.

[2019-01-14 16:36] swachter commented on #351
Project to reproduce the problem: https://github.com/swachter/vagrant-minikube-openfaas

[2019-01-14 17:04] alexellis commented on #351
I would like to know why this is the case only with Minikube with Vagrant and not with KinD/Docker for Mac/kubeadm or cloud Kubernetes - AKS/EKS/GKE and others? I'm also pretty sure Minikube works in a plain configuration because @martindekov uses that and @ivanayov

Do you think it's worth an issue on the Minikube repo?

Alex

[2019-01-14 17:06] alexellis commented on #269
I've not seen this mentioned again, so I'll close for now and re-open if other people see it.

Alex

[2019-01-14 17:06] #269 closed

[2019-01-14 18:19] acornies-tc commented on #351
@swachter Can you try the scenario with a native minikube installation and the virutalbox vm driver? I usually use Vagrant for more raw host-level provisioning.

[2019-01-15 09:45] swachter commented on #351
That would be nice, Yet, we are still on Windows 7. AFAIK, Docker for Windows is available for Windows 10 only.

[2019-01-15 17:44] swachter commented on #351
Is it possible that some timeouts are too thight? For example queue-worker fails many times with

[code]
while all other deployments are available. After several minutes, the queue-worker deployment also succeedes.

(This may be a separate issue that is not related to the faas_nats_address.)

[2019-01-15 18:25] alexellis opened #354 "Multiple gateways are not detected by Prometheus"
## Expected Behaviour

If I have multiple gateway replicas in Kubernetes, I expect metrics to be scraped from each of them. This not the case with our current discovery based upon DNS-A records.

## Current Behaviour

The metrics are inconsistent and appear not to update.

## Possible Solution

Via Stefan we could use Pod discovery:

https://github.com/stefanprodan/k8s-prom-hpa/blob/master/prometh

[2019-01-17 08:25] rdimitrov opened #356 "ARM64: Update the K8s deployment files"
Related to the changes in https://github.com/openfaas/faas-netes/pull/331 and https://github.com/openfaas/faas/pull/995
## Expected Behaviour

Successful deployment of OpenFaaS on K8s using the latest images for ARM64
## Current Behaviour

The deployment files are not using the latest images for ARM64
## Possible Solution

Update the necessary files.
## Steps to Reproduce (for bugs)

1.
2.
3.
4.

[2019-01-18 14:09] swachter commented on #351
When I add the argument

[code]

to the minikube start command then pods enter the state much, much faster.

I tried if this change would make tweaking the `faas_nats_address` to the value `nats.openfaas.svc.cluster.local.` obsolete. The setup did start, however, it took considerably longer then with the tweak.

[2019-01-22 18:23] guikubivan commented on #272
Hello, any updates on this? I managed to get jaeger with elastic search running using a DaemonSet, but jaeger is installed in the `default` namespace instead of `openfaas-fn` which doesn't seem to work.

For reference, I've mostly followed the production setup (using minikube) from here https://github.com/jaegertracing/jaeger-kubernetes . That documentation worked for me when I tried a simple pyth

[2019-01-22 18:30] alexellis commented on #272
I was talking to Lucas about this topic today. Lucas have you got any ideas that might help? @lucasroesler

[2019-01-22 18:41] guikubivan commented on #272
Or if there are other distributed tracing tools that might be preferred, I'd be interested in trying them out.

[2019-01-22 19:46] LucasRoesler commented on #272
Right now, I think the simplest way to reach the daemonset pods is with a Service, https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#communicating-with-daemon-pods and   https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service

[2019-01-23 10:55] Dread1982 opened #358 "Allow setting tolerations on function pods"
In Kubernetes nodes can be tainted to only accept pods which have the matching tolerations. Currently it is not possible to set tolerations on the function pods. Therefore these pods can not be scheduled on tainted nodes.

## Expected Behaviour

It should be possible to schedule function pods on tainted nodes.

## Current Behaviour

It is not possible to set tolerations on function pods.

## Possi

[2019-01-23 14:26] alexellis commented on #354
This is a community project so the community is free to take responsibility for "movement" on things :smile:

As far as I can see nobody has volunteered to work on the fix. If you'd like you can try to do it and use the link provided by Stefan? You will also need to setup some RBAC permissions to allow Prometheus to list Pods.

[2019-01-24 11:01] bartsmykla opened #359 "We want to update both, helm chart and yaml files to take into account the newest version of the"
We want to update both, helm chart and yaml files to take into account the newest version of the gateway (`0.10.1`)

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* What version

[2019-01-24 16:08] andelhie commented on #333
FYI a rebuild of my cluster to 1.12.3 fixed all the problem and it is all working great now.

[2019-01-24 19:33] alexellis opened #361 "Split armhf and ARM64 YAML files out to match x86_64"
## Expected Behaviour

Split armhf and ARM64 YAML files out to match x86_64

## Current Behaviour

The files are combined, but shouldn't be. They need to match the naming format in the yaml folder.

This change will only be accepted in a PR if it has been tested on device.

[2019-01-24 19:33] alexellis commented on #361
Derek add label: help wanted

[2019-01-24 20:02] alexellis commented on #333
Thank you for updating us 👍

[2019-01-25 14:48] LucasRoesler opened #362 "Improve secrets api errors"
The Secrets API current returns all errors from the k8s cluster as 500 Server Error.  This obfuscates validation errors and can be confusing.

For example @rgee0 shared this in Slack

[code]

## Expected Behaviour

If the error is a known error, for example a validation error about the secret name, then we should return the appropriate http status code

[code]

## Current Behaviour

All errors are

[2019-01-25 16:00] LucasRoesler commented on #362
https://httpstatuses.com/ is a good reference for the different standard http status codes and there meanings.  We should be thoughtful to map to those where possible

[2019-01-26 13:01] martindekov commented on #354
Hey Alex, I have set up Kubernetes Cluster on Digital Ocean for this one and it is nice to have OF instance in general somewhere, I won't be able to actively work on the Issue this and the next week since university is calling(exams). Just wanted to let you now in case this is critical issue.

[2019-01-26 13:13] alexellis commented on #354
Let's see if anyone else can pick it up in #kubernetes?

[2019-01-26 13:33] martindekov commented on #354
Ok I will ask

[2019-01-29 11:12] bartsmykla opened #367 "Add proper label to openfaas-fn namespace for network-policies"
If we want to use NetworkPolicies with OpenFaaS cloud we have to add label `role=openfaas-fn` to namespace `openfaas-fn` here: https://github.com/openfaas/faas-netes/blob/master/namespaces.yml

It's because Kubernetes let's you to select pods from different namespace than NetworkPolicy itself only when you specify which namespace you want to use

## Expected Behaviour

## Current Behaviour
Namespa

[2019-01-29 21:42] renpic commented on #223
I have a single node openshift, deployed with the ``ovs-multitenant`` SDN plug-in, and this command solved the network connectivity issues for me.

Without it, the two projects cannot comunicate, and that's expected, as they are isolated by design. I was looking for some way to allow the connections in the web GUI, but it seems it is necessary to use the cli command instead.

Thanks a lot!

[2019-01-30 17:43] rdimitrov commented on #361
@alexellis This can be considered as done, right?

[2019-01-30 17:44] rdimitrov commented on #356
@alexellis This can be considered as done, right?

[2019-01-30 17:46] alexellis commented on #356
Yes next time put a closing keyword in your PR.

Fixes: X
Or
Closes: Y

[2019-01-30 17:46] rdimitrov commented on #274
@alexellis Seems it's already done.

[2019-01-30 17:46] #356 closed

[2019-01-30 17:46] alexellis commented on #362
Derek add label: good first issue

[2019-01-31 04:50] rajatjindal commented on #362
I want to give this a shot this weekend. let me see if Derek listens to me.

Derek assign :me

[2019-02-03 09:07] stefanprodan opened #369 "OpenFaaS does not work on a Istio enabled cluster"
OpenFaaS installed with asyc enabled does not work with Istio.

## Expected Behaviour

OpenFaaS should work with Istio v1.0.3 or newer.

## Current Behaviour

OpenFaaS gateway, faas-idler and queue-worker are crashing at startup:

[code]

faas-idler logs:

[code]

gateway logs:

[code]

queue-worker logs:

[code]

When installing OpenFaaS with async off, the gateway starts but Prometheus can't scr

[2019-02-03 21:55] #274 closed

[2019-02-03 21:55] alexellis commented on #274
Thanks

[2019-02-03 21:55] alexellis commented on #361
Let me know, if you're good then let's close this out.

[2019-02-03 21:56] alexellis commented on #361
I'll close and can reopen if needed?

[2019-02-03 21:56] #361 closed

[2019-02-03 21:57] alexellis commented on #223
You can install the functions into the same namespace (read: "project") if you want when using helm to install or generate templates.

Closing now due to inactivity.

[2019-02-03 21:57] #223 closed

[2019-02-03 21:57] alexellis commented on #223
Derek lock

[2019-02-14 17:53] cheeseandcereal opened #371 "Proposal: Expose SecurityContext options when deploying functions"
The [Kubernetes SecurityContext API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#securitycontext-v1-core) is a great way to restrict running containers on a kubernetes system from various sorts of capabilities related to the security of the host. Exposing these to the administrator/user deploying functions would allow for the application of necessary security restrictions

[2019-02-15 10:36] #354 closed

[2019-02-16 11:48] alexellis opened #372 "Potential issues with AlertManager"
## Expected Behaviour

Given a stable load from `hey` such as `-c 2 -q 10 -n 100000` into the `echo-go` function, I would expect to see a steady rate of increase on gateway invocations and in the service count.

## Current Behaviour

* Sometimes AlertManager continues to fire alerts, even after the Alert is cleared in the Alerts tab in Prometheus
* Sometimes the Alert appears to be stuck as "Pendi

[2019-02-16 13:19] rgee0 commented on #372
Behaviour of 1.8.1 helm chart:

![image](https://user-images.githubusercontent.com/16418793/52900412-508def00-31ed-11e9-9170-abe6ca803aca.png)

[2019-02-16 13:25] alexellis commented on #372
Thanks Richard.

Here is an idea to narrow things down:

What happens if you update the Prometheus deployment image but keep the rest the same?

[2019-02-16 15:12] rgee0 commented on #372
Behaviour of 1.8.1 helm chart after moving to `prom/prometheus:v2.7.1`:
![image](https://user-images.githubusercontent.com/16418793/52901568-30fec280-31fd-11e9-9ad0-d2adb972929e.png)

[2019-02-16 15:15] LucasRoesler commented on #372
This is a my first test of the `1.9.1` helm chart  but overriding prometheus to `prom/prometheus:v2.3.1`
![image](https://user-images.githubusercontent.com/891889/52901604-0402dd80-3206-11e9-907c-c180bcb880c5.png)

[2019-02-16 15:53] rgee0 commented on #372
Behaviour of the 1.9.1 helm chart with `prom/prometheus:v2.4.0`:
![image](https://user-images.githubusercontent.com/16418793/52902030-eaac6200-3202-11e9-829d-9587f4c07af8.png)

[2019-02-16 20:12] rgee0 commented on #372
Behaviour of the 1.9.1 helm chart with `prom/prometheus:v2.5.0`:
![image](https://user-images.githubusercontent.com/16418793/52904644-adf26200-3226-11e9-8e3e-7869ffac5cec.png)

Swarm running `prom/prometheus:v2.7.0`:
![image](https://user-images.githubusercontent.com/16418793/52904659-e2661e00-3226-11e9-9570-fcb5a4061e84.png)

Swarm running `prom/prometheus:v2.7.1`:
![image](https://user-images.gi

[2019-02-17 08:52] LucasRoesler commented on #372
In summary, I have tried every released version of Prometheus from 2.3.1 -- 2.7.1 and only version 2.3.1 seems to work as expected (function scales up underload and then quickly scales down when the load stops)

With each other version I saw issues with scaling not being triggered because the alert was stuck in pending and never fired or resolution would lag, meaning the alert handler received ale

[2019-02-17 17:13] alexellis commented on #372
Thank you for sharing your findings Lucas. I spoke with @juliusv, he suggested that we try combining Prometheus with the latest version of AlertManager which is 0.16.1. Please could you find out whether that resolves the issues we've seen along with your other change?

[2019-02-17 17:17] LucasRoesler commented on #372
Sure, of course.

[2019-02-17 17:46] juliusv commented on #372
The lag in resolution may just be the configured group_wait interval. Once all alerts in a group in Alertmanager have been resolved, it may take up to that long for the resolved notification to be sent out.

Still, there were some Alertmanager issues that were fixed in recent versions, so it's a good idea to use the latest.

[2019-02-17 17:59] LucasRoesler commented on #372
The behavior seems 100% normal when both prometheus and alert manager are upgraded together

The image below shows the throughput, alert status, and then replica count.  You can see it clearly ending as expected.

![image](https://user-images.githubusercontent.com/891889/52916956-e6a54080-32e5-11e9-895f-74dd2f29159b.png)

The plateau on the replicas is the configured max count.

[2019-02-18 12:10] #372 closed

[2019-02-20 11:57] JuniorCtba opened #374 "Status not ready for a function"
I have installed the openfaas in openshift using some older images and it was working.

Today i updated my images with the same version that you have on the master branch /yaml.

Everything almost looks good, i can deploy a new function and see that.

But i cant invoke function, because the status is not ready.

I saw in the container level and the function is up running.

![image](https://user-im

[2019-02-20 12:11] stefanprodan commented on #369
Fixed by #363

[2019-02-20 12:11] #369 closed

[2019-02-21 09:53] alexellis commented on #374
We're going to need way more detail than that. I'm closing the issue because you didn't fill out the issue template. Feel free to open a new issue with the template populated so that we can help you.

This lack of detail doesn't help us support you.

Alex

[2019-02-21 09:53] #374 closed

[2019-02-21 09:54] alexellis commented on #374
See also: https://docs.openfaas.com/deployment/troubleshooting/

[2019-02-23 18:00] alexellis commented on #352
Booting a KinD cluster took about 90s - adding 1m30s.

[2019-03-02 17:47] alexellis opened #377 "Rename instances of "faasnetesd" to "faasnetes""
## Actual vs. Expected Behaviour

We renamed "faasnetesd" to "faasnetes" in most locations but missed a few places in the helm chart.

## Possible Solution

Let's update the helm chart and re-test locally before pushing out a new version for consistency.

[2019-03-02 17:58] alexellis commented on #362
@rajatjindal it's been about a month since you picked up this task. During that time nobody else has been able to work on it. What's your current update? If you've not made any progress would you like to let us know so we can find another contributor? Likewise if you're in need to technical help please ask here.

[2019-03-02 18:20] rajatjindal commented on #362
Hey Alex, Lucas

I sincerely apologize for not updating the ticket but i have not been able
to spend anytime on this ticket yet and wont be able to spend time in near
future

Please let any other contributor take this bug.

I apologize once again,

On Sat, Mar 2, 2019 at 11:28 PM Alex Ellis <notifications@github.com> wrote:

--
Rajat Jindal |  Gurgaon |  https://rajatjindal.com |
rajatjindal83@gma

[2019-03-02 20:01] alexellis commented on #362
It's no problem.

Lucas please could you look for someone else and if you don't find someone by mid-next week pick it up or throw it over to me if necessary.

[2019-03-02 21:11] marbar3778 commented on #377
I can take this one

[2019-03-03 15:49] acornies commented on #362
Derek assign :me

[2019-03-03 16:00] rgee0 commented on #362
/assign: acornies

[2019-03-05 04:17] zeerorg commented on #352
Are you working with this issue? Or can I take this up ?

[2019-03-05 04:24] burtonr commented on #352
@zeerorg the `help wanted` tag indicates that it's up for grabs (as long as nobody else has mentioned they would take it). Let us know if you have any questions or need any help!

[2019-03-05 04:26] zeerorg commented on #352
I think alex has done some work in this PR https://github.com/openfaas/faas-netes/pull/375

[2019-03-05 04:28] burtonr commented on #352
hmm... looks like you're right. I guess this will have to wait until @alexellis can respond. I didn't see that change as there is no indication of that in the PR, only in the commit messages (and files changed)

good catch!

[2019-03-05 14:49] jpds opened #379 "Setting write_debug triggers ReadString error"
## Expected Behaviour

I set `write_debug: true` in my only function's `environment` section as per this help section:

- https://docs.openfaas.com/deployment/troubleshooting/#function-execution-logs

....and the function started 404'ing. The gateway logs are full of:

[code]

Changing it to `write_debug: "true"` and everything is fine.

## Your Environment

* FaaS-CLI version ( Full output from:

[2019-03-05 17:43] ivanayov commented on #379
Thanks for logging this @jpds . Do you reproduce the same with `openfaas-operator`?

[2019-03-05 20:42] #377 closed

[2019-03-05 20:44] alexellis commented on #352
I have started on this, but have deliberately left the testing stage unimplemented for the community to pick up.

[2019-03-05 20:57] swachter opened #381 "wrong imagePullPolicy for faas-netes in helm chart"
The faas-netes container should use the openFaasImagePullPolicy and not the faasnetesd.imagePullPolicy.

Pull request #380 submitted.

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

I try local developments without a local registry.

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Do

[2019-03-05 23:11] jpds commented on #379
@ivanayov This is with the operator.

[2019-03-06 01:26] mercul3s commented on #358
I'm also running into this issue. We have an existing cluster with tainted preemptible node pools, and ideally would like to schedule only functions on preemptible machines using tolerations. As a workaround, I've created deployments with tolerations for each function, and then created a function resource for each. This works, but means I have to maintain a deployment spec in addition to function

[2019-03-06 06:44] zeerorg commented on #352
I'll pick this issue up. I've been wanting to get more into e2e testing with kubernetes and this seems like a good starting point.

We can also look at k3s for testing since it has lesser starting time, though it can be done later on to improve performance

[2019-03-06 06:45] zeerorg commented on #352
Derek assign: me

[2019-03-06 09:41] alexellis commented on #377
@marbar3778 we now need to update all the docs where we see/have faasnetesd -> faasnetes including this:

https://docs.openfaas.com/deployment/kubernetes/#set-a-custom-imagepullpolicy

[2019-03-07 11:46] oskapt opened #383 "Chart install via Rancher throws error about namespace mismatch"
I'm not sure if this is a Rancher problem, but I suspect not. Rancher is just executing `helm install`, so it looks more like a variable substitution or templating error.

When upgrading from v1 to v2 or installing v2 directly (any version), the installation throws the following error:

[code]

I've encountered this on multiple installations, and an upgrade, so it's a reliable report and should be

[2019-03-07 11:49] alexellis commented on #383
We do not test or provide support for faas-netes on Rancher 2.0 within the project, however there may be some people in the community who can help you.

@padiazg

@kenfdev

@ibuildthecloud

I'll close this issue, but feel free to keep commenting. Good luck.

Alex

[2019-03-07 11:49] #383 closed

[2019-03-07 12:17] oskapt commented on #383
I work for Rancher, and I'm pretty sure this isn't a Rancher issue. Maybe I'm wrong about that. Nothing changed in Rancher between v1 of your chart (which still works) and v2. That implies that the source of the issue is in the chart.

I raised the issue solely to let you know there's a problem, not to ask you for support.

At least the workaround is now documented for others to find, which will k

[2019-03-07 12:38] stefanprodan commented on #383
This is more of a Helm problem since Helm wasn't designed to target more than one namespace. Hopefully Helm v3 will make things better.

[2019-03-07 13:25] alexellis commented on #383
I'm absolutely certain that the chart is working as designed. It's tested very frequently. Are you following the instructions from the Chart? https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md

That said I don't know Rancher 2.0. If absolutely necessary you can use the same namespace for the core components and the functions. We prefer to keep them separate.

What can you

[2019-03-07 18:14] ibuildthecloud commented on #383
This is most likely an issue with Rancher I'm guessing.  Rancher will always install a helm chart into a specific namespace, passing `--namespace foo`.  So the manifests namespace and the command line arguments for namespace must match.

[2019-03-07 21:34] acornies commented on #362
@LucasRoesler Looks like we need to update the k8s deps to have access to the exported ReasonForError method. I'm bumping to 1.9. Should we go higher?

[2019-03-08 15:14] LucasRoesler commented on #362
@acornies good question.  I think there is a compatibility matrix somewhere, just found it https://github.com/kubernetes/client-go#compatibility-matrix I am not sure what versions of k8s we have promised to support.  @alexellis perhaps we should make that more explicit in our Readme

[2019-03-08 19:19] LucasRoesler opened #385 "Bump helm chart openfaas-operator version to 0.9.2"
Version 0.9.2 was recently released resolving openfaas-incubator/openfaas-operator#56 and ensuring that the image pull policy for functions is handled correctly when the operator is deployed.  We need to bump the helm chart values and version to release this to the users.

[2019-03-09 09:12] #385 closed

[2019-03-10 18:30] alexellis commented on #362
I think @stefanprodan has a better idea of that. The CRDs and operator mandate a minimum version, but faas-netes can go back to older K8s API versions.

If this change is pinning us to a minimum level of 1.9x I think that's OK.

[2019-03-11 09:02] stefanprodan commented on #362
Yes 1.9 would be the best choice since we want to support as many K8s version as possible. I think is a good idea to post in the readme that the minimum version supported by faas-netes is 1.9 after the upgrade.

[2019-03-11 10:02] #359 closed

[2019-03-13 11:25] salekd commented on #99
Indeed, it would be nice to have this functionality in place. The alert-manager seems to check the number of the function calls per second. However, if a function runs longer than a second, the autoscaling will never trigger because there will always be only one execution per second.

HPA solve this by autoscaling based on for example CPU utilisation. I managed to setup HPA in the followings way:

[2019-03-18 16:17] jpds opened #390 "Function never autoscales"
## Expected Behaviour

I'm configuring a function with:

[code]

However, I  never see this run with more than one replica, even when setting the factor to 100 as I have. My logs are read:

[code]

I do not know what this missing label is.

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ): 0.8.3
* What version and distriubtion of Kubernetes are you using? `kubectl v

[2019-03-18 16:23] stefanprodan commented on #390
Can you please remove `com.openfaas.scale.factor: "100"` and try without it? If you want to test auto scaling you should run a load test.

[2019-03-18 16:26] jpds commented on #390
@stefanprodan Even without the `factor`, I still only have one min pod.

[2019-03-18 16:27] jpds commented on #390
Here's the Flux config I use to deploy openfaas:

[code]

[2019-03-18 16:33] stefanprodan commented on #390
You are using an old chart version, the latest is `2.1.2`, try this:

[code]

[2019-03-18 16:34] stefanprodan commented on #390
After the upgrade to 2.1.2 please delete the functions and redeploy them, just to start a fresh test.

[2019-03-18 16:48] jpds commented on #390
@stefanprodan Thanks. I upgraded and redeployed the function with just the label: `min: "3"`. I still only have one replica and logs of:

[code]

[2019-03-18 16:50] jpds commented on #390
Flux config for the function:

[code]

[2019-03-18 17:00] stefanprodan commented on #390
Ok I've checked the operator code and looks like the min replica is missing from the CRD loop. Please open an issue in here https://github.com/openfaas-incubator/openfaas-operator

[2019-03-18 17:03] stefanprodan commented on #390
As a workaround you can set the mix replicas like this

[code]

[2019-03-18 18:22] jpds commented on #390
Filed https://github.com/openfaas-incubator/openfaas-operator/issues/74 - and thank you very much for the `replicas:` workaround @stefanprodan!

[2019-03-19 06:29] Amardaya opened #391 "OpenFaas not working in an AKS with istio enabled"
Openfaas in Azure K8s istio enabled is not working

## Expected Behaviour

## Current Behaviour
faas-idler throwing error as shown below :

     2019/03/19 05:36:08 invalid character 'E' looking for beginning of value
     2019/03/19 05:36:38 invalid character 'E' looking for beginning of value
     2019/03/19 05:37:08 invalid character 'E' looking for beginning of value
     2019/03/19 05:37:40 i

[2019-03-19 07:14] stefanprodan commented on #391
Can you try it with OpenFaaS operator and se if the gateway works?
https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/values.yaml#L49

[2019-03-19 12:20] Amardaya commented on #391
yes thats one of the values that i set while installing open faas, here is below the helm command that i used to install openfaas :

    helm repo update && helm upgrade openfaas --install openfaas/openfaas --namespace openfaas \
     --set functionNamespace=openfaas-fn \
     --set operator.create=true \
     --set basic_auth=true \
     --set exposeServices=false \
     --set operator.createCRD=

[2019-03-19 12:25] stefanprodan commented on #391
Any errors in the operator logs when you call `/system/functions`?

PS. The operator is running as a sidecar in the gateway pod.

[2019-03-19 14:07] Amardaya commented on #391
interesting when i checked the log for the operator  here is what i found

    E0319 13:48:39.390087       1 reflector.go:134] github.com/openfaas-incubator/openfaas-operator/pkg/client/informers/externalversions/factory.go:107: Failed to list *v1alpha2.Function: Get https://xxxxxxx.hcp.eastus.azmk8s.io:443/apis/openfaas.com/v1alpha2/namespaces/openfaas-fn/functions?limit=500&resourceVersion=0: EO

[2019-03-19 14:14] stefanprodan commented on #391
You need to whitelist the API dmain. You can do that with a [service entry](https://istio.io/docs/concepts/traffic-management/#service-entries) for `xxxxxxx.hcp.eastus.azmk8s.io:443`

[2019-03-19 14:54] Amardaya commented on #391
thx stefan
that did the trick, i think we need to add this as part of AKS Istio OpenFaas Deployment check list

[2019-03-19 14:54] #391 closed

[2019-03-21 14:52] jpds opened #392 "Suggestion: add NATS Streaming maximum payload option to helm chart"
## Current Behaviour

We have a function which when run asynchronously causes NATS to return this error:

[code]

This is set to 1MB by default: https://nats.io/documentation/faq/#msgsize

And there doesn't appear to be a way to change this in the Helm chart.

[2019-03-21 21:52] alexellis commented on #392
Derek set title: Suggestion: add NATS Streaming maximum payload option to helm chart

[2019-03-21 21:53] alexellis commented on #392
Hi are you willing to look into this for yourself?

Generally I'd advise you use S3 or Minio to store large payloads for asynchronous requests.

Alex

[2019-03-22 16:03] fadams opened #393 "Support request for kubeadm-dind-cluster with helm"
Hello, I'm trying out OpenFaaS on kubeadm-dind-cluster https://github.com/kubernetes-sigs/kubeadm-dind-cluster

When I followed the **Deployment guide for Kubernetes** https://docs.openfaas.com/deployment/kubernetes/ for simplicity I first followed the **Deploy using kubectl/YAML**
[code]
which worked beautifully and gave me a working cluster to play with, and when I open http://10.192.0.2:31112 I

[2019-03-22 21:07] alexellis commented on #393
Derek set title: Support request for kubeadm-dind-cluster with helm

[2019-03-22 21:07] alexellis commented on #393
Derek add label: support

[2019-03-22 21:14] alexellis commented on #393
Hi,

Thank you for your interest in OpenFaaS.

I've not used kubeadm-dind-cluster so I'm not aware of any differences or issues you're likely to encounter.

I'd suggest you use OpenFaaS with KinD instead. https://blog.alexellis.io/get-started-with-openfaas-and-kind/

As far as I know the helm chart is working correctly so I'm going to close this issue. Feel free to keep commenting and let me know

[2019-03-22 21:14] #393 closed

[2019-03-23 13:23] fadams commented on #393
Hello, TBH I'd really like to get to the bottom of the significance of the trailing period that I mentioned in my write-up of the issue. It is not at all clear to me why for the YAML based deployment the gateway-dep.yaml has
[code]
and
[code]
That is to say **those values have a trailing period/dot** whereas the equivalent setting in the Helm chart do not have a trailing period.

To me it's mighty

[2019-03-24 10:37] stefanprodan commented on #99
There is no need to edit the deployment, you can specify the CPU and memory resources in the function definition https://docs.openfaas.com/reference/yaml/#function-memorycpu-limits

[2019-03-26 16:15] alexellis commented on #349
Please send a PR to appear here https://docs.openfaas.com/deployment/openshift/

Through editing this file:

https://github.com/openfaas/docs/blob/master/docs/deployment/openshift.md

It should cover:

* minishift installation/setup
* OC on-prem setup

Using helm + tiller or helm to generate YAML for `kubectl apply -f`

[2019-03-27 20:59] kirladu opened #396 "(Maybe) missleading or deprecated note in the section "Deploy OpenFaaS""
## Expected Behaviour
Verify of installation according to https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md#verify-the-installation succeeds:

[code]

## Current Behaviour
If openfaas is deployed with Helm and the parameter '--set rbac=false' is set following the first note in section ["Deploy OpenFaaS"](https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/RE

[2019-03-27 21:35] kirladu opened #397 "Documentation: Improve formatting of section "Pre-reqs""
The current format of the section "Pre-reqs" led me to skipping the two necessary steps
- Create RBAC permissions for Tiller
- Install the server-side Tiller component on your cluster

## Expected Behaviour
Clear separation of the 2 variants for installing Helm and the two following steps for further configuration in both cases.

## Current Behaviour
Currently when installing for Linux it's easy t

[2019-03-29 16:32] botzill opened #398 "Question: can prometheus and alertmanager be optional?"
Hi.

Currently I did install prometheus and alertmanager via `prometheus-operator`, which is more advanced and has lot's of tools included(like grafana). Is there a way to disable deploying prometheus and alertmanager and instead use ones already installed?

Thx.

[2019-03-30 20:48] alexellis opened #400 "kafka-connector helm chart - make deployment name a parameter"
## Expected Behaviour

I should be able to install the kafka-connector helm chart twice into the same namespace with varying names such as:

[code]

## Current Behaviour

Can only be installed into the same namespace once

## Possible Solution

Allow the Deployment name to be overridden or suffixed

See instructions for installing chart: https://github.com/openfaas/faas-netes/tree/master/chart/kaf

[2019-03-30 20:52] LucasRoesler commented on #400
I'll update it to to match the helm install name, that also needs to be unique already anyway

[2019-03-30 20:54] alexellis commented on #400
What happens for helm charts like Postgres etc? Same/similar?

[2019-03-31 07:55] LucasRoesler commented on #400
Postgres uses the "fullname"

[code]

ours looks like this

[code]

[2019-04-03 09:10] alexellis commented on #398
We could make Prometheus optional, but there is a caveat - you will then have to configure Prometheus on your own - manually. Do you want to carry that technical debt and maintenance?

Alex

[2019-04-03 09:13] #397 closed

[2019-04-03 09:14] alexellis commented on #396
I'm really confused by this issue.

Are you claiming that using `--set rbac=true` caused an error at runtime on your chosen Kubernetes distro?

Alex

[2019-04-03 09:15] alexellis commented on #396
You should always look at the defaults in the helm README file, in this case it's clearly documented that RBAC is enabled by default:

https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#configuration

Alex

[2019-04-03 09:17] alexellis commented on #396
You didn't give the `distribution`.

I'm going to close this issue because I don't know what you're asking for me to do and the RBAC default is already documented.

Please feel free to keep commenting and raise a clearly actionable suggestion/issue or PR if needed.

Feel free to Join Slack for technical support

--
Join Slack to connect with the community
https://docs.openfaas.com

Alex

[2019-04-03 09:17] #396 closed

[2019-04-03 09:18] alexellis commented on #392
@jpds if this is A) possible and B) you want to do this work then go ahead.

[2019-04-03 09:22] botzill commented on #398
Ho @alexellis. As said, `prometheus-operator` does it a lot more, include a complete list of suit tools needed for monitoring with predefined alerting rules for k8s. It's not an issue to use that, at least fo me,

Thx

[2019-04-03 09:23] alexellis commented on #381
A new PR is needed for this work.

[2019-04-03 09:23] alexellis commented on #381
faasnetes defines a pull policy for function images in this way:

[code]

[2019-04-03 09:25] #381 closed

[2019-04-03 09:26] alexellis commented on #358
This has been tracked at the following issue: https://github.com/openfaas/faas/issues/1125

@mercul3s we're waiting on your code sample / example. How is that going?

[2019-04-03 09:28] alexellis commented on #358
@Dread1982 please fill out a full example in `Steps to Reproduce (for bugs)`

Not everyone in the community is a Kubernetes expert, but they may have a good working knowledge of Go. By honouring the template you increase the chances that someone can fix your issue and test it.

[2019-04-03 09:29] alexellis commented on #379
@jpds thanks for raising this. @ivanayov in future please post these into the Slack channel too in #kubernetes or #contributors.

I'll move it to the correct repo.

The faas-netes controller is much more stable, you could switch to that for now. I'll also notify @stefanprodan

Alex

[2019-04-03 09:30] alexellis commented on #379
I can't transfer this issue, please @jpds can you raise it on the openfaas-incubator/openfaas-operator repo?

[2019-04-03 09:30] #379 closed

[2019-04-03 09:32] alexellis commented on #400
I guess I don't understand how we get to `fullnameOverride` from a value defined as `fullname`? Is this some convention in helm?

Alex

[2019-04-03 09:34] alexellis commented on #379
Just heard from @LucasRoesler - he said that you need to quote your boolean value for the "write_debug"

Fortunately this looks like "not an issue" 👍

Alex

[2019-04-03 09:34] jpds commented on #379
It kind of is an issue when following the documentation brings down the entirety of OpenFaaS...

[2019-04-03 09:36] alexellis commented on #371
Hi @cheeseandcereal would you be satisfied with this happening at a per OpenFaaS level, or do you have a hard requirement for this to be at per function level?

[2019-04-03 09:55] alexellis commented on #377
Thank you @marbar3778 please can you respond to my message from a month ago?

[2019-04-03 10:27] marbar3778 commented on #377
Sorry, I made the changes and messaged you on slack for the pull requests to be merged, so I thought that solved it. From what I can see, I have updated throughout the repo, was it missed anywhere?

[2019-04-03 10:29] #400 closed

[2019-04-03 12:29] alexellis opened #402 "Upgrade gateway to openfaas/gateway:0.12.0"
## Expected Behaviour

Upgrade gateway to openfaas/gateway:0.12.0

## Current Behaviour

On previous version.

## Possible Solution

Update the YAML files and the helm chart. As part of this patch the configuration for Prometheus also needs to change so that the gateway is scraped on port 8082.

## Steps to Reproduce (for bugs)

1. After updating the developer must test that autoscaling and metric

[2019-04-03 16:58] botzill commented on #398
So, just to make it clear, there are specific configurations in Prometheus and alert manager that are specific to the core of openfass?

[2019-04-03 17:39] alexellis commented on #398
I think this should help: https://github.com/openfaas/faas-netes/tree/master/chart/openfaas/templates

Check-out the files and decide if you'd want to manually patch them into your Operator versions of Prometheus and AlertManager. If you have appetite for that then let's do the PR to the helm chart and document what people must do if they're using an "external" Prom/AlertManager.

Alex

[2019-04-04 02:24] cheeseandcereal commented on #371
I think for a lot of use-cases (including our own), just having this at the OpenFaaS level for all functions would suffice.

With that said, I could also see a use-case for wanting these controls on a per-function basis, especially when the goal is deploy customer (untrusted) code.

[2019-04-04 16:00] viveksyngh commented on #402
Derek assign: me

[2019-04-06 15:30] martindekov opened #403 "Kafka Connector release 0.3.1 not in Dockerhub"
When deploying with charts the Kafka-connector Since the image in dockerhub i 0.3.0 and the 0.3.1 release is not pushed image does not exist and it falls into ImagePullBackoff loop

## Expected Behaviour

`kafka-connector` deployed with charts

## Current Behaviour

ImagePullBackoff error due to missing image in dockerhub

## Possible Solution

Push kafka connector release [0.3.1](https://github.c

[2019-04-06 15:37] alexellis commented on #403
What changed since @LucasRoesler created the chart?

[2019-04-06 15:48] rgee0 commented on #403
Lucas set it to 0.3.0.

[This](https://github.com/openfaas/faas-netes/commit/ceef3dd49ee77f5697b923e47f98be6820b6de3e#diff-8549d509288646f3270cecb4dd930285) set it to 0.3.1

[2019-04-06 15:51] martindekov commented on #403
Minor thing, should we be pushing to `functions` rather than `openfaas`? I see faas-idler being in `openfaas` and `github-event` for example in functions?

[2019-04-06 16:38] LucasRoesler commented on #403
When I created the chart, I simply used the value from the yaml, to make sure it matched.

[2019-04-06 16:52] martindekov commented on #403
The problem was the CI in kafka-connector, it uses openfaas not functions, I opened PR to fix this.

[2019-04-06 16:56] alexellis commented on #403
I want it to be OpenFaaS

[2019-04-06 16:59] martindekov commented on #403
Sorry missed your comment I saw it now

[2019-04-06 18:07] alexellis commented on #403
As in `openfaas/kafka-connector`.

I'm looking at this now.

[2019-04-06 18:27] alexellis commented on #403
Derek close

[2019-04-06 18:27] #403 closed

[2019-04-06 18:27] alexellis commented on #403
Chart updated and automated build fixed.

[2019-04-06 18:57] alexellis commented on #402
I'll take this so that both Swarm / K8s are level.

[2019-04-06 19:36] alexellis commented on #402
Derek close

[2019-04-06 19:36] #402 closed

[2019-04-06 19:39] alexellis commented on #352
Derek close

[2019-04-06 20:14] alexellis commented on #398
Ping @botzill

[2019-04-06 20:59] gilkotton opened #406 "Help needed with constraints"
Contraints don't end up in the deployment.

## Expected Behaviour

When specified constrains with faas-cli, either in the function yaml or in the command line flag, it should end up in the deployment yaml, but it doesn't and hence doesn't deploy.

## Current Behaviour
The constraints don't have an effect on the deployment.
I tried having my function deploy to a specific CPU type. I labeled my node

[2019-04-06 21:27] alexellis commented on #406
Please fill out the whole template, this is there because we need the information.

[2019-04-06 21:27] alexellis commented on #406
https://github.com/openfaas/faas-netes/blob/master/.github/ISSUE_TEMPLATE.md

You'll also need to state if you're using the operator or not.

[2019-04-06 21:28] alexellis commented on #406
Derek set title: Help needed with constraints

[2019-04-07 07:46] alexellis commented on #362
@acornies I merged your PR, please can you go ahead and update the README as per @stefanprodan's comment?

[2019-04-07 07:46] alexellis commented on #221
@martindekov please do! Use Derek

[2019-04-07 07:57] alexellis commented on #351
Derek close

[2019-04-07 07:57] #351 closed

[2019-04-07 09:52] martindekov commented on #221
Derek close: released

[2019-04-07 09:52] #221 closed

[2019-04-11 11:13] alexellis opened #409 "Feature: Configure ServiceAccount for functions"
## Expected Behaviour

I've had several requests from end-users to configure ServiceAccounts on a per-function level. We also have this need in OpenFaaS Cloud for several system-functions.

## Current Behaviour

Patch the pod spec after deployment

## Possible Solution

My suggestion is that an annotation is documented which can be read by the Kubernetes operators and used to configure the service

[2019-04-11 11:39] Templum commented on #409
# Use-Case Vault Integration

## Description

We would like to leverage Vault inside the functions. Vault allows the obtaining of an access token via a Service Account. Which means we would need to assign a specific Service Account to a function as part of the K8S Deployment Object.

**Flow:**
1. The function reads in the JWT of the Service Account which was mounted by Kubernetes.
2. The function

[2019-04-11 11:41] alexellis commented on #409
Please can you give the command for `kubectl patch` so that I can understand exactly what fields you are editing?

[2019-04-11 11:46] Templum commented on #409
Added it

[2019-04-15 18:07] #409 closed

[2019-04-15 18:08] alexellis commented on #406
Derek close: inactivity

[2019-04-15 18:08] alexellis commented on #406
I'm going to close this, but feel free to keep commenting.

[2019-04-17 07:39] alexellis commented on #352
@zeerorg I was just chatting with @LucasRoesler and noticed that the certifier hadn't been done as part of #382.

I'd be happy for either of you to pick that up. I'll re-open the issue.

[2019-04-18 14:02] alexellis opened #413 "Switch to httpProbe for liveness/readiness"
## Current Behaviour

The use of "exec" probes for liveness and readiness is required for software like the current incarnation of Istio, but can be very inefficient. [In Swarm this seems pronounced](https://github.com/moby/moby/issues/39102), but in Kubernetes less so.

## Possible Solution

HTTP Probes are now supported in the OpenFaaS watchdogs via `/_/health`. We should change over to httpProb

[2019-04-18 14:06] stefanprodan commented on #413
I see no harm in doing this if we have a flag in Helm that can let a Istio user to switch to exec. The http probes will work with Istio 1.2 see https://preliminary.istio.io/help/ops/setup/app-health-check/#probe-rewrite

[2019-04-18 18:44] LucasRoesler commented on #413
Seems like a good usecase for helm's template helpers to keep the deployment yaml clean

[2019-04-19 13:17] zeerorg commented on #352
Ceritifer skipped my mind. I'll add that in a PR.

[2019-04-20 11:10] #413 closed

[2019-04-23 07:31] alexellis opened #416 "chart: kafka-connector - prevent Prometheus scraping"
## Expected Behaviour

The kafka-connector deployment from the kafka-connector chart does not contain a Prometheus endpoint so shouldn't be scraped.

## Current Behaviour

Weave Cloud will try to scrape and the Prometheus Operator may also try.

## Possible Solution

See the annotations of other components: https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/queueworker-dep

[2019-04-23 19:49] #406 closed

[2019-04-24 11:38] zeerorg commented on #352
Derek assign: me

[2019-04-24 19:14] alexellis opened #420 "Update versions for latest Kubernetes controllers"
## Task

* Update ./yaml/ and helm to use the latest versions of the two controllers (faas-netes + openfaas-operator)
* Run `make charts`
* Raise a PR

Those with write-access can push a remote branch rather than using a fork.

[2019-04-24 19:14] alexellis commented on #420
https://github.com/openfaas/faas-netes/releases
https://github.com/openfaas-incubator/openfaas-operator/releases

[2019-04-24 19:15] alexellis commented on #420
@rgee0 please could you pick this up?

[2019-04-25 07:25] #420 closed

[2019-04-25 08:13] alexellis opened #422 "Update ARM YAML files to use multi-arch images for Prometheus"
## Expected Behaviour

Given that Prometheus now publishes Docker images for Prometheus in a multi-arch format, we should move to use those images instead of the ones we build and maintain in the openfaas/faas/contrib folder.

## Current Behaviour

We build them via the openfaas/faas/contrib folder on each device then update as needed.

## Possible Solution

Update `yaml_arm64`, `yaml_armhf` and `

[2019-04-25 08:56] LucasRoesler opened #423 "Proposal generate the static yaml manifests from the helm chart"
## Context

We could simplify the maintenance and ensure the consistency of the Helm chart and the static yaml manifests by using the `helm template` command to generate the static files.  This will require some additional modifications to remove the helm specific labels/annotations.

Generating the manifests will ensure that they stay in sync with any changes in the Helm chart.

[2019-05-04 18:41] alexellis opened #433 "Research item: Multiple function namespaces for a single OpenFaaS installation"
## Description

Multiple function namespaces for a single OpenFaaS installation #433

## Expected Behaviour

The behaviour would allow functions to be deployed to N different namespaces, perhaps one per user or team.

## Current Behaviour

Either one installation per team or user or use a different mechanism for grouping functions such as prefixes and annotations/labels as in OpenFaaS Cloud.

## P

[2019-05-05 00:19] matipan commented on #433
I like the idea of having this feature. From an operator point of view having to maintain a single OpenFaaS installation and still provide a more isolated environment for different teams/users is better than keeping up with multiple installations.

How would this look like from a developer point of view? Will I have to specify the namespace on the yaml of the function, a label maybe?

I'm not sure

[2019-05-07 13:17] alexellis commented on #433
As a starting-point we could start with statically provisioned SAs/RBAC and the ability to deploy to different namespaces, then after that look at how to automate it for other downstream projects like OpenFaaS Cloud.

You would extend the helm chart with a new parameter like:

[code]

For user deployments perhaps using something like an annotation would be sufficient:

[code]

[2019-05-07 13:21] alexellis commented on #433
Matching 1:1 between namespace and stack.yml annotation name may not be ideal for larger systems because we can only support a group of "dev" for the first user that takes it.

An alternative could be to use labels on the namespace to lookup a namespace:

[code]

[2019-05-07 17:01] LucasRoesler commented on #433
I really like the idea of using labels on namespaces, but we need to ensure that we handle the case when labels arent unique. Even if it is accidental, surfacing the issue clearly will be important.

[2019-05-07 17:28] alexellis commented on #433
I guess we might also have issues similar to those found with the use of labels before - it's a DNS-only name which is allowed, probably not much more permissive than the plain-old namespace name.

[2019-05-07 18:35] LucasRoesler commented on #433
What if we allow the admin to specify a file with a map of function annotations to namespaces?  We could then use a config map to provide this map as via file and build faas-netes to watch if the file changes.  This would still allow dynamic configuration and allow the use of any annotation on the function.

When the file is loaded, we can validate it and log the errors to stdout and we could also

[2019-05-15 12:31] botzill commented on #398
Hi.

Sorry for delay.

Does this work without prom, alertmanager?

Let say I don't want to use autoscale for now or other function, pure openfass, will it work?

[2019-05-15 13:44] alexellis commented on #398
Hi this isn't really something that I would consider a core use case for the project. if you want to spend the cycles on it then I'm pretty sure that it should work without Prometheus. You'll need to configure it on your own with the various flags.

Can you remind me what the objection was to using Prometheus in your stack?

[2019-05-15 13:44] alexellis commented on #398
Alertmanager is used for the auto scaling and is optional..

[2019-05-15 15:07] botzill opened #437 "Possibility to deploy function on setup"
Hi.

I was wondering if it's possible to configure, via the heml chart, to install by default a list of functions? Let say I want to install it and by default have `ocr` of other functions. How can we achieve that?

Thx.

[2019-05-15 19:55] LucasRoesler commented on #437
Seems like something that could possibly done as an optional `Job` that is deployed at startup. The only issue is waiting for the gateway health check to succeed before running the Job, i am not sure how we would ensure that it waits for OF to finish starting.

[2019-05-18 07:49] alexellis commented on #433
If we focus on how the controller would create deployments, there is a question I have.

For faas-netes we don't use the watch API, so we have no additional cost of imperatively doing CRUD over N namespaces, even 100.

With the Operator we would need all our watches duplicated per namespace - i.e. Pod/Deployment/Service x N namespaces, or would we be able to watch globally and filter down?

[2019-05-18 07:54] stefanprodan commented on #433
We can use a global watch and filter the events based on a list of namespaces but that means the operator will need a ClusterRole. I think filtering is the easies way of doing this.

[2019-05-18 07:54] alexellis commented on #433
Lister / Informer creation / binding:

https://github.com/openfaas-incubator/openfaas-operator/blob/master/pkg/controller/controller.go#L88

Sync for specific namespace:

https://github.com/openfaas-incubator/openfaas-operator/blob/master/pkg/controller/controller.go#L304

[2019-05-18 07:56] alexellis commented on #433
From experience talking to OpenShift & enterprise users, I could imagine that a `ClusterRole` may be out of the question for some companies. What other options are there?

[2019-05-18 08:01] stefanprodan commented on #433
Another option would be to deploy one operator per namespace

[2019-05-18 08:15] alexellis commented on #433
In that model I guess it would look a lot like multiple OpenFaaS installations, but we could configure it to share Prometheus/NATS to reduce the footprint.

[We need to find out](https://twitter.com/alexellisuk/status/1129657908873125888) how much of a deal-breaker `ClusterRole` is for companies.

[2019-05-18 08:31] LucasRoesler commented on #433
To avoid a ClusterRole, couldn't we use a single operator with multiple RoleBindings to access multiple namespaces. The admin could then choose to give openfaas access to the whole cluster or only a subset of namespaces. In the second case, we simply need to make sure we surface the error in a nice way to the user, when the function can not be deployed because a namespace does not exist or is not

[2019-05-18 08:47] alexellis commented on #433
That would cover the RBAC, but how would the Lister/Informers work? https://github.com/openfaas/faas-netes/issues/433#issuecomment-493657326

[2019-05-18 10:46] LucasRoesler commented on #433
It is possible to create the informers with a namespace, e.g. https://godoc.org/k8s.io/client-go/informers#SharedInformerOption

But it isn't clear that it is needed because we don't currently restrict the namespace of the informer.

The listener _does_ set a namespace, but this is done on the fly inside `syncHandler`, but I think @stefanprodan can answer better about the listeners.

[2019-05-20 14:52] alexellis opened #438 "Consider adding securityContext to faas-netes / operator"
We could add a security context to faas-netes and the operator to reduce privileges and force a runAsUser value.

Suggestion via Angel - k8s-spin team

[2019-05-20 18:41] hnanchahal opened #439 "Trouble to get OpenFaas pods running - Queue-worker and Gateway pods in CrashLoopBackOff"
Trying to install Openfaas on our Kubernetes cluster but the queue-worker and gateway pods keep crashing.

### Expected Behavior
All Openfaas pods should be running.

-----------------------------------------------------------------------------------------------------------------

### Current Behavior
![image](https://user-images.githubusercontent.com/16055046/58506357-fda8c980-8143-11e9-99db-d495

[2019-05-21 08:09] angelbarrera92 commented on #438
At K8Spin we did a POC to deploy a lite version of this project. We do not allow to run containers as root so all containers in a pod must run as non root. I will pull requested with our solution (tested on k8spin.cloud)

[2019-05-21 08:18] angelbarrera92 commented on #438
The affected deployment was the `gateway`. It contains up to three containers *(the `operator` container)*.

We have been tested this deployment without the `operator` part. So i will submit only the security context part of the `faas-netes` container.

[2019-05-23 12:56] botzill commented on #437
Hi @LucasRoesler.

I see, yes it's may be challenging but find it useful when doing all the DevOps part and want to automate this, especially if we have multiple envs.

So, I think that this can be done using a `Job` as you say. If the `Job` fails because no `gateway` then it will retry, fail and retry until it succeeds.

No?

[2019-05-26 15:11] LucasRoesler commented on #437
You should be able to do a loop requesting against `/system/info` to check if the gateway is up.  Allowing the job to restart _should_ work, but I think it makes sense to try and check for the gateway first.

If you want to give the Job access to the k8s api (via RBAC) then you could also use `kubectl rollout status deploy gateway` to block until the gateway passes health checks.

[2019-05-26 15:12] alexellis commented on #437
What's the usecase?

OpenFaaS functions can be bundled in helm charts using the CRD.

[2019-05-28 06:07] jasj commented on #316
Hi, so now is imposible to get the chart that is in the main page, could you help us to recreate this chart whitouy get prometus

[2019-05-28 06:44] LucasRoesler commented on #316
Hi @jasj i am not sure what you mean when you say that you can not get the chart from the main page, how are you trying to get it? Also, in terms of recreating a chart without Prometheus, there is a `prometheus.create` and `alertmanager.create` value that can be used to control if prometheus is installed. See the table here https://github.com/openfaas/faas-netes/tree/master/chart/openfaas

If you

[2019-05-29 14:13] mytracks commented on #406
I am having exactly the same problem in my cluster which consists of both Linux and Windows nodes. I would like this bug to be fixed. How can I help with this? What kind of information is missing?

[2019-05-30 10:49] martindekov commented on #439
Hello @hnanchahal

Sorry for the delay on this one, I am not sure why I there is only one container in the gateway pod.

Can you tell me how did you deploy OpenFaaS? There should be `faas-netes` and `gateway` containers in the gateway pod.

[2019-05-30 10:51] martindekov commented on #439
Derek add label: support

[2019-05-30 11:04] alexellis commented on #439
Just a thought. Have you been through the troubleshooting guide? It tells you how to debug including getting:

* Events
* Logs
* And output from kubectl describe

Did you install with helm or YAML?

Are you running on Kubernetes, which version *and* distribution?

Do you have your basic auth secret?

[2019-05-30 16:50] hnanchahal commented on #439
Yes there are two containers in the gateway pod:

![image](https://user-images.githubusercontent.com/16055046/58649164-438a9c80-82c0-11e9-801a-a3fcf2d9baa8.png)

![image](https://user-images.githubusercontent.com/16055046/58649199-57360300-82c0-11e9-89d1-32ec7d168859.png)

[2019-05-30 16:59] hnanchahal commented on #439
Thanks Alex for your reply. I am using the Helm chart to deploy OpenFass
https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md

Kubernetes version:
![image](https://user-images.githubusercontent.com/16055046/58649375-cd3a6a00-82c0-11e9-9c24-0f782c9967f3.png)

We are using rancher for the distribution: kubernetes_version: v1.13.4-rancher1-1

Yes i do have a basic auth:
![image

[2019-05-31 08:16] alexellis commented on #433
What if we had Prometheus/NATS and etc in a core/system namespace, and then one operator with a finite scope and `Role` per namespace? Does that work?

[2019-05-31 08:22] paurosello commented on #433
If the OpenFaaS is meant to be a platform service, I would be inclined to give it a ClusterRole as an operator but from OpenFaaS point of view, I think it should not matter.

In the end, if we have the ability to deploy a function in a specific namespace the operator will decide if they want to give a Role or a ClusterRole to the OpenFaaS installation and this is the functionality that I will try

[2019-06-05 07:16] alexellis opened #442 "Configure health-check (liveness/readiness probe) path"
Some Docker images expose HTTP traffic on port 8080 like kubesec and machinebox, but their health endpoints vary, meaning that a default of `/_/health` won't work for these images unmodified.

## Expected Behaviour

Configure health-check (liveness/readiness probe) via spec or annotations

## Current Behaviour

A default is set to `/_/health/` if using httpProbe, or `cat /tmp/.lock` when using exe

[2019-06-06 09:00] alexellis opened #444 "Maintenance: consume Deployments from Apps"
Maintenance task - we should consume Deployments from Apps instead of Extensions so that we can use more common code between the two Kubernetes controllers.

## Expected Behaviour

Consume Deployments from Apps

## Current Behaviour

We consume them from Extensions in the Kubernetes API

[2019-06-06 09:01] alexellis commented on #442
This work may have a dependency on #444

We should move all of the probes code into faas-netes/types and vendor it back to the Operator.

[2019-06-06 10:40] alexellis commented on #439
Please can you seek support / help from the Rancher community directly? I know of at least a dozen people using Rancher 2 successfully with OpenFaaS. You might want to try asking on our Slack group. As far as I know, they have a vanilla config.

Is there anything in your config that would be causing this problem?

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-06-06 10:41] alexellis commented on #438
Anything else left to do @angelbarrera92 or can I close now?

[2019-06-06 10:41] #437 closed

[2019-06-06 10:42] alexellis commented on #437
Closing as inactive / answered.

Feel free to keep commenting.

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-06-06 10:42] alexellis commented on #362
@acornies where are we with this please?

[2019-06-06 10:47] angelbarrera92 commented on #438
I think that's enough for now!

[2019-06-06 10:47] #438 closed

[2019-06-06 10:47] alexellis commented on #438
If you'd like another quick PR, you could review if health checks are needed for any other pods we have.

[2019-06-06 10:48] alexellis commented on #422
@zeerorg @viveksyngh please could you both take this? It covers Swarm + K8s.

[2019-06-06 13:56] acornies commented on #362
Yes, definitely. Standby...

[2019-06-06 16:22] viveksyngh commented on #422
I will take this one.

[2019-06-06 17:49] #444 closed

[2019-06-06 18:58] viveksyngh commented on #422
Should we also update the prometheus version to `v2.10.0` for `linux/amd64`?

[2019-06-08 08:27] #442 closed

[2019-06-11 11:10] alexellis opened #450 "Use curl | sh for getting license-check in all Dockerfiles"
## Expected Behaviour

We should use curl | sh for installing license-check in all Dockerfiles. This change would track the latest version and appropriate binary for the architecture.

## Current Behaviour

We only get a specific version via curl.

## Possible Solution

See faas-cli / faas repos on how we did it there.

[2019-06-11 14:37] zeerorg commented on #450
I took a look at how it is done for faas-cli. Where does this need to be added. I'll pick this task up

[2019-06-11 15:14] alexellis commented on #450
Dockerfile.* please

And then check openfaas-operator after that.

[2019-06-12 10:45] Snapple49 commented on #406
I am also experiencing this issue. Looking at the [documentation](https://docs.openfaas.com/reference/yaml/#function-constraints), the only example of constraints is for docker swarm, but it remains unclear how to format constraints for k8s environments (I'm not so familiar with swarm so maybe it is essentially the same).

I'm trying to provide a nodeselector constraint, both via the stack yaml an

[2019-06-12 10:49] alexellis commented on #406
So the constraint supported at present corresponds to a nodeSelector. So apply a label to one or more nodes and then you can specify that constraint in your stack.yaml.

Hope this helps, if you're still struggling, jump on Slack #kubernetes channel

[2019-06-12 10:49] alexellis commented on #358
--
Join Slack to connect with the community
https://docs.openfaas.c

[2019-06-12 11:42] Snapple49 commented on #406
Thanks for clarifying! Now I got it to work, but I still find it a bit strange that it didn't work when I tried via the CLI:

`faas deploy -f prediction-test.yml --constraint "acceleration=gpu"`

while now it works when adding this in the stack yaml:
[code]

Also, as I mentioned the documentation only shows a swarm example, where the key and value are separated by == and this is what I tried first

[2019-06-13 17:17] alexellis commented on #358
@mercul3s pinging on this again 👋

[2019-06-20 20:20] alexellis opened #455 "Revisit: Istio forcing use of execProbe"
Revisit: Istio forcing use of execProbe

## Expected Behaviour

execProbe can use additional CPU cycles compared to httpProbe

## Current Behaviour

We use execProbe in the core services due to issues with Istio blocking httpProbes from the kubelet due to mutual TLS.

https://github.com/istio/istio/issues/2628#issuecomment-358111686

For the functions it's a config option to use httpProbe or execP

[2019-06-21 07:13] stefanprodan commented on #455
If we want to break compatibility with Istio 1.0 mTLS we can switch back to http probes and use the `sidecar.istio.io/rewriteAppHTTPProbers: "true"` annotations that works with Istio >1.1

[2019-06-21 07:22] alexellis commented on #455
Hmm, what does `rewriteAppHTTPProbers` do?

[2019-06-21 07:23] alexellis commented on #455
Thanks for the update @stefanprodan

@ibuildthecloud, since you mentioned this yesterday I wondered what you are doing in Rio around this, or whether health-checks are being used in your core services and endpoints at this time?

[2019-06-21 07:27] stefanprodan commented on #455
@alexellis form Istio docs:

Kubernetes HTTP health check request is sent from Kubelet, which does not have Istio issued certificate to the liveness-http service. So when mutual TLS is enabled, the health check request will fail. Probe rewrite: this approach rewrites the application PodSpec readiness/liveness probe, such that the probe request will be sent to Pilot agent. Pilot agent then redirect

[2019-06-25 08:02] alexellis commented on #450
@zeerorg how are we doing with this? Feel free to use Derek to close if we're done now

[2019-06-25 11:31] alexellis commented on #423
Derek close

[2019-06-25 11:31] #423 closed

[2019-06-26 08:37] alexellis opened #460 "Make execProbe optional for core services"
## Expected Behaviour

Core services should check themselves efficiently using httpProbe

## Current Behaviour

They use execProbe so that the chart works with Istio

## Possible Solution

Make a tidy/concise helm template that we can use to let the user pick the most efficient option.

https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/gateway-dep.yaml#L47

[code]

If set

[2019-06-26 08:37] alexellis commented on #460
cc @ibuildthecloud @LucasRoesler

[2019-06-26 08:37] LucasRoesler commented on #460
/assign: me

[2019-06-26 08:40] alexellis commented on #155
Derek close: this has been released

[2019-06-26 08:40] #155 closed

[2019-06-26 09:00] zeerorg commented on #450
Derek close

[2019-06-26 09:00] #450 closed

[2019-06-26 10:08] zeerorg opened #461 "Update yaml_armhf to use multi-arch"
Prometheus and alertmanager have published Multi arch images, Move armv7 images from arm tag to multi arch tags.

[2019-07-01 07:39] alexellis commented on #433
Here's me invoking functions in different namespaces

Changes I made:

* Used the Operator
* Patched Role/RoleBinding to ClusterRole/ClusterRoleBinding (we could just make this a helm chart option today, there is no harm in it)
* Set functionNamespace to `""` and removed the code that sets a default to `openfaas-fn` if `""` is given in the Operator's `server.go`
* Patched gateway to allow `A-Za-z9

[2019-07-01 21:48] lihaiswu commented on #213
@LucasRoesler why this one is closed. How to configure resource requests in value.yaml for deployment objects?

[2019-07-01 22:22] lihaiswu commented on #213
Looks like resource can not be configured in helm chart. Can we reopen this issue? @alexellis

[2019-07-02 07:13] lihaiswu commented on #213
Any update on this issue? Since our kubernetes cluster has not allowed to deploy objects without resource requests, i have to update resource for all objects. I'd like to just use the helm repo and override the resource by value.yaml.

When the fix will be merged to master? @LucasRoesler @alexellis

[2019-07-02 07:23] alexellis commented on #213
Happy to take a PR for this @lihaiswu or for someone else in the community to pick this up.

@LucasRoesler since we started generating the Prometheus config for armhf the 512Mi request is too large and I can't deploy OpenFaaS on a 1GB RPi anymore. It'd be great to set the requests value for Prometheus in the armhf values override to 128Mi for instance.

[2019-07-02 15:59] LucasRoesler commented on #213
Just noting, if someone wants to pick this up,

[code]

is the best way i have seen this done.  The `nindent 12` means you can indent that block "correctly".  This would need to be added to each Deployment object and documented in the README

[2019-07-02 18:17] lihaiswu commented on #213
I just make change, but unable to push commit to private branch. I received 403. Do I need to request any permission.

[2019-07-02 21:55] raviqqe opened #464 "Suggestion about CRD and Helm"
## Expected Behaviour

The `openfaas` Helm Chart should work even when the `Function` CRD is not yet deployed.

## Current Behaviour

It fails if the `Function` CRD is not yet deployed but `Function` resources exist in Helm Charts.

## Possible Solution

Add Helm Hook annotation of `crd-install` to the `Function` CRD.

## Steps to Reproduce (for bugs)

1. Create a new Helm Chart
1. Add `openfaas`

[2019-07-03 06:10] alexellis commented on #464
Can you share values.yaml?

The helm chart doesn't depend on the CRD, only if you've asked for the operator specifically, in which case the CRD is installed with the chart.

[2019-07-03 06:11] alexellis commented on #464
/set title: Suggestion about CRD and Helm

[2019-07-03 06:23] stefanprodan commented on #464
When using the OpenFaaS chart as a dependency you'll need to apply the CRD with kubectl, before installing your chart. In the operator config, inside your values.yaml set `createCRD: false`.

[2019-07-03 07:34] stefanprodan commented on #464
@raviqqe if this works for you please close this issue. Thanks

[2019-07-03 08:31] alexellis commented on #461
Sounds good to me.

https://github.com/openfaas/faas-netes/blob/master/contrib/values-arm64.yaml
https://github.com/openfaas/faas-netes/blob/master/contrib/values-armhf.yaml

We'd need the above to be changed ^

[2019-07-03 14:22] alexellis opened #466 "High CPU reported from default execProbes"
## Expected Behaviour

Low ambient CPU usage.

## Current Behaviour

High CPU reported from default execProbes for workshop students due to the current helm chart defaults. They are cautiously set to "httpProbe: false" for backwards compatibility.

## Possible Solution

Set httpProbe: true for all functions as a default.

## Steps to Reproduce (for bugs)

1. Deploy 10 functions with execProbes
2.

[2019-07-03 17:09] raviqqe commented on #464
Thanks for your quick feedback! Your solution works well for us.

We applied the solution described above by @stefanprodan in our deployment code. To deploy our Helm Chart, we run some script like the following with `openfaas.operator.create: true` and `openfaas.operator.createCRD: false` in `values.yaml`.

[code]

[2019-07-03 17:09] #464 closed

[2019-07-03 17:18] stefanprodan commented on #464
@raviqqe I would add the two OF namespaces to that script.

From the [readme](https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#install):

[code]

Creating multiple namespace from a helm chart is not recommended.

[2019-07-03 17:35] #466 closed

[2019-07-03 17:44] raviqqe commented on #464
Does it mean we should not use the `openfaas` Helm Chart as any dependencies of other Helm Charts? AFAIK, there is no way to control namespaces of dependency Charts in `requirements.yaml`.

[This line of `gateway-svc.yaml`](https://github.com/openfaas/faas-netes/blob/ead0d07a3c9bce71f5f901349bd938167d759cce/chart/openfaas/templates/gateway-svc.yaml#L11) uses the default namespace.

[2019-07-03 18:28] alexellis commented on #464
It doesn't use the `default` namespace, it's parameterized, so it uses whatever you pass into helm.

Here's the usage: https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#install

[2019-07-05 06:21] tshravan86 commented on #164
@kaikai-liu Hi KaiKai. I apologise as this is not a relevant question what I'm going to ask. I'm trying to access the prometheus dashboard. When I port-forward using kubectl, I'm not getting any error as if the command getting hanged. When I see the svc list I have observed that the type is "Cluster-Ip" for promotheus.

`NAMESPACE     NAME                TYPE        CLUSTER-IP      EXTERNAL-IP   P

[2019-07-05 11:25] stefanprodan opened #471 "OpenFaaS not working on a PSP enabled cluster"
OpenFaaS control plane and functions can't run when [pod security policy](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) is enabled. Tested on EKS 1.13.

## Expected Behaviour
The OpenFaaS installer (chart or yamls) should come with a default pod security policy.

## Current Behaviour
When deploying OpenFaaS no pods will be scheduled:

[code]

## Possible Solution

* create servi

[2019-07-05 12:39] alexellis commented on #471
I'm all for this, but it also looks like PSP will be deprecated in Kubernetes, i.e. it won't go to GA.

https://twitter.com/tsaha/status/1146387884942843904?s=19

[2019-07-05 13:02] #460 closed

[2019-07-05 13:16] stefanprodan commented on #471
GA or not most clouds vendors come with PSP like EKS, IKS, GKE just to name a few.

[2019-07-05 13:25] alexellis commented on #471
Would you like to take this?

[2019-07-05 13:31] stefanprodan commented on #471
I can do the chart modifications.

[2019-07-05 15:07] lomeshpatel commented on #369
I'm having the exact problem described in the original post. I've verified that the Istio sidecar injection has been disabled according to the PR.

### My Environment
- GKE: 1.13.7-gke.8
- Istio: 1.1.7

Please let me know if you need more information. I've currently got it working with `async=false`.

[2019-07-05 15:28] alexellis commented on #369
Hi @lomeshpatel,

As far as I am aware @stefanprodan runs Istio + OpenFaaS on his cluster, so I wouldn't expect any issues for you.

You will need to create a new issue so that we gather everything we need from you.

Alex

[2019-07-05 15:28] alexellis commented on #369
Derek lock

[2019-07-05 15:28] alexellis commented on #369
--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-07-05 15:33] alexellis commented on #372
Derek lock

[2019-07-06 09:24] alexellis commented on #164
@tshravan86 I'm going to lock this issue, please open your own issue if you have found something which you feel is an error, if you need technical support please use Slack.

[2019-07-06 09:24] alexellis commented on #164
--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-07-06 09:24] alexellis commented on #164
/lock

[2019-07-06 09:25] alexellis commented on #362
@acornies where are we with this issue (what is its status)?

Is it finished? If so, can you close it please?

[2019-07-06 09:25] alexellis commented on #362
cc @LucasRoesler

[2019-07-06 09:26] alexellis commented on #422
Yes

[2019-07-06 09:27] alexellis commented on #422
Run a smoke test of auto-scaling up and then back down in response to load generated with `hey`. Instructions are in the workshop Labs for that.

[2019-07-06 09:33] LucasRoesler commented on #362
It looks like #384 does add semantic status codes, so this should be fixed in faas-netes.  But, I think we need to add more error handling in the CLI similar to openfaas/faas-cli#655 before this could be considered closed, because the CLI needs to now handle those semantic status codes.  For example, it does not look like 400 Bad Request is handled in the CLI.  The user will just see

[2019-07-06 10:03] alexellis commented on #362
Do more changes need to be made in faas-netes or only in faas-cli? If only in faas-cli then I think we can close this and raise the issue / issues in the relevant repo.

[2019-07-06 10:21] LucasRoesler commented on #362
I think the only remaining changes would be in the CLI, netes looks good to me

[2019-07-08 18:57] lomeshpatel opened #473 "Issues found with Istio 1.1.7 on GKE"
The issue is exactly the same as described in #369

## Expected Behaviour

OpenFaaS should work with Istio v1.1.7 or newer on GKE.

## Current Behaviour

OpenFaaS gateway, faas-idler and queue-worker are crashing at startup:
[code]

faas-idler logs:
[code]

gateway logs:
[code]

queue-worker logs:
[code]

I can get the infrastructure pieces working by turning `async=false`. Here's my `helm` comman

[2019-07-08 19:30] burtonr commented on #473
I am no Istio expert, but could it be that your issue is related to the different versions of what was tested and what you're using?

You mention using Istio `1.1.7` where Stefan mentions using `1.0.3`. Looking through the Istio changelogs, I found [this incompatability notice](https://istio.io/docs/setup/kubernetes/upgrade/notice/) to indicate they've removed most of the mixer CRDs.

Perhaps you

[2019-07-08 20:34] lomeshpatel commented on #473
Thank you for the response, @burtonr.

The removal of mixer CRDs you mentioned is for between Istio version `1.1.+` and `1.2.+`. But, I could certainly try with the `1.0.+` version of Istio.

The Knative issue you posted talks about disabling Istio sidecar injection being a potential fix. [Stefan's fix](https://github.com/openfaas/faas-netes/pull/387/files) was to disable the Istio sidecar injecti

[2019-07-08 20:47] stefanprodan commented on #473
Hi @lomeshpatel

Can you please try disabling mTLS for outbound traffic to NATS and see if it works?

[code]

[2019-07-09 09:35] #362 closed

[2019-07-09 09:35] alexellis commented on #362
Thanks, I'll close this.

[2019-07-09 13:13] lomeshpatel commented on #473
That got the `queue-worker` running, but `basic-auth-plugin` is now crashing.

[code]

`faas-idler` and `gateway` have the same logs. Here's logs from `basic-auth-plugin`
[code]

[2019-07-09 14:13] alexellis commented on #473
The `basic-auth-plugin` only listens for HTTP and doesn't make outbound calls. I can't think why Istio would cause it to crash, but @stefanprodan is the Istio expert here.

Can you provide the events from the openfaas namespace ordered by time? See the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/) for more info on that.

[2019-07-09 14:15] alexellis commented on #473
I would agree with @burtonr about the statement "The issue is exactly the same as described in x". I don't think this is accurate, given that all of the versions have changed in both projects since that date and the original issue was fixed by Stefan through config.

I don't know if Stefan has time to look at this, but if you want to suggest a fix we'll be happy to look at it.

[2019-07-09 14:47] alexellis commented on #473
The Istio support was added by @stefanprodan, who is going to be away until the end of July.

Everything in this guide was working when published and I am aware of several people who have used it since. I would be surprised if there was a complete regression in NATS, but perhaps the configuration needs to be updated to match what is expected by 1.1.7 and newer?

https://github.com/stefanprodan/ist

[2019-07-09 15:35] lomeshpatel commented on #473
Thank you very much, @alexellis!

I started by following that guide, but decided to deviate from it in favor of using helm charts. I will try following the guide as is and see if that makes any difference. I will also try earlier version of Istio.

This can certainly wait. In the meantime, I'll update this post with my findings, if any.

[2019-07-09 19:08] alexellis commented on #473
One other thought for you @lomeshpatel - https://github.com/openfaas-incubator/openfaas-linkerd2

Your help would be appreciated 👍

Alex

[2019-07-09 20:40] wmorgan commented on #473
Happy to help with anything Linkerd-related if you do go that route. 😁

[2019-07-16 20:23] #471 closed

[2019-07-20 16:53] LucasRoesler opened #474 "Allow configuring of log provider via helm chart"
## Expected Behaviour

I should be able to install an external log provider and configure the env variable via the Helm chart

## Current Behaviour

This is not possible

## Possible Solution

Add a new `gateway.logProviderURL` or a `logProviderURL` variable, then it is not empty, it would then set this env variable on the gateway container

[code]

When it is empty, then the env variable is eithe

[2019-07-20 16:53] LucasRoesler commented on #474
/assign: me

[2019-07-22 23:55] kwojcicki opened #477 "Kafka-connector development instructions give error"
When following the instructions here https://github.com/openfaas/faas-netes/blob/master/chart/kafka-connector/development.md and deploying the test client the markup has inproper indentation causing kubectl to throw an error.

![image](https://user-images.githubusercontent.com/2487946/61672631-3034f580-aca1-11e9-911c-335a64336e8b.png)

## Expected Behaviour
The copied commands from development.md

[2019-07-23 07:31] alexellis commented on #477
Hi @kwojcicki thank you for raising this.

Pinging the author ( @martindekov )

Please could you compare these instructions to the blog?

https://www.openfaas.com/blog/kafka-connector/

Alex

[2019-07-23 08:53] martindekov commented on #477
Hello @kwojcicki, I believe it is an indentation problem of the line:
[code]
Should be tab in like so:
[code]

[2019-07-23 11:21] manukasa opened #479 "(Unable to reproduce) kafka connector pod failed with "invalid character 'E' looking for beginning of value""
kafka-connector-6f68cf7675-26gt7 - crashloopBackoff
error in the Logs shows
2019/07/23 11:14:15 invalid character 'E' looking for beginning of value
## Expected Behaviour

Pod should have run with out restarts

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* D

[2019-07-23 21:26] alexellis commented on #479
Hi,

Thanks for using OpenFaaS.

Is there anything you want to tell us about your environment? Are you using something like Istio?

How did you deploy the components? I would recommend you follow the blog post and report back after that.

@martindekov is the author of the post.

https://www.openfaas.com/blog/kafka-connector/

Please also check open issues and PRs.

Alex

[2019-07-23 21:29] alexellis commented on #479
Cc @kwojcicki who I believe has it deployed on his cluster

[2019-07-23 22:23] kwojcicki commented on #477
@martindekov I think the start of the command also had indentation problems but with the updated command here: https://github.com/openfaas/faas-netes/pull/478/files it all ran smoothly ^_^.

@alexellis from a quick scan of the blog seems like the techniques used for publishing are slightly different and as a result the command I fixed isn't utilized in the blog. I will try out the blogs approach t

[2019-07-23 22:23] #477 closed

[2019-07-24 05:47] manukasa commented on #479
@alexellis, thanks!
i will recheck with link provided and will get back to you

[2019-07-24 05:52] manukasa commented on #479
@kushalarya

[2019-07-24 08:36] alexellis commented on #479
Hi @manukasa @kushalarya, you both raised the same issue, so I will close one as a duplicate.

Please can you provide all the context and information required?

You should not use OpenFaaS or the connector without authentication enabled.

The blog post is the best tutorial you can follow.

Alex

[2019-07-24 08:36] alexellis commented on #479
Duplicate of https://github.com/openfaas-incubator/kafka-connector/issues/50

[2019-07-24 08:38] alexellis commented on #479
Please fill out "Steps to Reproduce (for bugs)" completely.

[2019-07-24 13:29] kushalarya commented on #479
I'm following this guide
[https://www.openfaas.com/blog/kafka-connector/](https://www.openfaas.com/blog/kafka-connector/)
while installing Openfaas flag `basic_auth` is set to `true`

I have a new finding. In logs of kafka-connector pod
``` $ k get pods kafka-connector-6774f798c5-m97mh -v 9 ```

noticed this :
`I0724 18:50:40.390127   24419 get.go:563] no kind is registered for the type v1beta1.Ta

[2019-07-24 14:03] alexellis commented on #479
What Kubernetes version are you using? On what cloud or distro (k8s/openshift)?

Are you using anything peculiar like Istio?

[2019-07-24 14:48] alexellis commented on #479
I've just walked through the whole tutorial end-to-end on DigitalOcean Kubernetes with 1.14.

I had no issues whatsoever. To help out, I think we're going to need more details from your end on what you may be doing differently.

![Screenshot 2019-07-24 at 15 48 06](https://user-images.githubusercontent.com/6358735/61803636-72d60980-ae2a-11e9-8369-0e916c69cc9d.png)

[2019-07-24 14:51] manukasa commented on #479
No we didnt use Istio etc

[2019-07-24 15:46] alexellis commented on #479
You appear to be using Kubernetes 1.13, but on what cloud?

Alex

[2019-07-24 16:11] alexellis commented on #479
Please can you update your helm chart repo and install the connector again?

I've added some verbose logging which may give us more of a clue of where things may be going wrong in your setup.

[2019-07-24 16:12] alexellis commented on #479
This reminds me of a similar issue I saw with @stefanprodan and @LucasRoesler

Can you confirm what functions you have deployed? Are you using the Operator and CRD, or faas-netes?

[2019-07-24 23:07] martindekov commented on #479
I have deployed the connector:
![image](https://user-images.githubusercontent.com/34942004/61834507-e86cc480-ae80-11e9-85f8-928635112787.png)

[2019-07-24 23:08] martindekov commented on #479
Not sure how to reproduce

[2019-07-25 06:04] manukasa commented on #479
Sure let us try that and will get back to you .
Thanks!

[2019-07-29 09:51] krazavi opened #482 "Not all the pods are being used after scaling"
## Expected Behaviour
After scaling from the minimum to the maximum number of pods in the Kubernetes cluster, we expect all the pods to receive the same amount of requests.

## Current Behaviour
Some pods are receiving requests after waiting a long time, others remain idle.

## Possible Solution
Checking that all the service endpoints are available for load balancing in the used technique (default

[2019-07-31 17:17] alexellis opened #483 "Provide detailed tutorial / documentation on HPAv2"
## Description

We should provide detailed tutorial / documentation on HPAv2 when deploying OpenFaaS to Kubernetes using faas-netes. This would include any caveats or work-in-progress around scale to/from-zero.

Please respond here with an outline of the tutorial / guide and then send a PR to https://github.com/openfaas/docs/ under the heading you feel is best suited. Instructions should be tested

[2019-07-31 17:23] alexellis commented on #483
For HPAv2 to work, it's compulsory to install the "metrics server":

https://github.com/kubernetes-incubator/metrics-server

Note that the metrics server is not supported on all cloud platforms, several like DigitalOcean currently need an insecure TLS option to be overridden to operate.

Stefan has a tutorial about HPA with Prometheus custom metrics here:

https://github.com/stefanprodan/k8s-prom-

[2019-08-01 12:45] alexellis commented on #358
Related discussion is on-going across several issues including this one in the CLI, which needs a decision to move forward - https://github.com/openfaas/faas-cli/issues/623

[2019-08-02 12:42] bmcstdio opened #484 "Question: Why are functions updated when they are deployed?"
## Expected Behaviour

Running `faas deploy` multiple times without changing anything doesn't cause a function (and hence its pods) to be re-created.

## Current Behaviour

Running `faas deploy` multiple times without changing anything causes a function (and hence its pods) to be re-created. This is (in part?) due to the value of the `UID` label being changed everytime, as well as to the fact that

[2019-08-02 13:12] alexellis commented on #484
Hi Bruno,

This is working as designed.

Many users deploy the same Docker image over and over without changing its tag, and for that reason we cause an annotation to change "UID" in this case, in order for the function to pull in the newer version.

Why are you calling the deploy API multiple times if you're not changing the code?

Cheers,

Alex

[2019-08-02 13:47] alexellis commented on #484
I chatted to the members team about this and suggested that you may benefit from using the Operator and the CRD, if you have some process that is deploying the same config over and over again. The other thing you may want to do is to use an annotation or a state file to decide whether to deploy again.

This behaviour is by design, but there are at least two ways above that you can get what you nee

[2019-08-02 14:54] bmcstdio commented on #484
Hi @alexellis, thanks for looking into this! Yeah, I didn't mean to imply this is a bug—I was just saying that it feels a bit strange to me, as I was expecting `faas deploy` to be idempotent.

I understand what my other options are, and thanks for pointing them out, but I'd really like to get away without the complexity of those if at all possible.

The main use-case is to have Terraform deploying

[2019-08-05 08:19] alexellis commented on #484
I discussed this with @LucasRoesler @stefanprodan @matipan and @martindekov - the feedback was given to you above.

From my perspective, I would tend to agree with the team, but I also want faas-netes to suit users of Terraform.

Personally I think I would accept a PR for an environment variable called `UPDATE_UID` which you could set to `0` via the helm chart for the faas-netes container. When th

[2019-08-05 09:19] LucasRoesler commented on #484
This behavior can currently be overridden by setting the `uid` label on a function to a static value.  It will override the generated value set by `faas-netes`.  Once the value is statically set, it should stop k8s from seeing the function changing on every deploy.

If we don't want to make any code changes, we could document this behavior (and close #229 as won't fix).

If we make a change, I thi

[2019-08-05 09:33] alexellis commented on #484
Thanks for your input Lucas.

@bmcstdio please can you try setting a static UID label as suggested by @LucasRoesler ? It sounds like a good balance between changing the code and achieving your goals. Perhaps you can set it to a value by convention like the endpoint name?

Alex

[2019-08-05 12:31] LucasRoesler commented on #484
@alexellis i tested this in the `KinD` test env using

[code]

The resulting function pod had these labels

[code]

And subsequent calls to deploy with the same values was accepted by the API but did not result in a new pod in k8s.

I also re-deployed while updating that `uid` value and saw it do the expected rolling deploy and apply the new `uid` label.

TL;DR: the work around works as expected.

[2019-08-05 12:55] LucasRoesler commented on #484
@bmcstdio Once you verify this behavior with the static `uid`, do you think this will work for your use case and we can close it?

[2019-08-06 08:28] bmcstdio commented on #484
@alexellis @LucasRoesler thank you for looking into this and for your feedback. However, and as I've mentioned, the `UID` label is not the only thing causing pods to be re-created: the fact that the environment variables are not sorted—and hence that the actual value of `.spec.template.spec.containers[0].env` changes between invocations of `faas deploy`—is enough to trigger the re-creation of pods

[2019-08-06 14:30] LucasRoesler commented on #484
@alexellis and @bmcstdio i just tested this with multiple envvars using

[code]

As @bmcstdio said, after multiple deploys, you can see the deployment be re-created because the env variable order will change.

I think env vars are the only remaining issue for this, because it goes from a map in the `Function` request, to an array in the `Deployment `spec.  The map is unordered.  The other values f

[2019-08-06 17:26] raviqqe commented on #464
FYI, the CRD upgrade PR on Helm repo is recently merged. https://github.com/helm/helm/issues/5853

[2019-08-07 08:12] alexellis commented on #484
@LucasRoesler given your comment "Sorting the env vars alphabetically seems reasonable to me." and the hypothesis that this single change is enough to resolve @bmcstdio's issue, I will go ahead with a fix and submit a PR.

Alex

[2019-08-07 20:23] #473 closed

[2019-08-07 20:24] alexellis commented on #473
@lomeshpatel please could you have another look? @stefanprodan has sent in PR #488 to fix this issue and we expect it to be all working now.

[2019-08-09 04:16] EasyIoTAdmin opened #489 "Can different functions be limited to different groups in one system?"
I am working on a FaaS system for my company based on openFaas. The ideal group size should be about 100 -150 groups. I don't think it is possible to set up multi openfaas system at the same time. I am thinking if I can limit the functions to specific groups, and make sure they don't exposed to each other. Would It be possible? Or any ideal solutions

## Expected Behaviour

## Current Behaviour
 a

[2019-08-09 04:22] burtonr commented on #489
An option I know some groups are using is deploying separate OpenFaaS systems for each team.
In kubernetes, this can be achieved by using separate namespaces to ensure that the function groups are isolated from the other installations.

The resource usage on the core OpenFaaS components is very small, and shouldn't add much overhead to the cluster you are deploying to. Although 100-150 is quite a

[2019-08-09 06:38] lihaiswu opened #490 "Allow configuring of gateway-external svc annotations via helm chart"
## Expected Behaviour
Helm chart should allow configuring metadata/annotations for gateway-external svc

## Current Behaviour
No way to configure metadata/annotations for gateway-external svc unless user maintain a copy of helm chart locally

## Possible Solution
Expose annotations in helm chart like ingress did.

## Steps to Reproduce (for bugs)

1. add override configs to devops/helm/openfaas/va

[2019-08-09 07:59] stefanprodan opened #491 "Merge faas-operator with faas-netes"
Port operator's code and CRD to faas-netes and allow switching between the two controllers with a command flag. This will enable us to add new features to both controllers at the same time without code duplication.

Code merge phases:
1. Move the operator code as it is
2. Add `-mode=crd` command flag to start the crd operator (defaults to `-mode=` faas-netes mode)
3. Extract common code in the `k8

[2019-08-09 09:47] bmcstdio commented on #484
@alexellis I think this can be closed now.

[2019-08-09 15:26] EasyIoTAdmin commented on #489
So in k8s, am I able to use separate namespace for components like openfaas-fn? Like using one or two gateway to control several fn groups namespace?

[2019-08-11 21:08] #483 closed

[2019-08-12 18:28] lihaiswu commented on #490
@LucasRoesler @alexellis  Can i make a PR for this issue? I'd like to add a new entry in value.yml:

[code]

or just at the root level:
[code]

Since the annotations are only used in gateway-external. I do not want to put it under gateway/annotations. Do you have any comments?

[2019-08-12 19:37] LucasRoesler commented on #490
I think putting it under `gateway-external` makes sense, like you said

[2019-08-13 01:39] EasyIoTAdmin commented on #489
So in k8s, am I able to use separate namespace for components like openfaas-fn? Like using one or two gateway to control several fn groups namespace?

[2019-08-13 02:48] burtonr commented on #489
At the moment, it would be 1 gateway -> 1 function namespace

So, if you needed 3 teams with segregated functions (that cannot communicate with other teams' functions), you would need 3 gateways (and other OpenFaaS core components) deployed in separate namespaces that would each manage their own function namespace.

* Team 1
  * OpenFaaS Core Namespace: team1-of
  * Functions Namespace: team1-fn
*

[2019-08-13 07:15] EasyIoTAdmin commented on #489
Thank you so much. Just ask for some design advices. For the NATS and queue-worker parts, if I put them in a namespace eg. openfaas-nats, and process all OpenFaas  asyc-func requests in this section, would it be a good design?  Ideally, there should k8s HPA functionality in the NATS namespace. At the moment, NATS cost over 300M mem which would be too much if I install one for each groups T T.
Perh

[2019-08-13 07:21] alexellis commented on #433
I have drafted a diagram which I also shared on Slack in the #kubernetes channel. There are some comments from the community in the channel which will be lost due to limits of the free tier of Slack.

![multi-namespace](https://user-images.githubusercontent.com/6358735/62921801-a230c400-bda1-11e9-8406-017b48f9af6c.png)

Some people have expressed that they would like to see a new URL scheme to acc

[2019-08-13 10:50] pchico83 commented on #433
I am a strong believer in remote development, where each developer has access to its personal namespace. This way, developers can share cluster services like logs aggregators, metrics, service mesh... the OpenFaaS installation would a great example of this scenario.
As a cluster administrator, I would like to install OpenFaas once and provide OpenFaaS credentials for each developer. Depending on t

[2019-08-13 12:00] alexellis commented on #433
@pchico83 I think this is out of scope for the current PR, which is more of a technical discussion on accessing multiple namespaces. OpenFaaS Cloud holds the multi-user story that you're referring to and we've chosen to replace the API with `git` - i.e. "CRUD operations" on functions is simply: `git push`

[2019-08-13 17:51] doowb commented on #433
I have a question about how the functions in different namespaces are intended to be deployed. Is it possible to either change the name through the cli when deploying from the `stack.yml` or add a flag to the cli to specify the namespace the function should be deployed to?

My main concern is if this is intended to be used for staging deployments, I don't want to edit my `stack.yml` to promote my

[2019-08-18 05:32] joshuabuildsthings commented on #371
@alexellis - +1 to seeing it at the function level. For example being able to add capabilities such as CAP_NET_ADMIN to a function via SecurityContext.

[2019-08-22 09:54] LucasRoesler opened #494 "Update docker Go version to 1.11.13"
Per the security announcement https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg we should update the docker build layers to at least Go 1.11.13

## Possible Solution

The builder layer in the Dockerfile should use `golang:1.11`

## Related
### Update Dockerfile and rebuild/release
https://github.com/openfaas/faas/issues/1291
https://github.com/openfaas/templates/issues/170
https:

[2019-08-22 14:40] #494 closed

[2019-08-22 19:35] LucasRoesler opened #495 "Bump helm chart to golang 1.11.13 security patches"
Bump the chart versions to the latest releases referenced in https://github.com/openfaas/faas/issues/1291

[2019-08-22 19:42] LucasRoesler commented on #495
@alexellis i started working on this but i noticed that many of the images are missing the arm64 an armhf for the latest release:

* https://hub.docker.com/r/openfaas/faas-netes/tags
* https://hub.docker.com/r/openfaas/basic-auth-plugin/tags
* https://hub.docker.com/r/openfaas/gateway/tags
* https://hub.docker.com/r/openfaas/queue-worker/tags
* https://hub.docker.com/r/openfaas/faas-idler/tags

[2019-08-23 06:55] alexellis commented on #495
As a rule, only bump up the x86-64 because arm is built manually and can fail mid-way.

[2019-08-23 08:48] #495 closed

[2019-08-25 21:07] charles-d-burton opened #497 "Issue with ARM64 configuration"
Faas Idler and Basic Auth plugin are both missing arm64 builds.

## Expected Behaviour
ARM64 builds in docker hub.

## Current Behaviour
Build are missing

## Possible Solution
Add ARM64 to the build scripts.

## Steps to Reproduce (for bugs)
kubectl apply -f yaml_arm64

## Context
Currently cannot install OpenFaas on my Graviton based cluster.

[2019-08-25 22:26] alexellis commented on #497
Hi,

Thanks for your interest in OpenFaaS and in the ARM64 configuration.

To say that "arm64 builds are missing" is probably not quite correct. They are used by very few people, but are available and maintained, perhaps there is a mismatch somewhere in the YAML? Can you give the whole error you received?

If you want to try updating to later versions you can try updating `chart/openfaas/values-ar

[2019-08-25 22:31] alexellis commented on #497
/set title: Issue with ARM64 configuration

[2019-08-25 22:32] alexellis commented on #497
These are the builds from 22nd August if you'd like to try them out:

[code]

As far as I'm aware the config hasn't been updated to use basic-auth-plugin or faas-idler as of yet.

[2019-08-25 22:35] alexellis commented on #497
The problem may be that basic-auth is enabled, but you have no basic auth password?

Please see the instructions in the `yaml` folder's README or the help chart on how to create a basic-auth-password.

If you're still having issues, you can ask on Slack, or I'll have a look next week after the holidays in the UK.

[2019-08-25 22:35] alexellis commented on #497
/msg: slack

[2019-08-25 22:44] #497 closed

[2019-08-26 12:20] CentricStraaten opened #498 "Support question about kubectl port-forward"
During a clean installation of faas-netes the port forwarding fails

## Expected Behaviour
I followed the instruction page and entered the command below and receive an error message.
`kubectl -n openfaas port-forward svc/gateway 31112:8080`

I removed the &-character from the example on [the instruction website](https://docs.openfaas.com/deployment/kubernetes/)

## Current Behaviour
The command ab

[2019-08-26 13:25] alexellis commented on #498
/set title: Kubernetes support issue about port-forwarding

[2019-08-26 13:29] alexellis commented on #498
Hi,

Thanks for your interest in OpenFaaS.

Port forwarding is known to work reliably, so I suspect you may need to troubleshoot your Kubernetes installation.

You can probably find technical support from the Kubernetes Slack or Forum: https://kubernetes.io/community/

We may be able to help you with your Kubernetes distribution, but since this doesn't appear to be an issue with OpenFaaS I'm going

[2019-08-26 13:30] alexellis commented on #498
/add label: support

[2019-08-28 08:30] krazavi commented on #482
Any update on this issue after a month?

[2019-08-28 08:39] #482 closed

[2019-08-28 08:43] alexellis commented on #482
This is the default behaviour of KeepAlive in Kubernetes using an L4 LoadBalancer.

You can tune these settings in your jMeter test, or deploy Linkerd2 which uses its own proxy to balance without KeepAlive.

https://github.com/openfaas-incubator/openfaas-linkerd2

As for whether it has been one hour, one day, one week or one month since you asked a question, that's largely irrelevant. OpenFaaS is

[2019-08-28 08:43] alexellis commented on #482
/msg: slack

[2019-08-28 18:13] alexellis commented on #482
I hope the reply was useful to you, it was on mobile so I had to keep it brief.

KeepAlive can be configured at the client-side, and in the server through the gateway, although it's not recommended. Generally if the connection is set for KeepAlive, then Kubernetes will honour that and will not break a connection between a single requestor and a single Pod.

We also make use of hey for load-testing

[2019-09-01 20:29] jonatasbaldin opened #499 "`faas-cli logs` has a different behaviour than `kubectl logs` or `docker logs`"
## Expected Behaviour
When using `faas-cli logs` without any time flag, like `--since`, expect the same behaviour as `kubectl logs` or `docker logs`, which is to show *all the logs*.

## Current Behaviour
The current behaviour of `faas-cli logs` in Kubernetes, without any time flag, is to output the latest 5 minutes of logs, as defined [here](https://github.com/openfaas/faas-netes/blob/master/k8s/

[2019-09-05 20:29] alexellis commented on #484
/close

[2019-09-05 20:29] #484 closed

[2019-09-05 20:29] alexellis commented on #484
Thank you Bruno. Let us know if you need anything.

[2019-09-05 20:33] alexellis commented on #490
/close: fixed in #492

[2019-09-05 20:33] #490 closed

[2019-09-05 20:34] alexellis commented on #489
I would suggest looking at one of the two options:

* [Multiple installations in differing namespaces](https://www.openfaas.com/blog/gke-multi-stage/)
* [OpenFaaS Cloud](http://docs.openfaas.com/openfaas-cloud/) - which caters to your use-case better

[2019-09-05 20:34] #489 closed

[2019-09-05 20:35] alexellis commented on #489
Thanks @burtonr 👍

See also backlog item: #263

[2019-09-05 20:35] alexellis commented on #489
/add label: question

[2019-09-05 20:37] alexellis commented on #439
/close: inactive

[2019-09-05 20:37] #439 closed

[2019-09-05 20:37] alexellis commented on #422
Linked issue: https://github.com/openfaas/faas-netes/issues/461

[2019-09-05 20:38] alexellis commented on #416
@martindekov PTAL?

[2019-09-05 20:40] alexellis commented on #334
Would love to know how you got on with this.

[2019-09-05 20:40] alexellis commented on #334
/close: inactive

[2019-09-05 20:40] #334 closed

[2019-09-05 20:41] alexellis commented on #261
/close

[2019-09-05 20:41] #261 closed

[2019-09-05 20:41] alexellis commented on #99
I found time to work on this 😄

https://docs.openfaas.com/tutorials/kubernetes-hpa/

[2019-09-05 20:41] #99 closed

[2019-09-05 20:44] martindekov commented on #416
So the helm should apply this annotation in order to stop trying to scrape metrics from prometheus, should this be added to the yaml file deployment in the kafka connector repo also?

[2019-09-05 20:58] alexellis commented on #416
Please

[2019-09-06 10:15] #416 closed

[2019-09-09 06:43] jonatasbaldin opened #502 "Add ingress-operator in Helm charts"
The [ingress-operator](https://github.com/openfaas-incubator/ingress-operator) is a very useful controller that allows functions to have their own FQDN and TLS certificate.

Me and @alexellis were talking on the Slack about adding it to the Helm chart.

Let's do it 🚀

[2019-09-09 07:32] jonatasbaldin commented on #502
Just letting you know that I'm already working on this :D

[2019-09-09 17:30] hugocortes opened #504 "Error with Istio and custom namespaces with mTLS enabled"
## Expected Behaviour
OpenFaaS should work when being installed on a namespace other than `openfaas` with a function namespace other than `openfaas-fn` when Istio mTLS is enabled in cluster.

## Current Behaviour
When using an OpenFaaS namespace other than `openfaas` and a function namespace other than `openfaas-fn`, faas-idler, gateway, and queue worker remain at `CrashLoopBackOff` state.

Result

[2019-09-10 16:30] #422 closed

[2019-09-10 19:02] viveksyngh commented on #461
This can be closed as this has been updated #501

[2019-09-10 19:02] viveksyngh commented on #461
Derek close

[2019-09-10 19:02] #461 closed

[2019-09-12 07:04] schnable opened #506 "Raspberry Pi issue - gateway didn't start"
## My actions before raising this issue
- [*] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [*] Read/searched [the docs](https://docs.openfaas.com/)
- [*] Searched [past issues](/issues)

I attempted to deploy openfaas using:

`kubectl -f yaml_armhf`

on my raspberry pi 4 cluster, but this results in the gateway pod entering a crashloop.

## Expected

[2019-09-12 07:06] jonatasbaldin opened #507 "Feature request: mount secret as environment variable"
## Expected Behaviour
Being able to mount the decoded secret content as an environment variable instead of a file.

## Current Behaviour
The secret system used by OpenFaaS only mounts secrets as files.

## Possible Solution
Introduce new way of defining the secrets in the `stack.yml` file and, somehow, inject them into an env var. Here are some examples to illustrate:

*Example 1:*
- Add a "type"

[2019-09-12 07:06] #507 closed

[2019-09-12 07:22] alexellis commented on #506
Hi @schnable, I'm sorry but I can't reproduce this issue.

I would advise you not to install Docker on the host if you are using k3s, it can cause an issue that looks similar to this.

https://github.com/rancher/k3s/issues/703

Alex

[code]

[2019-09-12 07:30] alexellis commented on #506
Where did you find that? I don't see the gateway using the `/root` directory?

[code]

[Dockerfile.armhf](https://github.com/openfaas/faas/blob/master/gateway/Dockerfile.armhf)

Here's the live container:

[code]

[2019-09-16 16:50] hnanchahal opened #508 "tTrouble starting up faas-idler pod while configuring OpenFaas on our Kubernetes cluster"
## Expected Behaviour
While configuriang openfaas on my Kubernetes cluster, all the pods should be running but the faas-idler pod remain in CrashLoopBackOff state.

## Current Behaviour
$ kubectl logs faas-idler-5c87fbcbdf-k8wrd  -n openfaas
panic: invalid character 'G' looking for beginning of value
goroutine 1 [running]:
main.main()
    /go/src/github.com/openfaas-incubator/faas-idler/main.go:73

[2019-09-16 16:52] hnanchahal commented on #508
Had some configuration error at my end. Closing the issue.

[2019-09-16 16:52] #508 closed

[2019-09-20 08:38] poussa opened #510 "[Feature Request] Support for Kubernetes 1.16"
Deploying openfaas to latest k8s version 1.16 fails

## Expected Behaviour

Deployment should work.

## Current Behaviour

[code]

## Possible Solution

DaemonSet, Deployment, StatefulSet, and ReplicaSet using k8s APIs apps/v1beta1 have been deprecated.

https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

Update the yaml files to use apps/v1

## Steps to Reproduce (for bugs)

See abov

[2019-09-20 08:45] alexellis commented on #510
/set title: [Feature Request] Support for Kubernetes 1.16

[2019-09-20 08:46] alexellis commented on #510
Thank you for your feature request. We are tracking this release, but would not expect many people to have a hard requirement to adopt this version with it not being available in managed clouds yet.

if you have a hard business requirement to adopt this version immediately then please let us know more below to help triage.

[2019-09-20 08:51] alexellis commented on #510
I should also say that contributions are welcome from end-user companies. If you have a solution in mind that retains backwards compatibility, then please feel free to outline it below.  :+1:

[2019-09-20 09:16] LucasRoesler commented on #510
This should only require us to update the Helm chart Deployment objects, e.g. https://github.com/openfaas/faas-netes/blob/77cd525c7431d708fbea7b4562c604b604bd51fa/chart/openfaas/templates/gateway-dep.yaml#L2

We can then re-render the yaml files.

Per the k8s changelog https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#deprecations-and-removals :

The `apps/v1` API should be av

[2019-09-20 09:35] alexellis opened #511 "[Feature] multiple namespace support"
## Feature: multiple namespace support

The feature is outlined at https://github.com/openfaas/faas-netes/issues/433, which can be used for comments, questions, and suggestions.

The use-case is: multiple namespaces, single installation, i.e. `dev/staging`, `team-a/team-b`, `client-a/client-b`.

## Checklist:

* [x] Allow `.` in paths for faas-provider https://github.com/openfaas/faas-provider/pul

[2019-09-20 09:36] alexellis commented on #433
I've opened https://github.com/openfaas/faas-netes/issues/511 to track the work required and its progress.

[2019-09-20 09:57] poussa commented on #510
I don't have any hard biz requirements and can easily go back in k8s version. Thanks for the quick responses.

[2019-09-20 15:12] wphowto opened #514 "[Feature request] Show Pod status"
Deploying a function with private registry, the deployment succeed, but checking the status it shown 'Not Ready'. If I switch this to dockerhub.com, things work perfectly, with the same source code, only image location differ.

## Expected Behaviour

It should show as "ready state" and works.

## Current Behaviour

It shown "Not ready" for private registry.

## Possible Solution

If deployment fai

[2019-09-20 17:58] alexellis commented on #510
👍

Happy to accept a PR from the community or members/core team. No need to wait for me to get to this.

Alex

[2019-09-20 18:55] rajibmitra commented on #433
Tested this, works fine. @alexellis

[2019-09-20 21:00] carlosedp commented on #510
Updating the manifests isn't the only issue. faas-netes is having trouble getting data from Kubernetes itself:

[code]

[2019-09-20 21:22] carlosedp opened #516 "Error on Kubernetes 1.16 - "could not find the requested resource""
## Expected Behaviour

Being able to deploy functions into OpenFaaS on Kubernetes 1.16.

## Current Behaviour

Even when deployed with fixed manifests from https://github.com/openfaas/faas-netes/pull/515, `faas-netes` logs error:

[code]

## Steps to Reproduce (for bugs)

Deploy OpenFaaS into 1.16 cluster. Check faas-netes / gateway logs.

I'd like to debug this error further to check which resour

[2019-09-20 21:46] #516 closed

[2019-09-20 21:47] alexellis commented on #510
Release available as: https://github.com/openfaas/faas-netes/releases/tag/0.9.0 with the move to apps/v1 via PR #517

[2019-09-20 21:47] alexellis commented on #510
The Helm templates will need to be updated, which generate the `yaml*` files via `make charts`.

[2019-09-20 22:25] #510 closed

[2019-09-20 22:26] alexellis commented on #514
Please see the deployment guide for Kubernetes which covers private registries.

https://docs.openfaas.com/deployment/kubernetes/

[2019-09-21 08:18] alexellis commented on #433
In order to support use-cases like the event-connectors, which must traverse all functions to know which expose a topic, and the UI where users may want to get an overview of what is deployed, or the CLI where users need the same, I would suggest the following:

* Add an endpoint to list namespaces - the UI/CLI would consume this, users still create them manually
* Add a label to openfaas namespac

[2019-09-21 11:43] martindekov commented on #433
I don't mind having a `.` in the URL, not sure what problems this might bring, but from UX standpoint you work with kubernetes, how would you access services across namespaces? With dots so it would be pretty obvious for a Kubernetes guy to understand this. Also I am more keen on this:
`
An alternative is that "list all" becomes the default mode of the /system/functions/ endpoint, which can then b

[2019-09-21 14:30] wphowto commented on #514
Thanks @alexellis. I fail to find this page from google search and I am stuck for a while. Useful info.

[2019-09-21 14:30] #514 closed

[2019-09-21 15:53] alexellis commented on #514
Did it resolve your issue? It's the page for deploying OpenFaaS on Kubernetes, should be everyone's first port of call.

[2019-09-23 13:51] wphowto commented on #514
Yes, It resolved my issue. I didn't manage to dig through the documentation and I rely on google search, it show me this instead.

https://ericstoekl.github.io/faas/operations/managing-images/

[2019-09-24 11:51] alexellis opened #520 "[Feature] Add support for Helm3"
## Feature

Add support for Helm3.

Helm3 removes the need for Tiller, which is considered insecure.

https://v3.helm.sh

## Context

On the members team call Stefan Prodan @stefanprodan volunteered to add Helm3 support to the OpenFaaS chart, some additional changes are required around arrangement of files such as the CRDs.

@LucasRoesler volunteered to test / verify the changes.

[2019-09-25 11:21] jonatasbaldin commented on #520
hey there!

@stefanprodan if you need any help we can pair on this 🎉  I'm also available for testing!

[2019-09-25 11:28] stefanprodan commented on #520
@jonatasbaldin can you please test that the current chart installed with `operator.createCRD=false` works with Helm v3?

PS. See https://helm.workshop.flagger.dev/prerequisites/#helm-v3 on how to install Helm v3 CLI without overriding your v2 setup.

[2019-09-25 19:35] jonatasbaldin commented on #520
hey @stefanprodan

I'm testing using K8S in Docker for Desktop.

## Test 1 (failed):
Installing default OpenFaaS with `operator.create=true` and `operator.createCRD=false`:
[code]

## Test 2 (failed):
Installing default OpenFaaS and upgrading to `operator.create=true` and `operator.createCRD=false`:
[code]

[2019-09-25 19:39] stefanprodan commented on #520
Ok can you try with the operator disable please

[2019-09-25 20:38] jonatasbaldin commented on #520
## Test 3 (operator disabled) (working)
[code]

[2019-09-27 09:58] bmcustodio opened #521 "[Feature] Allow for customizing the security context of the OpenFaaS control-plane."
Following the discussion #509, I think it would be valuable to discuss how we could let users customize the security context of the OpenFaaS control-plane components without forcing any particular configuration on anyone. As far as I can tell, the only way of doing this would be to add a `.securityContexts` Helm value containing fields for every container and pod and possibly defaulting to the "sa

[2019-09-27 12:56] bmcstdio commented on #371
I agree this is an important feature. I would be happy if it could be implemented on a per-function basis. I could probably help where necessary, provided I can find the time for that by the time we arrive at an eventual decision.

One way I see it working is that we could introduce something like a `FunctionSecurityContextPreset` cluster-scoped custom resource definition which cluster operators c

[2019-09-27 13:50] bmcustodio opened #523 "[Feature] Allow for defining 'allowPrivilegeEscalation'."
While people don't arrive at a decision regarding the broader #371, I think it would be good to let users define the value of `allowPrivilegeEscalation` at a global level, in the same way they can use `set_nonroot_user` today. I propose we add an `allow_privilege_escalation` setting that gets propagated to each function's `securityContext`. If this sounds like something we can agree upon, I can go

[2019-09-27 13:51] bmcstdio commented on #523
@alexellis @stefanprodan could you chime in please?

[2019-09-29 19:09] brandonkal opened #528 "Cannot start on k3os"
## Expected Behaviour

The faas-netes deployment should start.

## Current Behaviour

[code]

The gateway is stuck in a loop:
[code]
The issue is likely here:
[code]

## Possible Solution

I'm new to this but it looks like there is something wrong with the gateway faas-netes pod. The helm should specify a kubeconfig according to the log.

Also, it cannot open a file in /tmp. Not sure how to fix th

[2019-09-30 07:05] alexellis commented on #528
Please can you update your chart and try again? Glog was added transitively and glog tried to write to the read-only file system causing a fatal error.

[2019-09-30 07:23] brandonkal commented on #528
Thank you. It is working now.
---
For the person who stumbles on this issue from search,
I followed parts of [this](https://medium.com/@rboulanouar/hands-on-k3os-k3s-cluster-5fe6c3497a1e) guide and ran this specifically:
[code]

[2019-09-30 07:23] #528 closed

[2019-10-01 00:32] #502 closed

[2019-10-01 01:22] jonatasbaldin commented on #507
hey @alexellis, had no past issues with them, I myself found that it could have some more info in the docs

any comments on this? 💃

[2019-10-03 13:35] viveksyngh commented on #511
I will work on updating faas-netes to make secrets API namespace aware and add namespace flag to the secrets command to CLI.

[2019-10-03 13:39] jonatasbaldin commented on #511
hey @viveksyngh, I'm working on the `faas-netes`, `faas-provider` and `faas` for that already 🙈

would u like to focus on the CLI?

for the `GET /system/secrets` I'm gonna pass a `namespace` query parameter and for the other ones (POST, PUT, DELETE) I'll pass a new `namespace` field in the body.

what do u think?

[2019-10-03 13:48] jonatasbaldin commented on #511
I have a POC working locally already, will cleanup and push today :)

[2019-10-03 13:51] viveksyngh commented on #511
I think that should be fine.  Please let me know if you need any help.

I can work on the CLI.

[2019-10-03 18:39] jonatasbaldin commented on #511
Here's the PRs from the Secrets:

- [faas-provider #28](https://github.com/openfaas/faas-provider/pull/28)
- [faas #1334](https://github.com/openfaas/faas/pull/1334)
- [faas-netes #530](https://github.com/openfaas/faas-netes/pull/530)

❤️

[2019-10-19 08:33] alexellis commented on #528
/lock: resolved by user

[2019-10-20 18:43] markus-seidl opened #535 "Error while starting gateway on arm64"
## Expected Behaviour
When I apply the ./yaml-arm64 I expect the cluster to start.

## Current Behaviour
The faas-netes and gateway containers are entering a crash loop.
The faas-netes container produces the following error:
`Failed to start container "fc4d53c2630df4c24e7a9e20efaab45804cfa5781c3d2b1bc5c69a780398e326": Error response from daemon: OCI runtime create failed: container_linux.go:346: s

[2019-10-21 08:43] alexellis commented on #535
I believe this was fixed in:

[code]

Please use the latest version of the YAML files which

[2019-10-21 09:08] alexellis commented on #535
Please update your repo and try again. Thanks

[2019-10-21 17:46] markus-seidl commented on #535
Thank you very much for you fast response. It works flawlessly!

[2019-10-28 15:46] floriankoch opened #539 "Technical support for Pod Security Policys"
Openfaas does not work when pod security policys are in place

## Expected Behaviour
Openfaas works with Pod Security Policys

## Current Behaviour
Pods are in a Error state
kubectl -n openfaas get po
NAME                                 READY   STATUS                       RESTARTS   AGE
alertmanager-f5655f68c-97tv8         0/1     CreateContainerConfigError   0          13m
basic-auth-plugin-859

[2019-10-31 18:36] alexellis commented on #539
As far as I'm aware this is something that works and was added by @stefanprodan
please can you use the "steps to reproduce the problem section" to give us concrete steps that we can take to reproduce the problem you're facing.

[2019-10-31 18:42] stefanprodan commented on #539
I don't think @floriankoch is using the Helm chart, in our PSP there is no user enforcement https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/psp.yaml

[2019-10-31 18:43] alexellis commented on #539
That might be the case. Full instructions to reproduce the problem will show us that, hopefully.

[2019-10-31 18:50] floriankoch commented on #539
@stefanprodan  i use the helm chart (with helm template), i recheck why the psp is not correctly used

But anyway when the containers does not need root, why  not useng ids and restrict the psp more?

[2019-10-31 19:07] stefanprodan commented on #539
I think you missed interpret the error message, there is no need to change any of Dockerfiles. We do set the user id with https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/gateway-dep.yaml#L46

But we only do this only for the gateway, I don't see the gateway in your error log, does the gateway works for you with the `runAsNonRoot` PSP?

[2019-10-31 19:26] floriankoch commented on #539
@stefanprodan  ok i tested this with a fresh cluster, ran into the same  issue

My Clusters come with psp policys preinstalled (from our vendor), and it seems that the pre installed psp is used instead of the openfaas psp

[code]
I think the reason is the binding

`roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: restricted-psp-user
subjects:
- apiGroup: rbac.authorizatio

[2019-10-31 23:23] stefanprodan commented on #539
@floriankoch what about the gateway? does it have the same problem as queue-worker?

[2019-11-01 13:08] floriankoch commented on #539
@stefanprodan   the gateway has this error
  Warning  FailedCreate  13m (x82 over 17h)  replicaset-controller  Error creating: pods "gateway-55b7d8848f-" is forbidden: unable to validate against any pod security policy: [spec.volumes[0]: Invalid value: "emptyDir": emptyDir volumes are not allowed to be used]

But this all happens because the wrng psp is used

[2019-11-06 13:53] LucasRoesler opened #541 "Function names are not isolated by namespaces"
While testing the multi-namespace support, I found that function names must be globally unique.

For example, after deploying openfaas to a cluster with the namespaces `openfaas`, `openfaas-fn`, and `beta`, these commands will result in exactly one function deployment in the default namespace `openfaas-fn`

[code]

## Expected Behaviour

Names should be isolated by namespaces and I should be able

[2019-11-06 16:01] LucasRoesler commented on #541
A little more information, when I directly POST those payloads to the gateway, the deployments work as expected.  I did notice that the CLI is actually using PUT, which has a replace behavior.  Perhaps there is an issue with the CLI then?

[2019-11-08 11:03] #541 closed

[2019-11-08 11:05] alexellis commented on #541
https://github.com/openfaas/faas-netes/releases/tag/0.9.10

[2019-11-08 12:19] LucasRoesler commented on #541
I just confirmed that this now works exactly as expected  👍 🥇

[2019-11-10 08:07] sfxworks commented on #504
Hi,

I am experiencing the same issue except with the default namespaces. It appears the `--set istio.mtls=true` option doesn't work at all.

[code]

Example from idler:

[code]

Version:
[code]

[2019-11-10 08:18] alexellis commented on #504
So the only problem is the idler and everything else works fine?

[2019-11-10 08:18] #504 closed

[2019-11-10 08:19] alexellis commented on #504
We are going to need you to raise your own separate issue. @stefanprodan maintains the Istio support.

[2019-11-10 08:19] alexellis commented on #504
Give detailed instructions on how to reproduce the issue including any commands you use to install Istio.

[2019-11-10 08:20] alexellis commented on #504
/lock

[2019-11-10 09:31] sfxworks opened #545 "CrashLoopBackoff with Istio and mTLS enabled"
Possibly relates to https://github.com/openfaas/faas-netes/issues/504

With the latest versions and fresh install of istio, faas and k8s, I cannot get openfaas to work with the `--set istio.mtls=true` tag.

## Expected Behaviour
[code]
Yields a working deployment

## Current Behaviour
It does not.

[code]

**AlertManager/Basic-Auth/prometheus**: Readyness Probe failure/sigterm
[code]

Example from

[2019-11-10 09:45] sfxworks commented on #545
A quick test on that yielded success:
Adding the annotation `sidecar.istio.io/rewriteAppHTTPProbers: "true"` yeilded success.
[code]

https://istio.io/docs/reference/config/installation-options/#sidecarinjectorwebhook-options
It may be worth noting that this is an option for istio's helm installation for others too. I didn't enable it by default as I was unsure how flux would handle it at first/ho

[2019-11-10 10:19] stefanprodan commented on #545
Please see the chart readme for installing OF with Istio mTLS https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md#istio-mtls

[2019-11-10 10:22] sfxworks commented on #545
Ah sorry about that
I didn't see the reference to disable healthChecks

[2019-11-10 10:26] #545 closed

[2019-11-10 10:56] stefanprodan commented on #545
The health checks are not disabled but switched from http mode to exec. Using the annotations would make the probes use less CPU but would make Pilot a major single point of failure since for each check would do a roundtrip kubelet -> pilot -> pod.

[2019-11-10 11:46] alexellis commented on #545
Thank you @stefanprodan for a very prompt response.

@sfxworks would you be interested in contributing an Istio installer command to k3sup? https://github.com/alexellis/k3sup

It uses tillerless-helm and perhaps it could be used for a short tutorial on OpenFaaS and Istio.https://docs.openfaas.com/deployment/kubernetes/#a-deploy-with-k3sup-fastest-option

[2019-11-11 08:40] paurosello commented on #539
The error can be replicated if a restrictive policy is enabled by default and the release name for the helm installation is not "openfaas" as the reference in the ClusterRole is hardcoded

https://github.com/openfaas/faas-netes/blob/13399f96cd99d60ef24043ee4d928f92c4e96c2e/chart/openfaas/templates/psp.yaml#L52

[2019-11-11 09:50] Tails opened #547 "Question: can pre-existing services (NATS, Prometheus, etc) be used?"
I would like to use NATS for my own app as well. Is it possible to configure OpenFaas to use the existing infrastructure to prevent duplication (and cost) of extra services? Or the other way around, where my app hooks into the OpenFaas NATS service?

Would this require customizing the faas-netes charts?

Or is this simply a matter of customizing the Kubernetes namespace for the service-layer to us

[2019-11-12 10:28] Waterdrips opened #548 "Allow taililing of a numer of log lines without specifying a time period"
It would be good to be able to tail a certain number of lines without specifying a "since" argument, currently you need to specify since, or it defaults to 5 minutes and you might not get the numer of lines you requested.

## Expected Behaviour

--tail does not need a --since time that returns enough lines to tail.

## Current Behaviour

Tailing a number of lines depends on that number of lines re

[2019-11-12 10:28] Waterdrips commented on #548
/ assign: me

[2019-11-12 10:31] alexellis commented on #548
/assign: Waterdrips

[2019-11-13 13:59] alexellis commented on #523
This is something you want to enable or disable? What's the use case that you have for it given that you're the first person to ask for it so far.

[2019-11-13 14:34] stefanprodan commented on #520
I propose to postpone this until Helm v3 stable is released, when we will know for sure what do to with the CRDs.

[2019-11-13 15:13] stefanprodan commented on #520
So Helm v3 is out as of today https://github.com/helm/helm/releases/tag/v3.0.0

[2019-11-13 17:35] bmcstdio commented on #311
I would definitely second this use case. This decision and the fact that

are IMHO very unfortunate 😞

[2019-11-13 18:01] alexellis commented on #520
😄 that was fast. OK, so if anyone would like to continue the testing, that would be much appreciated. Looking forward to us being able to offer openfaas to Helm3 users.

[2019-11-13 18:10] rberrelleza commented on #520
I was able to deploy it on my cluster with helm3 rc3. @alexellis what scenarios are missing to test?

[2019-11-13 18:13] sfxworks commented on #545
@alexellis I may for another cluster. Unfortunentallly, I am working with an openstack + CPO at this time so I may need more than what k3s provides. I will see about doing a PR for this project though as I like the idea! I have been looking for a tool where I can just run a command and orchestrate setup along with init and join.

[2019-11-13 20:27] alexellis commented on #520
There's some history in the chat. What about the CRD?

[2019-11-13 20:29] alexellis commented on #520
The main release is out now too if you wanted to try that out? @stefanprodan might be more familiar with potential problems.

[At the moment OpenFaaS is being installed with k3sup](https://docs.openfaas.com/deployment/kubernetes/#a-deploy-with-k3sup-fastest-option) which does a `helm template` before applying the YAML, might be good to offer a `--helm=3` flag to k3sup -> https://github.com/alexell

[2019-11-13 20:36] stefanprodan commented on #520
Test it with the operator and CRD on:

[code]

[2019-11-14 05:50] rberrelleza commented on #520
LGTM 👌
[code]

[2019-11-17 21:10] Tails commented on #547
Related: https://github.com/openfaas/faas-netes/issues/398

[2019-11-19 23:14] Vad1mo opened #551 "[Feature request] Add helmfile"
We are operating a three OF test environments and would like to set up more for productive workloads. This means we need to make OF ready for day 2 operations and making OF easy usable for less experienced OPs people. With the current setup we see some difficulties as not everything is in the helm chart. Some steps are bypassing helm requiring to script a lot for CI/CD to cover some edge cases.

I

[2019-11-20 01:49] alexellis commented on #551
Hi @Vad1mo thanks for raising the PR

Please can you outline what problem is being solved here and how it affects your usage of OpenFaaS?

Have you looked at the documentation for installing OpenFaaS via helm that can be done via `k3sup`? https://docs.openfaas.com/deployment/kubernetes/#a-deploy-with-k3sup-fastest-option

[2019-11-20 07:46] Vad1mo commented on #551
Thank you @alexellis,  I updated the issue with describing our current problem.
K3s isn't an option for us, as we now want to move beyond home-lab test setup. We have different IaC setups with AWS CDK & TF and different already operational k8s cluster.

[2019-11-23 07:01] rajatjindal commented on #548
Hey Alex/Alistair

I am trying my hands on fixing this today. I've few questions:

- currently logs function accepts param 'since' in RFC3339 format. do you think it will be ok to add another parameter sinceDuration which can be a duration like 15m, 1h?
- the function [GetLogs](https://github.com/openfaas/faas-netes/blob/master/k8s/logs.go#L56) , it has all required options as function parameters.

[2019-11-23 09:55] rajatjindal commented on #548
opened PR with just the change to allow tail and since to be used exclusively https://github.com/openfaas/faas-netes/pull/554

[2019-11-23 13:32] Waterdrips commented on #548
/assign: rajatjindal

[2019-11-24 12:17] rajatjindal commented on #548
/close

[2019-11-24 13:05] alexellis commented on #548
We should be using the closes keyboard in the PRs, that automatically closes them. Cc @rgee0

Rajat FYI you can't use Derek at the moment - the access list is controlled through the main repo in the .DEREK.yml file. If you think that you will be helping us out over the next few months at least then feel free to add yourself.

[2019-11-24 13:05] #548 closed

[2019-11-24 20:11] rgee0 commented on #548
I was almost certain use of closure keywords was in the `contributing.md` file.  Cant see it now.

[2019-12-03 09:07] Vad1mo commented on #551
@alexellis

If a user currently tries ot install OpenFaas he needs to execute kubectl + helm commands.
I can make the installation completely with Helm only. The result is that it becomes easier to operate and built into IaC workflow.

[2019-12-03 12:20] lakhansamani opened #557 "Allow setting key:value pair in secrets api"
Currently `/system/secrets` API only accepts `name`, `value` in the request body. It would be great if we can support `key: value` pairs. This will help in creating secrets with multiple data values. Also adding `type` param would be really helpful while creating secrets via API.

This will be helpful while deploying private images for functions with secret values. https://kubernetes.io/docs/tasks

[2019-12-03 12:45] alexellis commented on #557
Thanks for your interest.

I would not recommend using the OpenFaaS API to create this secret, you'd be better off creating it at installation and deployment time of OpenFaaS, this is what we recommend in the documentation.

Please follow these instructions and create the secret, then attach it to the ServiceAccount for the namespace: https://docs.openfaas.com/deployment/kubernetes/#use-a-private-

[2019-12-03 12:45] #557 closed

[2019-12-03 13:08] lakhansamani opened #558 "registryAuth param not working for private docker images"
Deploying private docker image, using `/system/functions`  API and `registryAuth` does not work.
here is the sample request body

[code]

## Expected Behaviour
This should deploy function in a similar way, it can deploy with `imagePullSecrets` option in YAML file. As the registryAuth value is the same as what secret data contains.

## Current Behaviour
It does not deploy function with private imag

[2019-12-03 22:32] #558 closed

[2019-12-03 22:34] alexellis commented on #558
`resitryAuth` is a typo.

Please try using the faas-cli with the -a flag for faas-cli deploy. This is a well tested workflow and I'm unaware of any regression.

Please can you also not delete details from the issue template such as the version and orchestration? This is key information, I'm assuming you're a swarm user given that you're trying to use this approach.

If you're a Kubernetes user the

[2019-12-04 03:33] lakhansamani commented on #558
Thank you @alexellis for quick response.

I am using kubernetes with helm chart for deployment

[2019-12-04 03:43] lakhansamani commented on #558
Thank you @alexellis for the quick response.

Thanks for pointing out the typo, but actually I have tried with `registryAuth` and confirmed that once again. But still, that doesn't work.

Also, I have deployed using the helm chart on k8s orchestration.

[2019-12-04 03:46] lakhansamani commented on #557
Thank you @alexellis for the quick response

[2019-12-10 12:26] #398 closed

[2019-12-10 12:26] alexellis commented on #398
Closing as inactive.

[2019-12-10 12:26] alexellis commented on #547
Hi, thanks for your interest in the project. We don't use GitHub for technical support, please join Slack and ask there.

[2019-12-10 12:26] #547 closed

[2019-12-10 12:27] alexellis commented on #547
/msg: slack

[2019-12-10 12:27] alexellis commented on #539
@paurosello is this fixed now? Can we close the issue?

[2019-12-10 12:28] alexellis commented on #520
This appears to work well with `k3sup app install openfaas --helm3`, I'll close the issue. If people find issues, feel free to comment here.

[2019-12-10 12:28] #520 closed

[2019-12-10 12:28] #498 closed

[2019-12-10 12:58] paurosello commented on #539
Yeah, I close it :)

[2019-12-10 12:58] floriankoch commented on #539
@alexellis   yes its fixed

[2019-12-10 13:02] #539 closed

[2019-12-10 13:02] alexellis commented on #539
Thank you. I'll close this now

[2019-12-10 18:05] brandonkal opened #564 "Update Travis badge to link to .com"
Replace .org with .com

[2019-12-10 18:15] alexellis commented on #564
Approved, feel free to send a PR

[2019-12-10 19:40] utsavanand2 commented on #564
PR #565 resolves this. Thank you so much!

[2019-12-10 19:43] utsavanand2 commented on #564
Derek close

[2019-12-10 19:43] #564 closed

[2019-12-11 14:27] lakhansamani opened #566 "registryAuth param not working for private dockerhub images"
Created this similar issue week back but still seeing this error
https://github.com/openfaas/faas-netes/issues/558

Have added more context and sandbox link in this issue

---
Deploying private docker image, using `/system/functions`  API and `registryAuth` does not work.
here is the sample request body

[code]

## Expected Behaviour
This should deploy function in a similar way, it can deploy with

[2019-12-12 20:09] LucasRoesler commented on #566
@lakhansamani unfortunately that value is specific to docker swarm. Kuberenetes does not support setting the registry auth this way. You must create k8s secrets before you deploy functions, and then, you can reference that secret in the secrets field. OpenFaaS will recognize that is an image pull secret and use it accordingly. This is the only way to specify the registry auth in k8s due to how k8s

[2019-12-12 20:09] alexellis commented on #566
/close

[2019-12-12 20:09] #566 closed

[2019-12-12 20:10] alexellis commented on #566
/set title: Question about Kubernetes and private registries

[2019-12-15 10:50] martindekov opened #567 "Namespaces handler status code"
The namespaces handler returns `202` instead of `200` on request as per:
https://github.com/openfaas/faas-netes/blob/63fb7f04c57503c60fcf3c73e2788c7159d2280e/handlers/namespaces.go#L29

## Expected Behaviour

Return `200` on request as the other handlers.
## Current Behaviour

Returns `202`
## Possible Solution

Change status code
## Steps to Reproduce (for bugs)

1. Call the endpoint with `curl`

[2019-12-15 11:36] alexellis commented on #567
You're absolutely right. Please do update to 200 - OK.

[2019-12-15 12:59] #567 closed

[2019-12-16 06:37] lakhansamani commented on #566
@LucasRoesler @alexellis thank you for clearing it out. 👍

[2019-12-16 12:19] alexellis commented on #551
/set title: [Feature request] Add helmfile

[2019-12-16 12:19] alexellis commented on #551
/add label: wontfix

[2019-12-16 12:19] #551 closed

[2019-12-16 12:19] alexellis commented on #551
Hi @Vad1mo we're not looking to switch to a helmfile at this time, but will keep the issue around for future comments / discussion.

Thank you again for your interest.

[2019-12-16 12:24] Vad1mo commented on #551
@alexellis the title is misleading (someone changed it). My proposal here isn't about Helmfile.
I want to put more of the k8s deployment objects into Helm, for easier maintenance and automation.

[2019-12-16 12:32] alexellis commented on #551
We have the objects automated away with k3sup, perhaps there's a feature / extension that you'd be able to contribute or suggest there?

The workflow is very simple and uses a single command along with helm2 or helm3.

The PR you sent was to introduce a helmfile, so I updated the title to represent that.

[2019-12-25 21:55] alexellis opened #571 "Bump image version for gateway"
The gateway version is now 0.18.8, this an be updated in chart/openfaas/values*.yml/yaml, Chart.yaml will also need a patch version bump. armhf and arm64 images should be up by the time someone gets here. It'd be worth checking the other images built from OpenFaaS too.

Don't run `make charts`.

[2020-01-04 21:42] rberrelleza opened #575 "Don't create Service Accounts if .Values.RBAC set to false"
Update the chart so Service Accounts are not craated  if `.Values.RBAC` is set to `false`

## Expected Behaviour
When I'm setting `RBAC` to `false`, my expectation is that I'm not going to be using RBAC and all the resources created will be using the default namespace account. In my experience, this is how other charts (e.g. NGINX and Cert-Manager) behave.

This makes it easier to use the chart is

[2020-01-05 12:37] alexellis commented on #575
Is there ever a reason to set `RBAC=false`? I think we added it as a flag around K8s 1.6

[2020-01-05 22:22] rberrelleza commented on #575
In our case, the SA of the namespace is already pre-configured with a restricted of permissions so we want to use that one instead of creating new ones.

[2020-01-06 23:25] mkoeper opened #576 "Reflect helm 3 syntax in documentation chart/openfaas/README.md"
## Expected Behaviour

Instructions for deployment with "helm template" should reflect new syntax as of helm version 3

## Current Behaviour

Instructions for deployment with "helm template" fail for helm version 3.0.2

## Possible Solution
Created pull request.

## Steps to Reproduce (for bugs)
c.f. pull request "Generating openfaas.yaml with helm 3"

## Context

## Your Environment

* FaaS-CLI v

[2020-01-07 07:15] aphsa opened #578 "Unable to complete installation in Openshift 4.2"
After following instructions from https://docs.openfaas.com/deployment/openshift/
The gateway pod/replica set is failing to come up.

## Expected Behaviour

Gateway pod should be up.

## Current Behaviour

oc describe replicaset.apps/gateway-6b58f44c4c

Conditions:
  Type             Status  Reason
  ----             ------  ------
  ReplicaFailure   True    FailedCreate
Events:
  Type     Reason

[2020-01-07 07:28] aphsa commented on #578
Had to download and modify https://raw.githubusercontent.com/openfaas/faas-netes/master/yaml/gateway-dep.yml the runasuser to a higher number

[2020-01-07 07:28] #578 closed

[2020-01-07 20:10] dmcmorris opened #580 "kafka-connector - add `asynchronous_invocation` to helm chart/template"
Related to https://github.com/openfaas-incubator/kafka-connector/issues/58

There is an undocumented environment variable `asynchronous_invocation` for the [kafka-connector](https://github.com/openfaas-incubator/kafka-connector) that allows you to enable triggering async endpoints in the gateway.  This needs to be exposed through the helm chart to be usable for helm managed deployments

[2020-01-07 20:13] alexellis commented on #580
Sounds good to me, feel free to document and raise a PR for it. Thanks for your interest @dmcmorris

[2020-01-21 11:49] alexellis opened #585 "Migrate to Go modules and Kubernetes Go client 1.17"
## Description

Migrate to Go modules and Kubernetes Go client 1.17

## Context

The [Operator](https://github.com/openfaas-incubator/openfaas-operator) was updated by @stefanprodan and we need to keep faas-netes in-sync so that we can consolidate both projects in the imminent future.

Kubernetes has proper support for go modules as of the 1.17 release and Stefan confirmed compatibility back to ve

[2020-01-21 11:58] alexellis commented on #585
Whilst the dependencies may be slightly different, there should also be some overlap: https://github.com/openfaas-incubator/openfaas-operator/blob/master/go.mod

[2020-01-24 21:44] DoctusHartwald commented on #200
how did you resolve it ?

[2020-01-24 21:47] alexellis commented on #200
/lock

[2020-01-24 21:47] alexellis commented on #200
Feel free to open your own issue or to use Slack for technical support requests.

[2020-01-25 19:09] alexellis opened #586 "[Feature] Profile support for taints, tolerations, anti/affinity and hardware"
## Description

Add a profiles feature to give support for named sets of configuration for types of nodes or compute. Each profile will support for taints, tolerations, anti/affinity and hardware

## Use-case

* A common request is to add a toleration so that functions can be scheduled on spot instances, but we have so far been reluctant to leak that kind of complicated notation into the stack.yml

[2020-01-27 10:29] kmjones1979 opened #587 "Raspberry Pi custom cluster support request"
Never has worked, this is a new setup. Following your guide, previously had flannel and moved to weave, not sure if that caused any issues.

## Expected Behaviour

## Current Behaviour

Getting CrashLoopBackOff occasionally and logs say cannot connect to Nats

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

pi@raspberrypi:~ $ kubectl logs queue-worker-86b68b85c4-7ftxb -n openfa

[2020-01-27 10:38] alexellis commented on #587
/set title: Raspberry Pi custom cluster support request

[2020-01-27 10:40] alexellis commented on #587
Hi, I recommend using k3sup, it's bullet-proof and works every time. I can't support kubeadm clusters on Raspberry Pi at this time.

Try it and report back, you'll be pleasantly surprised.

Complete instructions are here https://blog.alexellis.io/raspberry-pi-homelab-with-k3sup/

[2020-01-27 10:40] #587 closed

[2020-01-27 12:14] kmjones1979 commented on #587
Ok thanks. Two questions, should I just kubeadm reset and then run k3sup? Second question, what exactly does the —load-balancer flag do?

[2020-01-28 21:56] brynnonpicard commented on #474
@LucasRoesler is there any chance this might be implemented soon? I have a use-case for it.

[2020-01-30 08:13] LucasRoesler commented on #474
@brynnonpicard sorry for the delay, obviously other things came up and i forgot to come back to this.

It should hopefully be a small change to the helm chart, if you are working on it, please feel free to submit it and I can help review and test.  Otherwise, it will probably work on it this weekend

[2020-01-30 21:09] #474 closed

[2020-01-31 10:14] Templum opened #589 "Scaling from 0 sometimes can yield 502 due to race condition between K8S Pod & K8S SVC"
Under some circumstances, there is a race condition between the Function Pod being marked as healthy and up vs Function Pod being registered as Endpoint in the SVC Object.

## Expected Behaviour
As a user, I expect OpenFaaS does only attempts to call my function when it is healthy + up and also is registered as Endpoint in the SVC object.

## Current Behaviour
Under some circumstances, there is ra

[2020-01-31 10:26] Templum commented on #589
By the way not so sure where to place this. As the handling is done in the Gateway. However, the data used is exposed here.

[2020-01-31 13:18] nickadams675 opened #590 "FaaS Idler in crashloop backoff"
All pods are up and running except for the FaaS idler.

## Expected Behaviour
All pods should be in a running state

## Current Behaviour
openfaas      alertmanager-7c669d9c85-mqmtp       1/1     Running            0          17m
openfaas      basic-auth-plugin-f7c47768c-plrxs   1/1     Running            0          17m
openfaas      faas-idler-55c94ccb8b-brhh5         0/1     CrashLoopBackOff   4

[2020-01-31 13:41] nickadams675 commented on #590
Closing, required modifying yaml files

[2020-01-31 13:41] #590 closed

[2020-02-04 11:37] #585 closed

[2020-02-04 16:55] martindekov commented on #586
Feel like this is interesting plus I haven't touched the backend of the project. Can I look into this if no one started working on it ?

[2020-02-04 17:01] alexellis commented on #586
Feel free to explore it and report back findings.

[2020-02-04 17:02] alexellis commented on #586
Maybe you can start with a hardcoded patch as an example of how we can enable the easiest usecase.

[2020-02-05 17:27] LucasRoesler commented on #586
This reminds me of how PVC and Volumes work with storage classes in k8s https://kubernetes.io/docs/concepts/storage/storage-classes/. This could be a nice parallel to this idea

[2020-02-05 18:28] alexellis commented on #586
Thanks for the comment, can you give a quick example @LucasRoesler ?

[2020-02-05 21:08] LucasRoesler commented on #586
From the intro to storage classes

The last sentience is very _suggestive_.

In practice, it looks like this:

if your app needs 100Gi of disk space in the cluster, you can create a PVC like this

[code]

Where the cluster admin has predefined what type of storage  is used for `gold` volumes. A very common reason to have different storage classes is to determine the type of hard disk used, for exa

[2020-02-07 21:20] davidberglund commented on #586
If it's of any help for you I wanted to add that Rancher provisioned Windows clusters taints Linux nodes as a way to direct all workloads to win hosts. They currently provide no option to remove those taints so OpenFaaS won't work without adding tolerations to all deploys. Rancher does require at least one Linux worker in all win clusters and given the huge focus on Linux in the ecosystem and comm

[2020-02-08 15:23] martindekov commented on #586
Essentially for POC I suppose:
1. Label a node like here so a pod can be deployed on it explicitly (example `asd`):
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
2. Put static constant variable `asd` in faas-netes
3. Apply annotation `com.openfaas.profile: asd` in the function's yaml file
4. Deploy function and faas-netes will transform the annotation as label to the deploynme

[2020-02-13 13:19] Templum commented on #589
For our project to move forward, we implemented a workaround. Where we actually prior to performing the call to OpenFaaS. We do the necessary checks ourselves.

1. We start of by checking the scale of the deployment, to see if it is scaled to 0
2. Then we perform the scaling
3. Then we wait/watch until the endpoints array of the svc object features an entry

However, it seems that there were still

[2020-02-17 22:50] rgl opened #593 "Make it more clear how to install using helm in raspberry pi"
The instructions at https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/README.md are not very clear on how to install under raspberry pi and helm.

This is what I ended up using:

[code]

Is this OK?

This ends up being a bit odd having to specify two versions, the git repository version and the helm chart version.

[2020-02-18 08:07] #593 closed

[2020-02-18 08:07] alexellis commented on #593
Hi @rgl,

Please can you use the documentation to install OpenFaaS? We provide full tooling via k3sup here:

https://docs.openfaas.com/deployment/kubernetes/

Alex

[2020-02-18 17:23] rgl commented on #593
I did see it, but since I first want to see the "raw" experience to better appreciate the tools that try to hide all the complexity, I wanted to start with raw helm.

Thanks for the highlight patch, it makes things more clear to me!

[2020-02-21 17:57] xueli-daisy commented on #275
How can I check the openfaas container grace period? Is it in the document?

[2020-03-12 09:16] alexellis commented on #589
@Templum I'm confused because what you've described is exactly 1:1 (if I remember correctly) what we are doing in the openfaas gateway and in faas-netes, what is the difference here other than the arbitrary timing delay?

[2020-03-12 09:22] Templum commented on #589
@alexellis you are mostly correct here, with the exception that in the gateway it only waits for the pod being marked as ready.  However, the endpoint assigning might be done later (not sure if being marked as ready is only happening after assigning the pod to the service endpoints).

But yes the only difference Is this arbitrary delay. Very weird issues which must be related to the overall load o

[2020-03-12 09:24] alexellis commented on #589
So basically, you could add a delay to the gateway and remove your custom solution? Waiting for Service/Pod readiness I thought was also the same as waiting for a live endpoint, as far as I can remember. We could always update the code there?

Have you tried the endpoint load balancing feature that we added? It checks readiness by looking for a live endpoint.

https://github.com/openfaas/faas-nete

[2020-03-12 09:44] Templum commented on #589
We did not try out the feature, but it would be also a trade-off between regular latency vs improvements in regards to spreading the load. Nevertheless, as described above in this specific situation also looking for the live endpoint did (sadly) not yield any benefit/solved the issue.

Further, it might be true that adding a generic delay would allow us to remove the custom solution, but on the ot

[2020-03-12 10:31] viveksyngh commented on #580
Derek assign: me

[2020-03-14 10:22] #213 closed

[2020-03-18 15:43] tlemarchand opened #596 "Support request for Linkerd2"
Unless I'm mistaken, it's not possible to provide necessary annotations for Linkerd2 in OpenFaaS Helm chart. This leads to the use of manual commands to add theses annotations, as described [here](https://github.com/openfaas-incubator/openfaas-linkerd2#step-4-add-linkerd-2-to-openfaas) . This is bad for any GitOps flow.
It may also leads to problems when upgrading OpenFaaS with Helm.

## Expected

[2020-03-19 11:52] alexellis commented on #596
Hi @tlemarchand thanks for your interest in OpenFaaS. Which specific annotation are you asking for?

Could you tell us what you're using OpenFaaS for and what company this is for?

[2020-03-19 13:28] tlemarchand commented on #596
Hi @alexellis , thank you for your quick answer !

To my knowledge, two annotations would be needed :

- "linkerd.io/inject: enabled" on :
   - deploy/gateway
   - deploy/basic-auth-plugin
   - deploy/faas-idler
   - deploy/queue-worker
- "config.linkerd.io/skip-outbound-ports: 4222" on :
   - deploy/gateway
   - deploy/queue-worker

It's for AXA France, currently a POC project.
I think it would e

[2020-03-19 13:29] alexellis commented on #596
What are your thoughts on setting this on your namespace instead? It may not help with NATS, but should with the rest?

[2020-03-19 13:36] tlemarchand commented on #596
It will probably work, I did not test it.
However it will be injected on all resources of the openfaas namespace, including resources not existing yet, which may lead to problems in the future ?
I would feel safer to add it only on resources needing it, but if you don't think it can be a problem, then why not !

[2020-03-19 20:44] justinfx commented on #433
This sounds like a fantastic feature. I see the latest updates to the related feature ticket 511 were in December. Any update on the status of this feature?

[2020-03-19 20:46] #433 closed

[2020-03-19 20:47] alexellis commented on #433
This issue shouldn't be open any more because it has been released. Regarding the update, that's not strictly correct. Checkout the documentation if you'd like to know more https://docs.openfaas.com

[2020-03-19 20:47] alexellis commented on #433
/lock: completed

[2020-03-20 00:37] cpretzer commented on #596
@tlemarchand having worked with OpenFaaS and Linkerd a bit, I think it's safe to annotate the entire namespace.

Linkerd has [automatic protocol detection](https://linkerd.io/2/features/protocol-detection/), so if there are future components which have a protocol that Linkerd doesn't support, then it will not proxy those requests.

This sounds like a great PR, so please let us know how your tests

[2020-03-20 08:19] stefanprodan commented on #596
We could add the annotations to the [namespaces.yml](https://github.com/openfaas/faas-netes/blob/master/namespaces.yml) the same way we did for Istio.

[2020-03-20 16:27] shyamammu123 opened #598 "Openfaas function access to S3 via ServiceAccounts and IAM"
We're trying to grant a specific function access to S3 via ServiceAccounts and IAM.
However according to this bug https://github.com/kubernetes-sigs/external-dns/pull/1185 we need to either let the function run as root (not an option) or add  to the security context of the function as a workaround.  Such as :
securityContext:
        fsGroup: 65534

We didn't find a way to do this with openfaas ye

[2020-03-20 16:32] alexellis commented on #598
@shyamammu123 thanks for raising the issue, please fill out the whole template including the steps to reproduce, and give granular steps i.e. assume no prior knowledge of your company and how you configure AWS.

Could you also give details about the custom patch @LucasRoesler created for you and what happened when you tried that?

Thanks, have a good weekend.

[2020-03-20 17:28] alexellis commented on #586
@davidberglund we are not questioning the usefulness, there is feature defined and it's on the roadmap.

If any companies or teams would like to see this feature accelerated, like always, they are welcome to take up a support arrangement, or to contribute it themselves.

[2020-03-20 17:31] tlemarchand commented on #596
I did just that, but I had to add another annotation for inbound port, since the NATS pods are also injected.
It works very well now.

[code]

So, we may not need a change in the helm chart after all, just a small change in namespaces.yaml and a change in the [documentation](https://github.com/openfaas-incubator/openfaas-linkerd2#step-4-add-linkerd-2-to-openfaas).

[2020-03-20 21:29] DrkDigglr commented on #586
I work for a cyber security MSSP called Redscan Cyber Security. Do you guys happen to have an ETA of some sort on this feature?

I've been developing a platform using openfaas for some time now, and have had a requirement for segregation of workloads onto dedicated nodes. As part of this I'd like to use taints and tolerations as opposed to the nodeSelector method currently supported. The benefit b

[2020-03-21 10:49] LucasRoesler commented on #598
@alexellis i have update my commit so that it now references this issue

The test image is available at `docker pull theaxer/faas-netes:fsgroup-poc`

[2020-03-23 10:43] alexellis opened #599 "Proposal: Disable EnableServiceLinks environment variables for functions"
Proposal to disable EnableServiceLinks environment variables for functions

## Expected Behaviour

Functions should not be able to discover other functions and services in the same namespace.

## Current Behaviour

Kubernetes injects environment variables to each Pod with the IP and port of ever other service in the cluster's namespace and for the Kubernetes API Server.

See here for more: https:/

[2020-03-23 10:48] andeplane commented on #599
We at Cognite would benefit from this change because we have multiple customers deploying functions and we'd like to avoid to leak information about other functions through DNS or environment variables.

[2020-03-27 15:09] jeffreymlewis opened #601 "Allow custom annotations on the 'gateway' deployment"
Allow setting custom annotations on the `gateway` deployment created by the helm chart.

## Expected Behaviour
Specifying the following in `values.yaml` would set custom annotations on the 'gateway' deployment.
[code]

## Current Behaviour
There's currently no way to set custom annotations on the gateway deployment.

## Possible Solution
The Ingress object allows setting custom annotations. We cou

[2020-03-27 15:12] jlewis42lines commented on #601
This is a fairly simple change, and I'm happy to submit a PR if that's desired. Or if someone is already working on it, I'm happy to test!

[2020-03-31 15:49] jeremy271828 commented on #598
The custom patch @LucasRoesler created does work to address the issue. The securityContext with the fsGroup allowed a non root user to access IAM credentials from within the functions created by faas-netes in an EKS cluster

Will this be merged to master?
Thanks!

[2020-03-31 15:55] shyamammu123 commented on #598
@alexellis I have updated the issue with steps to reproduce and the environment details. Let me know if that information suffices?

[2020-03-31 16:01] jeremy271828 commented on #598
Will this also be added to openfaas-operator?

[2020-03-31 16:32] LucasRoesler commented on #598
@jeremy271828 last time we talked on slack i thought it had no effect, are you sure it worked?

[2020-03-31 17:35] LucasRoesler commented on #598
if this is definitely working, then we need to decide if this can just always be set every time we set a NonRoot user or if it needs to be configurable.  It isn't clear to me we need to add another flag, it seems harmless to always set it, but i am no expert on linux permissions etc.

Does this work for windows containers too?

[2020-03-31 17:45] jeremy271828 commented on #598
Not sure about windows containers, but with the new patched images a pod describe shows:
`  securityContext:
    fsGroup: 12000`
And the non root user is able to access the IAM token file and access S3 buckets from the function.

It might be nice to be able to add user configuration settings to function deployments, but not a requirement, as long as the setting is there for non root users it works

[2020-03-31 17:48] LucasRoesler commented on #598
My concern is more about the unintended consequences of setting this value, is it possible to break some existing functions  that expect this value to be different

[2020-03-31 17:51] jeremy271828 commented on #598
Right... it is safer to make it configurable.

[2020-04-04 17:39] alexellis commented on #598
Just to check with you @jeremy271828 this would probably come into faas-netes first, then the operator at some point in the future. What's the reason for you deciding to use the operator in this instance?

[2020-04-07 07:19] andeplane opened #604 "Add possibility to configure DNSPolicy and DNSConfig on function pods"
I'm working at Cognite (a Norwegian based tech company), and we are using OpenFaaS to build a function service for our customers. We will reuse our existing kubernetes cluster for various reasons, so I have applied egress network policies to prevent internal traffic between pods in k8s. This cannot be controlled with ingress on all services as we are many teams who create services, and it's not fe

[2020-04-07 07:21] andeplane commented on #358
I work at Cognite, a norwegian based tech company, and we are interested in this as well. We use the same k8s cluster as other services, but want to deploy functions using OpenFaaS on a separate node pool to use preemptible nodes and prevent high load to affect our core services.

We have patched faas-netes internally to do this so far by adding
[code]
in the pod specifications at https://github.c

[2020-04-07 07:29] andeplane opened #605 "Several image options in --set in the helm chart are missing"
At Cognite, we've had to patch faas-netes as a workaround for https://github.com/openfaas/faas-netes/issues/604 and https://github.com/openfaas/faas-netes/issues/358. We use helm to produce a manifest that we then modify before it is deployed in our k8s clusters, so I need to modify which image I use.

The list over options at the end of https://github.com/openfaas/faas-netes/tree/master/chart/ope

[2020-04-07 08:26] LucasRoesler commented on #604
It seems like this should be covered in the Profile feature #586

[2020-04-09 17:24] alexellis commented on #352
@LucasRoesler would you like to take over please with a fresh PR?

[2020-04-09 17:25] alexellis commented on #352
Basically, I would think a copy/paste of your instructions in the README of the certifier wouldn't be far off the mark.

[2020-04-10 11:45] LucasRoesler commented on #352
Derek assign: me

[2020-04-11 14:38] mabuaisha opened #608 "Auto Scaling Not Firing (metrics: context deadline exceeded)"
Hi,

It seems that the auto scaling not fired at all when exceeds requests per second and kubernetes-pods always set as down when checking the Prometheus dashboard  http://IP_ADDRESS:9000/targets

## Expected Behaviour
Auto scaling should working fine and all the target should be up

## Current Behaviour
Right now The auto scaling not working because one of the targets is down and always the http:

[2020-04-11 14:39] mabuaisha commented on #608
@alexellis

[2020-04-13 16:41] andeplane opened #609 "Volume secret name can limit length of the function name"
This might only apply to k8s deployments.

If a secret is provided a function, a volume is mounted with name [{functionName}-projected-secrets](https://github.com/openfaas/faas-netes/blob/master/k8s/secrets.go#L221). This volume name also has a k8s limitation of 63 chars. As `-projected-secrets` is 18 chars, the function name should have max length 45 chars.

## My actions before raising this issu

[2020-04-14 07:41] LucasRoesler commented on #598
@alexellis i was thinking more about this, I wonder if it makes sense to actually specify this via the secrets list. something like `_serviceaccounttoken`, we could then make sure that the file system if readable so that the service account token is available to the function.

The use case here very much is "i want access to a secret file".  Perhaps there is a better name for this keyword _or_ we

[2020-04-15 15:41] alexellis commented on #609
/set title: Volume secret name can limit length of the function name

[2020-04-15 15:51] LucasRoesler commented on #609
I think we can safely switch to the function name directly. I am pretty sure I used the prefix because we weren't 100% sure of the implementation at the start, but it is pretty well defined now and making that switch should be possible

[2020-04-16 02:31] mjallday opened #610 "Crashing ARM cluster"
I'm trying to get an ARM cluster spun up. I'm seeing an issue as I launch it.

## Expected Behaviour
All pods should be running and ready state

## Current Behaviour
One pod is crashing - gateway

`kubectl -n openfaas describe pod/gateway-67d86bd545-7hs26`
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Deploy https://github.com/openfaas/faas-netes/commit/77851960b31b980f0328d55

[2020-04-16 02:45] mjallday commented on #610
[code]

[code]

[code]

[code]

[2020-04-16 07:46] alexellis commented on #610
Hi can you give the exact steps that you're using to deploy?

[2020-04-16 07:53] alexellis commented on #610
I'm fairly sure that your issue is due to using the latest chart with the wrong operator version.

The operator is now merged with faas-netes and you should not pin the operator image, instead use the faasnetes image. This image contains a single binary with both controllers.

#607  #491

This change and what people need to do will be covered in the weekly email to OpenFaaS users on Friday - openf

[2020-04-16 08:15] #491 closed

[2020-04-16 08:15] #610 closed

[2020-04-16 08:16] alexellis commented on #491
This has been completed now. I've moved over the README and added a note on the operator repo.

[2020-04-16 09:02] DoctusHartwald opened #611 "openshift Openfaas gateway doesn't start"
## Expected Behaviour
openfaas gateway should be up and running

## Current Behaviour
the pod  gateway doesn't start up

## Possible Solution

## Steps to Reproduce (for bugs)
oc new-project openfaas-fn
oc new-project openfaas
oc create sa faas-controller
oc policy add-role-to-user admin  system:serviceaccount:openfaas:faas-controller --namespace=openfaas-fn

helm repo add openfaas https://openfaa

[2020-04-16 09:06] alexellis commented on #611
Hi,

I'm unaware of any issues with OpenFaaS on Kubernetes at present.

What instructions are you following?

Why haven't you created the requisite basic auth secrets? That is going to prevent openfaas from starting.

I would suggest you use the troubleshooting guide here

See also: Check logs of the core services

https://docs.openfaas.com/deployment/troubleshooting/#check-logs-of-the-core-servic

[2020-04-16 09:06] #611 closed

[2020-04-16 09:06] alexellis commented on #611
/add label: support

[2020-04-16 09:37] DoctusHartwald commented on #611
i've created the basic auth secrets as :

OPEN GIT BASH
*************
head -c 12 /dev/urandom | shasum| cut -d' ' -f1
0b6808e131db6b5509c32b2ac6a702e6b1d2a72b

PASSWORD=0b6808e131db6b5509c32b2ac6a702e6b1d2a72b

echo $PASSWORD

 oc -n openfaas create secret generic basic-auth --from-literal=basic-auth-user=admin --from-literal=basic-auth-password="$PASSWORD"

 secret/basic-auth created

[2020-04-16 09:40] alexellis commented on #611
However you didn't show that in your initial setup, which is probably why it failed to work.

Now can you delete the helm chart and install again now that the auth secrets are present? Then go and work through the troubleshooting guide. The reason it exists is to help you, help yourself.

Commercial support is also available, if you need it, go to https://openfaas.com/support/

[2020-04-16 09:51] DoctusHartwald commented on #611
bellow the commands i've executed, the pod of the gateway doesn't start.... did i miss something?
oc delete project openfaas
oc delete project openfaas-fn

oc new-project openfaas-fn
oc new-project openfaas
oc create sa faas-controller
oc policy add-role-to-user admin  system:serviceaccount:openfaas:faas-controller --namespace=openfaas-fn

PASSWORD=$(head -c 12 /dev/urandom | shasum| cut -d' ' -f1

[2020-04-16 09:52] DoctusHartwald commented on #611
![image](https://user-images.githubusercontent.com/9788043/79442365-c13ec000-7fd8-11ea-8602-f1ef7eae2039.png)

[2020-04-16 10:01] DoctusHartwald commented on #611
its a bug ...
24s         11m          19        gateway-865955cd6f.160643dda30d19cc              ReplicaSet                                   Warning   FailedCreate        replicaset-controller   Error creating: pods "gateway-865955cd6f-" is forbidden: unable to validate against any security context constraint: [spec.containers[0].securityContext.securityContext.runAsUser: Invalid value: 10001: m

[2020-04-16 10:12] DoctusHartwald opened #612 "Feature request - OpenShift securityContext configuration"
## Expected Behaviour
the gateway shall be able to start

## Current Behaviour
 oc get events --sort-by=.metadata.creationTimestamp -n openfaas
`1m          5m           17        gateway-68bb6dd664.160644b594b334ab              ReplicaSet                                   Warning   FailedCreate        replicaset-controller   Error creating: pods "gateway-68bb6dd664-" is forbidden: unable to valid

[2020-04-16 12:18] DoctusHartwald commented on #612
same error on basic-auth-plugin module

[2020-04-16 12:35] alexellis commented on #612
/set title: Feature request - OpenShift securityContext configuration

[2020-04-16 12:39] alexellis commented on #612
Intility are OpenFaaS and OpenShift users too, I asked them to log an issue for this but they didn't.

The work-around for them was to use edit the deployments after they were deployed. I would suggest you use kubectl patch instead that will be much quicker/easier against deployments in the namespace.

We don't have a lot of OpenShift users and none that contribute AFAIK.

@stefanprodan @LucasRoes

[2020-04-16 12:41] stefanprodan commented on #612
The security context can be disabled with https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/values.yaml#L14 so that OpenShift can set its own user id.

[2020-04-16 12:55] alexellis commented on #612
That's great, does it retain the other security context settings like an R/O filesystem?

I'll close as resolved.

[2020-04-16 12:55] #612 closed

[2020-04-16 17:08] nicklasfrahm opened #613 "Multi-arch support for heterogeneous Kubernetes clusters"
Currently, OpenFaaS supports multiple CPU architectures via separate `values.yaml` files. This means that it is possible to run `faas-netes` atop of a homogeneous cluster where all nodes have the same CPU architecture. I am currently running a heterogeneous cluster, where I would like the workloads and system containers to be automatically scheduled to either `arm` or `amd64` nodes.

I would like

[2020-04-16 17:28] mjallday commented on #610
confirmed resolved. thank you @alexellis

[2020-04-16 17:30] alexellis commented on #610
/msg: slack

[2020-04-16 17:34] nicklasfrahm commented on #613
The strategy I would go for would be to create a new dedicated tag suffix for `amd64`, such that the images would look similar to this: `openfaas/faas-netes:0.10.2-rc1-amd64` and then creating and pushing image manifest via the `docker manifest` command.

The `docker manifest` command is experimental. Would that be a problem?

[2020-04-17 02:53] mjallday opened #614 "Trouble Executing CRD/Operator on ARM"
## Expected Behaviour

Following instructions on how to apply a function on ARM OpenFaaS cluster.

## Current Behaviour

Function CRD is created but do not see related resources created.

[code]

[code]

[code]

I expect to see the function created here. There are no events attached to "my-fn"

[code]

Running via the CLI (openfaas-cli) or webui works fine.

## Steps to Reproduce (for bugs)

1. De

[2020-04-17 07:05] alexellis commented on #614
It all seems to be working as designed? What's the ask here?

[2020-04-17 08:00] DoctusHartwald commented on #612
the solution is simple change the id of runAsUser in the yaml for gateway and basic authen plugin then its working fine

[2020-04-17 09:03] alexellis commented on #612
@stefanprodan said that you could just disable the security context. I guess you lose some other parameters right when doing that? Like the read only filesystem?

[2020-04-17 12:08] martindekov commented on #586
So I have looked at this I will start implementing taints and tolerations as I see the use case being the most simplistic of the three. We can add all the profiles mentioned in this issue with time. I see people adding more ideas for profiles. I am wondering if this issue should become tracking and evolve with time?

[2020-04-17 12:42] alexellis commented on #586
Please continue to experiment with the simplest usecase and take note that the operator is now merged with faas-netes. We should generate a CRD for the profile. (@stefanprodan 's suggestion)

[2020-04-17 13:18] mjallday commented on #614
Sorry, it may not be clear.  The running pod is from another function that
I manually created via the ui.

There should be a deployment with a pod for the function I created via the
operator but it’s not being created.

The running pod is called node info which is one of the built in functions.

I’m trying to debug why my pod is not being launched.

On Fri, Apr 17, 2020 at 00:05 Alex Ellis <notifi

[2020-04-17 16:08] alexellis opened #616 "[Feature] Operator - add support for managing multiple-namespaces"
## Expected Behaviour

Add support for the namespaces endpoint, as per faas-netes

## Current Behaviour

Currently unavailable (404)

## Possible Solution

Quick fix / work-around: implement a stub that returns the default namespace

Longer term fix: copy patches from faas-netes, test e2e with the operator

cc @stefanprodan @LucasRoesler

In order to have this working e2e, we may also need (via Br

[2020-04-17 16:42] mjallday commented on #614
looking at logs from pods

`kubectl -n openfaas logs -f gateway-58548dc44d-7md2h -c faas-netes`

[code]

this looks unrelated. when i deploy a new function i don't see any log output from any of the pods.

is there a particular pod i can watch to see what the operator is doing?

[2020-04-17 16:44] alexellis commented on #614
@stefanprodan should be able to help with this. Can you please copy/paste "Your Environment" into this issue at the top too?

[2020-04-17 17:22] mjallday commented on #614
Thanks, here's the definition of the function btw.

`cat fn.yaml`

[code]

I've tried a few others. All have similar results - the function resource gets created but no pods or deployments are created.

There are no events on the function resource so can't tell why it's not being applied. Creating them via the API or OpenFaaS UI works just fine.

`kubectl -n openfaas describe pod gateway-58548dc44

[2020-04-17 17:24] alexellis commented on #614
Does it use auth?

What are the logs of the controller and what events are in the namespace?

I wonder if your EKS version of v1.14 isn't supported by the client-go 1.17 version we updated to recently? @stefanprodan @LucasRoesler

[2020-04-17 17:33] mjallday commented on #614
Auth only exists on the UI. This is mostly deployed using the helm chart specified in https://github.com/openfaas/faas-netes/commit/77851960b31b980f0328d55fd0f8c2b168bac8b7

The only customization I've done is add the ARM64 values. Here's the exact HelmRelease i'm applying

[code]

I've looked at the output from the gateway pod. Nothing interesting there (only health check and ui access logs turn

[2020-04-17 18:11] alexellis commented on #614
The question about auth is about whether your quay.io image is using auth, you redacted the image name, why?

[2020-04-17 18:12] alexellis commented on #614
Can you provide a values.yaml instead of a FluxCD config? Flux isn't supported on ARM64 unless people build their own images or use community images, and I'm not going to do that.

[2020-04-17 18:13] mjallday commented on #614
Ah, I see. I’d say it’s working because it works if I pull the image using
the ui.

Let me confirm tho by using a public image. Will update shortly.

On Fri, Apr 17, 2020 at 11:12 Alex Ellis <notifications@github.com> wrote:

--
Marshall Jones
+1 (904) 628-1796

[2020-04-17 18:15] alexellis commented on #614
Did you setup a proper configuration for the image pull secrets? https://docs.openfaas.com/deployment/kubernetes/#use-a-private-registry-with-kubernetes

Also, did you run `kubectl get events -n openfaas-fn` ?

[2020-04-17 18:19] mjallday commented on #614
Yes, but for clarity here's a new function with a public image to remove that from concern:

[code]

[code]

[code]

[code]

(fn-manual is something i created via the UI to ensure i'm not going crazy here, everything works just fine when i'm deploying via the ui)

[2020-04-17 18:32] alexellis commented on #614
What architecture is your image that you're creating? Are you building it on an ARM64 device?

[2020-04-17 18:33] mjallday commented on #614
it's arm64. that's why i switched to the nodeinfo so that we don't need to worry about the image that _i'm_ building. i've already deployed and successfully run the nodeinfo (arm tagged version) on this cluster.

![image](https://user-images.githubusercontent.com/252280/79602408-44c2e480-809f-11ea-85f2-ae7ef161d718.png)

see here you can see if i manually deploy it it's in the running state.

[2020-04-17 18:36] alexellis commented on #614
This works fine for me:

[code]

And `kubectl version` shows a more modern version:

[code]

My suspicion is that you have something misconfigured, or the latest update to Go client 1.17 broke compatibility with EKS on 1.14.

Perhaps you should try upgrading EKS to 1.15?

https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html

The Kubernetes compatibility matrix implies that the

[2020-04-17 18:41] alexellis commented on #613
I appreciate your interest in this area.

I am not aware of any commercial users that need armhf or arm64 support, and there are some downsides to adding it. For instance, look at the build time of the inlets-operator and how much it increased when adding this type of cross-compilation.

My worry is that the build would take > 20-35 minutes and that's not going to be practical.

I mentioned on SIG

[2020-04-17 18:53] mjallday commented on #614
looks like there might be an arm eks release for 1.15 so we'll look at launching that cluster and see if that's where the problem lies and report back.

thanks for verifying everything looks ok

[2020-04-17 19:01] alexellis commented on #614
What's the usecase here? Is it commercial?

[2020-04-17 19:59] mjallday commented on #614
it's a commercial use-case. we're running image classification software that's optimized for ARM. in this particular use-case it's running [tensorflow](https://www.tensorflow.org/lite/guide/inference).

[2020-04-17 20:48] mjallday commented on #614
just to update: we deployed the same setup on our x86 cluster and aren't seeing any issues (not on eks tho so not exact parity). we tried upgrading eks arm to 1.15 but doesn't look like that version is compatible yet.

we'll update once we have any progress to share on this.

[2020-04-18 11:33] nicklasfrahm commented on #613
I understand that, commercial customers have to come first! Having a manifest would work for me, but I would advocate to give the `amd64` images a tag suffix too. Just like you do with the `armhf` and `arm64`. Then the manifest could exist without any version suffix.

In the future I would like to help you automate some of the process if you are up for it, under the condition that we can manage at

[2020-04-18 15:45] mjallday commented on #614
We managed to tweak the config and successfully upgraded the cluster. Everything is now working as expected. I will close this issue.

Thanks for the help in debugging, glad we got it solved!

`kubectl version`
[code]

[2020-04-18 15:45] #614 closed

[2020-04-21 06:17] feiniao0308 opened #617 "Expose prometheus service type"
Expose prometheus service type to values.yaml

## Expected Behaviour
User should be able to specify the service type of prometheus to LoadBalancer, so that all users can access the metrics via LoadBalancer http url

## Current Behaviour
It's hardcode to ClusterIP

## Possible Solution
Extract the service type to values.yaml

## Steps to Reproduce (for bugs)

1. Deploy OpenFaaS in kubernetes
2.kube

[2020-04-21 07:05] alexellis commented on #617
Thanks for your interest.

Given that Prometheus has no auth, exposing it to the internet directly sounds like a bad idea.

You should be using Ingress so that you can also obtain a TLS certificate.

If you really want to view Prometheus, people usually use kubectl port-forward or Grafana.

Closing as this issue as it encourages unsafe practices.

Alex